<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">ITI Consent</h4>
    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a routerLink="/dashboard" class="text-sm font-medium text-slate-700">Dashboard</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a routerLink="/iti-consent" class="text-sm font-medium text-slate-700" aria-current="page">ITI Consent Update</a>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body p-5">
    <div class="mb-8">
     


     
    

    <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
      <b class="text-1xl-5"><i class="ti ti-list"></i> Consent List</b>
    </div>

    <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">
      <div class="">
        <select id="ddlConter" class="form-select  couterDropDown">
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="500">500</option>
          <option value="1000">1000</option>
        </select>
      </div>
      <div class=""> </div>
      <div class=""></div>
      <div class=""></div>
    </div>
    <!--{{ConsentData | json}}-->
    <div class="overflow-x-auto mt-3">
      <table class="table table-border w-full table-auto" cellpadding="5">
        <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">
          <tr>
            <th width="80px" align="left">Sr. No.</th>
            <th class="text-left">District</th>
            <th class="text-left">Consent Type</th>
            <th class="text-left">Institute Name</th>
            <th class="text-left">Tentative Date</th>
            <th class="text-left">Updated Date</th>
           
            <th class="text-left">Action</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let row of ConsentData; let idx=index;">
            <td>{{idx+1}}</td>
            <td>{{row.DistrictName}}</td>
            <td>{{row.consentTypeID === 1 ? 'Planned (Affiliation)' : (row.consentTypeID === 3 ? 'General Inspection (Planned)' : '') }}</td>
            <td>{{row.InstituteName}}</td>
            <td align="left">{{row.TentativeDate | date:'dd/MM/yyyy' }}</td>
            <td align="left">{{row.UpdatedDate | date:'dd/MM/yyyy' }}</td>
           
            <td align="left">
              <div class="flex align-l justify-l actionBtns w-auto" style="width:auto !important">
                <a *ngIf="row.status != 1" href="javascript:void(0);" title="View Details"
                   (click)="ViewandUpdate(MyModel_ViewDetails,row.InspectionConsentID)">
                  <i class="ti ti-pencil"></i>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
  </div>


<ng-template #MyModel_ViewDetails let-modal
             class="w-full h-full fixed top-0 left-0 z-[80] transition-all duration-500 overflow-y-auto [--overlay-backdrop:static] hidden">
  <div class="modal-content">
    <div class="card">
      <div class="card-header flex justify-between items-center">
        <b><i class="fa fa-plus"></i> Update Consent </b>
        <button class="btn bg-info text-white" (click)="CloseModalPopup()"><i class="ti ti-x"></i></button>
      </div>
      <form [formGroup]="consentForm" id="consentForm">
        <div class="card-body">

          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-3">
            <div>
              <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                     for="fileStudentPhoto">Attachments <span class="StarMarking">*</span></label>
              <div class="flex fileUploader">
                <input class="block form-input w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                       id="fileStudentPhoto" type="file" (change)="onFilechange($event,'Photo')" >
                <label for="fileStudentPhoto">
                  <span>Choose File</span>

                  {{UpdateConsentRequest.DocConsent === '' ? 'No File Choosen' : UpdateConsentRequest.DocConsent}}
                </label>
                <div class="flex">

                  <a *ngIf="UpdateConsentRequest.DocConsent"
                 [href]="appsettingConfig.StaticFileRootPathURL + '/ITI/Consent/' + UpdateConsentRequest.DocConsent" class="btn bg-primary text-white m-0" target="_blank">
                <i class="ti ti-eye"></i>
              </a>

                </div>
              </div>
            </div>

            <div>
              <label class="text-gray-800 text-sm font-medium inline-block mb-1">Tentative Date</label>
              <input type="date"
                     name="TentativeDate"
                     formControlName="TentativeDate" [(ngModel)]="consentForm.TentativeDate"
                     class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:ring-2 focus:ring-blue-500 focus:outline-none text-sm" />
            </div>

          </div>
          <div class="mt-4">
            <label class="text-gray-800 text-sm font-medium inline-block mb-1">Remark</label>
            <textarea name="Remarks"
                      formControlName="Remarks" [(ngModel)]="consentForm.Remarks"
                      rows="3"
                      class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:ring-2 focus:ring-blue-500 focus:outline-none text-sm"></textarea>
          </div>
        </div>
        </form>

        <div class="card-footer flex justify-end gap-3 border-t p-3 bg-gray-50">
          <button class="btn bg-gray-400 text-white" type="button" (click)="onReset()">Reset</button>
          <button class="btn bg-success text-white" type="button" (click)="onSubmitConsent()">Submit</button>
        </div>

    </div>
  </div>
</ng-template>
