<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">ITI Consent List</h4>
    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a routerLink="/dashboard" class="text-sm font-medium text-slate-700">Dashboard</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a routerLink="/iti-consent" class="text-sm font-medium text-slate-700" aria-current="page">ITI Consent Update</a>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body p-5">
    <div class="mb-8">
      <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
        <b class="text-1xl-5"><i class="ti ti-list"></i> Consent List</b>
      </div>

      <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">
        <div class="">
          <select id="ddlConter" class="form-select  couterDropDown">
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="500">500</option>
            <option value="1000">1000</option>
          </select>
        </div>
        <div class=""></div>
        <div class=""></div>
        <div class="">
          <input class="form-input" placeholder="Search....." [(ngModel)]="Table_SearchText" />
        </div>
      </div>
      <!--{{ConsentData | json}}-->
      <div class="overflow-x-auto mt-3">
        <table class="table" id="consentTable">
          <thead>
            <tr>
              <th style="width:80px">Sr. No.</th>
              <th class="sortable" (click)="onSort('DistrictName')">
                District
                <span class="sort-indicator" *ngIf="sortColumn === 'DistrictName'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>
              </th>
              <th class="sortable" (click)="onSort('consentTypeID')">
                Consent Type
                <span class="sort-indicator" *ngIf="sortColumn === 'consentTypeID'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>
              </th>
              <th class="sortable" (click)="onSort('InstituteName')">
                Institute Name
                <span class="sort-indicator" *ngIf="sortColumn === 'InstituteName'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>
              </th>
              <th class="sortable" (click)="onSort('TentativeDate')">
                Tentative Date
                <span class="sort-indicator" *ngIf="sortColumn === 'TentativeDate'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>
              </th>
              <th class="sortable" (click)="onSort('UpdatedDate')">
                Updated Date
                <span class="sort-indicator" *ngIf="sortColumn === 'UpdatedDate'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>
              </th>
              <th class="sortable" (click)="onSort('UpdatedDate')">
                Fee Amount
                <span class="sort-indicator" *ngIf="sortColumn === 'UpdatedDate'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>
              </th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let row of ConsentData | tableSearchFilter:Table_SearchText;let i=index;">
              <td>{{ i + 1 }}</td>
              <td>{{ row.DistrictName }}</td>
              <td>
                {{
                  row.consentTypeID === 1 ? 'Planned (Affiliation)'
                  : (row.consentTypeID === 3 ? 'General Inspection (Planned)' : '')
                }}
              </td>
              <td>{{ row.InstituteName }}</td>
              <td>{{ row.TentativeDate | date:'dd/MM/yyyy' }}</td>
              <td>{{ row.UpdatedDate | date:'dd/MM/yyyy' }}</td>
              <td>{{ row.Amount }}</td>
              <td>
                <div class="flex align-l justify-l actionBtns w-auto" style="width:auto !important">
                  <!-- *ngIf="(!(row.status == 1 || row.status == 2) && row.PaymentStatus==0)" -->
                  <a *ngIf="(row.status == 0 )" href="javascript:void(0);" (click)="ViewandUpdate(MyModel_ViewDetails,row.InspectionConsentID)">
                    <i class="ti ti-pencil"></i>
                  </a>
                  <button class="btn bg-success text-white" *ngIf="row.status==1 && row.Amount!=0" (click)="openOTPModal1(row.InspectionConsentID)">Pay</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>

<ng-template #MyModel_ViewDetails let-modal
             class="w-full h-full fixed top-0 left-0 z-[80] transition-all duration-500 overflow-y-auto [--overlay-backdrop:static] hidden">
  <div class="modal-content">
    <div class="card">
      <div class="card-header flex justify-between items-center">
        <b><i class="fa fa-plus"></i> Update Consent </b>
        <button class="btn bg-info text-white" (click)="CloseModalPopup()"><i class="ti ti-x"></i></button>
      </div>
      <form [formGroup]="consentForm" id="consentForm">
        <div class="card-body">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-3">
            <div>
              <label for="fileStudentPhoto"
                     class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                Attachments     <!--<span class="text-red-500">*</span> -->
              </label>

              <div class="flex items-center space-x-3">
                <input type="file"
                       id="fileStudentPhoto"
                       class="block form-input w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                       (change)="onFilechange($event,'Photo')" />
                <span class="text-sm text-gray-700 dark:text-gray-300 truncate max-w-[200px]">
                  {{ UpdateConsentRequest.DocConsent === '' ? 'No File Chosen' : UpdateConsentRequest.DocConsent }}
                </span>

                <a *ngIf="UpdateConsentRequest.DocConsent"
                   [href]="appsettingConfig.StaticFileRootPathURL + '/ITI/Consent/' + UpdateConsentRequest.DocConsent"
                   class="inline-flex items-center px-3 py-1 bg-blue-600 hover:bg-blue-700 text-white text-sm rounded-md"
                   target="_blank">
                  <i class="ti ti-eye mr-1"></i> View
                </a>
              </div>
            </div>
            <div>
              <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                Tentative Date
              </label>
              <input type="date"
                     name="TentativeDate"
                     formControlName="TentativeDate"
                     [(ngModel)]="UpdateConsentRequest.TentativeDate"
                     class="w-full border border-gray-300 dark:border-gray-600
                     bg-white dark:bg-gray-700 text-gray-900 dark:text-gray-100 rounded-lg
                     px-3 py-2 focus:ring-2 focus:ring-blue-500 focus:outline-none text-sm"
                     (click)="openDatePicker($event)"
                     />
            </div>
          </div>
          <div class="mt-6">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
              Remark <span class="text-red-500">*</span>
            </label>
            <textarea name="Remarks"
                      formControlName="Remarks"
                      [(ngModel)]="UpdateConsentRequest.Remark"
                      rows="3"
                      class="w-full border border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-700 text-gray-900 dark:text-gray-100 rounded-lg px-3 py-2 focus:ring-2 focus:ring-blue-500 focus:outline-none text-sm resize-none"></textarea>
          </div>
        </div>

      </form>

        <div class="card-footer flex justify-end gap-3 border-t p-3 bg-gray-50">
          <button class="btn bg-success text-white" type="button" (click)="openOTPModal(1)">Accept</button>
          <button *ngIf="!UpdateConsentRequest.IsAnyCourtCase" class="btn bg-danger text-white" type="button" (click)="openOTPModal(2)">Reject</button>
          <button class="btn bg-gray-400 text-white" type="button" (click)="CloseModalPopup()">Cancel</button>
        </div>
    </div>
  </div>
</ng-template>


<!-- otp -->
<app-otpmodal #otpModal></app-otpmodal>