<div class="card">
  <div class="card-body p-5">

    <div class="grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-1 gap-6">

      <div>
        <label>Search By Status</label>
        <select class="form-select" id="SearchStatus" [(ngModel)]="SearchStatus" name="ddlSearchStatus" (click)="onChangeSearchStatus()">
          <option value="0">--select--</option>
          <option *ngFor="let item of TransferSystemStatusSearchList" [value]="item.ID">
            {{item.Name}}
          </option>
        </select>
      </div>

      <div>
        <label class="text-gray-800 text-sm font-medium inline-block mb-1">
          Staff Type Gazetted non Gazetted
        </label>

        <select class="form-select"
                [(ngModel)]="SearchEmployeeType">
          <option value="0">--select--</option>
          <option *ngFor="let item of GazettedList"
                  [ngValue]="item.ID">
            {{ item.Name }}
          </option>
        </select>
      </div>


      <div>
        <label class="text-gray-800 text-sm font-medium inline-block mb-1">
          Category
        </label>
        <select class="form-select" [(ngModel)]="SearchCategoryID">
          <option value="0">--select--</option>
          <option *ngFor="let item of GetTransfercateList" [value]="item.ID">{{item.Name}}</option>
        </select>
      </div>

      <div>
        <label class="text-gray-800 text-sm font-medium inline-block mb-1"> Institute</label>
        <select class="form-select"  [(ngModel)]="SearchInstituteID">
          <option value="0">--select--</option>
          <option *ngFor="let item of ItiCollegesListAll" value="{{item.InstituteID}}">{{item.InstituteName}}</option>
        </select>
      </div>


      <div>
        <button type="submit"
                class="btn bg-info mt-5 text-white w-100"
                (click)="EM_TransferSystem_GetData_Search(this.SearchStatus)">
          Search
        </button>
      </div>
    </div>


    <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light mt-3">
      <b class="text-1xl-5"><i class="ti ti-list"></i>Staff Transfer Application List</b>
    </div>



    <div class="grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-1 gap-6">

      <div class=" ">
        <label>Request Status</label>
        <select class="form-select" id="ExamId" [(ngModel)]="Status" name="ddlStatus">
          <option value="0">--select--</option>
          <option *ngFor="let item of TransferSystemStatusList" [value]="item.ID">
            {{item.Name}}
          </option>
        </select>
      </div>
      <div class=" ">
        <label>Remark</label>
        <input class="form-input" type="text" id="Remark" [(ngModel)]="Remark">
      </div>
      <div>
        <button type="submit"
                class="btn bg-info mt-5 text-white w-100"
                (click)="TransferSystemStatusUpdate()">
          Submit
        </button>
      </div>
    </div>
    <!--{{EM_TransferProcessList|json}}-->
    <div class="overflow-auto mt-3">
      <table class="table table-border w-full" cellpadding="5">
        <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">
          <tr>
            <th width="50px" *ngIf="ShowCheckBoxId ==1">
              <input type="checkbox" id="checkboxSeletedAl" class="checkboxSize"
                     [checked]="AllSelect"
                     (change)="checkboxthView_checkboxchange($event.target.checked)">
            </th>
            <th width="80px" align="left">Sr. No.</th>
            <th align="left">SSO ID</th>
            <th align="left">Name</th>
            <th align="left">Transfer Category</th>
            <th align="left">Reason Description</th>
            <th class="left">Application Date</th>
            <th align="left">Status</th>
            <th align="left">Supporting Documents</th>
            <th align="center" width="200">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of EM_TransferProcessList | tableSearchFilter:Table_SearchText; let idx=index;">
            <td *ngIf="ShowCheckBoxId ==1">
              <input type="checkbox" name="MarkCheck"
                     [(ngModel)]="row.Selected" />
            </td>
            <td>{{idx+1}}</td>
            <td>{{row.SSOID}}</td>
            <td>{{row.NAME}}</td>
            <td>{{row.TransferCategory}}</td>
            <td>{{row.ReasonDescription}}</td>
            <!--<td>{{row.SupportingDocuments}}</td>-->
            <td>{{row.CreatedDate}}</td>
            <td>{{row.TransferStatusName}}</td>

                <td align="left">
                <div class="flex" *ngIf="row.SupportingDocuments; else noDoc1">
               <a [href]="appsettingConfig.StaticFileRootPathURL + 'BTER_Establishment/TransferRequestDocument/' + row.SupportingDocuments"
                  class="btn bg-primary text-white m-0"
                  target="_blank">
                 <i class="ti ti-eye"></i>
               </a>
             </div>
             <ng-template #noDoc1>-----</ng-template>
           </td>

            <td>
              <a class="me-2" href="javascript:void(0);" title="Transfer EXT" (click)="onTransferSystemEXT(TransferSystemEXT, row.TransferSystemID)"><i class="ti ti-list"></i></a>
              <a href="javascript:void(0);" title="Status History" (click)="EM_TransferSystemHST_GetData(EM_TransferSystemHST, row.TransferSystemID)"><i class="ti ti-list"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<ng-template #TransferSystemEXT let-modal>
  <div class="modal-content">
    <div class="card">
      <div class="card-header flex justify-between items-center">
        <h2 class="mb-0">Staff Transfer Application</h2>
        <button class="btn bg-info text-white" (click)="CloseModal()" type="button"><i class="ti ti-x"></i></button>
      </div>

      <div class="card-body p-5">
        <div class="grid xl:grid-cols-3 lg:grid-cols-3 md:grid-cols-2 gap-6">
          <div>
            <label>Update Status</label>
            <select class="form-select" id="updateStatus" [(ngModel)]="updateStatus" name="ddlupdateStatus">
              <option value="0">--select--</option>
              <option *ngFor="let item of TransferSystemStatusUpdateList" [value]="item.ID">
                {{item.Name}}
              </option>
            </select>
          </div>
          <div>
            <label class="block  text-sm font-medium text-gray-900 dark:text-white"
                   for="SupportingDocuments ">
              Supporting DOC :<span class="StarMarking">*</span>
            </label>
            <div class="flex fileUploader">
              <input class="block form-input w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                     id="SupportingDocuments" type="file" (change)="onFilechange($event, 'SupportingDocuments')">
              <label for="SupportingDocuments">
                <span>Choose File</span>
                {{SupportingDocuments === '' ? 'No File Choosen' : SupportingDocuments}}
              </label>
              <div class="flex">
                <a href="{{appsettingConfig.StaticFileRootPathURL + 'BTER_Establishment/TransferRequestDocument/' + SupportingDoc}}"
                   *ngIf="SupportingDoc !=''" class="btn bg-primary text-white m-0" target="_blank"><i class="ti ti-eye"></i></a>
              </div>
            </div>
          </div>

          <div class="updt-btn-man">
            <button type="submit"
                    class="btn bg-info mt-5 text-white "
                    (click)="TransferSystemEXTStatusUpdate(this.SearchStatus)">
              Update
            </button>
          </div>
        </div>
         

         


        </div>

        <div class="card-body">
          <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
            <b class="text-1xl-5"><i class="ti ti-list"></i>Transfer System EXT</b>
            <div class="flex justify-end flex-wrap items-center">
            </div>
          </div>

          <div class="overflow-x-auto mt-3">
            <table class="table table-border w-full table-auto" cellpadding="5">
              <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">
                <tr>
                  <!--FinalApproveStatus-->
                  <th width="50px">
                    <!--<input type="checkbox" id="checkboxSeletedAl" class="checkboxSize"
              [checked]="AllSelect"
              (change)="checkboxthViewUpdate($event.target.checked)">-->
                  </th>
                  <th class="text-left">S No</th>
                  <th class="text-left">Office Name</th>
                  <th class="text-left">Designation Name</th>
                  <th class="text-left">District Name</th>
                  <th class="text-left">Institute Name</th>
                  <th class="text-left">Priority</th>
                  <th class="text-left">Status</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of EM_TransferSystemEXTList; let idx=index;  ">
                  <td>
                    <input type="checkbox" name="MarkCheck"
                           [(ngModel)]="row.Selected" [disabled]="isAnyApproved" />
                  </td>
                  <td align="left">{{idx+1}}</td>
                  <td align="left">{{ row.OfficeName }}</td>
                  <td align="left">{{ row.DesignationName}}</td>
                  <td align="left">{{ row.DistrictName }}</td>
                  <td align="left">{{ row.InstituteName }}</td>
                  <td align="left">{{ row.Priority}}</td>
                  <td align="left">{{ row.Status}}</td>

                </tr>
                <tr *ngIf="EM_TransferSystemEXTList?.length==0">
                  <td colspan="5" class="text-center">No Record Found </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer text-right">
          <button type="button" (click)="CloseModal()" class="btn bg-success text-white btn-sm">
            Close
          </button>
        </div>
      </div>
  </div>

</ng-template>


<ng-template #EM_TransferSystemHST let-modal>
  <div class="modal-content">
    <div class="card">
      <div class="card-header flex justify-between items-center">
        <button class="btn bg-info text-white" (click)="CloseModal()" type="button"><i class="ti ti-x"></i></button>
      </div>
      <div class="card-body">
        <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
          <b class="text-1xl-5"><i class="ti ti-list"></i>Staff Training Status History</b>
          <div class="flex justify-end flex-wrap items-center">
          </div>
        </div>
      
        <div class="overflow-x-auto mt-3">
          <table class="table table-border w-full table-auto" cellpadding="5">
            <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">
              <tr>
                <th class="text-left">S No</th>
                <th class="text-left">Status</th>
                <th class="text-left">Remarks</th>
                <th class="text-left">Action Date</th>
              
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of EM_TransferSystemHSTList; let idx=index;  ">
                <td align="left">{{idx+1}}</td>
                <td align="left">{{ row.StatusName }}</td>
                <td align="left">{{ row.Remarks}}</td>
                <td align="left">{{ row.ActionDate }}</td>
                
              </tr>
              <tr *ngIf="EM_TransferSystemHSTList?.length==0">
                <td colspan="5" class="text-center">No Record Found </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer text-right">
        <button type="button" (click)="CloseModal()" class="btn bg-success text-white btn-sm">
          Close
        </button>
      </div>
    </div>
  </div>

</ng-template>
