::ng-deep .training-modal .modal-dialog {
  max-width: 500px !important;
  margin: 1.75rem auto !important;
}

::ng-deep .training-modal .modal-content {
  border: 0 !important;
  border-radius: 24px !important;
  overflow: hidden;
}
