<!-- Page Title Start -->
<app-loader></app-loader>
<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">ITI Students Details</h4>

    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700">Masters</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700" aria-current="page">Add New</a>
    </div>
  </div>
</div>
<!-- Page Title End -->


<div class="card">
  <div class="card-body p-5">
    <div class="mb-8">
      <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
        <b class="text-1xl-5"><i class="ti ti-search"></i> Enter Search Criteria</b>
        <a href="javascript:void(0);" class="btn bg-success btn-sm text-white"><i class="ti ti-plus"></i>Add New</a>
      </div>

      <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">

        <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Search By Qualification</label>
          <select class="form-select" [(ngModel)]="searchReq.Class">
            <option value='' selected>--Choose Option--</option>
            <option value="8" selected>8th</option>
            <option value="10" selected>10th</option>
          </select>
        </div>



        <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Search By Categary</label>
          <select class="form-select" [(ngModel)]="searchReq.CategoryID" >
            <option value="0" selected>--Choose Option--</option>
            <option *ngFor="let item of CategoryList" value="{{item.CasteCategoryID}}">{{item.CasteCategoryName}}</option>
          </select>
        </div>


        <div>
          <button type="button" class="btn bg-info text-white mt-6" (click)="GetAllITIStudents()">Search</button>
          <button type="button" class="btn bg-danger text-white mt-6" (click)="ClearSearchData()">
            <i class="ti ti-refresh"></i>
            Reset
          </button>
        </div>
      </div>
    </div>

    <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
      <b class="text-1xl-5"><i class="ti ti-list"></i> Search Results</b>
    </div>
    <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">
      <div class="">
        <select id="ddlConter" class="form-select  couterDropDown">
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="500">500</option>
          <option value="1000">1000</option>
        </select>
      </div>
      <div class=""></div>
      <div class=""></div>
      <div class="">
        <input class="form-input" placeholder="Search....." [(ngModel)]="Table_SearchText" />
        <!--<button type="button" class="btn bg-success text-white" (click)="ExcelExport()">Export</button>-->
      </div>
    </div>

    <div class="overflow-auto mt-3">
      <table class="table table-border w-full" cellpadding="5" id="tbl_nodalOfficers">
        <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">
          <tr>
            <th>Sr. No.</th>
            <th class="text-left">Name</th>
            <th class="text-left">ApplicationID</th>
            <th class="text-left">EnrollmentNo</th>
            <th class="text-left">Email</th>
            <th class="text-left">Category</th>
            <th class="text-left">Qualification</th>
            <!--<th class="text-left"stu>MobileNo</th>-->
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stu of ITIStudentsList  | tableSearchFilter:Table_SearchText;let idx=index;  ">
            <td>{{idx+1}}</td>
            <td>{{stu.StudentName}}</td>
            <td>{{stu.ApplicationID}}</td>
            <td>{{stu.EnrollmentNo}}</td>
            <td>{{stu.Email}}</td>
            <!--<td class="lg:whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">{{stu.MobileNo) }}</td>-->
            <td></td>
            <td></td>
            <td>
              <div class="flex align-center justify-center actionBtns w-auto" style="width:auto !important">

                <a href="javascript:void(0);" title="Edit"><i class="ti ti-pencil"></i></a>
                <!--<a href="AddNodalOfficer?id={{item.Id}}" title="Edit"><i class="ti ti-pencil"></i></a>

                <a href="javascript:void(0);" (click)="btnDelete_OnClick(item.Id)" title="Delete"><i class="ti ti-trash"></i> </a>

                <a href="javascript:void(0);" title="View" (click)="onView(MyModel_ViewNodal, nodel)"><i class="ti ti-eye"></i></a>-->

              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- end row -->
