<app-loader></app-loader>
<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">Issue Item</h4>

    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700">Dashboard</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700" aria-current="page">
        {{ItemId>0?'Edit':'Add'}}
        Item
      </a>
    </div>
  </div>
</div>

<div class="card" style=" overflow: visible;">
  <div class="card-body p-5">

    <div class="mb-8">
      <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
        <b class="text-1xl-5"><i class="ti ti-search"></i> Enter Search Criteria</b>
        <div class="flex gap-2">
          <a href="javascript:void(0);" (click)="ShowIssuedItemsList(Items_Details_Issue,0,0)"
            class="btn bg-info btn-sm text-white">
            <i class="ti ti-excel"></i> List of Issued Items
          </a>
        </div>
      </div>
      <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-3">

        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Issued To:</label>
          <select class="form-select" id="issuedTo" [(ngModel)]="Searchrequests.issuedTo" (change)="onIssuedToChange()">
            <option [value]="0">Select</option>
            <option [value]="1">Office</option>
            <option [value]="2">Staff</option>
            <option [value]="3">Department</option>
          </select>
        </div>

        <div *ngIf="Searchrequests.issuedTo == 2">
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Staff List:</label>
          <select class="form-select" id="staffID" [(ngModel)]="Searchrequests.staffID" (change)="onStaffChange()">
            <option *ngFor="let item of staffDDLList" [value]="item.staffID">
              {{ item.staffName }}
            </option>
          </select>
        </div>

        <div *ngIf="Searchrequests.issuedTo == 3">
          <label class="text-gray-800 text-sm font-medium inline-block mb-1"> Department List:</label>

          <ng-select [(ngModel)]="Searchrequests.StreamID" [clearable]="false" (change)="GeLabMasterData()">
            <!--<ng-option [value]="0" selected>--All--</ng-option>-->
            <ng-option [ngValue]="0">-- Select Department --</ng-option>
            @for (item of StreamMasterList; track item.StreamID) {
            <ng-option [value]="item.StreamID">{{item.StreamName}}</ng-option>
            }
          </ng-select>

        </div>
        <div *ngIf="Searchrequests.issuedTo == 3">
          <label class="text-gray-800 text-sm font-medium inline-block mb-1"> Laboratory List:</label>

          <ng-select [(ngModel)]="Searchrequests.LabID" [clearable]="false">
            <!--<ng-option [value]="0" selected>--All--</ng-option>-->
            <!-- <ng-option [ngValue]="0">-- Select Department --</ng-option> -->
            @for (item of LabMasterList; track item.LabID) {
            <ng-option [value]="item.LabID">{{item.LabName}}</ng-option>
            }
          </ng-select>

        </div>

        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Item Type:</label>
          <select class="form-select" [(ngModel)]="Searchrequests.ItemType" (change)="GetItemListType()">
            <option [value]="2">--- Select ---</option>
            <option [value]="1">Consumable</option>
            <option [value]="0">Permanent</option>
          </select>
        </div>

        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Category List:</label>
          <select class="form-select" [(ngModel)]="Searchrequests.ItemCategoryId" (change)="BindItem_list()">
            <option [value]="0">-- Select Category --</option>
            <option *ngFor="let item of CategoryDDLList" [value]="item.ItemCategoryID">
              {{ item.ItemCategoryName }}
            </option>
          </select>
        </div>

        <div>
          <button type="button" class="btn bg-info text-white mt-6">Items Search</button>
          <button type="button" class="btn bg-danger text-white mt-6" id="btnReset"
            (click)="ResetControl()">Cancel</button>
        </div>
      </div>
    </div>
    <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
      <b class="text-1xl-5"><i class="ti ti-list"></i> Search Results - Select/Item Name/Quantity</b>
      <!--<div class="flex justify-end flex-wrap items-center">
      <a href="javascript:void(0);" class="btn bg-info btn-sm text-white" (click)="ShowSubmit(Submit_Details)">Issue Items</a>

    </div>-->

    </div>
    <!--{{ItemsDDLList | json}}-->
    <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-3">
      <div *ngFor="let row of ItemsDDLList; let idx = index">
        <!--<label class="d-block">Select/Item Name/Quantity</label>-->
        <label>
          <input type="checkbox" [(ngModel)]="row.Selected" (change)="onItemToggle1(row)" class="mr-1">
          {{ row.CompanyName }}-({{ row.Quantity }})
        </label>
      </div>
    </div>

    <!--<div class="mt-6">
    <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
      <b class="text-1xl-5"><i class="ti ti-list"></i> Selected Items List</b>
    </div>
    <table class="table table-border w-full table-auto" cellpadding="5">

      <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">

        <tr>
          <th>Item Category</th>
          <th>Item Name</th>
          <th>Quantity/Unit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of SelectedItems; let i = index">
          <td>{{ item.ItemCategoryName }}</td>
          <td>{{ item.ItemName }}</td>
          <td>
            <input type="number"
                   class="form-input"
                   [(ngModel)]="item.Quantity"
                   min="1"
                   placeholder="Enter Qty">
          </td>
        </tr>
        <tr *ngIf="SelectedItems?.length === 0" class="text-center">
          <td colspan="4">No Items Selected</td>
        </tr>
      </tbody>
    </table>

    <div>
      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
             for="fileStudentPhoto">Upload Document</label>
      <div class="flex fileUploader">
        <input class="block form-input w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
               id="fileStudentPhoto" type="file" (change)="UploadDocument($event,FileName,Dis_FileName)">
        <label for="fileStudentPhoto">
          <span>Choose File</span>
          {{Dis_FileName === '' ? 'No File Choosen' :Dis_FileName}}
        </label>
        <div class="flex">
          <a href="{{appsettingConfig.StaticFileRootPathURL + '/' + FileName}}"
             *ngIf="this.FileName!=''" class="btn bg-primary text-white m-0" target="_blank"><i class="ti ti-eye"></i></a>
          <a href="javascript:void(0);" class="btn bg-danger text-white m-0"
             *ngIf="this.FileName!=''" (click)="DeleteDocument(FileName)">
            <i class="ti ti-trash"></i>
          </a>

        </div>
      </div>
    </div>

  </div>-->


    <div class="mt-6">
      <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
        <b class="text-1xl-5"><i class="ti ti-list"></i> Selected Items List</b>
      </div>

      <table class="table table-border w-full table-auto" cellpadding="5">
        <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">
          <tr>
            <th>Item Category</th>
            <th>Item Name</th>
            <th>Quantity/Unit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of SelectedItems; let i = index">
            <td class="text-center">{{ item.ItemCategoryName }}</td>
            <td class="text-center">{{ item.ItemName }}</td>
            <td class="text-center" *ngIf="Searchrequests.ItemType == 1">
              <input type="number" class="form-input" [(ngModel)]="item.Quantity" min="1" placeholder="Enter Qty"
                (change)="validateQuantity(item)">
            </td>
            <td class="text-center" *ngIf="Searchrequests.ItemType == 0">
              <span style="cursor: pointer; color: blue;"
                (click)="ShowSubmitIssue(Submit_Details_Issue, item)">
                {{item.Quantity}}
              </span>
            </td>
          </tr>
          <tr *ngIf="SelectedItems?.length === 0" class="text-center">
            <td colspan="4">No Items Selected</td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="SelectedItems?.length > 0 && Searchrequests.ItemType == 1"
        class="grid 2xl:grid-cols-3 xl:grid-cols-3 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3 mt-6">
        <div >
          <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="fileStudentPhoto">Indent
            Document Upload<span class="StarMarking">*</span></label>
          <div class="flex fileUploader">
            <input
              class="block form-input w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
              id="fileStudentPhoto" type="file" (change)="UploadDocument($event, FileName, Dis_FileName)">
            <label for="fileStudentPhoto">
              <span>Choose File</span>
              {{ Dis_FileName === '' ? 'No File Choosen' : Dis_FileName }}
            </label>
            <div class="flex">
              <a href="{{ appsettingConfig.StaticFileRootPathURL + '/' + FileName }}" *ngIf="this.FileName!=''"
                class="btn bg-primary text-white m-0" target="_blank">
                <i class="ti ti-eye"></i>
              </a>
              <a href="javascript:void(0);" class="btn bg-danger text-white m-0" *ngIf="this.FileName!=''"
                (click)="DeleteDocument(FileName)">
                <i class="ti ti-trash"></i>
              </a>
              <span class="text-danger text-sm" *ngIf="isFileError">
                Indent Document Upload is required
              </span>
            </div>
          </div>
        </div>
        <div>
          <label for="IndentNo" class="text-gray-800 text-sm font-medium inline-block mb-2">
            Indent No: <span class="StarMarking">*</span>
          </label>
          <input type="text" class="form-input" id="IndentNo" name="IndentNo"
                [(ngModel)]="consumableIndentNo" maxlength="12" required 
                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                
        </div>
      </div>
    </div>

    <div class="mt-4" *ngIf="SelectedItems?.length > 0 && Searchrequests.ItemType == 1">
      <button class="btn bg-info text-white me-2" (click)="saveSelectedItems()">Save</button>
      <button class="btn bg-danger text-white" (click)="cancelSelection()">Cancel</button>
    </div>


  </div>
</div>
<ng-template #Submit_Details_Issue let-modal
  class="w-full h-full fixed top-0 left-0 z-[80] transition-all duration-500 overflow-y-auto [--overlay-backdrop:static] hidden">
  <div class="modal-content">
    <div class="card">
      <div class="card-header flex justify-between  items-center">
        <b><i class="fa fa-plus">Issue Items</i> </b>
        <button class="btn bg-info text-white" (click)="CloseModalPopup()"><i class="ti ti-x"></i></button>
      </div>
      <div class="card-body">
        <div class="mb-8">
          <!-- <form>
            </form> -->
          <div class="overflow-x-auto mt-3">
            <table class="table table-border w-full table-auto" cellpadding="5">
              <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">
                <tr>
                  <th class="text-left">
                    <input type="checkbox" (change)="toggleAll($event)" />
                  </th>
                  <th class="text-left">SNO</th>
                  <th class="text-left">Item Category</th>
                  <th class="text-left">Item Name</th>
                  <th class="text-left">Compnay Name</th>
                  <th class="text-left">Item Code</th>
                  <th class="text-left">Equipment Code</th>
                  <th class="text-left">Item Specification</th>
                  <th class="text-left">Qty</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of ItemsDataList | tableSearchFilter:Table_SearchText; let idx=index;">
                  <td align="left">
                    <input type="checkbox" [(ngModel)]="item.Selected" (change)="onIssueItemToggle(item)" />
                  </td>
                  <td align="left">{{ idx+1}}</td>
                  <td align="left">{{ item.ItemCategoryName}}</td>
                  <td align="left">{{ item.EquipmentName}}</td>
                  <td align="left">{{ item.CampanyName}}</td>
                  <td align="left">{{ item.ItemCode}}</td>
                  <td align="left">{{ item.EquipmentsCode}}</td>
                  <td align="left">{{ item.ItemSpecification}}</td>
                  <td align="left">{{ item.IssueQuantity}}</td>
                </tr>
                <tr *ngIf="ItemsDataList?.length==0">
                  <td colspan="10" class="text-center">
                    No Record Found
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="grid 2xl:grid-cols-2 xl:grid-cols-2 lg:grid-cols-2 md:grid-cols-2 grid-cols-1 gap-3 mt-6">
              <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="fileStudentPhoto">Indent
                  Document Upload<span class="StarMarking">*</span></label>
                <div class="flex fileUploader">
                  <input
                    class="block form-input w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                    id="fileStudentPhoto" type="file" (change)="UploadDocument($event, FileName, Dis_FileName)">
                  <label for="fileStudentPhoto">
                    <span>Choose File</span>
                    {{ Dis_FileName === '' ? 'No File Choosen' : Dis_FileName }}
                  </label>
                  <div class="flex">
                    <a href="{{ appsettingConfig.StaticFileRootPathURL + '/Students/' + FileName }}"
                      *ngIf="this.FileName!=''" class="btn bg-primary text-white m-0" target="_blank">
                      <i class="ti ti-eye"></i>
                    </a>
                    <a href="javascript:void(0);" class="btn bg-danger text-white m-0" *ngIf="this.FileName!=''"
                      (click)="DeleteDocument(FileName)">
                      <i class="ti ti-trash"></i>
                    </a>
                    <span class="text-danger text-sm" *ngIf="isFileError">
                      Indent Document Upload is required
                    </span>
                  </div>
                </div>
              </div>

              <div>
                <label for="IndentNo" class="text-gray-800 text-sm font-medium inline-block mb-2">
                  Indent No: <span class="StarMarking">*</span>
                </label>
                <input type="text" class="form-input" id="IndentNo" name="IndentNo"
                      [(ngModel)]="submitRequest.IndentNo" maxlength="12" required
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                      
              </div>
            </div>
          </div>
          <div class="mt-4">
            <button class="btn bg-info text-white me-2" (click)="confirmSubmitNew()">Save</button>
            <!--<button class="btn bg-danger text-white" (click)="cancelSelection()">Cancel</button> -->
          </div>
        </div>
      </div>
      <div class="grid 2xl:grid-cols-1 xl:grid-cols-1 lg:grid-cols-1 md:grid-cols-1 grid-cols-1 gap-3">
      </div>
    </div>
  </div>
</ng-template>
<ng-template #Submit_Details let-modal
  class="w-full h-full fixed top-0 left-0 z-[80] transition-all duration-500 overflow-y-auto [--overlay-backdrop:static] hidden">
  <div class="modal-content">
    <div class="card">
      <div class="card-header flex justify-between  items-center">
        <b><i class="fa fa-plus"></i> Issue Items </b>
        <button class="btn bg-info text-white" (click)="CloseModalPopup()"><i class="ti ti-x"></i></button>
      </div>

      <div class="card-body">
        <div class="mb-8">
          <form>
            <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">
              <input type="hidden" class="form-input" [(ngModel)]="submitRequest.StaffId" name="StaffId">
              <input type="hidden" class="form-input" [(ngModel)]="submitRequest.TradeId" name="TradeId">
              <input type="hidden" class="form-input" [(ngModel)]="submitRequest.ItemId" name="ItemId">

              <div>
                <label class="text-gray-800 text-sm font-medium inline-block mb-1">Staff Name:</label>
                <input type="text" class="form-input" [(ngModel)]="submitRequest.StaffName" name="StaffName" disabled>

              </div>
              <div>
                <label class="text-gray-800 text-sm font-medium inline-block mb-1">Quantity:</label>
                <input type="text" class="form-input" [(ngModel)]="submitRequest.Quantity" name="Quantity" disabled>
              </div>
              <div>
                <label class="text-gray-800 text-sm font-medium inline-block mb-1">Due Date:</label>
                <input (click)="openDatePicker($event)" type="date" class="form-input"
                  [(ngModel)]="submitRequest.DueDate" name="DueDate" required>
              </div>
            </div>

            <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">
              <div>
                <label class="text-gray-800 text-sm font-medium inline-block mb-1">Remarks:</label>
                <input type="text" class="form-input" [(ngModel)]="submitRequest.Remarks" name="Remarks">
              </div>
            </div>

            <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">
              <div>
                <button type="button" class="btn bg-info text-white mt-6" (click)="saveData()">Submit Issue</button>
              </div>
            </div>
          </form>

          <div class="overflow-x-auto mt-3">
          </div>
        </div>
      </div>


      <div class="grid 2xl:grid-cols-1 xl:grid-cols-1 lg:grid-cols-1 md:grid-cols-1 grid-cols-1 gap-3">
      </div>
    </div>
  </div>
</ng-template>
<ng-template #Items_Details_Issue let-modal
  class="w-full h-full fixed top-0 left-0 z-[80] transition-all duration-500 overflow-y-auto [--overlay-backdrop:static] hidden">
  <div class="modal-content">
    <div class="card">
      <div class="card-header flex justify-between  items-center">
        <b><i class="fa fa-plus">Issue Items</i> </b>
        <button class="btn bg-info text-white" (click)="CloseModalPopup()"><i class="ti ti-x"></i></button>
      </div>
      <div class="card-body">
        <div class="mb-8">
          <div class="overflow-x-auto mt-3">
            <table class="table table-border w-full table-auto" cellpadding="5">
              <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">
                <tr>
                  <th class="text-left">SNO</th>
                  <th class="text-left">Name</th>
                  <th class="text-left">Item Type</th>
                  <th class="text-left">Item Name</th>
                  <th class="text-left">Equipment Name</th>
                  <th class="text-left">Item Code</th>
                  <th class="text-left">Equipment Code</th>
                  <th class="text-left">Qty</th>
                  <th class="text-left">Issue Date</th>
                  <th class="text-left">Indent No</th>
                  <th class="text-left">Return Date</th>
                  <th class="text-left">Equipment Status on Return</th>
                  <th class="text-left">Status</th>
                  <th class="text-left">Approval Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of ItemMasterList | tableSearchFilter:Table_SearchText; let idx=index;">
                  <td align="left">{{ idx+1}}</td>
                  <td align="left">{{ item.Name}}</td>
                  <td align="left">
                    <span [ngClass]="item.IsConsumable == 1 ? 'badge-permanent' : 'badge-consumable'">
                      {{ item.IsConsumable == 1 ? 'Consumable' : 'Permanent' }}
                    </span>
                  </td>
                  <td align="left">{{ item.ItemCategoryName}}</td>
                  <td align="left">{{ item.EquipmentName}}</td>
                  <td align="left">{{ item.ItemCode}}</td>
                  <td align="left">{{ item.EquipmentsCode}}</td>
                  <td align="left">{{ item.Quantity}}</td>
                  <td align="left">{{ item.IssueDate | date:'dd-MM-yyyy' }}</td>
                  <td align="left">{{ item.IndentNo}}</td>
                  <td align="left">{{ item.ReturnDate | date:'dd-MM-yyyy' }}</td>
                  <td align="left">
                    <span
                      [ngClass]="item.ConditionOnReturn == 1 || item.ConditionOnReturn == 0 ? 'badge-working' : 'badge-notworking'">
                      {{ item.ConditionOnReturn == 1 || item.ConditionOnReturn == 0 ? 'Working' : 'Not Working' }}
                    </span>
                  </td>
                  <td align="left">
                    <span [ngClass]="{
                                 'InvStatus-issued': item.InvStatus === 0,
                                 'InvStatus-returned': item.InvStatus === 1
                               }">
                      {{ item.InvStatus === 0 ? 'Issued' : item.InvStatus ===1 ? 'Returned' : 'Unknown' }}
                    </span>
                  </td>
                    <td align="left">
                    <span [ngClass]="{
                                 'InvStatus-issued': item.IssueStatus === 1,
                                 'InvStatus-returned': item.IssueStatus === 2
                               }">
                      {{ item.IssueStatus === 1 ? 'Pending at Store Incharge' : item.IssueStatus ===2 ? 'Approved' : 'Unknown' }}
                    </span>
                  </td>
                </tr>
                <tr *ngIf="ItemMasterList?.length==0">
                  <td colspan="10">
                    No Record Found
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
