.star{
  margin: 0px 0px;
  color: #a9a5a5;
  display: inline-block;
  cursor: pointer;
  transition: all .3s;
  transform: scale(1);
}
.star .mat-icon{
    width: 40px;
    height: 40px;
}
.star-gold{
  color: orange;
}

/* make all stars orange*/
.star-rating-animation:hover .star-hover{
  color: orange;
}
/* make all stars right from selected gray*/
.star-rating-animation .star-hover:hover ~ .star-hover{
  color: #ddd;
}
.star-rating-animation .star-hover:hover{
  transform: scale(1.3);
}

.mat-icon.disabled {
  pointer-events: none; /* Disables mouse events */
  opacity: 0.5; /* Makes the icons appear visually disabled */
}

.starFlexBox .mat-icon {
  width: unset !important;
  height: unset !important;
  color:#e3bc00
}

.star-gray {
  color: gray;
}

/* .star-gold {
  color: gold;
} */