
<div class="flex items-center justify-between flex-wrap">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">Masters</h4>
  </div>
  <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
    <a href="javascript:void(0);" class="text-sm font-medium text-slate-700">Masters</a>
    <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
    <a href="javascript:void(0);" class="text-sm font-medium text-slate-700" aria-current="page">Level Master</a>
  </div>
</div>

<div class="grid xl:grid-cols-1 lg:grid-cols-1 md:grid-cols-1 gap-6 mb-6">
  <div class="card tab-panels" id="LevelDetail">
    <div class="card-body p-5">
      <form [formGroup]="LevelMasterFormGroup" class="form-horizontal">
        <div class="mb-8">
          <div class="flex justify-between items-center mb-3 p-3 py-2 bg-light">
            <b class="text-1xl-5"><i class="ti ti-plus"></i> Add Level Details</b>
            <span class="text-danger">(* fields are mandatory)</span>
          </div>
          <div class="grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-1 gap-6">
            <div>
              <label for="txtLevelNameEnglish" class="text-gray-800 text-sm font-medium inline-block mb-2">
                Level Name (English)<span class="StarMarking">*</span>
              </label>
              <input type="text" class="form-input" id="txtLevelNameEnglish" formControlName="txtLevelNameEnglish"
                [(ngModel)]="request.LevelNameEnglish" placeholder="">
              <div *ngIf="isSubmitted && LevelMasterFormGroup.get('txtLevelNameEnglish').invalid" class="text-danger">
                <p *ngIf="LevelMasterFormGroup.get('txtLevelNameEnglish').hasError('required')">This field is required.
                </p>
              </div>
            </div>

            <div>
              <label for="txtLevelNameHindi" class="text-gray-800 text-sm font-medium inline-block mb-2">
                Level Name (Hindi)<span class="StarMarking">*</span>
              </label>
              <input type="text" class="form-input" id="txtLevelNameHindi" formControlName="txtLevelNameHindi"
                [(ngModel)]="request.LevelNameHindi">
              <div *ngIf="isSubmitted && LevelMasterFormGroup.get('txtLevelNameHindi').invalid" class="text-danger">
                <p *ngIf="LevelMasterFormGroup.get('txtLevelNameHindi').hasError('required')">This field is required.
                </p>
              </div>
            </div>

            <div>
              <label for="txtLevelNameShort" class="text-gray-800 text-sm font-medium inline-block mb-2">
                Level Name (Short)<span class="StarMarking">*</span>
              </label>
              <input type="text" class="form-input" id="txtLevelNameShort" formControlName="txtLevelNameShort"
                [(ngModel)]="request.LevelNameShort">
              <div *ngIf="isSubmitted && LevelMasterFormGroup.get('txtLevelNameShort').invalid" class="text-danger">
                <p *ngIf="LevelMasterFormGroup.get('txtLevelNameShort').hasError('required')">This field is required.
                </p>
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
              <label class="block">Status</label>
              <label class="inline-flex items-center cursor-pointer toggleCheckBox Active statusActiveInActive">
                <input class="sr-only peer" type="checkbox" id="Active" formControlName="ActiveStatus"
                  [(ngModel)]="request.ActiveStatus">
                <span class="toggleIcon">
                  <span class="toggleTitle"></span>
                </span>
              </label>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
              <div class="flex align-center flexBtn mt-7">
                <button type="button" id="btnSave" (click)="SaveData()" class="btn bg-info text-white">
                  <i class="ti ti-device-floppy"></i> Save
                </button>
                <button type="button" id="btnReset" (click)="ResetControl()" class="btn bg-danger text-white">
                  <i class="ti ti-refresh"></i> Reset
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>

      <div class="flex justify-between items-center mb-3 p-3 py-2 bg-light">
        <b class="text-1xl-5"><i class="ti ti-list"></i> List</b>
      </div>

      <div class="grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-1 gap-6">
        <div>
          <select id="ddlConter" class="form-select">
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="500">500</option>
            <option value="1000">1000</option>
          </select>
        </div>

        <div class="col-span-3">
          <input class="form-input" placeholder="Search..." [(ngModel)]="tbl_txtSearch" />
        </div>
      </div>

      <div class="overflow-auto mt-3">
        <table class="table table-border w-full" cellpadding="5">
          <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">
            <tr>
              <th width="80px" align="left">Sr. No.</th>
              <th align="left">Level Name (English)</th>
              <th align="left">Level Name (Hindi)</th>
              <th align="left">Level Name (Short)</th>
              <th align="left">Status</th>
              <th align="center" width="200">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of LevelMasterList | tableSearchFilter:tbl_txtSearch; let idx = index;">
              <td>{{ idx + 1 }}</td>
              <td>
                {{ row.LevelNameEnglish}}
              </td>
              <td>{{ row.LevelNameHindi }}</td>
              <td>{{ row.LevelNameShort }}</td>
              <td>{{ row.Status}}</td>
              <td>
                <div class="flex align-center justify-center actionBtns">
                  <a href="javascript:void(0);" id="btnEdit" title="Edit" (click)="btnEdit_OnClick(row.LevelID)">
                    <i class="ti ti-pencil"></i>
                  </a>
                  <a href="javascript:void(0);" id="btnDelete" title="Delete" (click)="btnDelete_OnClick(row.LevelID)">
                    <i class="ti ti-trash"></i>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>