<!-- Page Title Start -->
<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">Appoint Teacher for: Examiner</h4>
    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a routerLink="/dashboard" class="text-sm font-medium text-slate-700">Dashboard</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a routerLink="/examiners" class="text-sm font-medium text-slate-700" aria-current="page">
        Examiner
        List
      </a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700" aria-current="page">Add Ex am</a>
    </div>
  </div>
</div>
<!-- Page Title End -->
<div class="card">
  <div class="card-body p-5">
    <div class="mb-8">
      <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
        <b class="text-1xl-5"><i class="ti ti-plus"></i> Appoint Teacher For Exam</b>
        <!--<a href="/examiners" class="btn bg-dark text-white btn-sm">Back</a>-->
      </div>
      <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">

        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Institute</label>
          <select class="form-select" id="SemesterID" [(ngModel)]="searchRequest.InstituteID">
            <option value="0">Choose Option</option>
            <option *ngFor="let item of InstituteMasterDDLList" [value]="item.InstituteID">
              {{item.InstituteName}}
            </option>
          </select>
        </div>


        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Semester</label>
          <select class="form-select" id="SemesterID" [(ngModel)]="searchRequest.SemesterID">
            <option value="0">Choose Option</option>
            <option *ngFor="let item of SemesterMasterDDLList" [value]="item.SemesterID">
              {{item.SemesterName}}
            </option>
          </select>
        </div>
        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Branch Name</label>
          <select class="form-select" id="StreamID" [(ngModel)]="searchRequest.StreamID"
                  (change)="ddlStream_Change()">
            <option value="0">Choose Option</option>
            <option *ngFor="let item of StreamMasterDDLList" [value]="item.StreamID">
              {{item.StreamName}}
            </option>
          </select>
        </div>
        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Subject</label>
          <select class="form-select" id="SubjectID" [(ngModel)]="searchRequest.SubjectID">
            <option value="0">Choose Option</option>
            <option *ngFor="let item of SubjectMasterDDLList" [value]="item.ID">
              {{item.Name}}
            </option>
          </select>
        </div>
        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">View Common Subject</label>
          <select class="form-select">
            <option value="0">Choose Option</option>
          </select>
        </div>


        <div>
          <button type="button" class="btn bg-info text-white mt-6"
                  (click)="getStaffForExaminerData()">
            Search
          </button>
          <button type="button" class="btn bg-danger text-white mt-6" (click)="ResetControl()">Reset</button>
        </div>
      </div>

    </div>
    <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
      <b class="text-1xl-5"><i class="ti ti-list"></i> List</b>
    </div>
    <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">
      <div class="">
        <select id="ddlConter" class="form-select  couterDropDown">
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="500">500</option>
          <option value="1000">1000</option>
        </select>
      </div>
      <div class="">
      </div>
      <div class="">
      </div>
      <div class="">
        <input class="form-input" placeholder="Search..." [(ngModel)]="Table_SearchText" />
      </div>
    </div>
    <div class="overflow-x-auto mt-3">
      <table class="table table-border w-full table-auto" cellpadding="5">
        <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">
          <tr>
            <th class="text-left">#</th>
            <th class="text-left">SSO ID</th>
            <th class="text-left">Teacher Name</th>
            <th class="text-left">Designation</th>
            <th class="text-left">UG Qualification</th>
            <th class="text-left">Institute Name</th>
            <th class="text-left">DOJ</th>
            <th class="text-left">Mobile</th>
            <th class="text-left">Email</th>

            <th class="text-Center">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let staff of StaffForExaminerList | tableSearchFilter:Table_SearchText;let idx=index;">
            <td>{{idx+1}}</td>
            <td>{{staff.SSOID}}</td>
            <td>{{staff.Name}}</td>
            <td>{{staff.DesignationName}}</td>
            <td>UG Example</td>
            <td>{{staff.InstituteName}}</td>
            <td>{{staff.DateOfJoining | date: 'dd/MM/yyyy'}}</td>
            <td>{{staff.MobileNumber}}</td>
            <td>{{staff.Email}}</td>
            <td>
              <button class="btn bg-info text-white" type="button" 
                     >
                {{
                   staff.IsAppointed? "Appointed":
                                "Not Appointed"
                }}
              </button>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- end row -->
