<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">Student Fees Transaction History</h4>

    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a routerLink="/dashboard" class="text-sm font-medium text-slate-700">Dashboard</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700" aria-current="page">Reports</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a routerLink="/StudentFeesTransactionHistoryRpt" class="text-sm font-medium text-slate-700" aria-current="page">Student Fees Transaction History</a>
    </div>
  </div>
</div>
<!-- Page Title End -->

<div class="card">
  <div class="card-body p-5">
    <div class="mb-8">
      <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
        <b class="text-1xl-5"><i class="ti ti-search"></i> Enter Search Criteria</b>
      </div>
      <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">
        <!--<div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Search By Request ID</label>
          <input class="form-input" placeholder="Enter Request ID" />
        </div>-->
        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">
            Search By Transaction ID
          </label>
          <input class="form-input" placeholder="Enter Transaction ID" [(ngModel)]="searchRequest.TransactionId" />
        </div>
        <!--<div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">
            Search By Challan ID
          </label>
          <input class="form-input" placeholder="Enter Challan ID" />
        </div>-->
        <!--<div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">
            Search By Student Exam ID
          </label>
          <input class="form-input" placeholder="Enter Student Exam ID" [(ngModel)]="searchRequest.StudentExamID"/>
        </div>-->
        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">
            Search By Transaction Status
          </label>
          <select class="form-select" [(ngModel)]="searchRequest.Status">
            <option value="">Choose Option</option>
            <option value="PENDING">Pending</option>
            <option value="SUCCESS">Success</option>
          </select>
        </div>
        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">
            Search By Transaction
          </label>
          <select class="form-select" [(ngModel)]="searchRequest.TransactionType">
            <option value="">Choose Option</option>
            <option value="0">Online Transaction</option>
            <option value="1">Emitra Transaction</option>
          </select>
        </div>
        <!--<div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">
            Search By Date
          </label>
          <input class="form-input" type="date" [(ngModel)]="searchRequest.Date"/>
        </div>-->
        <div>
          <button type="button" class="btn bg-info text-white mt-6" (click)="getStudentFeesTransactionHistoryList()">Search</button>
          <button type="button" class="btn bg-danger text-white mt-6">Cancel</button>
        </div>
      </div>
    </div>
    <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
      <b class="text-1xl-5"><i class="ti ti-list"></i> Search Results</b>
      <div class="flex justify-end flex-wrap items-center">
        <a href="javascript:void(0);" class="btn bg-info btn-sm text-white" (click)="exportToExcel()"><i class="ti ti-download"></i> Download</a>
      </div>
    </div>
    <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">
      <div class="">
        <select id="ddlConter" class="form-select  couterDropDown">
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="500">500</option>
          <option value="1000">1000</option>
        </select>
      </div>
      <div class="">
      </div>
      <div class="">
      </div>
      <div class="">
        <input class="form-input" placeholder="Search..." [(ngModel)]="Table_SearchText" />
      </div>
    </div>
    <div class="overflow-x-auto mt-3">
      <table class="table table-border w-full table-auto" cellpadding="5">
        <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">
          <tr>
            <th class="text-left">#</th>
            <th class="text-left">Services ID</th>
            <th class="text-left" (click)="sortInTableData('PaidAmount')">
              Emitra/Online Transaction
              <span class="shortingSpan" *ngIf="sortInTableColumn=='PaidAmount'" [innerHTML]="sortInTableDirectionAero"></span>
            </th>
            <!--<th class="text-left">Request ID</th>-->
            <th class="text-left">Paid Amount</th>
            <th class="text-left">Receipt No.</th>
            <th class="text-left">Transaction ID</th>
            <th class="text-left">Student Exam ID</th>
            <th class="text-left">Status</th>
            <th class="text-left">Created</th>
            <th class="text-left">Modified</th>
            <th style="width:125px;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of StudentFeesTransactionHistoryList | tableSearchFilter:Table_SearchText;let idx=index;">
            <td>{{idx+1}}</td>
            <td>{{item.subsidyserviceid}}</td>
            <td>{{item.EmitraOnline}}</td>
            <td>{{item.PaidAmount}}</td>
            <td>{{item.PRN}}</td>
            <td>{{item.TransactionId}}</td>
            <td></td>
            <td>{{item.TransctionStatus}}</td>
            <td>{{item.TransctionDate|date:'dd-MM-yyyy'}}</td>
            <td>{{item.UpdateDate|date:'dd-MM-yyyy'}}</td>
            <td>
              <div class="flex align-center justify-center actionBtns w-auto" data-attr="{{item.TransactionId}}" *ngIf="item.TransctionStatusBtn==0" style="width:auto !important">
                <a href="javascript:void(0);" title="Verify"><i class="ti ti-check"></i></a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--pagination-->
    <div class="p-3 paginationBox flex items-center justify-end w-full">
      <span class="block">Record {{startInTableIndex+1}} - {{endInTableIndex}} of {{totalInTableRecord}}</span>
      <div class="paginationBoxItems flex items-center">
        <button (click)="firstInTablePage()" [disabled]="currentInTablePage==1">First</button>
        <button (click)="previousInTablePage()" [disabled]="currentInTablePage==1">Previous</button>
        <input type="number" min="1" max="{{totalInTablePage}}" title="Enter page no." [(ngModel)]="currentInTablePage"
               [disabled]="totalInTablePage==0" (change)="randamInTablePage()" />
        <span class="text-nowrap">Page {{currentInTablePage}} of {{totalInTablePage}}</span>
        <button (click)="nextInTablePage()" [disabled]="currentInTablePage==totalInTablePage || totalInTablePage==0">Next</button>
        <button (click)="lastInTablePage()" [disabled]="currentInTablePage==totalInTablePage || totalInTablePage==0">Last</button>
      </div>
    </div>
    <!--end pagination-->
  </div>
</div>

