<!-- Page Title Start -->

<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">Candidate</h4>

    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a  class="text-sm font-medium text-slate-700">Candidate</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700" aria-current="page">Candidate Details</a>
    </div>
  </div>

</div>
<!-- Page Title End -->

<div class="card">
  <div class="card-body p-5">
    
    <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
      <b class="text-1xl-5"><i class="ti ti-list"></i> Candidate Application List</b>
    </div>
    <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">
    </div>
    <div class="overflow-x-auto mt-3">
      <table class="table table-border w-full table-auto" cellpadding="5">
        <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">
          <tr>
            <th class="text-left">#</th>
            <th class="text-left">Candidate Name</th>
            <th class="text-left">Father Name</th>
            <th class="text-left">DOB</th>
            <th class="text-left">Mobile</th>
            <th class="text-left">Email</th>
            <th class="text-left">Aadhar No</th>
            <th class="text-Center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of StudentDetailsModelList ; let idx=index;">
            <td>{{idx+1}}</td>
            <td>{{row.CandidateName}}</td>
            <td>{{row.FatherName}}</td>
            <td>{{row.DOB}}</td>
            <td>{{row.MobileNo  | mobileMask}}</td>
            <td>{{row.Email}}</td>
            <!--<td>{{row.InstituteName}}</td>
          <td>{{row.StreamName}}</td>
          <td>{{row.Semester}}</td>-->
            <td>{{row.AadharNo}}</td>
          </tr>
          <tr *ngIf="StudentDetailsModelList?.length === 0"><td colspan="15"> No records found</td></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
