
<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">Update Trainee Details</h4>

    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700" aria-current="page">Trainee Correction</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a routerLink="/Hrmaster" class="text-sm font-medium text-slate-700" aria-current="page">Update Trainee Details</a>
    </div>
  </div>
  <a (click)="Back()" class="inline-flex items-center btn bg-dark text-white btn-sm">
    <i class="ti ti-chevron-left"></i>
    Back
  </a>
</div>




<form [formGroup]="CandidateFormGroup" id="ComapnyMasterFormGroup" class="form-horizontal">

 
  <div class="card">

   

    <div class="card-body p-5">
      <div class="mb-8">
        <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
          <b class="text-1xl-5"><i class="ti" [ngClass]="{'ti-plus':key==1, 'ti-pencil':key==2, 'ti-eye':key==3}"></i> {{key==1?'Update Trainee Details': key==2? 'Add Trainee Details' : 'See Trainee Details'}}</b>
          <b *ngIf="key==1" class="text-1xl-5">SR Number: {{request.StateRegNumber}}</b>
        </div>

        <div class="alert alert-danger" role="alert" style="font-size:15px">
          Error:{{request.ErrorDescription}}
        </div>

        <div class="grid 2xl:grid-cols-3 xl:grid-cols-3 lg:grid-cols-2 md:grid-cols-2 grid-cols-1 gap-3">
          <div>
            <label class="text-gray-800 text-sm font-medium inline-block mb-1">
              Name <span class="StarMarking">*</span>
            </label>
            <input type="text" class="form-input" placeholder="Enter Name" id="Name" name="Name"
                   [(ngModel)]="request.Name" formControlName="Name">
            <div *ngIf="isSubmitted && _CandidateFormGroup.Name.errors" class="text-danger">
              <p *ngIf="_CandidateFormGroup.Name.errors.required">
                <i aria-hidden="true"></i> This field is
                required.!
              </p>
            </div>
          </div>

          <div>
            <label class="text-gray-800 text-sm font-medium inline-block mb-1">
              Father's Name <span class="StarMarking">*</span>
            </label>
            <input type="text" class="form-input" placeholder="Enter Father's Name" id="CandidateFatherName" name="CandidateFatherName"
                   [(ngModel)]="request.CandidateFatherName" formControlName="CandidateFatherName">
            <div *ngIf="isSubmitted && _CandidateFormGroup.CandidateFatherName.errors" class="text-danger">
              <p *ngIf="_CandidateFormGroup.CandidateFatherName.errors.required">
                <i aria-hidden="true"></i> This field is
                required.!
              </p>
            </div>
          </div>

          <div>
            <label class="text-gray-800 text-sm font-medium inline-block mb-1">
              Mother's Name <span class="StarMarking">*</span>
            </label>
            <input type="text" class="form-input" placeholder="Enter Father's Name" id="CandidateMotherName" name="CandidateMotherName"
                   [(ngModel)]="request.CandidateMotherName" formControlName="CandidateMotherName">
            <div *ngIf="isSubmitted && _CandidateFormGroup.CandidateMotherName.errors" class="text-danger">
              <p *ngIf="_CandidateFormGroup.CandidateMotherName.errors.required">
                <i aria-hidden="true"></i> This field is
                required.!
              </p>
            </div>
          </div>

          <div>
            <label class="text-gray-800 text-sm font-medium inline-block mb-1">
              UIDNumber <span class="StarMarking">*</span>
            </label>
            <input type="text" class="form-input" placeholder="Enter Father's Name" id="UIDNumber" name="UIDNumber"
                   [(ngModel)]="request.UIDNumber" formControlName="UIDNumber">
            <div *ngIf="isSubmitted && _CandidateFormGroup.UIDNumber.errors" class="text-danger">
              <p *ngIf="_CandidateFormGroup.UIDNumber.errors.required">
                <i aria-hidden="true"></i> This field is
                required.!
              </p>
            </div>
          </div>


          <!-- <div>
      <label class="text-gray-800 text-sm font-medium inline-block mb-1">Gender  <span class="StarMarking">*</span></label>
      <select class="form-select" id="CandidateGender" name="CandidateGender" [(ngModel)]="request.Gender" formControlName="CandidateGender">
        <option selected value="0">Choose Option</option>
        <option value="97">Male</option>
        <option value="98">Female</option>
        <option value="0">Female</option>
      </select>
      <div *ngIf="isSubmitted && _CandidateFormGroup.CandidateGender.errors" class="text-danger">
        <p *ngIf="!_CandidateFormGroup.CandidateGender.errors.DropdownValidators"><i aria-hidden="true"></i>This field is required.!</p>
      </div>
    </div> -->


          <div>
            <label for="Gender" class="text-gray-800 text-sm font-medium inline-block mb-2">Gender:<span class="StarMarking">*</span></label>
            <!--<input type="text" class="form-input disabled" id="Gender" disabled value="Male" formControlName="Gender" [(ngModel)]="request.Gender">-->
            <select class="form-select" id="CandidateGender" formControlName="CandidateGender" [(ngModel)]="request.Gender">
              <option value="0" selected>--Select Gender--</option>
              <option *ngFor="let item of GenderList" value="{{item.ID}}">{{item.Name}}</option>
            </select>
            <div *ngIf="isSubmitted && _CandidateFormGroup.CandidateGender.errors" class="text-danger">
              <p *ngIf="!_CandidateFormGroup.CandidateGender.errors.DropdownValidators"><i aria-hidden="true"></i>This field is required.!</p>
            </div>
          </div>




          <div>
            <label class="text-gray-800 text-sm font-medium inline-block mb-1">
              Mobile Number <span class="StarMarking">*</span>
            </label>
            <input autocomplete="off" class="form-input" placeholder="Enter Mobile No" id="MobileNo" name="MobileNo" [(ngModel)]="request.MobileNo" formControlName="MobileNo" maxlength="10" (keypress)="validateNumber($event)">
            <div *ngIf="isSubmitted && _CandidateFormGroup.MobileNo.errors" class="text-danger">
              <p *ngIf="_CandidateFormGroup.MobileNo.errors.required"><i aria-hidden="true"></i> This field is required.!</p>
              <!-- <p *ngIf="_CandidateFormGroup['MobileNo'].errors?.required">Mobile number is required!</p> -->
              <p *ngIf="_CandidateFormGroup['MobileNo'].errors?.pattern">Only digits allowed!</p>
              <p *ngIf="_CandidateFormGroup['MobileNo'].errors?.minlength">Mobile number must be 10 digits!</p>
              <p *ngIf="_CandidateFormGroup['MobileNo'].errors?.maxlength">Mobile number must be 10 digits!</p>
            </div>
          </div>

          <div>
            <label class="text-gray-800 text-sm font-medium inline-block mb-1">
              Email <span class="StarMarking">*</span>
            </label>
            <input type="email" class="form-input" placeholder="Enter Email" id="Email" name="Email"
                   [(ngModel)]="request.Email" formControlName="Email">
            <div *ngIf="isSubmitted && _CandidateFormGroup.Email.errors" class="text-danger">
              <p *ngIf="_CandidateFormGroup.Email.errors.required"><i aria-hidden="true"></i> This field is required.!</p>
              <p *ngIf="_CandidateFormGroup.Email.errors.pattern"><i aria-hidden="true"></i>Please enter a valid email address.</p>
            </div>
          </div>




        </div>
        <div class="grid 2xl:grid-cols-1 xl:grid-cols-1 lg:grid-cols-1 md:grid-cols-1 grid-cols-1 gap-3">
          <div class="text-center">
            <button *ngIf="key==1 || key==2" type="button" class="btn bg-info text-white mt-6" (click)="SaveData()">{{key==1?'Update':'Submit'}}</button>
            <button *ngIf="key==1 || key==2" type="button" class="btn bg-danger text-white mt-6" (click)="ResetControls()">
              <i class="ti ti-refresh"></i> Reset
            </button>
          </div>
        </div>


      </div>
    </div>

  </div>
</form>



  <app-otpmodal #otpModal></app-otpmodal>
