
<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">Add Examiner</h4>

    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700">Masters</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a routerLink="/Branches" class="text-sm font-medium text-slate-700" aria-current="page">Add Examiner</a>
    </div>
  </div>

</div>
<!-- Page Title End -->

<div class="card">
  <div class="card-body p-5">

    <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
      <b class="text-1xl-5"><i class="ti ti-plus"></i> Add Examiner</b>
    </div>
    <div class="overflow-x-auto mt-3">
      <form [formGroup]="AppointExaminerFromGroup">
        <table class="table table-border w-full table-auto" cellpadding="5">
          <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">
            <tr>
              <th class="text-left">Course</th>
              <th class="text-left">Subjects</th>
              <th class="text-left">Semester</th>
              <th class="text-left">Roll No. From-To</th>
              <th class="text-left">Examiner SSOID</th>
              <th class="text-left">Group Code</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>

            <tr>
              <td>
                <select class="form-select" name="CourseID" id="ddlCourse" formControlName="ddlCourse"
                        [(ngModel)]="request.CourseID">
                  <option value="0">Choose Option</option>
                  <option *ngFor="let item of CourseMasterDDL" [value]="item.StreamID">
                    {{item.StreamName}}
                  </option>
                </select>
                <div *ngIf="isFormSubmitted && _AppointExaminerFromGroup.ddlCourse.errors"
                     class="text-danger">
                  <p *ngIf="!_AppointExaminerFromGroup.ddlCourse.errors.DropdownValidators">
                    <i aria-hidden="true"></i>This field is required.!
                  </p>
                </div>
              </td>
              <td>
                <select class="form-select" name="SubjectID" id="ddlSubject"
                        formControlName="ddlSubject" [(ngModel)]="request.SubjectID">
                  <option value="0">Choose Option</option>
                  <option *ngFor="let item of SubjectMasterDDL" [value]="item.ID">
                    {{item.Name}}
                  </option>
                </select>
                <div *ngIf="isFormSubmitted && _AppointExaminerFromGroup.ddlSubject.errors"
                     class="text-danger">
                  <p *ngIf="!_AppointExaminerFromGroup.ddlSubject.errors.DropdownValidators">
                    <i aria-hidden="true"></i>This field is required.!
                  </p>
                </div>
              </td>
              <td>
                <select class="form-select" name="SemesterID" id="ddlSemester"
                        formControlName="ddlSemester" [(ngModel)]="request.SemesterID">
                  <option value="0">Choose Option</option>
                  <option *ngFor="let item of SemesterMasterDDL" [value]="item.SemesterID">
                    {{item.SemesterName}}
                  </option>
                </select>
                <div *ngIf="isFormSubmitted && _AppointExaminerFromGroup.ddlSemester.errors"
                     class="text-danger">
                  <p *ngIf="!_AppointExaminerFromGroup.ddlSemester.errors.DropdownValidators">
                    <i aria-hidden="true"></i>This field is required.!
                  </p>
                </div>
              </td>
              <td>
                <div class="flex">
                  <input class="form-input me-1" placeholder="Roll No. From" [(ngModel)]="request.RollNumberFrom" formControlName="txtRollNumberFrom" />
                  <input class="form-input" placeholder="Roll No. To" [(ngModel)]="request.RollNumberTo" formControlName="txtRollNumberTo" />
                </div>
                <div *ngIf="isFormSubmitted&&_AppointExaminerFromGroup.txtRollNumberFrom.errors&&_AppointExaminerFromGroup.txtRollNumberTo.errors"
                     class="text-danger">
                  <p *ngIf="_AppointExaminerFromGroup.txtRollNumberFrom.errors.required&&_AppointExaminerFromGroup.txtRollNumberTo.errors.required">
                    <i aria-hidden="true"></i>
                    This field is required .!
                  </p>
                </div>
              </td>
              <td>
                <select class="form-select" name="SSOID" id="ddlSSOID"
                        formControlName="ddlSSOID" [(ngModel)]="request.ExaminerID">
                  <option value="0">Choose Option</option>
                  <option *ngFor="let item of ExaminerSsoidDDL" [value]="item.ID">
        {{item.Name}}
      </option>
                  <!--<option value="1">SOT112</option>-->
                </select>
                <div *ngIf="isFormSubmitted && _AppointExaminerFromGroup.ddlSSOID.errors"
                     class="text-danger">
                  <p *ngIf="!_AppointExaminerFromGroup.ddlSSOID.errors.DropdownValidators">
                    <i aria-hidden="true"></i>This field is required.!
                  </p>
                </div>
              </td>
              <td>
                <input type="text" class="form-input" placeholder="Enter Group Code" [(ngModel)]="request.GroupCode" formControlName="GroupCode" />
                <div *ngIf="isFormSubmitted&&_AppointExaminerFromGroup.GroupCode.errors"
                     class="text-danger">
                  <p *ngIf="_AppointExaminerFromGroup.GroupCode.errors.required">
                    <i aria-hidden="true"></i>
                    This field is required .!
                  </p>
                </div>
              </td>
              <td>
                <button class="bg-success btn text-white" (click)="SaveData()">Submit</button>
              </td>
            </tr>
          </tbody>
        </table>
        </form>
    </div>
    <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light mt-4">
      <b class="text-1xl-5"><i class="ti ti-list"></i> List Examiner</b>
    </div>
    <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">
      <div class="">
        <select id="ddlConter" class="form-select  couterDropDown">
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="500">500</option>
          <option value="1000">1000</option>
        </select>
      </div>
      <div class="">
      </div>
      <div class="">
      </div>
      <div class="">
        <input class="form-input" placeholder="Search..." />
      </div>
    </div>
    <div class="overflow-x-auto mt-3">
      <table class="table table-border w-full table-auto" cellpadding="5">
        <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">
          <tr>
            <th class="text-left">Sr. No.</th>
            <th class="text-left">Course</th>
            <th class="text-left">Subjects</th>
            <th class="text-left">Roll No. From-To</th>
            <th class="text-left">No. Of Copies</th>
            <th class="text-left">SSO ID</th>
            <th class="text-left">Examiner Name</th>
            <th class="text-left">Group Code</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of AppointExamierList let idx=index;">
            <td>{{idx+1}}</td>
            <td>{{row.StreamName}}</td>
            <td>{{row.SubjectName}}</td>
            <td>{{row.RollNo_From}}-{{row.RollNo_To}}</td>
            <td>{{row.NoOfCopies}}</td>
            <td>{{row.Examiner_SSOID}}</td>
            <td>{{row.Name}}</td>
            <td>{{row.GroupCode}}</td>
           
       
            <td>
              <div class="flex align-center justify-center actionBtns w-auto" style="width:auto !important">
                <a href="javascript:void(0);" id="btnEdit" title="Edit" (click)="btnEdit_OnClick(row.AppointExaminerID)"><i class="ti ti-pencil"></i></a>
                <a href="javascript:void(0);" id="btnDelete" title="Delete" (click)="btnDelete_OnClick(row.AppointExaminerID)"><i class="ti ti-trash"></i></a>
              </div>
            </td>
          </tr>
        
        </tbody>
      </table>

    </div>

  </div>
</div>

<!-- end row -->
