
<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">Practical Examiner Report</h4>

    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700">Masters</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700" aria-current="page">Center- Exam Wise Practical Examiner</a>
       
    </div>
  </div>
</div>

<!-- Page Title End -->
<div class="card">
  <div class="card-body p-5">
    <div class="mb-8">
      <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
        <b class="text-1xl-5"><i class="ti ti-search"></i> Enter Search Criteria</b>
      </div>
      <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">
        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Center Code</label>
          <input type="text" class="form-input" placeholder="Center Code" [(ngModel)]="searchByCenterCode" />
        </div>
        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Center Name</label>
          <input type="text" class="form-input" placeholder="Center Name" [(ngModel)]="searchByCenterName" />
        </div>

        <div>
          <button type="button" class="btn bg-info text-white mt-6 me-1" (click)="onSearchClick()">Search</button>
          <button type="button" id="btnReset" (click)="resetList()" class="btn bg-danger text-white">
            <i class="ti ti-refresh"></i> Reset
          </button>
        </div>

      </div>

      <!--<div *ngIf="this.CenterMasterList?.length > 0 &&  GetStatusCenterSuperintendentData?.Status === 12" class="mt-3 alert text-danger text-danger ng-star-inserted">
        Note: The draft order has been successfully forwarded for verification. Once the verification is complete, the 'Publish' button will become available to release the Final Order to the Center Superintendent.
      </div>-->



      <div class="flex justify-between flex-wrap items-center mt-3 mb-3 p-3 py-2 bg-light">
        <b class="text-1xl-5">
          <i class="ti ti-list"></i> Search Results
        </b>
        <div class="inline-flex items-center text-white btn-sm">
          <!--Button for status 15 only-->
          <!--<button *ngIf="this.CenterMasterList?.length > 0 && this.Status === 0 || this.Status === undefined || this.Status === 15 || this.Status === 11 "
                  type="button" class="btn bg-info text-white me-1"
                  (click)="downloadPDF('order')">
            <i class="ti ti-download"></i> Generate Draft of Order
          </button>-->

          <!--<button *ngIf="this.AssignExaminerMasterList?.length > 0  "
                  type="button" class="btn bg-info text-white me-1"
                  (click)="downloadPDF()">
            <i class="ti ti-download"></i> Download List
          </button>-->


          <!-- Forward to Verify button for status 11 -->
          <!-- Button for statuses 12, 13, 14 -->
          <!--<button *ngIf="this.CenterMasterList?.length > 0 && Status === 11"
                  type="button" class="btn bg-info text-white me-1"
                  (click)="DownloadPDF1()">
            <i class="ti ti-eye"></i>Publish Center Superintendent Order
          </button>
          <button *ngIf="this.CenterMasterList?.length > 0 && Status === 14"
                  type="button" class="btn bg-info text-white me-1"
                  (click)="downloadPDF('view')">
            <i class="ti ti-eye"></i>Download Order List
          </button>-->
          <!--<button *ngIf="this.CenterMasterList?.length > 0 &&  GetStatusCenterSuperintendentData?.Status === 11"
                  type="button" class="btn bg-info text-white me-1"
                  (click)="forwardStatus()">
            <i class="ti ti-download"></i> Forward to Verify
          </button>-->

        </div>
      </div>
      <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">
        <div class="">
          <select id="ddlConter" class="form-select  couterDropDown">
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="500">500</option>
            <option value="1000">1000</option>
          </select>
        </div>
        <div class="">
        </div>
        <div class="">
        </div>
        <div class="">
          <input class="form-input" placeholder="Search..." [(ngModel)]="Table_SearchText" />
        </div>
      </div>
      <div class="overflow-x-auto mt-3">
        <table class="table table-border w-full table-auto" cellpadding="5">
          <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">
            <tr>
              <th width="50px" align="left">SNo.</th>
              <th class="text-left">Center Name</th>

              <th class="text-left">CC Code</th>
              <th class="text-left">Examiner</th>
              <th class="text-left">Year</th>
              <th class="text-left">Subject</th>
              <th class="text-left">Date</th>

              <th class="text-left">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of AssignExaminerMasterList | tableSearchFilter: Table_SearchText; let idx = index;">
              <td class="text-center">{{ idx + 1 }}</td>
              <td>{{ row.CenterName }} </td>

              <td>{{ row.CCCode }} </td>
              <td>{{ row.UserName }}{{row.SSOID != null?' ('+row.SSOID+')':''}} </td>
              <td>
                <!--If InstituteNames are available, show them-->

                <span>{{ row.SemesterName}}</span>



              </td>

              <td>
                {{row.Subject}}
              </td>
              <td>
                {{row.ExamDateTime}}
              </td>
              <!--<td>

    <div class="flex align-center  actionBtns w-auto" style="width:auto !important">
      <a (click)="OnDownloadReport(row.CenterID,row.SemesterID,row.UserID,row.Subject)" title="Download"><i class="ti ti-download"></i></a>
      <a (click)="OnDownloadMarkingReport(row.CenterID,row.SemesterID,row.UserID,row.Subject)" title="Marking Report"><i class="ti ti-download"></i></a>

    </div>
  </td>-->

              <td align="center">
                <div class="flex">

                  <button class="dropdown mr-1" mat-raised-button [matMenuTriggerFor]="menuAction" style="width: 105px; padding: 5px;">
                    ACTION <i class="ti ti-chevron-down"></i>
                  </button>

                  <mat-menu #menuAction="matMenu">
                    <!--First Semester-->
                    <button *ngIf="sSOLoginDataModel.RoleID!=224" mat-menu-item
                            matTooltip="Download Practical Exam Report" (click)="OnDownloadReport(row.CenterID,row.SemesterID,row.UserID,row.Subject)">
                      <i class="ti ti-download"></i> Practical Exam Report
                    </button>

                    <!-- Second Semester -->
                    <button mat-menu-item
                          (click)="OnDownloadAttendenceReport(row.CenterID,row.SemesterID,row.UserID,row.Subject,row.InstituteID)"
                            matTooltip="Dowmload Practical Exam Attendence Report">
                      <i class="ti ti-download"></i> Practical Exam Attendence Report
                    </button>


                    <button *ngIf="sSOLoginDataModel.RoleID!=96" mat-menu-item
                           (click)="OnDownloadMarkingReport(row.CenterID,row.SemesterID,row.UserID,row.Subject,row.InstituteID)"
                            matTooltip="Dowmload Practical Exam Marks Report">
                      <i class="ti ti-download"></i> Practical Exam Marks Report
                    </button>

                    <!-- Third Semester -->
                    <!--<button mat-menu-item matTooltip="Unlock Fee" (click)="UnlockFee(iti.Id,iti.FeePdf)">
    <i [ngClass]="iti.FeePdf == 1 ? 'ti ti-lock-open' : 'ti ti-lock'"></i>
    {{ iti.FeePdf == 1 ? 'Unlock Fee' : 'Lock Fee' }}

  </button>-->
                    <!-- Fourth Semester -->
                    <!--<button mat-menu-item (click)="DeleteDataById(iti.Id)"
          matTooltip="Delete ITI">
    <i class="ti ti-trash"></i> Delete
  </button>-->
                    <!-- Fifth Semester -->
                    <!--<button mat-menu-item
          matTooltip="NCVT Mis">
    <i class="ti ti-download"></i> NCVT Mis
  </button>-->
                    <!-- Sixth Semester -->
                    <!--<button mat-menu-item (click)="ViewandUpdate(MyModel_ViewTrades,iti.Id)"
          matTooltip="View Trades">
    <i class="ti ti-eye"></i> View Trades
  </button>-->
                  </mat-menu>
                </div>

              </td>


            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
