<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">Approve Issued Items</h4>

    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700">Inventory</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700" aria-current="page">Approve Issued Items</a>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body p-5">

    <div class="mb-8">
      <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
        <b class="text-1xl-5"><i class="ti ti-search"></i> Enter Search Criteria</b>
      </div>
      <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">

        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Staff List:</label>
          <select class="form-select" [(ngModel)]="Searchrequest.staffID" name="staffID" (change)="GetIssueItemsForApprove()">
            <option *ngFor="let s of staffDDLList" [value]="s.staffID">
              {{s.staffName}}
            </option>
          </select>
        </div>

        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Category List:</label>
          <select class="form-select" id="CategoryID" [(ngModel)]="Searchrequest.ItemId">
            <option *ngFor="let item of CategoryDDLList" [value]="item.ItemId">
              {{ item.ItemCategoryName }}
            </option>
          </select>
        </div>

        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Equipment Status:</label>
          <select class="form-select" id="CategoryID" [(ngModel)]="Searchrequest.status" (change)="GetIssueItemsForApprove()">
            <option value="0">--- All ---</option>
            <option value="1">Serviceable</option>
            <option value="2">Unserviceable</option>
          </select>
        </div>

        <div>
          <button type="button" class="btn bg-info text-white mt-6" (click)="GetIssueItemsForApprove()">Search</button>
          <button type="button" class="btn bg-danger text-white mt-6" id="btnReset" (click)="ResetControl()">Cancel</button>
        </div>
      </div>
    </div>

    <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
      <b class="text-1xl-5"><i class="ti ti-list"></i> Search Results</b>
      <div class="flex gap-2">
        <a href="javascript:void(0);" (click)="exportToExcel()" class="btn bg-info btn-sm text-white">
          <i class="ti ti-excel"></i> Export Excel
        </a>

        <select id="ddlConter" class="form-select couterDropDown me-2" [(ngModel)]="pageInTableSize" (change)="loadInTable()">
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="500">500</option>
          <option value="1000">1000</option>
        </select>

      </div>
    </div>
    <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-3">
      <div class="flex">

        <!-- <a href="javascript:void(0);"
        class="btn bg-info btn-sm text-white"
        (click)="ApproveIssuedItems()">
        <i class="ti ti-check"></i> Approve Selected Items
      </a> -->

        <select class="form-select" id="IssuedItemStatus" [(ngModel)]="IssuedItemStatus" name="IssuedItemStatus">
          <option value="0">Choose Mark As (*)</option>
          <option value="2">Approve</option>
          <option value="3">Reject</option>
        </select>
        <button type="button" class="btn bg-info text-white inline-block" (click)="ApproveIssuedItems()">Save</button>
      </div>
      <div class="">
        <span class="mt-2 block" style="font-size:18px">Selected(s): <b>{{totalInTableSelected}}</b></span>
      </div>
      <div class="">
        <!-- <input class="form-input" placeholder="Search....." [(ngModel)]="Table_SearchText" /> -->
      </div>
    </div>
    <div class="overflow-x-auto mt-3">
      <table class="table table-border w-full table-auto" cellpadding="5">
        <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">
          <tr>
            <th class="text-left">
              <input type="checkbox" class="checkboxSize" [(ngModel)]="AllInTableSelect" (change)="selectInTableAllCheckbox()" />
            </th>
            <th class="text-left">SNO</th>
            <th class="text-left">Issued to</th>
            <th class="text-left">Item Category</th>
            <th class="text-left">Equipment Name</th>
            <th class="text-left">Equipment Code</th>
            <th class="text-left">Item Type</th>
            <th class="text-left">Indent No</th>
            <th class="text-left">Issue Date</th>
            <th class="text-left">Issued Quantity</th>
            <th class="text-left">Issue Document </th>
            <th class="text-left">Approve Issue Quantity</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of paginatedInTableData; let idx=index;">
            <td align="left">
              <input type="checkbox" class="checkboxSize" [(ngModel)]="item.Selected"
                     #checkboxInTableSeletedSingle (change)="selectInTableSingleCheckbox(checkboxInTableSeletedSingle.checked,item)">
            </td>
            <td align="left">{{(startInTableIndex+1)+idx}}</td>
            <td align="left">{{ item.Name}}</td>
            <td align="left">{{ item.ItemCategoryName}}</td>
            <td align="left">{{ item.EquipmentName}}</td>
            <td align="left">{{ item.ItemCode}}</td>
            <td align="left">
              <span [ngClass]="item.IsConsumable == 1 ? 'badge-permanent' : 'badge-consumable'">
                {{ item.IsConsumable == 1 ? 'Consumable' : 'Permanent' }}
              </span>
            </td>
            <td align="left">{{ item.IndentNo}}</td>
            <td align="left">{{ item.IssueDate | date:'dd-MM-yyyy' }}</td>
            <td align="left">{{ item.Quantity}}</td>
            <td>
              <a href="{{ appsettingConfig.StaticFileRootPathURL + '/Students/' + item.IssueItemDocument }}"
                 *ngIf="item.IssueItemDocument!=''" class="btn bg-primary text-white m-0" target="_blank">
                <i class="ti ti-eye"></i>
              </a>

            </td>
            <td align="left">
              <div class="flex">
                <input class="form-input" style="width:100px" type="text" tabindex="{{idx}}" id="txtObtainedTheory"
                       (keypress)="numberOnly($event)"
                       readonly
                       disabled
                       [(ngModel)]="item.ApproveIssueQuantity"
                       (keydown.tab)="onTabPress($event, idx)"
                       (keydown)="allowOnlyPositiveNumbers($event)"
                       [max]="item.Quantity"
                       min="1"
                       tabindex="{{idx}}"
                       (input)="validateQuantity(item)">
              </div>
            </td>

          </tr>
          <tr *ngIf="ItemMasterList?.length==0">
            <td colspan="10">
              No Record Found
            </td>
          </tr>
        </tbody>
      </table>

      <!--<input class="form-input" style="width:100px" type="text" tabindex="{{idx}}" id="txtObtainedTheory"
             (keypress)="numberOnly($event)"
             [readonly]="!item.Selected"
             [disabled]="!item.Selected"
             [(ngModel)]="item.ApproveIssueQuantity"
             (keydown.tab)="onTabPress($event, idx)"
             (keydown)="allowOnlyPositiveNumbers($event)"
             [max]="item.Quantity"
             min="1"
             tabindex="{{idx}}"
             (input)="validateQuantity(item)">-->
   


  </div>
    <!--pagination-->
    <div class="p-3 paginationBox flex items-center justify-end w-full">
      <span class="block">Record {{startInTableIndex+1}} - {{endInTableIndex}} of {{totalInTableRecord}}</span>
      <div class="paginationBoxItems flex items-center">
        <button (click)="firstInTablePage()" [disabled]="currentInTablePage==1">First</button>
        <button (click)="previousInTablePage()" [disabled]="currentInTablePage==1">Previous</button>
        <input type="number" min="1" max="{{totalInTablePage}}" title="Enter page no." [(ngModel)]="currentInTablePage"
               [disabled]="totalInTablePage==0" (change)="randamInTablePage()" />
        <span class="text-nowrap">Page {{currentInTablePage}} of {{totalInTablePage}}</span>
        <button (click)="nextInTablePage()" [disabled]="currentInTablePage==totalInTablePage || totalInTablePage==0">Next</button>
        <button (click)="lastInTablePage()" [disabled]="currentInTablePage==totalInTablePage || totalInTablePage==0">Last</button>
      </div>
    </div>
    <!--end pagination-->

  </div>
</div>
