<!-- Page Title Start -->
<app-loader></app-loader>
<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">Issued Items</h4>

    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700">Dashboard</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700" aria-current="page">Issued Items</a>
    </div>
  </div>
</div>
<!-- Page Title End -->
<div class="card">
  <div class="card-body p-5">
    <div class="mb-8">
      <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
        <b class="text-1xl-5"><i class="ti ti-search"></i> Enter Search Criteria</b>
        <div>
          <!--<a href="/AddDteIssuedItems" class="btn bg-success btn-sm text-white"><i class="ti ti-plus"></i>Add New</a>-->
          <a [routerLink]="['/AddDteIssuedItems']" class="btn bg-success btn-sm text-white"><i class="ti ti-plus"></i>Add New</a>
        </div>
      </div>

      <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">

        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">
            Equipment: <span class="StarMarking">*</span>
          </label>
          <select class="form-select" id="EquipmentsId" [(ngModel)]="Searchrequest.EquipmentsId">
            <option value="0">Choose Option</option>
            <option *ngFor="let item of EquipmentsDDLList" [value]="item.EquipmentsId">{{item.Name}}</option>
          </select>
        </div>



        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">
            Branch: <span class="StarMarking">*</span>
          </label>
          <select class="form-select" id="TradeId" [(ngModel)]="Searchrequest.TradeId">
            <option value="0">Choose Option</option>
            <option *ngFor="let item of TradeDDLList" [value]="item.StreamID">{{item.StreamName}}</option>
          </select>
        </div>

        <div>
          <label for="Equipment Code" class="text-gray-800 text-sm font-medium inline-block mb-2">
            Equipment Code: <span class="StarMarking">*</span>
          </label>
          <input type="text" class="form-input" id="EquipmentCode" name="EquipmentCode" [(ngModel)]="Searchrequest.EquipmentCode">
        </div>

        <div>
          <label for="Issuenumber" class="text-gray-800 text-sm font-medium inline-block mb-2">
            Issue number: <span class="StarMarking">*</span>
          </label>
          <input type="text" class="form-input" id="Issuenumber" name="Issuenumber" [(ngModel)]="Searchrequest.Issuenumber">
        </div>

        <div>
          <label for="IssueQuantity" class="text-gray-800 text-sm font-medium inline-block mb-2">
            Issue Quantity: <span class="StarMarking">*</span>
          </label>
          <input type="text" class="form-input" id="IssueQuantity" name="IssueQuantity" [(ngModel)]="Searchrequest.IssueQuantity">
        </div>

        <div>
          <label for="Issuedate" class="text-gray-800 text-sm font-medium inline-block mb-2">
            Issue date: <span class="StarMarking">*</span>
          </label>
          <input type="date" class="form-input" id="Issuedate" name="Issuedate" [(ngModel)]="Searchrequest.Issuedate">
        </div>



        <div>
          <button type="button" class="btn bg-info text-white mt-6" (click)="GetAllData()">Search</button>
          <button type="button" class="btn bg-danger text-white mt-6" (click)="ResetControl()"><i class="ti ti-refresh"></i>Reset</button>
        </div>
      </div>


    </div>
    <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
      <b class="text-1xl-5"><i class="ti ti-list"></i> Search Results</b>
    </div>
    <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">
      <div class="">
        <select id="ddlConter" class="form-select  couterDropDown">
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="500">500</option>
          <option value="1000">1000</option>
        </select>
      </div>
      <div class="">
      </div>
      <div class="">
      </div>
      <div class="">
        <input class="form-input" placeholder="Search....." [(ngModel)]="Table_SearchText" />
      </div>
    </div>
    <div class="overflow-x-auto mt-3">
      <table class="table table-border w-full table-auto" cellpadding="5">
        <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">
          <tr>
            <th class="text-left">SR NO</th>
            <th class="text-left">Issue Number</th>
            <th class="text-left">Issue Quantity</th>
            <th class="text-left">Branch</th>
            <th class="text-left">Equipment</th>
            <th class="text-left">Issue Date</th>
            <th class="text-left">Return Status</th>
            <th class="text-left">Return Date</th>
            <th class="text-left">Return Remark</th>

            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of IssueItemMasterList  | tableSearchFilter:Table_SearchText;let idx=index;">
            <td align="left">{{idx+1}}</td>
            <td align="left">{{item.IssueNumber}}</td>
            <td align="left">{{item.IssueQuantity}}</td>
            <td align="left">{{item.TradeName}}</td>
            <td align="left">{{item.EquipmentsName}}</td>
            <td align="left">{{ item.IssueDate | date:'MM/dd/yyyy' }}</td>
            <td align="left">{{item.ReturnStatus}}</td>
            <td align="left">{{item.ReturnIssueDate}}</td>
            <td align="left">{{item.ReturnRemark}}</td>
            <td>
              <div class="flex align-center justify-center actionBtns w-auto" style="width:auto !important">
                <!--<a href="AddDteIssuedItems?id={{item.IssuedId}}" title="Edit"><i class="ti ti-pencil"></i></a>-->
                <a [routerLink]="['/AddDteIssuedItems']" [queryParams]="{ id: item.IssuedId }" title="Edit"><i class="ti ti-pencil"></i></a>
                <a href="javascript:void(0)" (click)="btnDelete_OnClick(item.IssuedId)" title="Delete"><i class="ti ti-trash"></i> </a>

              </div>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
</div>

<!-- end row -->
