<!--<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">Dashboard</h4>

    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700">BTE</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a href="BTEBTEjavascript:void(0);" class="text-sm font-medium text-slate-700" aria-current="page">Engineering Revaluation Semester 2024-25 (May)</a>
    </div>
  </div>
</div>-->
<!-- Page Title End -->

<div class="justify-center flex">
  <div class="card" style="width:800px">
    <!--<div class="card-header">
      <b>Engineering Revaluation Semester 2024-25 (May)</b>
    </div>-->
    <div class="car-body p-5">

      <div class="card bg-light mb-8">
        <div class="card-body text-center">

          <h3 class="text-2xl"><b>Engineering Revaluation Semester 2024-25 (May)</b></h3>
        </div>
      </div>

      <div class="grid 2xl:grid-cols-1 xl:grid-cols-1 lg:grid-cols-1 md:grid-cols-1 grid-cols-1 gap-3">
        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Roll No.</label>
          <input type="text" class="form-input" placeholder="Enter Roll No.">
        </div>
        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Date of Birth</label>
          <input type="text" class="form-input" placeholder="Enter Date of Birth">
        </div>
        <div>
          <button class="block text-center text-white bg-success btn w-full">Submit</button>
        </div>
      </div>
    </div>
  </div>

</div>
