<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">Website Settings</h4>

    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700">
        Masters
      </a>

      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">
        chevron_right
      </i>

      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700">
        Website Settings
      </a>
    </div>
  </div>
</div>

<div class="card">

  <div class="card-body p-5">

 
    <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
      <b class="text-1xl-5">
        <i class="ti ti-search"></i>
        Search Dynamic Content
      </b>
    </div>

    <div class="overflow-x-auto mt-3 mb-3">

      <form [formGroup]="HighlightsFromGroup">

        <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">

          <!-- Section -->
          <div *ngIf="sSOLoginDataModel.RoleID!=212">

            <label class="text-gray-800 text-sm font-medium inline-block mb-1">
              Section
            </label>

            <select class="form-select"
                    [(ngModel)]="request.DepartmentSubID"
                    formControlName="DepartmentSubID">

              <option value="0">--Select--</option>

              <option *ngIf="sSOLoginDataModel.DepartmentID == _EnumDepartment.BTER"
                      [value]="_EnumWS_DepartmentSub.BTER">
                BTER
              </option>

              <option *ngIf="sSOLoginDataModel.DepartmentID == _EnumDepartment.BTER"
                      [value]="_EnumWS_DepartmentSub.DTE">
                DTE
              </option>

              <option *ngIf="sSOLoginDataModel.DepartmentID == _EnumDepartment.ITI"
                      [value]="_EnumWS_DepartmentSub.ITI_NCVT">
                ITI NCVT
              </option>

              <option *ngIf="sSOLoginDataModel.DepartmentID == _EnumDepartment.ITI"
                      [value]="_EnumWS_DepartmentSub.ITI_SCVT">
                ITI SCVT
              </option>

            </select>

          </div>


          <div>

            <label class="text-gray-800 text-sm font-medium inline-block mb-1">
              Notification Type
            </label>

            <select class="form-select"
                    [(ngModel)]="request.TypeID"
                    formControlName="TypeID">

              <option value="0">--Select--</option>

              <option *ngFor="let item of GetDynamicUploadTypeDDL_Data"
                      [value]="item.Id">

                {{item.TypeName}}

              </option>

            </select>

          </div>


          <div>

            <label>Title</label>

            <input type="text"
                   class="form-input"
                   placeholder="Search By Title"
                   formControlName="Title"
                   [(ngModel)]="request.Title" />

          </div>


          <div>

            <label>Start Date</label>

            <input type="datetime-local"
                   class="form-input"
                   formControlName="Start_Date"
                   [(ngModel)]="request.Start_Date" />

          </div>


          <div>

            <label>End Date</label>

            <input type="datetime-local"
                   class="form-input"
                   formControlName="End_Date"
                   [(ngModel)]="request.End_Date" />

          </div>


          <div>
            <button type="button" class="btn bg-info text-white mt-6" (click)="GetAllData()" >Search</button>
            <button type="button" class="btn bg-danger text-white mt-6">Cancel</button>
          </div>

        </div>

      </form>

    </div>

  
    <div class="flex justify-between flex-wrap mb-3 p-3 py-2 bg-light">

      <b class="text-1xl-5">
        <i class="ti ti-list"></i>
        Dynamic Content List
      </b>

    </div>

    
    <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">

      <div>
        <select id="ddlConter"
                class="form-select couterDropDown">

          <option value="50">50</option>
          <option value="100">100</option>
          <option value="500">500</option>
          <option value="1000">1000</option>

        </select>
      </div>

      <div></div>

      <div></div>

      <div>
        <input class="form-input"
               placeholder="Search....."
               [(ngModel)]="Table_SearchText" />
      </div>

    </div>

   
    <div class="overflow-x-auto mt-3">

      <table class="table table-border w-full table-auto" cellpadding="5">

        <thead class="bg-light/40 border-b border-gray-100 h-10">

          <tr>

            <th width="80px" align="left">Sr. No.</th>

            <th class="text-left">Session</th>

            <th *ngIf="sSOLoginDataModel.RoleID!=212"
                class="text-left">

              Department

            </th>

            <th class="text-left">Type</th>

            <th class="text-left">Title</th>

            <th class="text-left">File</th>

            <th class="text-left">Start Date</th>

            <th class="text-left">End Date</th>

            <!--<th class="text-left">Status</th>-->

          </tr>

        </thead>

        <tbody>

          <tr *ngFor="let row of DynamicContentData | tableSearchFilter:Table_SearchText; let idx=index;">

            <td>{{idx + 1}}</td>

            <td>{{row.FinancialYearName}}</td>

            <td *ngIf="sSOLoginDataModel.RoleID!=212">
              {{row.subcategory}}
            </td>

            <td>{{row.TypeName}}</td>

            <td>{{row.Title}}</td>

            <td>{{row.FileName}}</td>

            <td>
              {{row.Start_Date | date : 'dd-MM-yyyy hh:mm a'}}
            </td>

            <td>
              {{row.End_Date | date : 'dd-MM-yyyy hh:mm a'}}
            </td>

            <!--<td>

              <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">

                <label class="block">
                  {{ row.IsActive == 1 ? 'Active' : 'Inactive' }}
                </label>

                <label class="inline-flex items-center cursor-pointer toggleCheckBox Active statusActiveInActive">

                  <input class="sr-only peer"
                         type="checkbox"
                         [checked]="row.IsActive == 1"
                         (change)="onToggleChange(row)">

                  <span class="toggleIcon"></span>

                </label>

              </div>

            </td>-->

          </tr>

          
          <tr *ngIf="DynamicContentData?.length == 0">

            <td colspan="9" class="text-center">

              No Record Found.

            </td>

          </tr>

        </tbody>

      </table>

    </div>

  </div>

</div>
