



<div class="tab-content bg-white p-2 rounded border" id="myTabContent">
  <div class="tab-pane fade show active" id="GeneralInstructions-tab-pane" role="tabpanel" aria-labelledby="GeneralInstructions-tab" tabindex="0">
    <div class="row">
      <div class="col-lg-12 mb-4 mt-2 text-center">
        <h3>
          सामान्य निर्देश
          (General Instructions)
        </h3>
        <p><b class="text-danger">Note: This application is best viewed using current versions of Firefox, Chrome at a screen resolution of 1024 x 768 or higher.This application will not work in Internet explorer Ver 11 and above.</b></p>
      </div>
      <div class="col-lg-9">
        <h4>संस्थान स्तर पर प्रवेश की प्रक्रिया एवम निर्देश</h4>
        <p><b>For online admission related queries and technical problems related to online admission, submission of online applications, online payment, payment error, uploading documents etc. please contact at Mob:  8824904570 (Office Hours) or email id: {{'rajitiadmission2025@gmail.com'}}.</b></p>
        <p>आवेदक द्वारा भरी गई सूचना प्रशिक्षण अवधि एवं उसके बाद भी उपयोगी होगी, अतः सूचना सावधानी से भरी जावे। इस सूचना को प्रवेश, फीस, छात्रवृति, परीक्षा, अंकतालिका, प्रमाणपत्र इत्यादि समस्त कार्यों में उपयोग लिया जाएगा।राजकीय/प्राइवेट औधोगिकप्रशिक्षण संस्थानों में प्रवेश हेतु रजिस्ट्रेशन, आवेदन पत्र एवं विकल्प पत्र राजस्थान सरकार के एकीकृत पोर्टल sso.rajasthan.gov.in अथवा E-mitra Kiosk के माध्यम से ऑनलाइन ही भरे जायेंगे।</p>
        <ol>
          <li>ऑनलाईन आवेदन, से ई-मित्र पर व्यक्तिशः अथवा पोर्टल के द्वारा निर्धारित प्रवेश आवेदन शुल्क रुपये 100/- (non refundable) सामान्य अभ्यार्थी के लिए तथा रुपये75/- (non refundable)अनुसुचित जाति, अनुसचित जनजाति अभ्यार्थी के लिए, शुल्क जमा करवा कर अभियार्थी द्वारा स्वयं या E-mitra Kiosk द्वारा किया जा सकता है|</li>
          <li>बिंदु संख्या 2 में वर्णित शुल्क के अतिरिक्त प्रोसेसिंग फीस रुपये100/- (non refundable)प्रति आवेदन की राशि ऑनलाईन आवेदन के समय जमा करवानी होगी|</li>
          <li>अभ्यर्थी ऑनलाईन आवेदन करने से पहले प्रवेश विवरणिका एवं उपलब्ध सीटो का अवलोकन अवश्य कर ले जो वेबसाईट पर उपलब्ध है। अभ्यर्थी इस तथ्य को ध्यानपूर्वक नोट करे कि ऑनलाईन आवेदन पत्र में उसके द्वारा सभी प्रविष्टियां सही अंकित की है। किसी भी प्रकार से गलत सूचना भरने अथवा जानबूझ कर गलत तथ्य प्रस्तुत करने की अवस्था में आवेदक की अभ्यर्थिता प्रवेश के किसी भी चरण पर रद्द की जा सकती है, जिसके लिये वह स्वयं जिम्मेवार होगा। डीजीटी,नई दिल्ली के निर्देशानुसार प्रवेश हेतु आवेदन करने वाले अभ्यार्थी के लिए आधार नम्बर, यूनीक मोबाईल नम्बर एवं ई-मेल आईडी होना आवश्यक है। जिन्हें प्रवेश प्रक्रिया प्रारम्भ से प्रशिक्षण पूर्ण होने तक क्रियाशील रखना भी आवश्यक है।</li>
          <li>
            आवेदन करने हेतु निम्न दस्तावेज/ प्रतियां तैयार रखेः-
            <ol>
              <li>पासपोर्ट साईज फोटो एवं सादा कागज पर सामान्य हस्ताक्षर।</li>
              <li>आठवीं/दसवीं की अंकतालिका।</li>
              <li>मूल निवास सम्बन्धित दस्तावेज (यदि आठवीं/दसवीं राजस्थान के बाहर से की गई हो)</li>
              <li>आरक्षण श्रेणी से सम्बन्धित प्रमाणपत्र।</li>
              <li>आधार कार्ड की प्रति|</li>
            </ol>
          </li>
          <li>(*)लगी सभी प्रविष्टियां आवश्यक (mandatory) है, इनको पूर्ण किये बिना आवेदन पत्र सबमिट नहीं होगा।ऑनलाईन आवेदन की प्रक्रिया निम्न बिन्दुओं से स्पष्ट की जा रही है।</li>
          <li>
            प्रथम चरणः पंजीयन प्रक्रिया (Registration Process):-
            <ol>
              <li>आवेदन करने से पूर्व अभ्यर्थी को अपना पंजीयन करवाना आवश्यक हैं अतः यह प्रक्रिया अत्यन्तमहत्वपूर्ण है। आवेदक द्वारा दी गई सूचना सम्पूर्ण प्रवेश के दौरान काम में ली जाएगी, अतः यह चरण सावधानी से पूर्णकरे।</li>
              <li>आवेदक अपना नाम, पिता का नाम, माता का नाम, जन्मतिथि, 8वीं/10वीं परीक्षा की अंक तालिका के आधार पर ही भरें।</li>
              <li>अपना वही यूनीक मोबाईल नम्बर लिखें जिस पर आप प्रवेश सम्बन्धित सूचनाओं का आदान प्रदान चाहते है। चुकी प्रवेश से सम्बंधित सूचनाओ का SMS इसी मोबाइल नंबर पर भेजा जायेगा|</li>
              <li>आवेदक जिस व्यवसाय में प्रवेश लेना चाहता है उन व्यवसायो की न्यूनतम योग्यता का अवलोकन करने के पश्चात जिन व्यवसायों में प्रवेश लेना चाहते है उनकी योग्यता का चयन करे यथा आठवीं/दसवीं के अनुसार|</li>
              <li>रजिस्ट्रेशन के उपरांत यही सुचना काम में ली जाएगी तथा बाद में परिवर्तन संभव नहीं होगा अतः यह चरण सावधानी से पूर्णकरे।</li>
            </ol>
          </li>
          <li>
            TAB - Qualification Details (शैक्षणिक योग्यता)
            <ol>
              <li>8th/10th qualified - स्वयं की शैक्षणिक योग्यता के अनुसार 8 वी अथवा 10 वी के अंक भरने के लिए सिलेक्ट करे तथा fill marks बटन पे क्लिक करे इसके नीचे अंक भरने का बॉक्स मिलेगा।</li>
              <li>मार्क शीट के अनुसार रोल नंबर तथा बाकी अंकों का विवरण भरे। यदि maths/sci  के अंक नहीं है तो खाली छोड़े (maths/sci खाली छोड़ने पर व्यवसाय जिनमे यह विषय जरूरी है ऑप्शन फोरम में दिखाई नहीं देंगे व्यवसाय की न्यूनतम योगियता का विवरण जानने के लिए विवरणिका/prospectus मे देखे या यहाँ क्लिक करे</li>
            </ol>
          </li>
          <li>
            TAB - Personal Details (व्यक्तिगत विवरण)
            <ol>
              <li>Applicant’s name - पंजीयन पेज से प्राप्त होगा, नहीं भरना है।</li>
              <li>Father\'s name -पंजीयन पेज से प्राप्त होगा, नहीं भरना है। दसवीं की अंकतालिका के अनुसार भरना है।</li>
              <li>Mother\'s name - पंजीयन पेज से प्राप्त होगा, नहीं भरना है। (हिन्दी में प्रविष्टियां आवेदक द्वारा Type करनी होगी। अंग्रेजी में spelling typeकरके space देने पर वह स्वतः ही हिन्दी में परिवर्तित हो जायेगी। नाम व उपनाम के बीच में space रखें।)</li>
              <li>जन्मतिथि एवं लिंग की प्रविष्टियां पंजीयन पेज से प्राप्त होगी।</li>
              <li>धर्म, राष्ट्रीयता एवं वैवाहिक स्थिति की dropdown menuद्वारा अंकित करें।</li>
              <li>Category A- आरक्षण श्रेणी General/OBC/SC/ST की स्थिति dropdown menuद्वारा अंकित करें।</li>
              <li>Category B- आरक्षण श्रेणी Ex Serviceman: Ex-S(A)/ Ex-S(B)/ Ex-S(B)/ Ex-S(B)/none की स्थिति dropdown menuद्वारा अंकित करें।</li>
              <li>Category C- आरक्षण श्रेणी PH(Physically handicapped) की स्थिति dropdown menuद्वारा अंकित करें।तथा व्यवसाय चयन के लिए विकलांग पुनर्वास केंद्र जयपुर से उपयुक्ता प्रमाण पत्र में अंकित व्यवसायों का चयन करे।</li>
              <li>Category D- आरक्षण Widow/Divorcee/None की स्थिति dropdown menuद्वारा अंकित करें।</li>
              <li>Domicile of Rajasthan- प्राथमिकता श्रेणी हेतु राजस्थान के मूल निवासी Passed8th and 10th from Rajasthan Domicile of Rajasthan Ward of Rajasthan Govt. Employee or its Undertaking Wards of Central Govt. employee and its Undertaking employee posted in Rajasthan भरे। अन्य राज्य के अभ्यर्थी non resident of Rajasthanभरें।</li>
              <li>Are you Tribal Area Resident? -STआरक्षण श्रेणी के अभ्यर्थी यदि TSP Areaसे हैं तो Yesअंकित करें। साथ ही जिले, तहसील एवं गांव का नाम भी भरे।</li>
            </ol>
          </li>
          <li>
            TAB - Address Details (पत्ते का विवरण)
            <ol>
              <li>आवेदक अपने निवास का पूर्ण पता, गांव का नाम, तहसील, जिला, राज्य एवं पिन कोड की प्रविष्टियां पूर्ण करें एवं जानकारी save करें।</li>
            </ol>
          </li>
          <li>
            TAB - Documents required (दस्तावेज)
            <ol>
              <li>Photograph -आवेदक अपनी पासपोर्ट साईज नवीनतम रंगीन फोटो तथा हस्ताक्षर को *.jpg, *.gif, *.pngफाईल फॉर्मेट तथा अधिकतम 50 KBसाईज तक स्कैन कर अपलोड करे।</li>
              <li>Signature - आवेदक अपनी पासपोर्ट साईज नवीनतम रंगीन फोटो तथा हस्ताक्षर को *.jpg, *.gif, *.pngफाईल फॉर्मेट तथा अधिकतम 50 KBसाईज तक स्कैन कर अपलोड करे।</li>
              <li>Category A/B/C/D/E or Domicile हेतु आवश्यक दस्तावेज *.jpg, *.gif, *.png, *.pdf फाईल फार्मेट में अधिकतम 150 KBसाईज तक स्कैन कर अपलोड करे।</li>
              <li>Category B (Ex-Serviceman) के लिये पीपीओ, डिस्चार्ज डायरी, इत्यादि अन्य 3-4 कागज एक साथ एक फाईल में पी.डी.एफ. फार्मेट में अधिकतम 150KB तक अपलोड करें।</li>
              <li>सैकण्डरी परीक्षा की अंक तालिका को अपलोड करें। यदि पूरक परीक्षा उत्तीर्ण /अंक सुधार में एक से अधिक अंक तालिकाएं हो तो सभी को अपलोड करें।</li>
            </ol>
          </li>
          <li>
            TAB - Option form (विकल्प प्रपत्र)
            <ol>
              <li>आवेदन में यह अत्यन्त महत्वपूर्ण चरण है, अतः सावधानी पूर्वक भरा जावे। आवेदक सीट आवंटन के लिये अधिक से अधिक ऑप्शन भरे। आवश्यकता होने पर नजदीकी राजकीय आईटीआई से गाईडेन्स भी प्राप्त की जा सकती है।</li>
              <li>ऑप्शन फार्म में जिन स्थानों पर अभ्यर्थी प्रवेश लेना चाहता हैं उन स्थानों का वरीयता क्रम (Choice Order) में विवरण भरना होगा। अतः ऑप्शन फार्म भरने के लिये अभ्यर्थी सीट मैट्रिक्स का अध्ययन कर Name of Institute एवं Name of Trade को अलग पेपर पर लिख कर पहले से तैयार रखें।</li>
              <li>कॉलम Institute में इच्छित Instituteएवं कॉलम Programमें Tradeका चयन करें।</li>
              <li>Add more बटन का उपयोग करके एक से अधिक Choicesभरें।</li>
              <li>किसी Option को ऊपर या नीचे करने के लिये sIncrease priority or decrease priorityबटन का उपयोग करें। एक बार में क्रम से ऑप्शन को एक प्रायोरिटी उपर अथवा नीचे किया जा सकेगा। क्रास के निशान से ऑप्शन हटाया (remove) जा सकता है।</li>
              <li>सभी Options को प्राथमिकता के अनुसार जमा लेने के बाद ही Save and lockकरें।</li>
            </ol>
          </li>
          <li>
            TAB – Preview (समीक्षा)
            <ol>
              <li>आवेदक द्वारा भरी गई सभी प्रविष्टियां यहां दिखाई देगी। आवेदक इन्हें भलीभांति जांच लेवे। यदि आवेदक किसी प्रविष्टि को बदलना चाहता है तो वह संबंधित Tabमें जाकर उसे बदल सकता है। Form Submit होने के पश्चात आवेदक किसी भी प्रकार का परिवर्तन नहीं कर सकता है।</li>
              <li>सभी तरह से संतुष्ट होने के बाद आवेदक को Undertaking बटन के चेकबाक्स को क्लिक करना होगा।</li>
              <li>इसके पश्चात आवेदक Submit बटन पर क्लिक करे।</li>
            </ol>
          </li>
          <li>
            आवेदन शुल्क जमा कराने की प्रक्रियाः-
            <ol>
              <li>आवेदन पत्र Submit करने के पश्चात आवेदक चालान download करके e-mitra पर अथवा online फीस जमा करवा सकता है| फीस जमा के पश्चात ही आवेदन पत्र को आवंटन की प्रक्रिया में समलित किया जायेगा|</li>
            </ol>
          </li>
          <li>
            Form download
            <ol>
              <li>आवेदन पत्र submit and lock होने के उपरान्त आवेदक इसका प्रिन्ट ले सकता हैं तथा डाउनलोड भी कर सकेगा। अपने यूजरनेम व पासवर्ड की सहायता से वह कभी भी अपने फार्म का प्रिव्यू देख सकेगा एवं प्रिन्ट भी कर सकेगा।</li>
              <li>आवेदन पत्र के प्रिंट को भलीभांति जाँच ले कोई नाम, पिता का नाम, लिंग, अंको में संशोधन हो तो निर्धारित तिथि को संशोधन करवा सकते है।</li>
              <li>आवेदन पत्र की हार्ड कॉपी प्रवेश कार्यालय को नहीं भेजी जानी है।</li>
              <li>आवेदक एक प्रिन्ट आउट निकाल कर एक प्रति अपने पास सुरक्षित रखे।</li>
              <li>Seat आवंटन के पश्चात् सम्बंदित संस्थान में reporting के समय फॉर्म का प्रिंट आउट प्रस्तुत करे।</li>
            </ol>
          </li>
        </ol>
      </div>
      <div class="col-lg-3">
        <div class="card mb-3 cardRed">
          <div class="card-header">
            <b>Important Links</b>
          </div>
          <div class="card-body p-0">

            <marquee onMouseOver="this.stop()" onMouseOut="this.start()" direction="up" height="250" *ngIf="ImportantLinksITI != null">
             
                <ul>
                  <li style="padding-left: 15px;"  *ngFor="let item of ImportantLinksITI">                   
                    <a href="{{appsettingConfig.StaticFileRootPathURL}}{{item.docFile}}" target="_blank">
                      {{item.Title}}
                      </a>
                    <!--<span class="text-nowrap"><i class="fa fa-calendar"></i>&nbsp;{{item.CreateDates}}</span>-->
                    <!--</a>-->
                  </li>

                </ul>
            </marquee>
            <!--<a routerLink="dynamic-content-list/243/1" class="btn btn-outline-warning d-block text-center my-2" *ngIf="ImportantLinksITI != null">View All</a>-->
            <div style="height:310px" *ngIf="ImportantLinksITI == null" class="text-center">No Record Found!!!</div>




          </div>
        </div>
        <div class="card cardRed d-none">
          <div class="card-header">
            <b>Online Admissions Related Queries</b>
          </div>
          <div class="card-body">
            <p>For online admission related queries and technical problems related to online admission, submission of online applications, online payment, payment error, uploading documents etc. please contact at</p>
            <p><i class="fa fa-envelope-o"></i> {{'rajitiadmission2025@gmail.com'}}</p>
            <p><i class="fa fa-phone"></i> 8824904570</p>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="tab-pane fade p-4" id="Printtheapplicationform-tab-pane" role="tabpanel" aria-labelledby="Printtheapplicationform-tab" tabindex="0">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 text-center mb-4">
        <h3>आवेदन पत्र प्रिंट करें (Print the application form)</h3>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <label class="fw-600 form-label">Application Id:</label>
        <input class="form-control" />
        <label class="badge bg-dark">eg: 24XXXXXX</label>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <label class="fw-600 form-label">Date of Birth:</label>
        <input class="form-control" type="date" />
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <label class="fw-600 form-label">Captcha Code:</label>
        <div class="d-flex">
          <img src="images/captchaImg.jpg" />
          <button class="btn btn-outline-warning"><i class="fa fa-refresh"></i></button>
          <input class="form-control" />
        </div>

      </div>
      <div class="col-lg-3 col-md-6 col-sm-12" style="padding-top:35px">
        <button class="btn btn-sm btn-success" type="button"><i class="fa fa-search"></i>&nbsp;Search</button>
        <button class="btn btn-sm btn-danger" type="button"><i class="fa fa-refresh"></i>&nbsp;Reset</button>
      </div>
    </div>

  </div>
  <div class="tab-pane fade p-4" id="KnowYourAllotmentUpwardMovement-tab-pane" role="tabpanel" aria-labelledby="KnowYourAllotmentUpwardMovement-tab" tabindex="0">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 text-center mb-4">
        <h3>अपना आवंटन जानें (Know Your Allotment)</h3>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <label class="fw-600 form-label">Application Id:</label>
        <input class="form-control" />
        <label class="badge bg-dark">eg: 24XXXXXX</label>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <label class="fw-600 form-label">Date of Birth:</label>
        <input class="form-control" type="date" />
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <label class="fw-600 form-label">Captcha Code:</label>
        <div class="d-flex">
          <img src="images/captchaImg.jpg" />
          <button class="btn btn-outline-warning"><i class="fa fa-refresh"></i></button>
          <input class="form-control" />
        </div>

      </div>
      <div class="col-lg-3 col-md-6 col-sm-12" style="padding-top:35px">
        <button class="btn btn-sm btn-success" type="button"><i class="fa fa-search"></i>&nbsp;Search</button>
        <button class="btn btn-sm btn-danger" type="button"><i class="fa fa-refresh"></i>&nbsp;Reset</button>
      </div>
    </div>
  </div>
</div>
