
<!-- Page Title Start -->
<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">Common Subjects</h4>

    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700">Masters</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700" aria-current="page">Common Subjects</a>
    </div>
  </div>
</div>
<!-- Page Title End -->


<div class="card">
  <div class="card-body p-5">
    <div class="mb-8">
      <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
        <b class="text-1xl-5"><i class="ti ti-search"></i> Enter Search Criteria</b>
        <a routerLink="/addcommonsubjects" class="btn bg-success btn-sm text-white"><i class="ti ti-plus"></i>Add New</a>
      </div>
      <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">
        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Name</label>
          <input type="text" class="form-input" placeholder="Search By Name" id="CommonSubjectName"
            [(ngModel)]="searchRequest.CommonSubjectName">
        </div>
        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Semester</label>
          <select class="form-select" abbr="Search By Semester" id="SemesterID" [(ngModel)]="searchRequest.SemesterID"
            (change)="ddlSemester_Change()">
            <option value="0">--All--</option>
            <option *ngFor="let item of SemestarMasterDDLList" [value]="item.SemesterID">{{item.SemesterName}}</option>
          </select>
        </div>

        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Subject</label>
          <select class="form-select" abbr="Search By Subject" id="SubjectID" [(ngModel)]="searchRequest.SubjectID">
            <option value="0">--All--</option>
            <option *ngFor="let item of SubjectMasterDDLList" [value]="item.ID">{{item.Name}}</option>
          </select>
        </div>
        <div>
          <button type="button" class="btn bg-info text-white mt-6" (click)="GetAllData()">Search</button>
          <button type="button" class="btn bg-danger text-white mt-6" (click)="ClearSearchData()"><i
              class="ti ti-refresh"></i> Reset</button>
        </div>

      </div>


    </div>
    <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
      <b class="text-1xl-5"><i class="ti ti-list"></i> Search Results</b>
    </div>
    <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">
      <div class="">
        <select id="ddlConter" class="form-select  couterDropDown">
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="500">500</option>
          <option value="1000">1000</option>
        </select>
      </div>
      <div class=""></div>
      <div class=""></div>
      <div class="">
        <input class="form-input" placeholder="Search....." [(ngModel)]="Table_SearchText" />
      </div>
    </div>

    <div class="overflow-auto mt-3">
      <table class="table table-border w-full" cellpadding="5">
        <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">
          <tr>
            <th>Sr. No.</th>
            <th class="text-left">Name</th>
            <th class="text-left">Semester</th>
            <th class="text-left">Stream Subjects</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of CommonSubjectList | tableSearchFilter:Table_SearchText;let idx=index;">
            <td>{{idx+1}}</td>
            <td class="lg:whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">{{row.CommonSubjectName}}</td>
            <td class="lg:whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">{{row.SemesterName}}</td>
            <td class="lg:whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">{{row.SubjectNames}}</td>
            <td class="lg:whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">
              <div class="flex align-center justify-center actionBtns w-auto" style="width:auto !important">
                <a [routerLink]="'/addcommonsubjects'" [queryParams]="{commonSubjectId:row.CommonSubjectID}" title="Edit"><i
                    class="ti ti-pencil"></i></a>
                <a href="javascript:void(0);" title="Delete" (click)="DeleteById(row.CommonSubjectID)"><i
                    class="ti ti-trash"></i></a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- end row -->
