<!-- Page Title Start -->
<app-loader></app-loader>
<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">Equipments Master</h4>

    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700">Dashboard</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700" aria-current="page">Equipments Master</a>
    </div>
  </div>
</div>
<!-- Page Title End -->
<div class="card">
  <div class="card-body p-5">
    <div class="mb-8">
      <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
        <b class="text-1xl-5"><i class="ti ti-plus"></i>  Add Equipments Master</b>
      </div>
      <form [formGroup]="EquipmentsRequestFormGroup">

        <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">

          <div>
            <label class="text-gray-800 text-sm font-medium inline-block mb-1">
              Category: <span class="StarMarking">*</span>
            </label>
            <ng-select formControlName="itemCategoryId" [(ngModel)]="request.ItemCategoryId" [items]="CategoryDDLList" bindLabel="Name"
                       bindValue="ItemCategoryID" placeholder="--Select--" [searchable]="true" [clearable]="true"
                       [searchFn]="customSearch" [loading]="isLoading" [loadingText]="'Loading...'">
            </ng-select>

            <div *ngIf="isSubmitted && _EquipmentsRequestFormGroup.itemCategoryId.errors" class="text-danger">
              <p *ngIf="!_EquipmentsRequestFormGroup.itemCategoryId.errors.DropdownValidators">
                <i aria-hidden="true"></i>This field is required.
              </p>
            </div>
          </div>

          <div>
            <label class="text-gray-800 text-sm font-medium inline-block mb-1">
              Name <span class="StarMarking">*</span>
            </label>
            <input type="text" placeholder="Name" class="form-input" id="txtName" name="Name" formControlName="txtName" [(ngModel)]="request.Name">
            <div *ngIf="isSubmitted && _EquipmentsRequestFormGroup.txtName.errors" class="text-danger">
              <p *ngIf="_EquipmentsRequestFormGroup.txtName.errors.required">
                <i aria-hidden="true"></i>
                This field is required .!
              </p>

            </div>

          </div>


          <div>
            <label class="text-gray-800 text-sm font-medium inline-block mb-1">
              Unit: <span class="StarMarking">*</span>
            </label>
            <select class="form-select" id="UnitId" formControlName="UnitId"
                    [(ngModel)]="request.UnitId">
              <option value="0">Choose Option</option>
              <option *ngFor="let item of UnitDDLList" [value]="item.UnitId">{{item.UnitName}}</option>
            </select>
            <div *ngIf="isSubmitted && _EquipmentsRequestFormGroup.UnitId.errors" class="text-danger">
              <p *ngIf="!_EquipmentsRequestFormGroup.UnitId.errors.DropdownValidators">
                <i aria-hidden="true"></i>This field is required.!
              </p>
            </div>
          </div>

          <div>
            <label class="text-gray-800 text-sm font-medium inline-block mb-1">
              Specification <span class="StarMarking">*</span>
            </label>
            <textarea class="form-input" id="Specification" formControlName="Specification" [(ngModel)]="request.Specification"></textarea>
            <div *ngIf="isSubmitted && _EquipmentsRequestFormGroup.Specification.errors?.required" class="text-danger">
              <p>This field is required!</p>
            </div>
          </div>

          <div>
            <!--<button type="button" class="btn bg-info text-white mt-6" id="btnSave" (click)="saveData()">
              {{ isEditMode ? 'Update' : 'Submit' }}
            </button>-->

            <button type="submit" class="btn bg-info text-white mt-6 me-1" (click)="saveData()">
              {{ isUpdate ? 'Update' : 'Submit' }}
            </button>

            <button type="button" class="btn bg-danger text-white mt-6" id="btnReset"
                    (click)="ResetControl()">
              Cancel
            </button>
          </div>
        </div>
      </form>

    </div>
    <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
      <b class="text-1xl-5"><i class="ti ti-list"></i> Equipments List</b>
    </div>
    <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">
      <div class="">
        <select id="ddlConter" class="form-select  couterDropDown">
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="500">500</option>
          <option value="1000">1000</option>
        </select>
      </div>
      <div class="">
      </div>
      <div class="">
      </div>
      <div class="">
        <input class="form-input" placeholder="Search....." [(ngModel)]="Table_SearchText" />
      </div>
    </div>
    <div class="overflow-x-auto mt-3">
      <table class="table table-border w-full table-auto" cellpadding="5">
        <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">
          <tr>
            <th class="text-left">Sr. No.</th>
            <th class="text-left">Category</th>
            <th class="text-left">Name</th>
            <th class="text-left">Specification</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of EquipmentsMasterList  | tableSearchFilter:Table_SearchText;let idx=index;">
            <td align="left">{{idx+1}}</td>
            <td align="left">{{item.ItemCategoryName}}</td>
            <td align="left">{{item.Name}}</td>
            <td align="left">{{item.Specification}}</td>
            <td>
              <div class="flex align-center justify-center actionBtns w-auto" style="width:auto !important">
                <!--<a href="DteEquipmentsMaster?id={{item.EquipmentsId}}" title="Edit"><i class="ti ti-pencil"></i></a>-->
                <a href="javascript:void(0)" (click)="btnEdit_OnClick(item.EquipmentsId)" title="Edit"><i class="ti ti-pencil"></i></a>
                <!--<a href="javascript:void(0)" (click)="btnDelete_OnClick(item.EquipmentsId)" title="Delete"><i class="ti ti-trash"></i> </a>-->
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- end row -->
