
<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">Application List</h4>
    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700">Dashboard</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700" aria-current="page">Application List</a>
    </div>
  </div>
</div>
<!-- Page Title End -->

<div class="card">
  <div class="card-body p-5">
    <div class="mb-8">
      <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
        <b class="text-1xl-5"><i class="ti ti-search"></i> Enter Search Criteria</b>
      </div>
      <div>
        <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">
          <div>
            <label class="text-gray-800 text-sm font-medium inline-block mb-1"> Status </label>
            <select class="form-select" id="status"
                [(ngModel)]="searchRequest.status"
                (change)="ApplicationList_ForPrinciple_THTE()">
              <option value="0">--All--</option>
              <option *ngFor="let item of StatusListDDL" value="{{item.ID}}">
                {{item.Name}}
              </option>
            </select>
          </div>

          <div>
            <button type="button" class="btn bg-info text-white mt-6" (click)="ApplicationList_ForPrinciple_THTE()">Search</button>
            <button type="button" class="btn bg-danger text-white mt-6" (click)="btn_Clear()">Clear</button>
            </div>
        </div>
        
      </div>
    </div>
    <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
      <b class="text-1xl-5"><i class="ti ti-list"></i> Search Results</b>
      <div class="flex justify-end flex-wrap items-center">
        <!-- <a href="javascript:void(0);" class="btn bg-info btn-sm text-white" (click)="exportToExcel()"><i class="ti ti-download"></i> Download Reports in Excel</a> -->
        <select id="ddlConter" class="form-select couterDropDown me-2" [(ngModel)]="pageInTableSize" (change)="loadInTable()">
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="500">500</option>
          <option value="1000">1000</option>
        </select>
      </div>
    </div>

    <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-3"
        *ngIf="searchRequest.status == 1343">
      <div class="flex">
        <!--*ngIf="MapKeyEng == 1"-->

        <select class="form-select" id="ExamId" [(ngModel)]="status" name="ddlExamstatus">
          <option value="0">--select--</option>
          <option *ngFor="let item of UpdateStatusListDDL" value="{{item.ID}}">{{item.Name}}</option>
        </select>
        <button type="button" class="btn bg-info text-white inline-block" (click)="updateStatusRemark()">Save</button>
      </div>
      <div>
        <span class="mt-2 block" style="font-size:18px">Selected(s): <b>{{totalInTableSelected}}</b></span>
      </div>

    </div>

    <div class="overflow-x-auto mt-3">
      <table class="table table-border w-full table-auto" cellpadding="5">
        <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">
          <tr>
            <th class="text-left" *ngIf="searchRequest.status == 1343">
              <input type="checkbox" class="checkboxSize" [(ngModel)]="AllInTableSelect" (change)="selectInTableAllCheckbox()" />
            </th>
            <th class="text-left">Sr.No.</th>
            <!-- <th class="text-left">Action</th> -->
            <th class="text-left">Name</th>
            <th class="text-left">SSOID</th>
            <th class="text-left">DOB</th>
            <th class="text-left">Joining Date</th>
            <th class="text-left">Applied Institute</th>
            <th class="text-left">Recommended Institute</th>
            <th class="text-left">Applied Course</th>
            <th class="text-left">Committee Name </th>
            <th class="text-left">Committee Document</th>
            <th class="text-left">Status</th>
            <th class="text-left">Remarks</th>
            <th class="text-left">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of paginatedInTableData; let idx=index;">
            <td *ngIf="searchRequest.status == 1343">
              <input type="checkbox" class="checkboxSize" [(ngModel)]="row.Selected"
                     #checkboxInTableSeletedSingle (change)="selectInTableSingleCheckbox(row.Selected, row)">
            </td>
            <td>{{(startInTableIndex+1)+idx}}</td>
            <!-- <td>
    <div class="flex align-center justify-center actionBtns w-auto" style="width:auto !important">
      <a href="javascript:void(0);" title="View Details" (click)="openViewStudentExamDetailsPopup(row.StudentID, row.StudentExamID)"><i class="ti ti-eye"></i></a>
    </div>
  </td> -->
            <td>{{row.TeacherName}}</td>
            <td>{{row.SSOID}}</td>
            <td align="left">{{row.DOB | date: 'dd-MM-yyyy'}}</td>
            <td align="left">{{row.JoiningDate | date: 'dd-MM-yyyy'}}</td>
            <td>
              <a href="javascript:void(0);" type="button" class="btn bg-primary text-white" title="History"
                 (click)="ApplyCollegelist(MyModel_UserInstituteHistory, row.THTEAppID,row)"><i class="ti ti-eye"></i></a>
            </td>
            <td align="left">{{row.SelectedInstitute}}</td>
            <td align="left">{{row.AppliedCourseName}}</td>
            <td align="left">{{row.CommitteeName}}</td>
            <td align="left">
              <div class="flex align-center justify-center actionBtns w-auto" style="width:auto !important">
                <a href="{{appsettingConfig.StaticFileRootPathURL + '/' + row.CommitteeDocument}}"
                   *ngIf="row.Dis_CommitteeDocument !=''" target="_blank"><i class="ti ti-eye"></i></a>
              </div>
              <!--{{row.Dis_CommitteeDocument}}-->
            </td>
            <td align="left">{{row.StatusName}}</td>
            <td align="left">{{row.Remark}}</td>
            <td align="left">
              <div class="flex align-center justify-center actionBtns w-auto" style="width:auto !important">
                <a href="javascript:void(0);" class="btn bg-blue text-red" title="History"
                  (click)="onUserRequestHistorylist(MyModel_UserRequestHistory, row.THTEAppID)"><i class="ti ti-list"></i></a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--pagination-->
    <div class="p-3 paginationBox flex items-center justify-end w-full">
      <span class="block">Record {{startInTableIndex+1}} - {{endInTableIndex}} of {{totalInTableRecord}}</span>
      <div class="paginationBoxItems flex items-center">
        <button (click)="firstInTablePage()" [disabled]="currentInTablePage==1">First</button>
        <button (click)="previousInTablePage()" [disabled]="currentInTablePage==1">Previous</button>
        <input type="number" min="1" max="{{totalInTablePage}}" title="Enter page no." [(ngModel)]="currentInTablePage"
               [disabled]="totalInTablePage==0" (change)="randamInTablePage()" />
        <span class="text-nowrap">Page {{currentInTablePage}} of {{totalInTablePage}}</span>
        <button (click)="nextInTablePage()" [disabled]="currentInTablePage==totalInTablePage || totalInTablePage==0">Next</button>
        <button (click)="lastInTablePage()" [disabled]="currentInTablePage==totalInTablePage || totalInTablePage==0">Last</button>
      </div>
    </div>
    <!--end pagination-->
  </div>
</div>

<!-- otp -->
<app-otpmodal #otpModal></app-otpmodal>

<ng-template #MyModel_UserInstituteHistory let-modal>
  <div class="modal-content">
    <div class="card">
      <div class="card-header flex justify-between items-center">
        <button class="btn bg-info text-white" (click)="CloseModalRequestHistorylist()" type="button"><i class="ti ti-x"></i></button>
      </div>
      <div class="card-body">
        <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
          <b class="text-1xl-5"><i class="ti ti-list"></i>Applied Institute List</b>
          <div class="flex justify-end flex-wrap items-center">
          </div>
        </div>
        <!--{{UserRequestHistoryList|json}}-->
        <div class="overflow-x-auto mt-3">
          <table class="table table-border w-full table-auto" cellpadding="5">
            <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">
              <tr>
                <th class="text-left">S No</th>
                <!-- <th class="text-left">Select</th> -->
                <th class="text-left">Institute Type</th>
                <th class="text-left">Institute Name</th>
                <th class="text-left">Distance(KM)</th>
                <!-- <th class="text-left">Application Status</th> -->
                <th class="text-left">Status</th>
                <th class="text-left">Remarks</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of UserApplyInstituteList; let idx=index;  ">
                <td align="left">{{idx+1}}</td>
                <!-- <td>
                  <input type="radio"
                         name="radiocheck"
                         [value]="row.ID"
                         [(ngModel)]="SelectedInstituteId"
                         (change)="onRadioChange(row)">
                </td> -->
                <td align="left">{{ row.InstituteTypeName }}</td>

                <td align="left">{{ row.CollegeName }}</td>
                <td align="left">{{ row.Distance }}</td>
                <!-- <td align="left">{{ row.StatusName }}</td> -->
                <td align="left">{{ row.InstituteStatus == 1342 ? 'Reject' : 'Accept' }}</td>
                <!-- <td align="left">
                  <select class="form-select" id="StatusID" [(ngModel)]="row.InstituteStatus" name="StatusID">
                    <option value="0">--Choose Status--</option>
                    <option value="1343">Accept</option>
                    <option value="1342">Reject</option>
                  </select>
                </td> -->
                <td align="left">{{ row.Remarks}}</td>
                <!-- <td align="left">
                  <input class="form-input" type="text" name="appliedInstituteDistance"
                    placeholder="Enter Remarks" 
                    [(ngModel)]="row.Remarks"
                    [required]="row.InstituteStatus == 1342"
                    [ngClass]="{'border-red-500': isSubmitted && row.InstituteStatus == 1342 && !row.Remarks}"/>

                  <div *ngIf="isSubmitted && row.InstituteStatus == 1342 && !row.Remarks" class="text-danger text-xs">
                    Remarks are required for rejection.
                  </div>
                </td> -->

              </tr>
              <tr *ngIf="UserRequestHistoryList?.length==0">
                <td colspan="10" class="text-center">No Record Found </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- <div class="card-footer text-center" *ngIf="searchRequest.status == 1341">
        <button type="button" (click)="SaveSelectedInstitute()" class="btn bg-success text-white btn-sm">
          Save
        </button>
      </div> -->
    </div>
  </div>
</ng-template>

<ng-template #MyModel_UserRequestHistory let-modal>
  <div class="modal-content">
    <div class="card">
      <div class="card-header flex justify-between items-center">

        <button class="btn bg-info text-white" (click)="CloseModalRequestHistorylist1()" type="button"><i class="ti ti-x"></i></button>
      </div>
      <div class="card-body">
        <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
          <b class="text-1xl-5"><i class="ti ti-list"></i>Request History</b>
          <div class="flex justify-end flex-wrap items-center">
          </div>
        </div>
        <!--{{UserRequestHistoryList|json}}-->
        <div class="overflow-x-auto mt-3">
          <table class="table table-border w-full table-auto" cellpadding="5">
            <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">
              <tr>
                <th class="text-left">S No</th>
                <th class="text-left">Teacher Name</th>
                <th class="text-left">Status</th>
                <th class="text-left">Remarks</th>
                <th class="text-left">Action Name</th>
                <th class="text-left">Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of UserRequestHistoryList; let idx=index;  ">
                <td align="left">{{idx+1}}</td>
                <td align="left">{{ row.TeacherName }}</td>
                <td align="left">{{ row.StatusName }}</td>
                <td align="left">{{ row.Remarks }}</td>
                <td align="left">{{ row.ActionName }}</td>
                <td align="left">{{ row.ActionDate }}</td>
              </tr>
              <tr *ngIf="UserRequestHistoryList?.length==0">
                <td colspan="10" class="text-center">No Record Found </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="card-footer text-right">
        <button type="button" (click)="CloseModalRequestHistorylist1()" class="btn bg-success text-white btn-sm">
          Close
        </button>
      </div>
    </div> 
  </div>

</ng-template>
