<app-loader> </app-loader>
<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">Staff Transfer Request</h4>

  </div>
</div>
<div class="card">

  <div class="card-body p-5">
    <div class="flex justify-between flex-wrap items-center p-3 mb-3 py-2 bg-light">
      <b class="text-1xl-5"><i class="ti ti-plus"></i> Staff Personal Details</b>
    </div>

    <div class="flex justify-between flex-wrap items-center p-3 mb-3">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <div class="col-md-3">
          <label for="SSOID">SSOID</label>
          <input type="text" id="SSOID" class="form-control"
                 [(ngModel)]="request.SSOID" disabled>
        </div>

        <div class="col-md-3">
          <label for="EmployeeName">Employee Name</label>
          <input type="text" id="EmployeeName" class="form-control"
                 [(ngModel)]="request.EmployeeName" disabled>
        </div>

        <div class="col-md-3">
          <label for="EmployeeDesignation">Designation</label>
          <input type="text" id="EmployeeDesignation" class="form-control"
                 [(ngModel)]="request.EmployeeDesignation" disabled>
        </div>

        <div class="col-md-3">
          <label for="NonGazettedID">
            Staff Type Gazetted non Gazetted 
          </label>

          <select class="form-select"
                  [(ngModel)]="request.NonGazettedID" disabled>
            <option value="0">--select--</option>
            <option *ngFor="let item of GazettedList"
                    [ngValue]="item.ID">
              {{ item.Name }}
            </option>
          </select>
        </div>

      </div>
    </div>
  </div>
  <form [formGroup]="AddTransferRequest">
    <div class="card-body p-5">
      <div class="flex justify-between flex-wrap items-center p-3 mb-3 py-2 bg-light">
        <b class="text-1xl-5"><i class="ti ti-plus"></i>Transfer Request</b>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Transfer Category <span class="StarMarking">*</span></label>
          <select class="form-select" [(ngModel)]="request.TransferCategoryID" formControlName="TransferCategoryID" (change)="TransferCategoryChange()">
            <option value="0">--Select--</option>
            <option *ngFor="let item of GetTransfercateList" [value]="item.ID">{{item.Name}}</option>
          </select>
          <!-- <div *ngIf="isSubmitted&&AddTransferRequest.TransferCategoryID.DropdownValidators" class="text-danger">
                  <p *ngIf="AddTransferRequest.TransferCategoryID.errors.DropdownValidators"><i aria-hidden="true"></i> This field is required .!</p>
          </div> -->
          <div *ngIf="isSubmitted && AddTransferRequest.get('TransferCategoryID').errors" class="text-danger">
            <p *ngIf="!AddTransferRequest.get('TransferCategoryID').errors.required"><i aria-hidden="true"></i>This field is required.</p>
          </div>
        </div>

        <div class="col-md-4">
          <label for="EmployeeName">Reason Description <span class="StarMarking" *ngIf="isStar== true">*</span></label>
          <input type="text" id="ReasonDescription" formControlName="ReasonDescription" class="form-control"
                 [(ngModel)]="request.ReasonDescription">
        </div>

        <div>
          <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                 for="SupportingDocuments ">
            Supporting Documents   :<span class="StarMarking">*</span>
          </label>
          <div class="flex fileUploader">
            <input class="block form-input w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                   id="SupportingDocuments" type="file" (change)="onFilechange($event, 'SupportingDocuments')" formControlName="SupportingDocuments">
            <label for="SupportingDocuments">
              <span>Choose File</span>
              {{request.SupportingDocuments === '' ? 'No File Choosen' : request.SupportingDocuments}}
            </label>
            <div class="flex">
              <a href="{{appsettingConfig.StaticFileRootPathURL + 'BTER_Establishment/TransferRequestDocument/' + request.SupportingDocuments}}"
                 *ngIf="request.SupportingDocuments !=''" class="btn bg-primary text-white m-0" target="_blank"><i class="ti ti-eye"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body p-5">
      <div class="flex justify-between flex-wrap items-center p-3 mb-3 py-2 bg-light">
        <b class="text-1xl-5"><i class="ti ti-plus"></i>Add More Priority</b>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">

        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Office <span class="StarMarking">*</span></label>
          <select class="form-select" [(ngModel)]="req_child.OfficeID" formControlName="OfficeID">
            <option value="0">--Select--</option>
            <option *ngFor="let item of OfficeList" [value]="item.ID">{{item.Name}}</option>
          </select>
          <!-- <div *ngIf="AddTransferRequest.get('OfficeID').errors" class="text-danger">
      <p *ngIf="!AddTransferRequest.get('OfficeID').errors.required"><i aria-hidden="true"></i>This field is required.</p>
    </div> -->
        </div>


        <div *ngIf="req_child.OfficeID == InsOfficeID">
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">
            District:<span class="StarMarking">*</span>
          </label>
          <select class="form-select" [(ngModel)]="req_child.DistrictID" formControlName="ddlDistrictID" (change)="getITICollege()">
            <option value="0">--Select--</option>
            <option *ngFor="let item of DistrictList" [value]="item.ID">{{item.Name}}</option>
          </select>
        </div>

        
        <div *ngIf="req_child.OfficeID == InsOfficeID">
          <label class="text-gray-800 text-sm font-medium inline-block mb-1"> Institute: <span class="StarMarking">*</span></label>
          <select class="form-select" formControlName="ddlCollege" [(ngModel)]="req_child.InstituteID">
            <option value="0">Choose Option</option>
            <option *ngFor="let item of ItiCollegesListAll" value="{{item.ID}}">{{item.Name}}</option>
          </select>
        </div>


        <!-- <div>
    <label class="text-gray-800 text-sm font-medium inline-block mb-1">Post <span class="StarMarking">*</span></label>
    <select class="form-select" [(ngModel)]="req_child.PostID" formControlName="PostID"  [disabled]="true" >
      <option value="0">--Select--</option>
      <option *ngFor="let item of PostList" [value]="item.ID">{{item.Name}}</option>
    </select>
  </div> -->
        <!-- <div>
    <label class="text-gray-800 text-sm font-medium inline-block mb-1">Priority <span class="StarMarking">*</span></label>
    <select class="form-select" formControlName="Priority"
            [(ngModel)]="req_child.Priority"
            disabled>
      <option value="0">--select--</option>
      <option *ngFor="let item of PriorityList"
              [ngValue]="item.ID">
        {{ item.Name }}
      </option>
    </select>
  </div> -->
        <!-- <div *ngIf="AddTransferRequest.get('Priority').errors" class="text-danger">
    <p *ngIf="!AddTransferRequest.get('Priority').errors.required"><i aria-hidden="true"></i>This field is required.</p>
  </div> -->

        <div class="flex gap-4 mt-6">
          <button type="submit" class="btn btn-primary" (click)="addStaffTransferRequest()">Add</button>
        </div>
      </div>
      </div>
  </form>

</div>

<!--{{StaffTransferObject|json}}-->
<!--{{StaffTransferList|json}}-->
<div class="card mt-3">

  <div class="card-body p-5">
    <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
      <b class="text-1xl-5"><i class="ti ti-list"></i>Transfer For  List</b>
    </div>
    <div class="overflow-x-auto mt-4">
      <table class="table table-bordered" *ngIf="StaffTransferList.length > 0">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Office </th>
            <th>Staff Type</th>
            <th>Institute </th>
            <th>District </th>
            <th>Designation </th>
            <th>Priority</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let leave of StaffTransferList;  let idx = index">
            <td class="text-center">{{idx+1}}</td>
            <td>{{ leave.OfficeName }}</td>
            <td>{{ leave.NonGazetteName }}</td>
            <td>{{ leave.InstituteName=='' || leave.InstituteName==null? 'N/A': leave.InstituteName}}</td>
            <td>{{ leave.DistrictName=='' || leave.DistrictName==null? 'N/A': leave.DistrictName}} </td>
            <td>{{ leave.DesignationName }}</td>
            <td>{{ leave.Priority }}</td>
            <td>
              <div class="row-line-btn">
                <!--<button class="btn bg-info text-white" (click)="Function_UpdateVacancyPost(modal_UpdateVacancyPost,leave)">Update</button>-->
                <!--<button class="btn btn-danger btn-sm" (click)="removeLeave(idx, leave.ID)">
                  Remove
                </button>-->

     
              <button class="btn bg-danger text-white" type="button" title="Delete" (click)="deleteRow(idx)">
                <i class="ti ti-trash"></i>
              </button>
              <button class="btn bg-primary text-white" type="button" title="Priority Up" (click)="priorityUp(idx)" [disabled]="idx === 0">
                <i class="ti ti-arrow-narrow-up"></i>
              </button>
              <button class="btn bg-info text-white" type="button" title="Priority Down" (click)="priorityDown(idx)" [disabled]="idx === StaffTransferList.length - 1">
                <i class="ti ti-arrow-narrow-down"></i>
              </button>      
</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="flex justify-center mt-3"
         *ngIf="request.TransferStatus != 2
         && request.TransferStatus != 3
         && request.TransferStatus != 4">
      <button type="submit"
              class="btn btn-success"
              (click)="OnfinalSave()">
        Final Save
      </button>
    </div>
  </div>
</div>



<app-otpmodal #otpModal></app-otpmodal>





