<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">ITI Trade List</h4>

    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a routerLink="/dashboard" class="text-sm font-medium text-slate-700">Dashboard</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a routerLink="/iti-result" class="text-sm font-medium text-slate-700" aria-current="page">ITI Trade List</a>
    </div>
  </div>
</div>

<div class="card">
  <!-- <div class="card-body p-5">
    <button class="btn bg-primary text-white" (click)="loadTradeList()">
      Load Trade List
    </button>
  </div> -->

  <div class="card-body p-5" *ngIf="isGenerated">
    <div class="">
      <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
        <b class="text-1xl-5"><i class="ti ti-search"></i> List</b>
      </div>
      <div class="flex justify-end flex-wrap items-center">
      </div>
    </div>
    <div class="mt-3">
    <!-- <div class="overflow-x-auto mt-3"> for scroll -->
      <table class="table table-border w-full text-left">
        <thead class="bg-light">
          <tr>
            <th>Sr No</th>
            <th>Trade Code</th>
            <th>Trade Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of TradeListData; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ item.TradeCode }}</td>
            <td>{{ item.TradeName }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>