<div class="grid xl:grid-cols-1 lg:grid-cols-1 md:grid-cols-1 gap-6">
  <div class="card tab-panels" id="Tabs1">
    <div class="p-5">
      <div class="card bg-light mb-8">
        <div class="card-body text-center">
          <p><b>Helpline Number (For Diploma First Year):</b> 0291-2949424, 0291-2649439, 6367673146 (Whatsapp Only)</p>
          <p><b>For queries contact email id:</b> gpc.jodhpur2023&#64;gmail.com</p>
        </div>
      </div>
      <div class="grid xl:grid-cols-3 lg:grid-cols-3 md:grid-cols-1 gap-6 mb-6">
        <div class="card">
          <div class="card-header bg-light">
            <b><i class="ti ti-download"></i> Downloads</b>
          </div>
          <div class="card-body overflow250px">
            <ul class="scrollDocList">
              <li>

                <span><i class="ti ti-download"></i> Advertisement 2023-24 </span>


              </li>
              <li>
                <span><i class="ti ti-download"></i> Calender 2023-24</span>

              </li>
              <li>
                <span><i class="ti ti-download"></i> Annexures</span>

              </li>
              <li>
                <span><i class="ti ti-download"></i> Vivrinkia 2023-24</span>
              </li>
              <li>
                <span><i class="ti ti-download"></i> EWS CIRCULAR (2022-23)</span>

              </li>
              <li>
                <span><i class="ti ti-download"></i> User manual स्टेप बाई स्टेप ऑनलाइन फॉर्म भरने का तरीका</span>
              </li>
              <li>
                <span><i class="ti ti-download"></i> Seat Matrix 2023-24 </span>
              </li>
              <li>
                <span><i class="ti ti-download"></i> List of Rejected Applications</span>

              </li>
              <li>

                <span><i class="ti ti-download"></i> Provisional Merit List</span>

              </li>
              <li>
                <span><i class="ti ti-download"></i> Final Merit List</span>

              </li>
              <li>
                <span><i class="ti ti-download"></i> 1st Seat Allotment</span>

              </li>
              <li>
                <span><i class="ti ti-download"></i> Applications received for Upward Movement</span>

              </li>
              <li>
                <span><i class="ti ti-download"></i> 1st list Reported &amp; after Upward movement list</span>

              </li>
              <li>
                <span><i class="ti ti-download"></i> Second Allotment List</span>

              </li>
              <li>
                <span><i class="ti ti-download"></i> TENTATIVE VACANT SEATS FOR DIRECT ADMISSION </span>

              </li>
            </ul>
          </div>
        </div>
        <div class="card">
          <div class="card-header bg-light">
            <b><i class="ti ti-brand-days-counter"></i> Highlights</b>
          </div>
          <div class="card-body overflow250px">
            <ul class="scrollDocList">
              <li>
                <span><i class="ti ti-brand-days-counter"></i> पोर्टल पर आवेदन पत्र Submit करने की प्रारंभ तिथि</span>
                <small>
                  12/07/2023
                </small>

              </li>
              <li>
                <span><i class="ti ti-brand-days-counter"></i> पोर्टल पर आवेदन पत्र Submit करने की अंतिम तिथि</span>

              </li>
              <li>
                <span><i class="ti ti-brand-days-counter"></i> ई-मित्र पर आवेदन शुल्क जमा करने की प्रारंभ तिथि</span>

              </li>
              <li>
                <span><i class="ti ti-brand-days-counter"></i> ई-मित्र पर आवेदन शुल्क जमा करने की अंतिम तिथि</span>

              </li>
            </ul>
          </div>
        </div>
        <div class="card">
          <div class="card-header bg-light">
            <b><i class="ti ti-notes"></i>  Notes</b>
          </div>
          <div class="card-body overflow250px">
            <ul class="scrollDocList">
              <li>
                <span><i class="ti ti-brand-days-counter"></i> No Record Found</span>


              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
