<!-- Page Title Start -->

<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">Create Sub User</h4>

    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700">Masters</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700" aria-current="page">Create Sub User</a>
    </div>
  </div>
</div>
<!-- Page Title End -->


<div class="card">
  <div class="card-body p-5">
    <div class="mb-8">
      <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
        <b class="text-1xl-5"><i class="ti ti-search"></i> Enter Search Criteria</b>
        <!--<a href="/AddCompany" class="btn bg-success btn-sm text-white"><i class="ti ti-plus"></i>Add New Marksheet Issue Date</a>-->
        <a href="javascript:void(0);" (click)="ViewandUpdate(MyModel_Action,0,0,0)" class="btn bg-success btn-sm text-white"><i class="ti ti-plus"></i>Add New Sub User</a>
      </div>
      <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">

        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Name</label>
          <input type="text" class="form-input" placeholder="Name" id="Name" [(ngModel)]="searchRequest.Name">
        </div>

        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Contact SSO</label>
          <input type="text" class="form-input" placeholder="Contact SSO Number" id="MobileNo" [(ngModel)]="searchRequest.MobileNo" maxlength="10">
          
        </div>

        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Email</label>
          <input type="email" class="form-input" placeholder="Email" id="Email" [(ngModel)]="searchRequest.Email">
        </div>

        <div>
          <button type="button" class="btn bg-info text-white mt-6" (click)="GetAllData()">Search</button>
          <button type="button" class="btn bg-danger text-white mt-6" (click)="ClearSearchData()">
            <i class="ti ti-refresh"></i>
            Reset
          </button>
        </div>

      </div>


    </div>
    <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
      <b class="text-1xl-5"><i class="ti ti-list"></i> Search Results</b>
    </div>
    <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">
      <div class="">
        <select id="ddlConter" class="form-select  couterDropDown">
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="500">500</option>
          <option value="1000">1000</option>
        </select>
      </div>
      <div class=""></div>
      <div class=""></div>
      <div class="">
        <input class="form-input" placeholder="Search....." [(ngModel)]="Table_SearchText" />
      </div>
    </div>

    <div class="overflow-auto mt-3">
      <table class="table table-border w-full" cellpadding="5">
        <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">
          <tr>
            <th>Sr. No.</th>
            <th class="text-left">
              Name
            </th>
            <th class="text-left">SSO User Name</th>
            <th class="text-left">Email</th>
            <th class="text-left">Mobile Number</th>
            <th class="text-left">Role Name</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Admi of AdminUserList  | tableSearchFilter:Table_SearchText;let idx=index;  ">
            <td>{{idx+1}}</td>
            <td class="lg:whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">{{Admi.Name}}</td>
            <td class="lg:whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">{{Admi.SSOID}}</td>
            <td class="lg:whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">{{Admi.Email}}</td>
            <td class="lg:whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">{{maskMobileNumber(Admi.MobileNo)}}</td>
            <td class="lg:whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">{{Admi.RoleNameEnglish}}</td>
            <td class="lg:whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">
              <div class="flex align-center justify-center actionBtns w-auto" style="width:auto !important">
                <a href="javascript:void(0);" (click)="ViewandUpdate(MyModel_Action,Admi.UserID,Admi.UserAdditionID,Admi.ProfileID)" title="Edit"><i class="ti ti-pencil"></i></a>
                <a href="javascript:void(0);" title="Delete" (click)="DeleteById(Admi.UserID,Admi.UserAdditionID,Admi.ProfileID)"><i class="ti ti-trash"></i></a>
                <a [routerLink]="'/PrincipleMenuRight'" [queryParams]="{id:Admi.UserID,type:1}" id="btnRoleMenuRight" title="Role Menu Right"><i class="ti ti-plus"></i></a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- end row -->

<ng-template #MyModel_Action let-modal class="w-full h-full fixed top-0 left-0 z-[80] transition-all duration-500 overflow-y-auto [--overlay-backdrop:static] hidden">
  <div class="modal-content">

    <div class="card">
      <div class="card-header flex justify-between  items-center">
        <b><i class="fa fa-plus"></i>&nbsp; Admin User (Add/Edit)</b>
        <button class="btn bg-info text-white" (click)="CloseModalPopup()"><i class="ti ti-x"></i></button>
      </div>
      <form [formGroup]="AdminUserFormGroup" id="AdminUserFormGroup" class="form-horizontal">
        <div class="card">
          <div class="card-body p-5">
            <div class="mb-8">
              <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
                <b class="text-1xl-5"><i class="ti ti-plus"></i> {{ IsView ? 'Update Admin User' : 'Add New Admin User' }}</b>
              </div>
              <div class="grid 2xl:grid-cols-3 xl:grid-cols-3 lg:grid-cols-2 md:grid-cols-2 grid-cols-1 gap-3">

                <div>
                  <label for="txtUserName" class="text-gray-800 text-sm font-medium inline-block mb-2">
                    Admin User Name<span class="StarMarking">*</span>
                  </label>
                  <input type="text" class="form-input" id="txtUserName" placeholder="Name" name="txtUserName" formControlName="txtUserName"
                         [(ngModel)]="request.Name">
                  <div *ngIf="isSubmitted && _AdminUserFormGroup.txtUserName.errors" class="text-danger">
                    <p *ngIf="_AdminUserFormGroup.txtUserName.errors.required">
                      <i aria-hidden="true"></i> This field is
                      required.!
                    </p>
                  </div>
                </div>

                <div>
                  <label for="txtMobileNo" class="text-gray-800 text-sm font-medium inline-block mb-2">
                    Mobile No<span class="StarMarking">*</span>
                  </label>
                  <input type="text" class="form-input" id="txtMobileNo" placeholder="Mobile Number" name="txtMobileNo" formControlName="txtMobileNo"
                         [(ngModel)]="request.MobileNo" maxlength="10">
                  <div *ngIf="isSubmitted&&_AdminUserFormGroup.txtMobileNo.errors" class="text-danger">
                    <p *ngIf="_AdminUserFormGroup.txtMobileNo.errors.required">
                      <i aria-hidden="true"></i> This field is
                      required .!
                    </p>
                  </div>
                </div>

                <div>
                  <label for="txtSSOID" class="text-gray-800 text-sm font-medium inline-block mb-2">
                    SSO ID<span class="StarMarking">*</span>
                  </label>
                  <input type="text" class="form-input" id="txtSSOID" placeholder="Enter SSOID" name="txtSSOID" formControlName="txtSSOID"
                         [(ngModel)]="request.SSOID">
                  <div *ngIf="isSubmitted&&_AdminUserFormGroup.txtSSOID.errors" class="text-danger">
                    <p *ngIf="_AdminUserFormGroup.txtSSOID.errors.required">
                      <i aria-hidden="true"></i> This field is
                      required .!
                    </p>
                    <p *ngIf="_AdminUserFormGroup.txtSSOID.errors.pattern">
                      <i aria-hidden="true"></i> Please Enter valid SSSOID .!
                    </p>
                  </div>
                </div>
                <div *ngIf="this.sSOLoginDataModel.RoleID == _enumrole.Principal || this.sSOLoginDataModel.RoleID == _enumrole.PrincipalNon">
                  <label for="ddlRole" class="text-gray-800 text-sm font-medium inline-block mb-2">
                    Role<span class="StarMarking">*</span>
                  </label>
                  <select class="form-select" id="ddlRole" name="ddlRole" [(ngModel)]="request.UserRole"
                          formControlName="ddlRole">
                    <option value="0" disabled>-- Select --</option>
                    <option *ngFor="let item of RoleMasterList" value="{{item.ID}}">{{item.Name}}</option>
                  </select>
                  <div *ngIf="isSubmitted&&_AdminUserFormGroup.ddlRole.errors" class="text-danger">
                    <p *ngIf="!_AdminUserFormGroup.ddlRole.errors.DropdownValidators"><i aria-hidden="true"></i>This field is required .!</p>
                  </div>
                </div>

                <div>
                  <label for="txtUserEmail" class="text-gray-800 text-sm font-medium inline-block mb-2">
                    User Email<span class="StarMarking">*</span>
                  </label>
                  <input type="email" class="form-input" id="txtUserEmail" placeholder="User Email" name="txtUserEmail"
                         formControlName="txtUserEmail" [(ngModel)]="request.Email">
                  <div *ngIf="isSubmitted&&_AdminUserFormGroup.txtUserEmail.errors" class="text-danger">
                    <p *ngIf="_AdminUserFormGroup.txtUserEmail.errors.required">
                      <i aria-hidden="true"></i> This field is
                      required .!
                    </p>
                  </div>
                </div>

                <div>
                  <label for="txtUserEmail" class="text-gray-800 text-sm font-medium inline-block mb-2">
                    Is Citizen Query User<span class="StarMarking">*</span>
                  </label>
                  <select class="form-select" id="ddlIsCitizenQueryUser" name="IsCitizenQueryUser" [(ngModel)]="request.IsCitizenQueryUser"
                          formControlName="IsCitizenQueryUser">
                    <option [ngValue]="false">No</option>
                    <option [ngValue]="true">Yes</option>
                  </select>

                </div>

                <div *ngIf="request.IsCitizenQueryUser">
                  <label for="txtUserEmail" class="text-gray-800 text-sm font-medium inline-block mb-2">
                    Query Type<span class="StarMarking">*</span>
                  </label>
                  <select class="form-select" id="QueryType" name="QueryType" [(ngModel)]="request.QueryType"
                          formControlName="QueryType">
                    <option value="0">--- Choose Query Type ---</option>
                    <option *ngFor="let item of SubMasterList" value="{{item.ID}}">{{item.Name}}</option>
                  </select>
                  <div *ngIf="isSubmitted&&_AdminUserFormGroup.QueryType.errors" class="text-danger">
                    <p *ngIf="!_AdminUserFormGroup.QueryType.errors.DropdownValidators"><i aria-hidden="true"></i>This field is required .!</p>
                  </div>
                </div>

              </div>
              <div class="grid 2xl:grid-cols-1 xl:grid-cols-1 lg:grid-cols-1 md:grid-cols-1 grid-cols-1 gap-3">
                <div class="text-center">
                  <button type="button" class="btn bg-info text-white mt-6" id="btnSave" (click)="SaveData()">{{ IsView ? 'Update' : 'Submit' }}</button>
                  <button type="button" class="btn bg-danger text-white mt-6" id="btnReset" (click)="ResetControls()">
                    <i class="ti ti-refresh"></i> Reset
                  </button>
                </div>

              </div>


            </div>
          </div>

        </div>
      </form>
    </div>

  </div>
</ng-template>
