<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <h4 class="text-slate-900 text-lg font-medium mb-2">Dashboard</h4>
</div>
<div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-4 md:grid-cols-2 gap-6 mb-6 allStatics">
  <div class="card" *ngFor="let row of HostelDashboardList">
    <div class="p-5">
      <span class="material-symbols-rounded float-end text-3xl text-default-400">{{row.DasbhoardIcon}}</span>
      <h6 class="text-muted text-sm uppercase">{{row.StatusText}}</h6>
      <h3 class="text-2xl mb-3" data-plugin="counterup">{{row.TotalCount}}</h3>
      <a  [routerLink]="['/' + row.RedirectURL]" [queryParams]="{ status: row.Status }"
        class="block w-full text-center gap-1.5 py-0.5 px-1.5 text-xs font-medium bg-success text-white rounded me-1">View All <i class="ti ti-chevron-right"></i></a>
    </div>
  </div>
</div>

<!-- routerLink="/{{row.RedirectURL}}" change from a tag by Ramesh on 03-09-2025  -->  

<ng-template #modal_GenrateOTP let-modal class=" h-full fixed top-0 left-0 z-[80] transition-all duration-500 overflow-y-auto [--overlay-backdrop:static] hidden">
  <div class="modal-content">
   
      <div class="card">
        <div class="card-header flex justify-between items-center">
          <b>&nbsp;Multi Hostel Warden Manage </b>
        </div>

        <div class="card-body">
          <div class="grid 2xl:grid-cols-1 xl:grid-cols-1 lg:grid-cols-1 md:grid-cols-1 grid-cols-1 gap-3">
            <button type="button" class="btn bg-info text-white" (click)="ChangeHostelWarden(row.HostelName, row.HostelID)" [(ngModel)]="rquestfrom.HostelID" *ngFor="let row of MultiHostelWardenRoleList; ">
              {{row.HostelName}}
            </button>
          </div>
        </div>
      </div>
  </div>

</ng-template>
