<!--Page Title Start-->
<app-loader></app-loader>
<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">Issue Item</h4>

    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700">Dashboard</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700" aria-current="page">
        {{ItemId>0?'Edit':'Add'}}
        Item
      </a>
    </div>
  </div>
  <!--<a href="DteItemsMasterList" class="inline-flex items-center btn bg-dark text-white btn-sm">-->
  <a [routerLink]="['/iti-items-master-list']" class="inline-flex items-center btn bg-dark text-white btn-sm">
    <i class="ti ti-chevron-left"></i> Back
  </a>
</div>
<!--Page Title End-->

<div class="card" style=" overflow: visible;">
  <div class="card-body p-5">
    <div class="flex justify-between items-center mb-4 p-3 py-2 bg-light">
      <b class="text-1xl-5"><i class="ti ti-plus"></i>{{ItemId>0?'Edit':'Add'}} Item</b>
    </div>
    <form [formGroup]="AddItemsRequestFormGroup" (ngSubmit)="saveData()">
      <div class="grid 2xl:grid-cols-3 xl:grid-cols-3 lg:grid-cols-2 md:grid-cols-2 grid-cols-1 gap-4">

        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">
            Staff Members: <span class="StarMarking">*</span>
          </label>
          <ng-select formControlName="StaffID" [(ngModel)]="request.StaffID" [items]="StaffDDLList" bindLabel="staffName"
                     bindValue="staffID" placeholder="--Select--" [searchable]="true" [clearable]="false"
                   [loading]="isLoading" [loadingText]="'Loading...'">
          </ng-select>

          <div *ngIf="isSubmitted && _AddItemsRequestFormGroup.ItemType.errors" class="text-danger">
            <p *ngIf="!_AddItemsRequestFormGroup.ItemType.errors.DropdownValidators">
              <i aria-hidden="true"></i>This field is required.
            </p>
          </div>
        </div>


        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">
            Trade List: <span class="StarMarking">*</span>
          </label>
          <ng-select formControlName="TradeId" [(ngModel)]="request.TradeId" [items]="TradeDDLList" bindLabel="TradeName"
                     bindValue="TradeId" placeholder="--Select--" [searchable]="true" [clearable]="false"
                      (change)="ddlTrade_Change()" [loading]="isLoading" [loadingText]="'Loading...'">
          </ng-select>

          <div *ngIf="isSubmitted && _AddItemsRequestFormGroup.ItemCategoryId.errors" class="text-danger">
            <p *ngIf="!_AddItemsRequestFormGroup.ItemCategoryId.errors.DropdownValidators">
              <i aria-hidden="true"></i>This field is required.
            </p>
          </div>
        </div>

        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">
            Catogary List: <span class="StarMarking">*</span>
          </label>
          <ng-select formControlName="EquipmentsId" [(ngModel)]="request.EquipmentsId" [items]="CatogaryDDLList" bindLabel="Name"
                     bindValue="ID" placeholder="--Select--" [searchable]="true" [clearable]="false" 
                     (change)="DGET_Details()" [loading]="isLoading" [loadingText]="'Loading...'">
            <ng-option *ngFor="let item of CatogaryDDLList" [value]="item.EquipmentsId">{{ item.Name }}</ng-option>
          </ng-select>

          <div *ngIf="isSubmitted && _AddItemsRequestFormGroup.EquipmentsId.errors" class="text-danger">
            <p *ngIf="!_AddItemsRequestFormGroup.EquipmentsId.errors.DropdownValidators">
              <i aria-hidden="true"></i>This field is required.
            </p>
          </div>
        </div>




      </div>

      <!--<div class="grid xl:grid-cols-1 lg:grid-cols-1 md:grid-cols-1 gap-6 mt-4">
        <div class="text-center">
          <button type="submit" class="btn bg-info text-white mt-6 me-1">Submit</button>
          <button type="button" id="btnReset" (click)="ResetControl()" class="btn bg-danger text-white">
            <i class="ti ti-refresh"></i> Reset
          </button>
        </div>
      </div>-->
    </form>

    <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
      <b class="text-1xl-5"><i class="ti ti-list"></i> Search Results</b>
      <div class="flex justify-end flex-wrap items-center">
        <a href="javascript:void(0);" class="btn bg-info btn-sm text-white"><i class="ti ti-download"></i> Download Reports in Execl</a>
        <select id="ddlConter" class="form-select couterDropDown me-2">
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="500">500</option>
          <option value="1000">1000</option>
        </select>
      </div>

    </div>

    <div class="overflow-x-auto mt-3">
      <table class="table table-border w-full table-auto" cellpadding="5">
        <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">
          <tr>
            <th >
              <input type="checkbox" class="checkboxSize"/>
            </th>
            <th class="text-left">Sr.No.</th>
            <th class="text-center">Action</th>
            <!--sorting column-->
            <th class="text-left cursorHand" title="Click to sorting" >
              Item Code
            
            </th>
            <th class="text-left cursorHand" title="Click to sorting">
              Item Name

            </th>
            <th class="text-left cursorHand" title="Click to sorting" >
              Equipment ID
          
            </th>
            <th class="text-left cursorHand" title="Click to sorting" >
              Catogary ID
             
            </th>
            <th class="text-left cursorHand" title="Click to sorting" >
              Company Name
          
            </th>
          

          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let row of ItemsDDLList; let idx=index; ">

            <td>{{row.ItemCode}}</td>
            <td>{{row.Name}}</td>
            <td>{{row.EquipmentName}}</td>
            <td>{{row.CatogaryId}}</td>
            <td>{{row.CompanyName}}</td>

          </tr>
        </tbody>
      </table>
    </div>



  </div>
</div>








