<div class="">
  <div class="flex justify-between items-center mb-4">
    <div>
      <h2 class="dashboard-title mb-0"> Establishment Dashboard</h2>
      <!-- <small class="text-muted">DTE - T2</small> -->
    </div>
  </div>
  <div class="grid grid-cols-1 lg:grid-cols-4 md:grid-cols-2 xl:grid-cols-4 2xl:grid-cols-4 gap-5">
    <div class=" " *ngFor="let row of dashboardData?.Establishment; let i = index">
      <div class="card top-card" [ngClass]="row.bgClass">
        <div class="card-body flex justify-between items-center">
          <div class="flex gap-3 items-center">
            <div class="icon-box bg-white" [ngClass]="row.bgClassIcon">
              <i [ngClass]="row.SRC"></i>
            </div>
            <div>
              <div>
                <p>{{row.TotalText}}</p>
              </div>
              <div class="big-count blue fs-1">
                <a [routerLink]="['/',row.URL]" [queryParams]="{status: row.Status, act: row.Action }" >
                  <h2 class="big-count fs-1" [ngClass]="row.countTextColor">{{row.TotalCount}}</h2>
                </a>
              </div>
            </div>
          </div>
          <i [ngClass]="row.bottomIcon"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="grid  xl:grid-cols-1 lg:grid-cols-1 md:grid-cols-1 grid-cols-1 2xl:grid-cols-1 gap-3 mb-5 mt-6">
    <div >
      <div class="section">
        <div class="section-header planning"><i class="bi bi-building-fill"></i> Relieving &amp; Joining</div>
        <div class="section-body">
          <div class="grid grid-cols-1 2xl:grid-cols-6 xl:grid-cols-6 lg:grid-cols-4 md:grid-cols-3 gap-5 mt-5 mb-5">

            <div class=" " *ngFor="let row of dashboardData?.RelievingJoining; let i = index">
              <div class="card mini-card">
                <div class="card-body h-100">
                  <div class=" ">
                    <div><i [ngClass]="[row.SRC, row.bgClassIcon]"></i></div>
                    <div>{{row.TotalText}}</div>
                    <a [routerLink]="['/',row.URL]" [queryParams]="{status:row.Status, act: row.Action }" >
                      <div class="count mt-2" [ngClass]="row.countTextColor">{{row.TotalCount}}</div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>
  

  <div class="grid  xl:grid-cols-2 lg:grid-cols-2 md:grid-cols-2 grid-cols-1 gap-3 mb-5">
    <div >
      <div class="section">
        <div class="section-header planning"><i class="bi bi-building-fill"></i> Short-term Training Course</div>
        <div class="section-body">
          <div class="grid xl:grid-cols-3 lg:grid-cols-3 md:grid-cols-3 grid-cols-1 gap-3 mb-5 theme-attendance">
            <div *ngFor="let i of STC_DashboardTiles">
              <div class="item-card">
                <i class="icon {{i.SRC}} icon-blue"></i>
                <div class="label" [innerHTML]="i.TotalText"></div>
                <div class="number" *ngIf="i.TotalCount">{{i.TotalCount}}</div>
                <a class="view" [routerLink]="'/' + i.URL">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class= "">
      <div class="section">
        <div class="section-header establishment"><i class="bi bi-people-fill"></i> Higher Technical Education</div>
        <div class="section-body">
          <div class="grid  xl:grid-cols-3 lg:grid-cols-3 md:grid-cols-3 grid-cols-1 gap-3 mb-5 theme-attendance">
            <div class="4"><div class="item-card"><i class="icon bi bi-people-fill icon-green"></i><div class="label">Department Office Staff</div><div class="number">256</div><a class="view" href="#">View Details</a></div></div>
            <div class=""><div class="item-card"><i class="icon bi bi-border-style icon-green"></i><div class="label">Office Vacancy List</div><div class="number">78</div><a class="view" href="#">View Details</a></div></div>
            <div class=""><div class="item-card"><i class="icon bi bi-arrow-repeat icon-cyan"></i><div class="label">DDO Relieving &amp; Joining</div><div class="number">34</div><a class="view" href="#">View Details</a></div></div>
          </div>
        </div>
      </div>
    </div> -->
  </div>

</div>