<div class="flex items-center justify-between flex-wrap gap-2 mb-6" >
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">Add Staff Training Details</h4>
    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700">Dashboard</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700">Add Staff Training Details</a>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body p-5">
    <div class="flex justify-between items-center mb-4 p-3 py-2 bg-light">
      <b class="text-1xl-5"><i class="ti ti-plus"></i>Add Staff Service Details</b>
    </div>
    <form [formGroup]="AddTrainingDetailsFromGroup">
      <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-2 md:grid-cols-2 grid-cols-1 gap-4">

        <div>
          <label for="OrganizinglnstituteName" class="text-gray-800 text-sm font-medium inline-block mb-2">
            Organizing lnstitute Name: <span class="StarMarking">*</span>
          </label>
          <input type="text" class="form-input" id="OrganizinglnstituteName" name="OrganizinglnstituteName" formControlName="OrganizinglnstituteName"
                 [(ngModel)]="request.OrganizinglnstituteName" placeholder="Organizing lnstitute Name">
          <div *ngIf="isSubmitted && _AddTrainingDetailsFromGroup.OrganizinglnstituteName.errors?.required" class="text-danger">
            <p>This field is required!</p>
          </div>
        </div>

        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">
            Course Type: <span class="StarMarking">*</span>
          </label>
          <select class="form-select" id="CourseType" [(ngModel)]="request.CourseType" formControlName="CourseType">
            <option [value]="0">--- Choose Course Type --- </option>
            <option *ngFor="let item of EM_TrainingCourseTypeList" [value]="item.ID">{{item.Name}}</option>
          </select>

          <div *ngIf="isSubmitted && _AddTrainingDetailsFromGroup.CourseType.errors" class="text-danger">
            <p *ngIf="!_AddTrainingDetailsFromGroup.CourseType.errors.DropdownValidators">
              <i aria-hidden="true"></i>This field is required.
            </p>
          </div>
        </div>

        <div>
          <label for="CourseName" class="text-gray-800 text-sm font-medium inline-block mb-2">
            Course Name: <span class="StarMarking">*</span>
          </label>
          <input type="text" class="form-input" id="CourseName" name="CourseName" formControlName="CourseName"
                 [(ngModel)]="request.CourseName" placeholder="Course Name">
          <div *ngIf="isSubmitted && _AddTrainingDetailsFromGroup.CourseName.errors?.required" class="text-danger">
            <p>This field is required!</p>
          </div>
        </div>

        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">
            Duration Unit: <span class="StarMarking">*</span>
          </label>
          <select class="form-select" id="DurationUnit" [(ngModel)]="request.DurationUnit" formControlName="DurationUnit">
            <option [value]="0">--- Choose Duration Unit --- </option>
            <option [value]="1">Days</option>
            <option [value]="2">Weeks</option>
          </select>

          <div *ngIf="isSubmitted && _AddTrainingDetailsFromGroup.DurationUnit.errors" class="text-danger">
            <p *ngIf="!_AddTrainingDetailsFromGroup.DurationUnit.errors.DropdownValidators">
              <i aria-hidden="true"></i>This field is required.
            </p>
          </div>
        </div>

        <div>
          <label for="Duration" class="text-gray-800 text-sm font-medium inline-block mb-2">
            Duration: <span class="StarMarking">*</span>
          </label>
          <input type="text" class="form-input" id="Duration" name="Duration" formControlName="Duration"
                 [(ngModel)]="request.Duration" maxlength="2" placeholder="Duration"
                 oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
          <div *ngIf="isSubmitted && _AddTrainingDetailsFromGroup.Duration.errors?.required" class="text-danger">
            <p>This field is required!</p>
          </div>
        </div>

        <div>
          <label for="voucherdate" class="text-gray-800 text-sm font-medium inline-block mb-2">
            Start Date: <span class="StarMarking">*</span>
          </label>
          <input type="date"
                 id="StartDate"
                 name="StartDate"
                 class="form-input"
                 formControlName="StartDate"
                 [(ngModel)]="request.StartDate"/>

          <div *ngIf="isSubmitted && _AddTrainingDetailsFromGroup.StartDate.errors" class="text-danger">
            <p *ngIf="!_AddTrainingDetailsFromGroup.StartDate.errors.DropdownValidators">
              <i aria-hidden="true"></i> This field is required.
            </p>
          </div>
        </div>

        <div>
          <label for="voucherdate" class="text-gray-800 text-sm font-medium inline-block mb-2">
            End Date: <span class="StarMarking">*</span>
          </label>
          <input type="date"
                 id="EndDate"
                 name="EndDate"
                 class="form-input"
                 formControlName="EndDate"
                 [(ngModel)]="request.EndDate"/>

          <div *ngIf="isSubmitted && _AddTrainingDetailsFromGroup.EndDate.errors" class="text-danger">
            <p *ngIf="!_AddTrainingDetailsFromGroup.EndDate.errors.DropdownValidators">
              <i aria-hidden="true"></i> This field is required.
            </p>
          </div>
        </div>

        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">
            Mode of Training: <span class="StarMarking">*</span>
          </label>
          <select class="form-select" id="ModeOfTraining" [(ngModel)]="request.ModeOfTraining" formControlName="ModeOfTraining">
            <option [value]="0">--- Choose Mode of Training --- </option>
            <option [value]="1">Online</option>
            <option [value]="2">Offline</option>
          </select>

          <div *ngIf="isSubmitted && _AddTrainingDetailsFromGroup.ModeOfTraining.errors" class="text-danger">
            <p *ngIf="!_AddTrainingDetailsFromGroup.ModeOfTraining.errors.DropdownValidators">
              <i aria-hidden="true"></i>This field is required.
            </p>
          </div>
        </div>

        <div *ngIf="request.ModeOfTraining == 2">
          <label for="Venue" class="text-gray-800 text-sm font-medium inline-block mb-2">
            Venue: <span class="StarMarking">*</span>
          </label>
          <input type="text" class="form-input" id="Venue" name="Venue" formControlName="Venue" placeholder="Venue"
                 [(ngModel)]="request.Venue">
          <div *ngIf="isSubmitted && _AddTrainingDetailsFromGroup.Venue.errors?.required" class="text-danger">
            <p>This field is required!</p>
          </div>
        </div>

        <div>
          <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  for="TrainingDoc">
            Upload Document:<span class="StarMarking">*</span>
          </label>
          <div class="flex fileUploader">
            <input class="block form-input w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                    id="TrainingDoc" type="file" (change)="onFilechange($event)" formControlName="TrainingDoc">
            <label for="TrainingDoc">
              <span>Choose File</span>
              {{request.TrainingDoc === '' ? 'No File Choosen' : request.Dis_TrainingDoc}}
            </label>
            <div class="flex">
              <a href="{{appsettingConfig.StaticFileRootPathURL + 'BTER_Establishment/StaffTrainingDocument/' + request.TrainingDoc}}"
                  *ngIf="request.TrainingDoc !=''" class="btn bg-primary text-white m-0" target="_blank"><i class="ti ti-eye"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="text-center">
            <button type="submit" class="btn bg-info text-white mt-6 me-1" (click)="SaveData()">Submit</button>
            <button type="button" id="btnReset" (click)="ResetControl()" class="btn bg-danger text-white">
                <i class="ti ti-refresh"></i> Reset
            </button>
        </div>
      </div>
    </form>

    <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light mt-3">
      <b class="text-1xl-5"><i class="ti ti-list"></i>Staff Service Details List</b>
      <!-- <a href="javascript:void(0);" class="btn bg-info btn-sm text-white" (click)="openOTP()"><i class="ti ti-download"></i> Download Excel</a> -->
    </div>
    <div class="grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-1 gap-6">
      <div class="">
        <!-- <select id="ddlConter" class="form-select  couterDropDown">
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="500">500</option>
          <option value="1000">1000</option>
        </select> -->
      </div>
      <div class="">
      </div>
      <div class="">
      </div>
      <div class="">
        <input class="form-input" placeholder="Search..." [(ngModel)]="Table_SearchText " />
      </div>
    </div>

    <div class="overflow-auto mt-3">
      <table class="table table-border w-full" cellpadding="5">
        <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">
          <tr>
            <th width="80px" align="left">Sr. No.</th>
            <th align="left">SSO ID</th>
            <th align="left">Name</th>
            <th align="left">Organizing lnstitute Name</th>
            <th align="left">Course Type</th>
            <th align="left">Course Name</th>
            <th class="left">Duration Unit</th>
            <th align="left">Duration</th>
            <th align="left">Start Date - End Date</th>
            <th align="left">Venue</th>
            <th align="left">Mode Of Training</th>
            <th class="text-left">View Profile</th>
            <th align="center" width="200">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of StaffTrainingDetailsDataList | tableSearchFilter:Table_SearchText; let idx=index;">
            <td>{{idx+1}}</td>
            <td>{{row.SSOID}}</td>
            <td>{{row.StaffName}}</td>
            <td>{{row.OrganizinglnstituteName}}</td>
            <td>{{row.TrainingCourseType_str}}</td>
            <td>{{row.TrainingCourseName}}</td>
            <td>{{row.DurationUnit_str}}</td>
            <td>{{row.Duration}}</td>
            <td>{{row.StartDate}} - {{EndDate}}</td>
            <td>{{row.Venue}}</td>
            <td>{{row.ModeOfTraining_str}}</td>
            <td align="left">
              <div class="flex">
                <a href="{{appsettingConfig.StaticFileRootPathURL + 'BTER_Establishment/StaffTrainingDocument/' + row.TrainingDoc}}"
                   class="btn bg-primary text-white m-0" target="_blank"><i class="ti ti-eye"></i></a>
              </div>
            </td>
            <td>
              <div class="flex align-center justify-center actionBtns">
                <!-- <a href="javascript:void(0);" id="edit" title="Edit Training" 
                  (click)="StaffTrainingDetails_GetDataById(row.StaffTrainingDetailID)"><i class="ti ti-pencil"></i>
                </a> -->
                <a href="javascript:void(0);" title="Delete" 
                  (click)="StaffTrainingDetails_DeleteById(row.StaffTrainingDetailID)"><i class="ti ti-trash"></i>
                </a>
                
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>