 <!-- Page Title Start -->

<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">Examiner Bundle Details</h4>

    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700">Examination</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700" aria-current="page">Examiner Bundle Details</a>
    </div>
  </div>
</div>
<!-- Page Title End -->

<div class="card">
  <div class="card-body p-5">
    <!-- <div class="mb-8">
      <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
        <b class="text-1xl-5"><i class="ti ti-search"></i> Enter Search Criteria</b>

      </div>
      <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">


        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Institute Name</label>
          <select class="form-select" id="SubjectID" [(ngModel)]="searchRequest.InstituteID" [disabled]="isInstituteDisabled" >
            <option value="0">--All--</option>
            <option *ngFor="let item of InstituteMasterDDLList" [value]="item.InstituteID">
              {{item.InstituteName}}
            </option>
          </select>
        </div>

        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Semester Name</label>
          <select class="form-select" id="SemesterID" [(ngModel)]="searchRequest.SemesterID">
            <option value="0">--All--</option>
            <option *ngFor="let item of SemesterMasterDDLList" [value]="item.SemesterID">
              {{item.SemesterName}}
            </option>
          </select>
        </div>
        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Branch Name</label>
          <select class="form-select" id="StreamID" [(ngModel)]="searchRequest.StreamID">
            <option value="0">--All--</option>
            <option *ngFor="let item of StreamMasterDDLList" [value]="item.StreamID">
              {{item.StreamName}}
            </option>
          </select>
        </div>



        <div>
          <button type="button" class="btn bg-info text-white mt-6" (click)="getExaminerData()">Search</button>
          <button type="button" class="btn bg-danger text-white mt-6" (click)="ResetControl()">Cancel</button>
        </div>
      </div>

    </div> -->
    <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
      <b class="text-1xl-5"><i class="ti ti-list"></i> Search Results</b>
      <div class="flex justify-end flex-wrap items-center">
        <!--<a routerLink="/dashboard" class="inline-flex items-center btn bg-dark text-white btn-sm">
          <i class="ti ti-chevron-left"></i> Back
        </a>-->
      </div>
    </div>
    <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">
      <div class="">
        <select id="ddlConter" class="form-select  couterDropDown">
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="500">500</option>
          <option value="1000">1000</option>
        </select>
      </div>
      <div class="">
      </div>
      <div class="">
      </div>
      <div class="">
        <input class="form-input" placeholder="Search..." />
      </div>
    </div>
    <div class="overflow-x-auto mt-3">
      <table class="table table-border w-full table-auto" cellpadding="5">
        <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">
          <tr>
            <th class="text-left">Sr No</th>
            <th class="text-left">Examiner Name</th>
            <th class="text-left">Examiner Number</th>

            <th class="text-left">CCode</th>
            <th class="text-left">Trade Name</th>
            <th class="text-left">Semester/Year Name</th>
            <th class="text-left">Subject Name</th>
            <th class="text-left">Total Student</th>
            <th class="text-left">Total Checked</th>
            <th class="text-left">Bundle Status</th>
            <th class="text-center">Action</th>

          </tr>

        </thead>
        <tbody>
          <tr *ngFor="let row of AppointedExaminerList; let idx=index; ">
            <td align="left">{{idx+1}}</td>
            <td>
              {{row.ExaminerName}}
            </td>
            <td>
              {{row.MobileNumber}}
            </td>
            <td>{{row.CenterCode}}</td>
            <td>{{row.StreamName}}</td>
            <td>{{row.SemesterName}}</td>
            <td>{{row.SubjectName}}</td>
            <td>{{row.AssignedCount}}</td>
            <td>{{row.checkedcount}}</td>
            <td>{{row.IsFinalSubmit==1?'Submitted':'Pending'}}</td>
            <td>
              <div class="flex align-center justify-center actionBtns w-auto"
                   style="width:auto !important">
                <!--@if(this.ExamTypeID==1) {
                 <a [routerLink]="'/Ititheorymarks'" [queryParams]="{id:row.AppointExaminerID}" href="javascript:void(0);" title="edit"><i class="ti ti-pencil"></i></a>
                }
                @if(this.ExamTypeID==2) {
                    <a [routerLink]="'/PracticalAssesment'" [queryParams]="{id:row.AppointExaminerID}" href="javascript:void(0);" title="edit"><i class="ti ti-pencil"></i></a>
                }-->

                <a (click)="OpenModalPopup(modal_ViewApplication,row.AppointExaminerID,row.ExaminerCode)" href="javascript:void(0);" title="View"><i class="ti ti-eye"></i></a>
                <a *ngIf="row.IsFinalSubmit==1" (click)="RevertBundle(row.AppointExaminerID)" href="javascript:void(0);" title="Revert"><i class="fa fa-exchange"></i></a>


              </div>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
</div>



<!-- <ng-template #MyModel_UpdateAppoint let-modal class="w-full h-full fixed top-0 left-0 z-[80] transition-all duration-500 overflow-y-auto [--overlay-backdrop:static] hidden">
  <div class="modal-content">
    <div class="card">
      <div class="card-header flex justify-between  items-center">
        <b><i class="fa fa-plus"></i>&nbsp;Eamination 2024-25 (May) </b>
        <button class="btn bg-info text-white" (click)="CloseViewStudentDetails()"><i class="ti ti-x"></i></button>
      </div>
      <div class="card-body">
        <div class="mb-8">

          <div class="grid 2xl:grid-cols-2 xl:grid-cols-2 lg:grid-cols-2 md:grid-cols-2 grid-cols-1 gap-3">



            <div>
              <label class="text-gray-800 text-sm font-medium inline-block mb-1">Staff Name:</label>
              <input type="text" class="form-input disabled" disabled value="Student Name" [(ngModel)]="requestStudent.StudentName">
            </div>

            <div>
              <label class="text-gray-800 text-sm font-medium inline-block mb-1">Instituter Name:</label>
              <input type="text" class="form-input disabled" disabled value="Father Name" [(ngModel)]="requestStudent.FatherName">
            </div>

            <div>
              <label class="text-gray-800 text-sm font-medium inline-block mb-1">Date of Birth:</label>
              <input type="text" class="form-input disabled" disabled value="00/00/0000" [(ngModel)]="requestStudent.Dis_DOB">
            </div>

            <div>
              <label class="text-gray-800 text-sm font-medium inline-block mb-1">Sex:</label>
              <input type="text" class="form-input disabled" disabled value="Male" [(ngModel)]="requestStudent.Gender">
            </div>


          </div>
        </div>
        <div class="grid 2xl:grid-cols-1 xl:grid-cols-1 lg:grid-cols-1 md:grid-cols-1 grid-cols-1 gap-3">

        </div>
      </div>
    </div>
  </div>


</ng-template> -->
<!-- end row -->

<ng-template #modal_ViewApplication let-modal class=" h-full fixed top-0 left-0 z-[80] transition-all duration-500 overflow-y-auto [--overlay-backdrop:static] hidden">

  <div class="card">
    <div class="card-header flex justify-between  items-center">
      <b><i class="fa fa-plus"></i>&nbsp; Assign Trainee Details </b>
      <!--<button class="btn bg-info text-white" (click)="CloseModalPopup()"><i class="ti ti-x"></i></button>-->
      <button class="btn bg-info text-white" (click)="CloseModalPopup()"><i class="ti ti-x"></i></button>
    </div>

      <div class="card">
        <div class="card-body p-5">
      
          <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
            <b class="text-1xl-5"><i class="ti ti-plus"></i> Assign Trainee List</b>
          </div>
          <div class="overflow-x-auto mt-3">
            <table class="table table-border w-full table-auto" cellpadding="5">
              <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">

                <tr>
                  <th width="80px" align="left">Sr. No.</th>
                  <!--<th class="text-left">CC Code</th>-->

                  <th class="text-left">Roll No </th>
                  <!--<th class="text-left">Year</th>-->
                  <th class="text-left">Subject</th>
                  <th class="text-left">Attendance</th>
                  <th class="text-left">Max Marks</th>
                  <th class="text-left">Obtain Marks</th>
                  <th class="text-left">Checked</th>
                  <!--<th class="text-left">Examiner</th>-->
                  <!--<th class="text-left">Action</th>-->
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let row of TheoryMarksDetailList let idx=index;" [ngClass]="{ 'text-danger': row.IsPresentTheory == 0 }">
                  <td>{{idx+1}}</td>
                  <!--<td>{{row.CenterCode}}</td>-->

                  <td align="left">{{row.RollNo}}</td>
                  <!--<td align="left">{{row.SemesterName }}</td>-->
                  <td align="left">{{row.SubjectName }}</td>
                  <td align="left">{{row.IsPresentTheory==1?'Present':'Absent' }}</td>
                  <td align="left">{{row.MaxTheory}}</td>
                  <td align="left">{{row.ObtainedTheory}}</td>
                  <td align="left">


                    <span  [class]="row.IsChecked==true?'fa fa-check text-success':'fa fa-remove text-danger'"></span>

                  </td>

                  <!--<td align="left">
    <div class="flex align-l justify-l actionBtns w-auto" style="width:auto !important">


    </div>
  </td>-->
                </tr>
              </tbody>
            </table>
          </div>

        </div>

      </div>

  </div>
</ng-template>
