<app-loader> </app-loader>
<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">Attendence</h4>

    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a routerLink="/dashboard" class="text-sm font-medium text-slate-700">Dashboard</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a routerLink="/timetable" class="text-sm font-medium text-slate-700" aria-current="page">Attendence</a>
    </div>
  </div>

</div>
<!-- Page Title End -->

<div class="card">
  <div class="card-body p-5">
    <div class="mb-8">
      <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
        <b class="text-1xl-5"><i class="ti ti-search"></i> Enter Search Criteria</b>
     
      </div>
      <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">


        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">All Semester</label>
          <select class="form-select" id="TimetableYear" [(ngModel)]="searchRequest.SemesterID">
            <option value="0">Choose Option</option>
            <option *ngFor="let row of SemesterList" [value]="row.SemesterID">{{row.SemesterName}}</option>

          </select>
        </div>

        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">All Shift</label>
          <select class="form-select" id="TimetableTime" [(ngModel)]="searchRequest.ShiftID">
            <option value="0">Choose Option</option>
            <option *ngFor="let row of ExamShiftList" [value]="row.ShiftID">{{row.ExamShiftWithTime}}</option>

          </select>
        </div>

        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Branch</label>
          <select class="form-select" id="TimetableSujectId" [(ngModel)]="searchRequest.StreamID">
            <option value="0">Choose Option</option>
            <option *ngFor="let row of StreamMasterList" [value]="row.StreamID">{{row.Name}}</option>


          </select>
        </div>

        <div>
          <button type="button" class="btn bg-info text-white mt-6 me-1" (click)="GetTimeTableList()">Search</button>
          <button type="button" id="btnReset" (click)="ResetControl()" class="btn bg-danger text-white">
            <i class="ti ti-refresh"></i> Reset
          </button>
        </div>
      </div>
    </div>
    <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
      <b class="text-1xl-5"><i class="ti ti-list"></i> Search Results</b>
    </div>
    <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">
      <div class="">
        <select id="ddlConter" class="form-select  couterDropDown">
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="500">500</option>
          <option value="1000">1000</option>
        </select>
      </div>
      <div class=""></div>
      <div class=""></div>
      <div class="">
        <input class="form-input" placeholder="Search....." [(ngModel)]="Table_SearchText" />
      </div>
    </div>
    <div class="overflow-x-auto mt-3">
      <table class="table table-border w-full table-auto" cellpadding="5">
        <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">
          <tr>
            <th width="80px" align="left">Sr. No.</th>

            <th class="text-left">Exam Shift</th>
            <th class="text-left">Exam Date</th>
            <th class="text-left">College Name</th>
            <th class="text-left">Branch Name</th>


            <th class="text-left">Semester</th>
            <th class="text-left">Subject Code</th>
   
            <th class="text-left">Action</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let row of TimeTableList  | tableSearchFilter:Table_SearchText;let idx=index;">
            <td>{{idx+1}}</td>
            <td>{{row.ExamShift}}</td>
            <td align="left">{{row.Dis_Date|date:'dd-MM-yyyy'}}</td>
            <td align="left">{{row.InstituteName}}</td>
         
            <td align="left">{{row.StreamName}}</td>
            <td align="left">{{row.SemesterName}}</td>
            <td align="left">{{row.PaperCode}}</td>
         
            <td align="left">
              <div class="flex align-l justify-l actionBtns w-auto" style="width:auto !important">

                <a [routerLink]="'/setexamattendance'" [queryParams]="{id:row.InvigilatorAppointmentID,InstituteID:row.InstituteID}" title="Edit"><i class="ti ti-chevron-up"></i></a>
            
                <a href="javascript:void(0);" title="lOCK">
                  <i class="ti ti-lock"></i>
                </a>
              </div>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


