<app-loader> </app-loader>
<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">Time Table</h4>

    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700">Student Examination</a>  <!-- routerLink="/dashboard"-->
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a routerLink="/timetable" class="text-sm font-medium text-slate-700" aria-current="page">Time Table</a>
    </div>
  </div>

</div>
<!-- Page Title End -->

<div class="card">
  <div class="card-body p-5">
    <div class="mb-8">
      <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
        <b class="text-1xl-5"><i class="ti ti-search"></i> Enter Search Criteria</b>
        <a  *ngIf="MapKeyEng == 1 && sSOLoginDataModel.RoleID == _EnumRole.ExaminationIncharge || sSOLoginDataModel.RoleID == _EnumRole.ExaminationIncharge_NonEng"
           routerLink="/addtimetable" class="btn bg-success btn-sm text-white"><i class="ti ti-plus"></i>Add New</a>
      </div>
      <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">

        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Year/Semester <span class="StarMarking">*</span></label>
          <select class="form-select" id="TimetableYear" [(ngModel)]="searchRequest.SemesterID">
            <option value="0">Select Option </option>
            <option value="1">Semester </option>
            <option value="2">Yearly </option>
          </select>
        </div>
        <div  *ngIf="sSOLoginDataModel.RoleID != _EnumRole.Principal && sSOLoginDataModel.RoleID != _EnumRole.PrincipalNon" >
          <div>
            <label class="text-gray-800 text-sm font-medium inline-block mb-1">Status</label>
            <select class="form-select" id="ddlFilterByStatus" [(ngModel)]="searchRequest.Status" (change)="GetTimeTableList()">
              <option value="0">Select Status</option>
              <option selected value="{{_RollListStatus.Generated}}">Generated</option>
              <option value="{{_RollListStatus.Forwarded}}">Forwarded</option>
              <option value="{{_RollListStatus.Verified}}">Verified</option>
              <option value="{{_RollListStatus.Published}}">Published</option>
              <option value="{{_RollListStatus.Reverted}}">Reverted</option>
            </select>
          </div>
        </div>

        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">All Shift</label>
          <select class="form-select" id="TimetableTime" [(ngModel)]="searchRequest.ShiftID">
            <option value="0">Choose Option</option>
            <option *ngFor="let row of ExamShiftList" [value]="row.ShiftID">{{row.ExamShiftWithTime}}</option>

          </select>
        </div>

        <!--<div>
    <label class="text-gray-800 text-sm font-medium inline-block mb-1">Subjects</label>
    <select class="form-select" id="TimetableSujectId" [(ngModel)]="searchbySubject">
      <option value="">Choose Option</option>
      <option *ngFor="let row of SubjectList" [value]="row.SubjectName">{{row.SubjectName}}</option>


    </select>
  </div>-->

        <div>
          <button type="button" class="btn bg-info text-white mt-6 me-1" (click)="GetTimeTableList()">Search</button>
          <button type="button" id="btnReset" (click)="ResetControl()" class="btn bg-danger text-white">
            <i class="ti ti-refresh"></i> Reset
          </button>
        </div>
      </div>
    </div>


    <div class="flex justify-between flex-wrap  mb-3 p-3 py-2 bg-light">
      <b class="text-1xl-5"><i class="ti ti-list"></i> Search Results</b>
      <div>
        <!--<a *ngIf="ShowPublishButton()" class="btn bg-success btn-sm text-white" (click)="DownloadTimeTable1()"><i class="ti ti-checklist"></i>Generate Order Time Table</a>-->
        <a *ngIf="ShowPublishButton()"
           class="btn bg-success btn-sm text-white"
           (click)="toggleDownloadOptions()">
          <i class="ti ti-checklist"></i> Generate Order Time Table
        </a>

        <div *ngIf="showDownloadOptions" class="mt-2">
          <button class="btn bg-success btn-sm text-white" (click)="DownloadTimeTable1('pdf')">
            Download in PDF
          </button>
          <!--<button class="btn bg-success btn-sm text-white" (click)="DownloadTimeTable1('word')">
            Download in Word
          </button>-->
        </div>
        <a *ngIf="ShowPublishpublisButton()" class="btn bg-success btn-sm text-white" (click)="PublishOnAction(MyModel_Action)"><i class="ti ti-checklist"></i>Upload and Publish Time Table</a>
        <!-- <a  class="btn bg-success btn-sm text-white" (click)="PublishOnAction(MyModel_Action)"><i class="ti ti-checklist"></i>Upload and Publish Time Table</a> -->
        <a *ngIf="searchRequest.SemesterID!=0 && searchRequest.Status==_RollListStatus.Published &&  TimeTableList?.length>0 && this.PublishFileName!='' " class="btn bg-info btn-sm text-white" href="{{appsettingConfig.StaticFileRootPathURL + '/' + PublishFileName}}"><i class="ti ti-download"></i>{{searchRequest.SemesterID==1 ?'DownloadSemester':'DownloadYearly'}}</a>
      </div>
    </div>
    <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">
      <div class="">
        <select id="ddlConter" class="form-select  couterDropDown">
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="500">500</option>
          <option value="1000">1000</option>
        </select>
      </div>
      <div class=""></div>
      <div class="">


        <div *ngIf="this.sSOLoginDataModel.RoleID==_EnumRole.ExaminationIncharge || this.sSOLoginDataModel.RoleID==_EnumRole.ExaminationIncharge_NonEng ">
          @if(Status==_RollListStatus.Verified )
          {
          <!--<button *ngIf="VerifyRollList?.length > 0" class="btn bg-success text-white pull-right" (click)="openModalGenerateOTP(modal_GenrateOTPPublish)" type="button"> Publish (Time List)</button>-->
          }
          @if(searchRequest.Status ==_RollListStatus.Generated )
          {
          <button *ngIf="TimeTableList?.length > 0" class="btn bg-success text-white pull-right" (click)="VerifyRollNumber(_RollListStatus.Forwarded)" type="button"><i class="fa fa-check"></i> Forward for Verify</button>
          }
        </div>
      </div>
      <div class="">
        <input class="form-input" placeholder="Search....." [(ngModel)]="Table_SearchText" />
      </div>
    </div>
    <div class="overflow-x-auto mt-3">
      <table class="table table-border w-full table-auto" cellpadding="5">
        <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">



          <tr>
        
            <th class="text-left" *ngIf="this.Status==11" >
              <input *ngIf="TimeTableList?.length>0" type="checkbox" id="checkboxSeletedAl" class="checkboxSize"
                     [checked]="AllSelect"
                     (change)="checkboxthView_checkboxchange($event.target.checked)">

            </th>

            <th width="80px" align="left">Sr. No.</th>
            <th class="text-left">Session</th>
            <th class="text-left">Semester</th>
            <th class="text-left">Exam Date</th>
            <th class="text-left">Exam Shift</th>
            <th class="text-left">Status</th>
            <th class="text-left">Created date</th>

            <th class="text-left" *ngIf="sSOLoginDataModel.RoleID == _EnumRole.Principal || sSOLoginDataModel.RoleID == _EnumRole.PrincipalNon">
              Center Superintendent
            </th>
            <th class="text-left">Action</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let row of TimeTableList  | tableSearchFilter:Table_SearchText;let idx=index;">
            <td *ngIf="this.Status==11" >
              <input  type="checkbox" name="MarkCheck"
                     [(ngModel)]="row.Selected" />
            </td>
            <td>{{idx+1}}</td>
            <td>{{row.FinancialYear}}</td>
            <td align="left">{{row.SemesterName}}</td>
            <td align="left">{{row.Dis_Date|date:'dd-MM-yyyy'}}</td>
            <td align="left">{{row.ExamShift}}</td>
            <td align="left">{{row.StatusName}}</td>
            <td align="left">{{row.CreatedDate}}</td>
            <td align="left" *ngIf="sSOLoginDataModel.RoleID == _EnumRole.Principal || sSOLoginDataModel.RoleID == _EnumRole.PrincipalNon">
              {{row.InvigilatorName}}
            </td>
            <td align="left">
              <div class="flex align-l justify-l actionBtns w-auto" style="width:auto !important">
                <a href="javascript:void(0);" title="{{ sSOLoginDataModel.RoleID == _EnumRole.ExaminationIncharge || sSOLoginDataModel.RoleID == _EnumRole.ExaminationIncharge_NonEng ? 'View': 'Update Invigilator'}}"
                   (click)="ViewandUpdate(MyModel_ViewDetails,row.TimeTableID)">
                  <i class="{{sSOLoginDataModel.RoleID == _EnumRole.Admin  || sSOLoginDataModel.RoleID == _EnumRole.AdminNon || sSOLoginDataModel.RoleID == _EnumRole.ExaminationIncharge || sSOLoginDataModel.RoleID == _EnumRole.ExaminationIncharge_NonEng ?  'ti ti-eye': 'ti ti-pencil'}}"></i>
                </a>


                <!--sSOLoginDataModel.RoleID == _EnumRole.Admin && row.Status==_RollListStatus.Generated || sSOLoginDataModel.RoleID == _EnumRole.Admin && row.Status==_RollListStatus.Reverted
  || _EnumRole.ExaminationIncharge && row.Status==_RollListStatus.Generated ||  _EnumRole.ExaminationIncharge && row.Status==_RollListStatus.Reverted
  || sSOLoginDataModel.RoleID == _EnumRole.AdminNon && row.Status==_RollListStatus.Generated"-->
                <div class="flex" *ngIf="showHideButton(row)" >
                  <a [routerLink]="'/addtimetable'" [queryParams]="{id: row.TimeTableID}" title="Edit">
                    <i class="ti ti-pencil"></i>
                  </a>
                  <a href="javascript:void(0);" title="Delete" (click)=" btnDelete_OnClick(row.TimeTableID)">
                    <i class="ti ti-trash"></i>
                  </a>
                </div>
              </div>
            </td>
          </tr>
          <tr *ngIf="TimeTableList?.length==0">
            <td colspan="10">
              No Record Found.
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #MyModel_ViewDetails let-modal
  class="w-full h-full fixed top-0 left-0 z-[80] transition-all duration-500 overflow-y-auto [--overlay-backdrop:static] hidden">
  <div class="modal-content">
    <div class="card">
      <div class="card-header flex justify-between  items-center">
        <b><i class="fa fa-plus"></i>Time Table Branch Details </b>
        <button class="btn bg-info text-white" (click)="CloseModalPopup()"><i class="ti ti-x"></i></button>
      </div>
      <div class="card-body">
        <div class="mb-8">
          
          <!--<div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3"
           *ngIf="sSOLoginDataModel.RoleID == _EnumRole.Principal || sSOLoginDataModel.RoleID == _EnumRole.PrincipalNon">
            <form [formGroup]="InvigilatorFormGroup">
              <label class="text-gray-800 text-sm font-medium inline-block mb-1">Center Superintendent: <span class="StarMarking">*</span></label>
              <select class="form-select" formControlName="InvigilatorID" [(ngModel)]="requestInv.InvigilatorID">
                <option value="0">Choose Option</option>
                <option *ngFor="let item of InvigilatorDDL" [value]="item.UserID">{{item.Name}}</option>
              </select>
              <div *ngIf="isSubmitted && _InvigilatorFormGroup.InvigilatorID.errors" class="text-danger">
                <p *ngIf="!_InvigilatorFormGroup.InvigilatorID.errors.DropdownValidators"><i aria-hidden="true"></i>This field is required .!
                </p>
              </div>
            </form>
            <div>
              <button type="submit"
                      id="btnSave"
                      class="btn bg-info text-white mt-6"
                      (click)="SaveInvigilator()">
                Submit
              </button>
            </div>
          </div>-->
        
          <div class="overflow-x-auto mt-3">

            <table class="table table-border w-full table-auto" cellpadding="5">
              <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">
                <tr>
                  <th class="text-left">#</th>
                  <th class="text-left">Branch Name</th>
                  <th class="text-left">Subject Name</th>
                  <th class="text-left">Paper Code</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of TimeTableBranchSubList; let i = index">
                  <td align="left">{{ i + 1 }}</td>
                  <td align="left">{{row.BranchName}}</td>
                  <td align="left">{{row.SubjectName}}</td>
                  <td align="left">{{row.PaperCode}}</td>

                </tr>
              </tbody>


            </table>
          </div>
        </div>
        <!-- <div *ngIf="sSOLoginDataModel.RoleID == _EnumRole.Principal || sSOLoginDataModel.RoleID == _EnumRole.PrincipalNon">
          <button type="submit"
                  id="btnSave"
                  class="btn bg-info text-white mt-6"
                  (click)="SaveInvigilator()">
            Submit
          </button>
        </div> -->
      </div>
      <div class="grid 2xl:grid-cols-1 xl:grid-cols-1 lg:grid-cols-1 md:grid-cols-1 grid-cols-1 gap-3">
      </div>
    </div>
  </div>
</ng-template>


<ng-template #MyModel_Action let-modal class="w-full h-full fixed top-0 left-0 z-[80] transition-all duration-500 overflow-y-auto [--overlay-backdrop:static] hidden">
  <div class="modal-content">
 
      <div class="card">
        <div class="card-header flex justify-between  items-center">
          <b><i class="fa fa-plus"></i>&nbsp;Upload & Publish Time Table</b>
          <button class="btn bg-info text-white" (click)="CloseModalPopup()"><i class="ti ti-x"></i></button>
        </div>
        <div class="card-body">
          <div class="mb-8">

            <div class="grid 2xl:grid-cols-2 xl:grid-cols-2 lg:grid-cols-2 md:grid-cols-2 grid-cols-1 gap-3">

              <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                       for="fileStudentPhoto">Time Table Pdf</label>
                <div class="flex fileUploader">
                  <input class="block form-input w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                         id="fileStudentPhoto" type="file" (change)="onFilechange($event,'TimeTablePdf')">
                  <label for="fileStudentPhoto">
                    <span>Choose File</span>
                    {{Dis_TimeTablePdf === '' ? 'No File Choosen' : Dis_TimeTablePdf}}
                  </label>
                  <div class="flex">
                    <a href="{{appsettingConfig.StaticFileRootPathURL + '/' + TimeTablePdf}}"
                       *ngIf="this.TimeTablePdf!=''" class="btn bg-primary text-white m-0" target="_blank"><i class="ti ti-eye"></i></a>
                 
                  </div>
                </div>
              </div>
            </div>
            <div class="grid 12xl:grid-cols-12 xl:grid-cols-12 lg:grid-cols-12 md:grid-cols-12 grid-cols-1 gap-3 mt-3">
             


            </div>

            <div class="grid 2xl:grid-cols-1 xl:grid-cols-1 lg:grid-cols-1 md:grid-cols-1 grid-cols-1 gap-3">

              <div class="text-center mt-4">
                <button *ngIf="TimeTableList?.length > 0" class="btn bg-success text-white" (click)="DownloadTimeTable()" type="button"> Publish (Time List)</button>
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>
</ng-template>


<app-otpmodal #otpModal></app-otpmodal>
