.row-red {
  background-color: #ffe5e5 !important;
  color: #000 !important;
}

.row-orange {
  background-color: #fff4e5 !important;
  color: #000 !important;
}

.row-green {
  background-color: #e6ffed !important;
  color: #000 !important;
}
