<!-- Page Title Start -->
<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">Center Create ITI</h4>

    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a routerLink="/dashboard" class="text-sm font-medium text-slate-700">Dashboard</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700" aria-current="page">Center Create ITI</a>
    </div>
  </div>

</div>
<!-- Page Title End -->

<div class="card">
  <div class="card-body p-5">
    <div class="mb-8">
      <!--<div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
        <b class="text-1xl-5"><i class="ti ti-search"></i> Enter Search Criteria</b>
        <div>-->

         
          <!--<a routerLink="../AddCenterITI" class="btn bg-success btn-sm text-white me-2"><i class="ti ti-plus"></i>Add New</a>-->
          <!--<a href="javascript:void(0);" class="btn bg-info btn-sm text-white"><i class="ti ti-download"></i> Download Center CCode</a>
  <a href="javascript:void(0);" class="btn bg-success btn-sm text-white">
    <i class="ti ti-list"></i>Selected Center
    List
  </a>-->
        <!--</div>
      </div>
      <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">
        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">District</label>
          <select class="form-select" id="StreamStreamTypeId" [(ngModel)]="searchRequest.DistrictID"
                  (change)="onDistrictChange()">
            <option value="0">--All--</option>
            <option *ngFor="let item of DistrictMasterList" [value]="item.ID">{{item.Name}}</option>
          </select>
        </div>
        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Tehsil</label>
          <select class="form-select" id="StreamStreamTypeId" [(ngModel)]="searchRequest.TehsilID">
            <option value="0">--All--</option>
            <option *ngFor="let item of filteredTehsils" [value]="item.ID">{{item.Name}}</option>
          </select>
        </div>-->

        <!--<div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">College Type</label>
          <select class="form-select" id="StreamStreamTypeId" [(ngModel)]="searchRequest.InstitutionManagementTypeID">
            <option value="0">--All</option>
            <option *ngFor="let item of CategoryList" [value]="item.ID">{{item.Name}}</option>
          </select>
        </div>-->
        <!--<div>
          <button type="button" class="btn bg-info text-white mt-6" (click)="GetAllData()">Search</button>
          <button type="button" class="btn bg-danger text-white mt-6" (click)="ClearSearchData()">
            <i class="ti ti-refresh"></i> Reset
          </button>
        </div>

      </div>-->


    </div>
    <!--grid-->
    <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
      <b class="text-1xl-5"><i class="ti ti-list"></i> List For Select</b>
      <div class="flex justify-between items-center">
        <select id="ddlConter" class="form-select  couterDropDown me-2">
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="500">500</option>
          <option value="1000">1000</option>
        </select>
        <input class="form-input" placeholder="Search..." [(ngModel)]="Table_SearchText" />
      </div>
    </div>

    <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">
      <div class="">
        <form [formGroup]="CreateCenterForm">
          <div>
            <label for="StartValue">Start Value: <span class="StarMarking">*</span></label>
            <input formControlName="StartValue" class="form-input" (keypress)="validateNumber($event)" type="number" min="0" id="StartValue" placeholder="Enter Start Value"
                   [(ngModel)]="this.StartValue">
            <div *ngIf="isSubmitted && CreateCenterForm.get('StartValue').errors" class="text-danger">
              <p *ngIf="!CreateCenterForm.get('StartValue').errors.DropdownValidators"><i aria-hidden="true"></i>This field is required.</p>
              <p *ngIf="CreateCenterForm.get('StartValue').errors.invalidLength">
                Maximum 5 digits allowed.
              </p>
            </div>
          </div>
        </form>
      </div>
      <div class="mt-6">        
          <button class="btn bg-success text-white" (click)="OnSubmit()" type="button">Generate & Save</button>       
      </div>
      <div></div>
      <div class="mt-6" >
        <a href="javascript:void(0);" class="btn bg-success text-white" (click)="exportToExcel()"><i class="ti ti-download"></i> Download Excel</a>
      </div>
    </div>

    <div class="overflow-x-auto mt-3">
      <table class="table table-border w-full table-auto" cellpadding="5">
        <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">
          <tr>
            <th class="text-left">Mark</th>
            <th class="text-left">College Name</th>
            <th class="text-left">Phone No.</th>
            <th class="text-left">Email Id</th>
            <th class="text-left">SSO Id</th>
            <th class="text-left">CC Code</th>
            <!--<th class="text-center">Action</th>-->
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let college of CenterAllotList | tableSearchFilter:Table_SearchText;let idx=index;">
            <td align="left">
              <input type="checkbox" name="MarkCheck" [(ngModel)]="college.Marked" />
            </td>
            <td>{{ college.Institutename }}</td>
            <td>{{ college.MobileNumber }}</td>
            <td>{{ college.Email }}</td>
            <!--<td>-->
            <!--<input class="form-input SSOFields" placeholder="Enter SSO Id" [disabled]="!college.Marked"
                [(ngModel)]="college.SSOID" />
            </td>
            <td>
              <input class="form-input" placeholder="Enter College Code" [disabled]="!college.Marked"
                [(ngModel)]="college.InstituteCode" />
            </td>-->
            <td>{{college.SSOID}}</td>
            <td>{{college.CCCode}}</td>
            <!--<td>-->
              <!--<div *ngIf="college.Id>0" class="flex align-center justify-center actionBtns w-auto" style="width:auto !important">
                <a [routerLink]="'/AddCenterITI'" [queryParams]="{id:college.Id}" title="Edit">
                  <i class="ti ti-pencil"></i>
                </a>-->
                <!--<a href="javascript:void(0);" title="Delete" (click)=" btnDelete_OnClick(row.CenterID)">
                  <i class="ti ti-trash"></i>
                </a>-->
              <!--</div>-->

            <!--</td>-->
          </tr>

        </tbody>
      </table>

    </div>
    <div class="grid 2xl:grid-cols-1 xl:grid-cols-1 lg:grid-cols-1 md:grid-cols-1 grid-cols-1 gap-3 mt-4">

      <div class="text-center">
        <button class="btn bg-success text-white" (click)="OnSubmit()" type="button">Generate & Save</button>
      </div>
    </div>
  </div>
</div>

<!-- end row -->
