
<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">Verify Center Superintendent </h4>

    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700">Dashboard</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700" aria-current="page">Verify Center Superintendent </a>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body p-5">
    <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light" *ngIf="this.sSOLoginDataModel.RoleID==_enumRole.Admin||this.sSOLoginDataModel.RoleID==_enumRole.AdminNon">
      <b class="text-1xl-5"><i class="ti ti-search"></i> Search Filter</b>
      <div class="flex justify-end flex-wrap items-center">
      </div>
    </div>
    <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3 mb-3" *ngIf="this.sSOLoginDataModel.RoleID==_enumRole.Admin||this.sSOLoginDataModel.RoleID==_enumRole.AdminNon">
      <div>
        <label class="text-gray-800 text-sm font-medium inline-block mb-1">Filter By Status.<span class="StarMarking">*</span></label>
        <select class="form-select" id="ddlFilterByStatus" [(ngModel)]="Status" (change)="GetAllData()">
          <option value="0">Select Status</option>
          <option selected value="{{_RollListStatus.Generated}}">Generated</option>
          <option value="{{_RollListStatus.Forwarded}}">Forwarded</option>
          <option value="{{_RollListStatus.Verified}}"> {{ sSOLoginDataModel.RoleID === _enumRole.Registrar || sSOLoginDataModel.RoleID === _enumRole.Registrar_NonEng ? 'Approve' : 'Verified' }}</option>
          <option value="{{_RollListStatus.Published}}">Published</option>
          <option value="{{_RollListStatus.Reverted}}">Reverted</option>
        </select>
      </div>

      
      <div>
        <button type="button" class="btn bg-info text-white mt-6" (click)="GetAllData()" >Search</button>
        <button type="button" class="btn bg-danger text-white mt-6" (click)="ResetFilter()">Cancel</button>
      </div>
    </div>
    <div class="mb-8">
      <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
        <b class="text-1xl-5"><i class="ti ti-list"></i> Verify Center Superintendent List </b>
        <div class="flex justify-end flex-wrap items-center">
         
        </div>
      </div>
      <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">
        <div class="flex" *ngIf="this.Status != 13  && this.Status != 15 && (this.sSOLoginDataModel.RoleID==_enumRole.Secretary_JD || this.sSOLoginDataModel.RoleID==_enumRole.Registrar || this.sSOLoginDataModel.RoleID==_enumRole.Registrar_NonEng  ||  this.sSOLoginDataModel.RoleID==_enumRole.Secretary_JD_NonEng   )">
          <select  class="form-select" id="ddlChangeStatus" [(ngModel)]="ddlRollListStatus" style="margin-left:10px;">
            <option value="0">Select Status</option>
            <option *ngIf="Status!=13 && Status!=15" value="{{_RollListStatus.Verified}}">{{ sSOLoginDataModel.RoleID === _enumRole.Registrar || sSOLoginDataModel.RoleID === _enumRole.Registrar_NonEng ? 'Approve' : 'Verified' }}</option>
            <option *ngIf="Status!=14 && Status!=15" value="{{_RollListStatus.Reverted}}">Reverted</option>
          </select>
          <button type="button" class="btn bg-info text-white inline-block" (click)="VerifyRollNumber()"> <i class="ti ti-save"></i>Save</button>

        </div>
        <div class="">

        </div>
        <div class="" >
          <!-- <div >
            @if(Status==_RollListStatus.Verified )
            {
            <button *ngIf="VerifyRollList?.length > 0" class="btn bg-success text-white pull-right" (click)="openModalGenerateOTP(modal_GenrateOTPPublish)" type="button"> Publish (Roll List)</button>
            }
            @if(Status==_RollListStatus.Generated )
            {
            <button *ngIf="VerifyRollList?.length > 0" class="btn bg-success text-white pull-right" (click)="ForwardRollNo()" type="button"><i class="fa fa-check"></i> Forward for Verify</button>
            }
          </div> -->
        </div>
        <div class="flex items-center">
          <!-- <input class="form-input" placeholder="Search..." [(ngModel)]="Table_SearchText" /> -->
        </div>
      </div>
      <div class="overflow-x-auto mt-3">
        <table class="table table-border w-full table-auto" cellpadding="5" id="tbl_placementStudent">
          <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">
            <tr>
              <th class="text-left" *ngIf="this.Status!=13  && this.Status!=15">
                <input *ngIf="VerifyRollList?.length>0" type="checkbox" id="checkboxSeletedAl" class="checkboxSize"
                       [checked]="AllSelect"
                       (change)="checkboxthView_checkboxchange($event.target.checked)">

              </th>
              <th class="text-center">Sr. No.</th>
              <th class="text-center">Financial Year Name</th>
              <th class="text-center">EndTerm Name</th>

              <!--<th class="text-center">File Name</th>-->

              <th class="text-center">Final Status</th>
              <th class="text-center">Created Date</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of VerifyRollList | tableSearchFilter:Table_SearchText;let idx=index;">
              <td *ngIf="this.Status!=13 && this.Status!=15">
                <input type="checkbox" name="MarkCheck"
                       [(ngModel)]="row.Selected" />
              </td>
              <td class="text-center">{{idx+1}}</td>
              <td class="text-center">{{row.FinancialYearName}}</td>
              <td class="text-center">{{row.EndTermName}}</td>
              <!--<td class="text-center">{{row.FileName}}</td>-->

              <td class="text-center">{{row.ActionCode}}</td>
              <td class="text-center">{{row.CreatedDate}}</td>
              <td class="text-center">
                <div class="flex align-center justify-center actionBtns w-auto" style="width:auto !important">
                  <a download target="_blank" href="{{appsettingConfig.StaticFileRootPathURL}}{{_GlobalConstants.ReportsFolder}}/{{row.FileName}}" title="Download"><i class="ti ti-download"></i></a>
                </div>
              </td>

            </tr>
          </tbody>
        </table>

      </div>
    </div>



  </div>
</div>

<app-otpmodal #otpModal></app-otpmodal>
