
<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">Practical Exam Marks</h4>


    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a [routerLink]="['/practicalexamassigned']" class="text-sm font-medium text-slate-700">Assigned Exam List</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a [routerLink]="['/itiPracticalExamMarks']" class="text-sm font-medium text-slate-700" aria-current="page">Practical Exam Marks</a>



    </div>
  </div>
  <a  [routerLink]="['/practicalexamassigned']" class="inline-flex items-center btn bg-dark text-white btn-sm">
    <i class="ti ti-chevron-left"></i>
    Back
  </a>
  <!--<a [routerLink]="['/ItiTimeTable']" class="inline-flex items-center btn bg-dark text-white btn-sm">
    <i class="ti ti-chevron-left"></i>
    Back
  </a>-->
</div>

<div class="card">
  <div class="card-body p-5">


    <div class="mb-8">

      <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
        <b class="text-1xl-5"><i class="ti ti-list"></i> Search Results</b>

        <button type="button" class="btn bg-success btn-sm text-white" style="margin-left:auto;" title="Export Center Detail" (click)="exportToExcelExamMarksData()" >
          <i class="fa fa-download"></i> Download
        </button>
      </div>


      <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">
        <div class="">
          <select id="ddlConter" class="form-select  couterDqropDown">
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="500">500</option>
            <option value="1000">1000</option>
          </select>
        </div>
        <div class=""></div>
        <div class=""></div>

      </div>
      <div class="overflow-x-auto mt-3">
        <table class="table table-border w-full table-auto" cellpadding="5">
          <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">
            <tr>
              <th width="80px" align="left">Sr. No.</th>
              <th class="text-left">Student Name</th>
              <th class="text-left">Center Name</th>
              <th class="text-left">Center Code</th>
              <th class="text-left">RollNo</th>
              <th class="text-left">Semester</th>
              <th class="text-left">Subject Name</th>
              <th class="text-left">Present</th>
              <th class="text-left">Obtained Marks</th>
              <th class="text-left">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of ExaminerDataList  let idx=index;">
              <td>{{idx+1}}</td>
              <td align="left">{{row.StudentName}}</td>
              <td align="left">{{row.CenterName}}</td>
              <td align="left">{{row.CenterCode}}</td>
              <td align="left">{{row.RollNo}}</td>
              <td align="left">{{row.SemesterName}}</td>
              <td align="left">{{row.SubjectName}}</td>
              <td align="left">
                {{ row.IsPresent ? 'Present' : 'Absent' }}
              </td>
              <td align="left">{{row.ObtainedMarks}}</td>
              <td>
                <div class="flex align-center justify-center actionBtns w-auto" style="width:auto !important">
                  <!--<a href="javascript:void(0);"  *ngIf="row.ObtainedMarks <= 0"
         (click)="ViewandEdit(MyModel_ViewDetails, row)">
        <i class="ti ti-pencil"></i>
      </a>-->
                  <a *ngIf="row.IsShowEditButton==1" href="javascript:void(0);"
                     (click)="ViewandEdit(MyModel_ViewDetails, row)">
                    <i class="ti ti-pencil"></i>
                  </a>
                </div>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>






<ng-template #MyModel_ViewDetails let-modal
             class="w-full h-full fixed top-0 left-0 z-[80] transition-all duration-500 overflow-y-auto [--overlay-backdrop:static] hidden">

  <div class="card">
    <div class="card-header flex justify-between  items-center">
      <b>Obtained Marks</b>
      <button class="btn bg-info text-white" (click)="CloseModalPopup()"><i class="ti ti-x"></i></button>
    </div>
    <div class="card-body">
      <form [formGroup]="ExamMarksGroup">

        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">
            Obtained Marks : <span class="StarMarking">*</span>
          </label>

          <input class="form-input" type="text" id="txtExamMarks" placeholder="Enter Exam Marks" formControlName="txtExamMarks" [(ngModel)]="ObtainMarksRequest.ObtainedMarks" maxlength="3"
                 inputmode="numeric" autocomplete="off" (keydown)="allowOnlyNumbers($event)" (paste)="preventPaste($event)">
          <div *ngIf="isSubmitted && _ExamMarksGroup.txtExamMarks.errors"
               class="text-danger">
            <p *ngIf="_ExamMarksGroup.txtExamMarks.errors.required">
              This field is required.
            </p>
            <p *ngIf="_ExamMarksGroup.txtExamMarks.errors.pattern">
              Only numeric values allowed.
            </p>
            <p *ngIf="_ExamMarksGroup.txtExamMarks.errors.min">
              Obtained marks an't be zero OR negative.
            </p>
            <p *ngIf="_ExamMarksGroup.txtExamMarks.errors.max">
              Obtained marks can't be greater than 250.
            </p>
          </div>
        </div>


        <!--<div>
    <label class="text-gray-800 text-sm font-medium inline-block mb-1">
      Student Status <span class="StarMarking">*</span>
    </label>

    <select class="form-select" id="ddlStudentStatus" formControlName="ddlStudentStatus" [(ngModel)]="request.StudentStatus">
      <option value="">-- Select Status --</option>
      <option value="Present">Present</option>
      <option value="Absent">Absent</option>
    </select>

    <div *ngIf="isSubmitted && _ExamMarksGroup.ddlStudentStatus.errors" class="text-danger">
      <p *ngIf="_ExamMarksGroup.ddlStudentStatus.errors.required">
        This field is required.!
      </p>
    </div>
  </div>-->

      </form>
      <div class="grid 2xl:grid-cols-1 xl:grid-cols-1 lg:grid-cols-1 md:grid-cols-1 grid-cols-1 gap-3">
        <div class="text-center">
          <button type="button" class="btn bg-info text-white mt-6" (click)="SaveExamMarksData()">Submit</button>
        </div>
      </div>
    </div>
    <div class="grid 2xl:grid-cols-1 xl:grid-cols-1 lg:grid-cols-1 md:grid-cols-1 grid-cols-1 gap-3">
    </div>
  </div>
</ng-template>

