<!-- Page Title Start -->

<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">Event Consent List</h4>

    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700">Industry Institute Partnership Master</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700" aria-current="page">Event Consent List</a>
    </div>
  </div>
</div>
<!-- Page Title End -->

<div class="card">
  <div class="card-body p-5">

    <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
      <b class="text-1xl-5"><i class="ti ti-list"></i> Search Results</b>
    </div>
    <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">
      <div class="">
        <select id="ddlConter" class="form-select  couterDropDown">
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="500">500</option>
          <option value="1000">1000</option>
        </select>
      </div>
      <div class="">
        <button class="btn bg-success text-white" type="button" (click)="onSubmit(modal_SubmitReq)">Update Consent Status</button>
      </div>
      <div class=""></div>
      <div class="">
        <!-- <input class="form-input" placeholder="Search....." [(ngModel)]="Table_SearchText" /> -->
      </div>
    </div>
    <div class="overflow-auto mt-3">
      <table class="table table-border w-full" cellpadding="5">
        <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">
          <tr>
            <th class="text-left">
              <input type="checkbox" class="checkboxSize" [(ngModel)]="AllInTableSelect" (change)="selectInTableAllCheckbox()" />
            </th>
            <th>Sr. No.</th>
            <th class="text-left">Event Name</th>
            <th class="text-left">Event Type</th>
            <th class="text-left">Event</th>
            <th class="text-left">Event For</th>
            <th class="text-left">Event Schedule</th>

            <th class="text-left">Venue</th>
            <th class="text-left">Level</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of paginatedInTableData;let idx=index;  ">
            <td>
              <input type="checkbox" class="checkboxSize" [(ngModel)]="row.Selected"
                     #checkboxInTableSeletedSingle (change)="selectInTableSingleCheckbox(checkboxInTableSeletedSingle.checked,row)">
            </td>
            <td class="text-center">{{(startInTableIndex+1)+idx}}</td>
            <td class="lg:whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">{{row.EventName}}</td>
            <td class="lg:whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">{{row.EventType}}</td>
            <td class="lg:whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">{{row.Event}}</td>
            <td class="lg:whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">{{row.EventFor}}</td>
            <td class="lg:whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">{{ row.EventSchedule}}</td>

            <td>{{row.VenueName}}</td>
            <td>{{row.LevelName}}</td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #modal_SubmitReq let-modal>
  <div class="modal-content">
    <div class="card">
      <div class="card-header flex justify-between items-center">
        <b class="text-1xl-5">Action <small class="text-danger">(* fields are mandatory)</small></b>
        <button class="btn bg-info text-white" (click)="CloseModal()" type="button"><i class="ti ti-x"></i></button>
      </div>
      <form [formGroup]="groupForm">
        <div class="card-body">
          <div class="grid 2xl:grid-cols-1 xl:grid-cols-1 lg:grid-cols-1 md:grid-cols-1 grid-cols-1 gap-3">
            <div>
              <label class="text-gray-800 text-sm font-medium inline-block mb-1">
                Status <span class="StarMarking">*</span>
              </label>
              <select class="form-select" [(ngModel)]="request.Status" formControlName="ddlStatus">
                <option value="0" selected="">--Choose Option--</option>
                <option value="1">Approve</option>
                <option value="2">Reject</option>
              </select>
              <div *ngIf="isSubmitted && groupForm.controls.ddlStatus.errors" class="text-danger">
                <p *ngIf="!groupForm.controls.ddlStatus.errors.required"><i aria-hidden="true"></i>This field is required .!</p>
              </div>
            </div>
            <div>
              <label class="text-gray-800 text-sm font-medium inline-block mb-1">
                Remark <span class="StarMarking">*</span>
              </label>
              <textarea class="form-input" [(ngModel)]="request.Remark" formControlName="txtRemark"></textarea>
              <div *ngIf="isSubmitted && groupForm.controls.txtRemark.errors" class="text-danger">
                <p *ngIf="groupForm.controls.txtRemark.errors.required"><i aria-hidden="true"></i>This field is required .!</p>
              </div>
            </div>
          </div>
        </div> <!-- Close this div here for card-body -->
        <div class="card-footer text-right">
          <button type="button" (click)="updateConsentStatus()" class="btn bg-success text-white btn-sm">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-template>