 
<!-- Page Title Start -->
<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
    <div>
      <h4 class="text-slate-900 text-lg font-medium mb-2">Add Nodal</h4>
        <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
            <a routerLink="/dashboard" class="text-sm font-medium text-slate-700">Dashboard</a>
            <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
            <a routerLink="/nodal-list" class="text-sm font-medium text-slate-700" aria-current="page">Nodal</a>
            <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
            <a routerLink="/add-nodal" class="text-sm font-medium text-slate-700" aria-current="page">Add Nodal</a>
        </div>
    </div>
</div>
<!-- Page Title End -->
<div class="card">
    <div class="card-body p-5">
        <div class="mb-8">
            <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
              <b class="text-1xl-5"><i class="ti ti-plus"></i> Add Nodal</b>
                <a routerLink="/nodal-list" class="btn bg-dark text-white btn-sm">Back</a>
            </div>
            <form [formGroup]="VerifierFormGroup">
              <div class="grid 2xl:grid-cols-2 xl:grid-cols-2 lg:grid-cols-2 md:grid-cols-2 grid-cols-1 gap-3">

                <div>
                  <label class="text-gray-800 text-sm font-medium inline-block mb-1">Center Name:</label>
                  <input class="form-input" type="text" placeholder="Enter CenterName" formControlName="CenterName" [(ngModel)]="request.CenterName" />
                  <div *ngIf="isSubmitted && _VerifierFormGroup.CenterName.errors" class="text-danger">
                    <p *ngIf="_VerifierFormGroup.CenterName.errors.required">
                      <i aria-hidden="true"></i> This field is
                      required.!
                    </p>
                  </div>
                </div>

                <div>
                  <label class="text-gray-800 text-sm font-medium inline-block mb-1">Center Code:</label>
                  <input class="form-input" type="text" placeholder="Enter CenterCode" formControlName="CenterCode" [(ngModel)]="request.CenterCode" />
                  <div *ngIf="isSubmitted && _VerifierFormGroup.CenterCode.errors" class="text-danger">
                    <p *ngIf="_VerifierFormGroup.CenterCode.errors.required">
                      <i aria-hidden="true"></i> This field is
                      required.!
                    </p>
                  </div>
                </div>

                <div>
                  <label class="text-gray-800 text-sm font-medium inline-block mb-1">Nodal Officer SSO ID:<span class="StarMarking">*</span> </label>
                  <div class="flex">
                    <input class="form-input" type="text" placeholder="Enter Nodal Officer" formControlName="OfficerSSOID" [(ngModel)]="request.OfficerSSOID" />
                    <button type="button" class="btn bg-info text-white" (click)="SSOIDGetSomeDetails(request.OfficerSSOID)">GetDetails</button>
                  </div>
                  <div *ngIf="isSubmitted && _VerifierFormGroup.OfficerSSOID.errors" class="text-danger">
                    <p *ngIf="_VerifierFormGroup.OfficerSSOID.errors.required">
                      <i aria-hidden="true"></i> This field is
                      required.!
                    </p>
                  </div>
                </div>
                <div>
                  <label class="text-gray-800 text-sm font-medium inline-block mb-1">Nodal Officer Name:</label>
                  <input class="form-input" type="text" placeholder="Enter Officer Name" formControlName="OfficerName" [(ngModel)]="request.OfficerName"  />
                  <div *ngIf="isSubmitted && _VerifierFormGroup.OfficerName.errors" class="text-danger">
                    <p *ngIf="_VerifierFormGroup.OfficerName.errors.required">
                      <i aria-hidden="true"></i> This field is
                      required.!
                    </p>
                  </div>
                </div>
                <div>
                  <label class="text-gray-800 text-sm font-medium inline-block mb-1">Email Address: </label>
                  <input class="form-input" type="email" placeholder="Enter EmailAddress Address" formControlName="EmailAddress" [(ngModel)]="request.EmailAddress" />
                  <div *ngIf="isSubmitted && _VerifierFormGroup.EmailAddress.errors" class="text-danger">
                    <p *ngIf="_VerifierFormGroup.EmailAddress.errors.required">
                      <i aria-hidden="true"></i> This field is
                      required.!
                    </p>
                  </div>
                </div>
                <div>
                  <label class="text-gray-800 text-sm font-medium inline-block mb-1">Mobile No.: </label>
                  <input class="form-input" type="text" placeholder="Enter MobileNo" formControlName="MobileNo" [(ngModel)]="request.MobileNo" maxlength="10" />
                  <div *ngIf="isSubmitted && _VerifierFormGroup.MobileNo.errors" class="text-danger">
                    <p *ngIf="_VerifierFormGroup.MobileNo.errors.required">
                      <i aria-hidden="true"></i> This field is
                      required.!
                    </p>
                  </div>
                </div>

                <div>
                  <label class="text-gray-800 text-sm font-medium inline-block mb-1">Address:</label>
                  <textarea class="form-input" type="text" placeholder="Enter Address" formControlName="Address" [(ngModel)]="request.Address"></textarea>
                  <div *ngIf="isSubmitted && _VerifierFormGroup.Address.errors" class="text-danger">
                    <p *ngIf="_VerifierFormGroup.Address.errors.required">
                      <i aria-hidden="true"></i> This field is
                      required.!
                    </p>
                  </div>
                </div>


                <!--<div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
    <label class="block">Status</label>
    <label class="inline-flex items-center cursor-pointer toggleCheckBox Active statusActiveInActive">
      <input class="sr-only peer" type="checkbox" id="Active" [(ngModel)]="request.ActiveStatus"
             formControlName="chkActiveStatus" onchange="js_StatusYesNoActiveInActive(this);">
      <span class="toggleIcon">
        <span class="toggleTitle"></span>
      </span>
    </label>

  </div>-->
                <!--<div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
    <label class="block">Show All Application</label>
    <label class="inline-flex items-center cursor-pointer toggleCheckBox Active statusActiveInActive">
      <input class="sr-only peer" type="checkbox" id="Active" [(ngModel)]="request.ShowAllApplication"
             formControlName="chkShowAllApplication">
      <span class="toggleIcon">
        <span class="toggleTitle"></span>
      </span>
    </label>
  </div>-->





              </div>
                <div class="grid 2xl:grid-cols-1 xl:grid-cols-1 lg:grid-cols-1 md:grid-cols-1 grid-cols-1 gap-3 mt-3">
                  <div class="text-center">
                    <button type="button" class="btn bg-info text-white mt-6" (click)="SaveVerifierData()">Submit</button>
                    <button type="button" class="btn bg-danger text-white mt-6" (click)="ResetControl()">Reset</button>
                  </div>
                </div>
</form>
        </div>

    </div>
</div>
