<!-- Page Title Start -->

<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">{{ isUpdate ? 'Update Group' : 'Add Group' }}</h4>
    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700">Masters</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a routerLink="/Branches" class="text-sm font-medium text-slate-700" aria-current="page">Branches</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a routerLink="/AddBranches" class="text-sm font-medium text-slate-700" aria-current="page">{{ isUpdate ? 'Update Group' : 'Add Group' }}</a>
    </div>
  </div>
  <a routerLink="/groups" class="inline-flex items-center btn bg-dark text-white btn-sm"><i class="ti ti-chevron-left"></i> Back</a>
</div>
<!-- Page Title End -->

<div class="grid xl:grid-cols-1 lg:grid-cols-1 md:grid-cols-1 gap-6 mb-6">
  <div class="card">
    <div class="card-body p-5">
      <div class="mb-8">
        <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
          <b class="text-1xl-5">
            <i class="ti ti-plus"></i> {{ isUpdate ? 'Update Group' : 'Add Group' }}
          </b>
        </div>
        <form [formGroup]="groupForm" (ngSubmit)="saveData()">
          <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">
            <div>
              <label for="ddlExamName" class="text-gray-800 text-sm font-medium inline-block mb-2">
                Exam Name:<span class="StarMarking">*</span>
              </label>
              <select class="form-select" id="ddlExamName" name="ddlExamName" [(ngModel)]="request.ExamID"
                      formControlName="ddlExamName">
                <option disabled value="0">-- Select --</option>
                <option *ngFor="let item of ExamList" value="{{item.ID}}">{{item.Name}}</option>
              </select>
              <div *ngIf="isSubmitted && groupForm.controls.ddlExamName.errors" class="text-danger">
                <p *ngIf="!groupForm.controls.ddlExamName.errors.required"><i aria-hidden="true"></i>This field is required .!</p>
              </div>
            </div>

            <div>
              <label for="ddlSubjectCode" class="text-gray-800 text-sm font-medium inline-block mb-2">
                Subject code:<span class="StarMarking">*</span>
              </label>
              <select class="form-select" id="ddlSubjectCode" name="ddlSubjectCode" [(ngModel)]="request.SubjectID"
                      formControlName="ddlSubjectCode">
                <option disabled value="0">-- Select --</option>
                <option *ngFor="let item of SubjectMasterList" value="{{item.SubjectID}}">{{item.SubjectCode}}</option>
              </select>
              <div *ngIf="isSubmitted && groupForm.controls.ddlSubjectCode.errors" class="text-danger">
                <p *ngIf="!groupForm.controls.ddlSubjectCode.errors.required"><i aria-hidden="true"></i>This field is required .!</p>
              </div>
            </div>
            <div>
              <label class="text-gray-800 text-sm font-medium inline-block mb-1"> Center Code:</label>
              <input class="form-input" type="text" id="txtCenterCode" placeholder="Enter Center Code" [(ngModel)]="request.CenterCode" formControlName="txtCenterCode">
              <div *ngIf="isSubmitted && groupForm.controls.txtCenterCode.errors" class="text-danger">
                <p *ngIf="!groupForm.controls.txtCenterCode.errors.required"><i aria-hidden="true"></i>This field is required .!</p>
              </div>
            </div>
            <div>
              <label class="text-gray-800 text-sm font-medium inline-block mb-1">Group Code: <span class="StarMarking">*</span></label>
              <input formControlName="groupcode" class="form-input" placeholder="Enter Group Code" [(ngModel)]="request.GroupCode">
              <div *ngIf="isSubmitted && groupForm.controls.groupcode.errors" class="text-danger">
                <p *ngIf="groupForm.controls.groupcode.errors.required">This field is required!</p>
              </div>
            </div>

            <div>
              <button type="submit" id="btnSave" class="btn bg-info text-white mt-6">Submit</button>
              <button type="button" id="btnReset" (click)="ResetControl()" class="btn bg-danger text-white"><i class="ti ti-refresh"></i> Reset</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- end row -->
