  <!-- Page Title Start -->

<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">Add/Edit HR Details</h4>

    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700">Master</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a routerLink="/Hrmaster" class="text-sm font-medium text-slate-700" aria-current="page">Add/Edit Hr Details</a>
    </div>
  </div>
  <a (click)="Back()" class="inline-flex items-center btn bg-dark text-white btn-sm" ><i class="ti ti-chevron-left"></i> Back</a>
</div>


<form [formGroup]="HrMasterFormGroup" id="HrMasterFormGroup" class="form-horizontal">
  <div class="card">
    <div class="card-body p-5">
      <div class="mb-8">
        <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
          <b class="text-1xl-5"><i class="ti ti-plus"></i> Add Hr Details</b>
        </div>
        <div class="grid xl:grid-cols-3 lg:grid-cols-3 md:grid-cols-2 gap-6">
          <div>
            <label class="text-gray-800 text-sm font-medium inline-block mb-1">Name <span class="StarMarking">*</span></label>
            <input type="text" class="form-input" placeholder="Enter Name" id="Name" name="Name" [(ngModel)]="request.Name" formControlName="Name">
            <div *ngIf="isSubmitted && _HrMasterFormGroup.Name.errors" class="text-danger">
              <p *ngIf="_HrMasterFormGroup.Name.errors.required"><i aria-hidden="true"></i> This field is required.!</p>
            </div>
          </div>

          <div>
            <label class="text-gray-800 text-sm font-medium inline-block mb-1">Email <span class="StarMarking">*</span></label>
            <input type="email" class="form-input" placeholder="Enter Email" id="EmailId" name="EmailId" [(ngModel)]="request.EmailId" formControlName="EmailId">
            <div *ngIf="isSubmitted && _HrMasterFormGroup.EmailId.errors" class="text-danger">
              <p *ngIf="_HrMasterFormGroup.EmailId.errors.required"><i aria-hidden="true"></i> This field is required.!</p>
            </div>
          </div>
          <div>
            <label class="text-gray-800 text-sm font-medium inline-block mb-1">Mobile Number <span class="StarMarking">*</span></label>
            <input type="number" class="form-input" placeholder="Enter Mobile No" id="MobileNo" name="MobileNo" [(ngModel)]="request.MobileNo" formControlName="MobileNo" maxlength="10">
            <div *ngIf="isSubmitted && _HrMasterFormGroup.MobileNo.errors" class="text-danger">
              <p *ngIf="_HrMasterFormGroup.MobileNo.errors.required"><i aria-hidden="true"></i> This field is required.!</p>
            </div>
          </div>


          <div>
            <label class="text-gray-800 text-sm font-medium inline-block mb-1">Company  <span class="StarMarking">*</span></label>
            <select class="form-select" id="PlacementCompanyID" name="PlacementCompanyID" [(ngModel)]="request.PlacementCompanyID" formControlName="PlacementCompanyID">
              <option value="0">Choose Option</option>
              <option *ngFor="let item of CompanyMasterDDLList" [value]="item.ID">{{item.Name}}</option>
            </select>
            <div *ngIf="isSubmitted && _HrMasterFormGroup.PlacementCompanyID.errors" class="text-danger">
              <p *ngIf="!_HrMasterFormGroup.PlacementCompanyID.errors.DropdownValidators"><i aria-hidden="true"></i>This field is required.!</p>
            </div>
          </div>


          <div class="col-span-3 text-center">
            <button type="button" class="btn bg-info text-white mt-6" (click)="SaveData()">Submit</button>
            <button type="button" class="btn bg-danger text-white mt-6" (click)="ResetControls()"><i class="ti ti-refresh"></i> Reset</button>
          </div>

        </div>


      </div>
    </div>

  </div>
</form>
<!-- end row -->
