.InvStatus-issued {
  background-color: #fbbc05; /* yellow */
  color: #fff;
  padding: 0px 10px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 12px;
  display: inline-block;
}

.InvStatus-returned {
  background-color: #34a853; /* green */
  color: #fff;
  padding: 0px 10px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 12px;
  display: inline-block;
}
