<!-- Page Title Start -->

<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">Student</h4>

    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a routerLink="/dashboard" class="text-sm font-medium text-slate-700">Student</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700" aria-current="page">Map Application</a>
    </div>
  </div>
  <button type="submit" class="btn bg-success text-white btn-lg" (click)="openModal(modal_ApplyNow)"><i class="ti ti-plus"></i> Apply for admissions</button>
</div>
<!-- Page Title End -->

<div class="card">
  <div class="card-body p-5">

    <div class="mb-8">
      <form [formGroup]="searchssoform">
        <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
          <b class="text-1xl-5"><i class="ti ti-map"></i> Map Application  </b>

         <!-- <a routerLink="/PayExamFee" class="btn bg-info text-white"><i class="ti ti-currency-rupee"></i>Pay Exam Fee Without Map</a>-->
        </div>
        <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">


          <div>
            <label class="text-gray-800 text-sm font-medium inline-block mb-1">Department<span class="StarMarking">*</span></label>
            <select class="form-select" id="ddlDepartment" formControlName="ddlDepartment" [(ngModel)]="searchRequest.DepartmentID">
              <option value="0" selected>--Select Department--</option>
              <option value="{{_EnumDepartment.BTER}}">Polytechnic</option>
              <option value="{{_EnumDepartment.ITI}}  ">ITI</option>

            </select>
            <div *ngIf="isSubmitted && _searchssoform.ddlDepartment.errors" class="text-danger">
              <p *ngIf="!_searchssoform.ddlDepartment.errors.DropdownValidators"><i aria-hidden="true"></i> This field is required.!</p>
            </div>
          </div>

          <div>
            <label class="text-gray-800 text-sm font-medium inline-block mb-1">Application /Enrollment No.<span class="StarMarking">*</span></label>
            <input type="text" class="form-input" placeholder="Enter Application/Enrollment No" formControlName="txtApplicationNo" [(ngModel)]="searchRequest.ApplicationNo">
            <div *ngIf="isSubmitted && _searchssoform.txtApplicationNo.errors" class="text-danger">
              <p *ngIf="_searchssoform.txtApplicationNo.errors.required"><i aria-hidden="true"></i> This field is required.!</p>
            </div>
          </div>
          <div>
            <label class="text-gray-800 text-sm font-medium inline-block mb-1">Mobile No<span class="StarMarking">*</span> </label>
            <input type="text" class="form-input" placeholder="Enter Enter Mobile 10 Digit " formControlName="txtMobileNo" [(ngModel)]="searchRequest.MobileNumber">
            <div *ngIf="isSubmitted && _searchssoform.txtMobileNo.errors" class="text-danger">
              <p *ngIf="_searchssoform.txtMobileNo.errors.required"><i aria-hidden="true"></i> This field is required.!</p>
            </div>
          </div>
          <div>
            <label class="text-gray-800 text-sm font-medium inline-block mb-1">DOB<span class="StarMarking">*</span></label>
            <input type="date" class="form-input" min="1000-01-01" max="9999-12-31" placeholder="Enter Select DOB" formControlName="DOB" [(ngModel)]="searchRequest.DOB">
            <div *ngIf="isSubmitted && _searchssoform.DOB.errors" class="text-danger">
              <p *ngIf="_searchssoform.DOB.errors.required"><i aria-hidden="true"></i> This field is required.!</p>
            </div>
          </div>



          <div>
            <button type="button" class="btn bg-info text-white mt-6 me-1" (click)="onSearchClick()"><i class="ti ti-search"></i>Search</button>
            <button type="button" id="btnReset" (click)="ResetControl()" class="btn bg-danger text-white"><i class="ti ti-refresh"></i> Reset</button>
          </div>
        </div>
      </form>
    </div>
    <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light" *ngIf="isShowGrid">
      <b class="text-1xl-5"><i class="ti ti-list"></i> Search Results</b>
    </div>
    <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">

    </div>
    <div class="overflow-x-auto mt-3" *ngIf="isShowGrid">
      <table class="table table-border w-full table-auto" cellpadding="5">
        <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">
          <tr>
            <th class="text-left">#</th>
            <th class="text-left">Student Name</th>
            <th class="text-left">Father Name</th>
            <th class="text-left">DOB</th>
            <th class="text-left">Mobile</th>
            <th class="text-left">Email</th>
            <!--<th class="text-left">Institute Name</th>
            <th class="text-left">Stream Name</th>
            <th class="text-left">Semester</th>-->
            <th class="text-left">Enrollment No.</th>

            <th class="text-Center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of StudentDetailsModelList ; let idx=index;">
            <td>{{idx+1}}</td>
            <td>{{row.StudentName}}</td>
            <td>{{row.FatherName}}</td>
            <td>{{row.DOB}}</td>
            <td>{{row.MobileNo  | mobileMask}}</td>
            <td>{{row.Email}}</td>
            <!--<td>{{row.InstituteName}}</td>
            <td>{{row.StreamName}}</td>
            <td>{{row.Semester}}</td>-->
            <td>{{row.EnrollmentNo}}</td>
            <td class="text-center">
              <!--<button class="btn bg-success text-white btn-sm" (click)="openModalGenerateOTP(modal_GenrateOTP,row)" type="button">Map SSO</button>-->
              <button class="btn bg-success text-white btn-sm" (click)="mapstudent(row)" type="button">Map SSO</button>
            </td>
          </tr>
          <tr *ngIf="StudentDetailsModelList?.length === 0"><td colspan="15"> No records found</td></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- end row -->


<!--Start Model Popup-->
<ng-template #modal_GenrateOTP let-modal class=" h-full fixed top-0 left-0 z-[80] transition-all duration-500 overflow-y-auto [--overlay-backdrop:static] hidden">
  <div class="modal-content">
    <div class="card">
      <div class="card-header flex justify-between  items-center">
        <b>
          <i class="fa fa-plus"></i>&nbsp; OTP Verification
        </b>
        <button class="btn bg-info text-white" (click)="CloseModal()"><i class="ti ti-x"></i></button>
      </div>
      <div class="card-body">
        <p class="text-center">
          <span class="mobile-text">Enter the OTP you recevied at  <b class="text-success">+91 {{MobileNo  | mobileMask}}</b></span>
        </p>
        <div class="mt-4">
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Enter OTP</label>
          <input type="text" (keypress)="numberOnly($event)" maxlength="6" class="form-input" [(ngModel)]="OTP" placeholder="Enter OTP">
        </div>
      </div>
      <div class="text-center flex items-center justify-center mt-3">
        <button (click)="VerifyOTP()" type="button" id="btnSave" class="btn bg-info text-white"><i class="ti ti-device-floppy"></i> Verify OTP</button>
        <p class="text-danger" *ngIf="!showResendButton">Resend OTP available in: {{ formatTime(timeLeft) }}</p>
        <button *ngIf="showResendButton" (click)="SendOTP(true)" type="button" class="btn bg-danger text-white"><i class="ti ti-refresh"></i> Resend OTP</button>
      </div>
      <br/>
    </div>
  </div>
</ng-template>
<!--Start Model Popup-->


<ng-template #modal_ApplyNow let-modal class="w-full h-full fixed top-0 left-0 z-[80] transition-all duration-500 overflow-y-auto [--overlay-backdrop:static] hidden">
  <div class="modal-content">
    <div class="card">
      <div class="card-header flex justify-between  items-center">
        <b class="text-2xl"><i class="fa fa-plus"></i>&nbsp;Proceed With </b>
        <button class="btn bg-info text-white" (click)="CloseModal()"><i class="ti ti-x"></i></button>
      </div>
      <div class="card-body p-5"> 
        <div class="p-6">
          <div class="grid xl:grid-cols-1 lg:grid-cols-1 md:grid-cols-1 gap-6 mb-8">
            <div>
              <h2 class="text-center text-4xl">Admission Apply For</h2>
            </div>
          </div>
          <div class="grid xl:grid-cols-3 lg:grid-cols-3 md:grid-cols-3 gap-6 loginBox mt-8">
            <!--<a [routerLink]="'/StudentJanAadharDetail'" [queryParams]="{deptid:BTER}" (click)="CloseModal()" class="btn bg-info btn-lg text-white text-center text-3xl py-4 c-pointer">BTER <i class="ti ti-chevron-right"></i></a>-->
            <!-- <a [routerLink]="'/dtepublicinfo'" [queryParams]="{deptid:BTER}" (click)="CloseModal()" class="btn bg-info btn-lg text-white text-center text-3xl py-4 c-pointer">BTER <i class="ti ti-chevron-right"></i></a> -->
            <a *ngIf="MapKeyEng==1" [routerLink]="'/StudentJanAadharDetail'" [queryParams]="{deptid:ITI}" (click)="CloseModal()" class="btn bg-info btn-lg text-white text-center text-3xl py-4 c-pointer">ITI <i class="ti ti-chevron-right"></i></a>
            <!-- <a class="btn bg-info btn-lg text-white text-center text-3xl py-4 c-pointer">DCE <i class="ti ti-chevron-right"></i></a> -->
          </div>
        </div>
      </div>
    </div>

  </div>
</ng-template>
