<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">Guest Room Request</h4>

    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a [routerLink]="['/dashboard']" class="text-sm font-medium text-slate-700">Dashboard</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a [routerLink]="['/guestroomrequest']" class="text-sm font-medium text-slate-700" aria-current="page">Guest Room Request</a>
    </div>
  </div>
</div>
<!-- Page Title End -->

<div class="card">
  <div class="card-body p-5">
    <div class="mb-8">
      <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
        <b class="text-1xl-5"><i class="ti ti-search"></i> Enter Search Criteria</b>
      </div>
      <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">
        <!-- <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">
            Department
          </label>
          <select class="form-select" [(ngModel)]="searchRequest.DepartmentID">
            <option value="1">BTER</option>
          </select>
        </div> -->
        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">
            Status
          </label>
          <select class="form-select" [(ngModel)]="searchRequest.Status">
            <option value="0" selected="">--Choose Option--</option>
            <option *ngFor="let item of statusList" [value]="item.ID">{{item.Name}}</option>
          </select>
        </div>

        <div>
          <label for="FromDate" class="text-gray-800 text-sm font-medium inline-block mb-2">
            Form Date: <span class="StarMarking">*</span>
          </label>
          <input type="date" class="form-input" id="FromDate" name="FromDate"
              [(ngModel)]="searchRequest.FromDate" [min]="todayDate">
          
        </div>

        <div>
          <label for="ToDate" class="text-gray-800 text-sm font-medium inline-block mb-2">
            To Date: <span class="StarMarking">*</span>
          </label>
          <input type="date" class="form-input" id="ToDate" name="ToDate"
              [(ngModel)]="searchRequest.ToDate" [min]="searchRequest.FromDate">
          
        </div>

        <div>
          <button type="button" class="btn bg-info text-white mt-6" (click)="GuestRequestList()">Search</button>
          <button type="button" class="btn bg-danger text-white mt-6" (click)="GuestRequestListCancel()">Cancel</button>
        </div>
      </div>

    </div>
    <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
      <b class="text-1xl-5"><i class="ti ti-list"></i> Search Results</b>
      <div class="flex justify-end flex-wrap items-center">
        <a href="javascript:void(0);" class="btn bg-info btn-sm text-white" (click)="exportToExcel()"><i class="ti ti-download"></i> Download Excel Data</a>
      </div>
    </div>
    <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">
      <div class="">
        <select id="ddlConter" class="form-select  couterDropDown">
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="500">500</option>
          <option value="1000">1000</option>
        </select>
      </div>
      <div class="">
      </div>
      <div class="">
      </div>
      <div class="">
        <input class="form-input" placeholder="Search..." [(ngModel)]="Table_SearchText" />
      </div>
    </div>
    <div class="overflow-x-auto mt-3">
      <table class="table table-border w-full table-auto" cellpadding="5">
        <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">
          <tr>
            <th class="text-left" style="width:100px">#</th>
            <th class="text-left">Request Applier Information</th>
            <th class="text-left">Documents</th>
            <!-- <th class="text-left">Employee ID</th> -->
            <th class="text-left">From Date/Time</th>
            <th class="text-left">To Date/Time</th>
            <th class="text-left">Guest House Name</th>
            <th class="text-left">Purpose</th>
            <th class="text-left">Room Type</th>
            <th class="text-left">Room No</th>
            <th class="text-left">Cooling Facilities</th>
            <th class="text-left">Room Fee</th>
            <th class="text-left">Status</th>
            <th class="text-left">Payment Status</th>
            <th class="text-left">Remark</th>
            <th class="text-center" style="width:220px">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of RequestList  | tableSearchFilter:Table_SearchText;let idx=index;">
            <td align="left">{{idx+1}}</td>
            <td align="left">
              <!-- <span class="block fw-600">{{item.RequestName}} - ({{item.RoleNameEnglish}})</span>
              <span class="block">Department - {{item.DepartmentName}}</span>
              <span class="block">College - {{item.InstituteName}}</span> -->

              <div style="display: flex; gap: 10px; align-items: center; flex-wrap: wrap;">
                <span style="white-space: nowrap;">{{item.RequestName}} - ({{item.RoleNameEnglish}})
                </span><br>
                <span style="white-space: nowrap;"><b>Dpartment </b> - {{item.DepartmentName}}
                </span><br>
                <span style="white-space: nowrap;">
                  <b>College</b> - {{item.InstituteName}}
                </span><br>
                <span style="white-space: nowrap;">
                  <b>Employee ID</b> - {{item.EmpID}}
                </span><br>
                <span style="white-space: nowrap;">
                  <b>Mobile No</b> - {{item.MobileNo}}
                </span><br>
                <span style="white-space: nowrap;">
                  <b>Email</b> - {{item.Email}}
                </span>
              </div>
            </td>
            <td align="left">
              <div style="display: flex; gap: 15px; align-items: center; flex-wrap: wrap;">
                <span style="white-space: nowrap;"><b>Employee ID:</b> 
                  <a [href]="appsettingConfig.StaticFileRootPathURL + '/' + item.EmplDCardPhoto"
                    class="text-info" target="_blank"> {{item.Dis_EmpIDCardPhoto}}</a>
                </span>
                <span style="white-space: nowrap;"><b>Purpose Doc:</b>
                  <a [href]="appsettingConfig.StaticFileRootPathURL + '/' + item.PurposeDocPhoto"
                    class="text-info" target="_blank"> {{item.Dis_PurposeDocPhoto}}</a>
                </span>
                <span style="white-space: nowrap;">
                  <b>Valid Photo ID:</b> 
                  <a [href]="appsettingConfig.StaticFileRootPathURL + '/' + item.IDProofPhoto"
                    class="text-info" target="_blank"> {{item.Dis_IDProofPhoto}}</a>
                </span>
              </div>
            </td>
            <!-- <td align="left"><a title="View Employee" href="{{this.appsettingConfig.StaticFileRootPathURL}}{{item.EmplDCardPhoto}}" target="_blank">{{item.EmpID}}</a> </td> -->
            
            <td align="left">{{item.FromDate}} {{item.FromTime}}</td>
            <td align="left">{{item.ToDate}} {{item.ToTime}}</td>
            <td align="left">{{item.GuestHouseName}}</td>
            <td align="left">{{item.Purpose_str}}</td>
            <td align="left">{{item.RoomType_str}}</td>
            <td align="left">{{item.RoomNo}}</td>
            <td align="left">{{item.CoolingFacilities_Str}}</td>
            <td align="left">{{item.RoomFee}}</td>
            <td align="left">{{item.StatusName}}</td>
            <td align="left">{{item.PaymentStatus_str}}</td>
            <td align="left">{{item.Remark}}</td>
            <td align="center">
              <div class="d-flex flex-column gap-2">
                <button type="button"
                        class="bg-info btn text-white btn-sm"
                        (click)="onSubmit(modal_SubmitReq, item)"
                        *ngIf="item.Status < 217 && (sSOLoginDataModel.RoleID ==_EnumRole.GuestHouseIncharge)">
                  Approve/Reject
                </button>

                <button type="button"
                        class="bg-info btn text-white btn-sm"
                        (click)="onSubmit(modal_SubmitReq, item)"
                        *ngIf="item.Status === 217 && (sSOLoginDataModel.RoleID ==_EnumRole.GuestHouseAdmin)">
                  Approve/Reject
                </button>

                <button type="button"
                        class="bg-success btn text-white btn-sm"
                        (click)="openModal_CheckIn(modal_CheckIn, item)"
                        *ngIf="item.Status === 1339 && sSOLoginDataModel.RoleID==_EnumRole.GuestRoomWarden">
                  Check In
                </button>

                <button type="button"
                        class="bg-warning btn text-dark btn-sm"
                        (click)="openOTPModal_CheckOut(item)"
                        *ngIf="item.Status === 220 && sSOLoginDataModel.RoleID==_EnumRole.GuestRoomWarden">
                  Check Out
                </button>


                <button type="button" class="btn btn-sm bg-primary text-white mt-2"
                        *ngIf="(item.Status === 1339 || item.Status === 220) && sSOLoginDataModel.RoleID==_EnumRole.GuestRoomWarden  && item.PaymentStatus == 0"
                        (click)="openModalGenerateOTP(modal_GenrateOTP,item)">
                  <i class="ti ti-currency-rupee"></i> Pay Now
                </button>

                <button type="button"
                        class="bg-success btn text-white btn-sm"
                        (click)="openModal_ReservedRoomCheckIn(modal_ReservedRoomCheckIn, item)"
                        *ngIf="showCheckIn && sSOLoginDataModel.RoleID==_EnumRole.GuestRoomWarden && item.IsShowCheckInBtn">
                  <i class="ti ti-login"></i>Check In
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #modal_SubmitReq let-modal>
  <div class="modal-content">
    <div class="card">
      <div class="card-header flex justify-between items-center">
        <b class="text-1xl-5">Action <small class="text-danger">(* fields are mandatory)</small></b>
        <button class="btn bg-info text-white" (click)="CloseModal()" type="button"><i class="ti ti-x"></i></button>
      </div>
      <form [formGroup]="groupForm">


        <div class="card-body">

          <div class="grid 2xl:grid-cols-1 xl:grid-cols-1 lg:grid-cols-1 md:grid-cols-1 grid-cols-1 gap-3">

            <div>
              <label class="text-gray-800 text-sm font-medium inline-block mb-1">
                Status <span class="StarMarking">*</span>
              </label>
              <select class="form-select" [(ngModel)]="request.Status" formControlName="ddlStatus">
                <option value="0" selected="">--Choose Option--</option>
                <option *ngFor="let item of filteredStatusList" [value]="item.ID">{{item.Name}}</option>
              </select>
              <div *ngIf="isSubmitted && groupForm.controls.ddlStatus.errors" class="text-danger">
                <p *ngIf="!groupForm.controls.ddlStatus.errors.required"><i aria-hidden="true"></i>This field is required .!</p>
              </div>
            </div>
            <div>
              <label class="text-gray-800 text-sm font-medium inline-block mb-1">
                Remark <span class="StarMarking">*</span>
              </label>
              <textarea class="form-input" [(ngModel)]="request.Remark" formControlName="txtRemark"></textarea>
              <div *ngIf="isSubmitted && groupForm.controls.txtRemark.errors" class="text-danger">
                <p *ngIf="groupForm.controls.txtRemark.errors.required"><i aria-hidden="true"></i>This field is required .!</p>
              </div>
            </div>
          </div>
        </div> <!-- Close this div here for card-body -->
        <div class="card-footer text-right">
          <button type="button" (click)="updateReqStatus()" class="btn bg-success text-white btn-sm">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<!-- end row -->


<ng-template #modal_GenrateOTP let-modal class=" h-full fixed top-0 left-0 z-[80] transition-all duration-500 overflow-y-auto [--overlay-backdrop:static] hidden">
  <div class="modal-content">
    <div class="card">
      <div class="card-header flex justify-between  items-center">
        <b>
          <i class="fa fa-comment"></i>&nbsp; OTP verification for Payment
        </b>
        <button class="btn bg-info text-white" (click)="CloseModal1()"><i class="ti ti-x"></i></button>
      </div>
      <div class="card-body">
        <p class="text-center">
          <span class="mobile-text">Enter the OTP you received at  <b class="text-success">+91 {{MobileNo  | mobileMask}}</b></span>
        </p>
        <div class="mt-4">
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Enter OTP</label>
          <input type="text" (keypress)="numberOnly($event)" maxlength="6" class="form-input" [(ngModel)]="OTP" placeholder="Enter OTP">
        </div>
      </div>
      <div class="text-center flex items-center justify-center mt-3">
        <button (click)="VerifyOTP()" type="button" id="btnSave" class="btn bg-info text-white"><i class="ti ti-device-floppy"></i> Verify OTP</button>
        <p class="text-danger" *ngIf="!showResendButton">Resend OTP available in: {{ formatTime(timeLeft) }}</p>
        <button *ngIf="showResendButton" (click)="SendOTP(true)" type="button" class="btn bg-danger text-white"><i class="ti ti-refresh"></i> Resend OTP</button>
      </div>
      <br />
    </div>
  </div>
</ng-template>
<app-otpmodal #otpModal></app-otpmodal>

<ng-template #modal_CheckIn let-modal>
  <div class="modal-content">
    <div class="card">
      <div class="card-header flex justify-between items-center">
        <b class="text-1xl-5">Check-In <small class="text-danger">(* fields are mandatory)</small></b>
        <button class="btn bg-info text-white" (click)="CloseModal_CheckIn()" type="button"><i class="ti ti-x"></i></button>
      </div>
      <form [formGroup]="CheckInFormGroup">
        <div class="card-body">
          <div class="grid 2xl:grid-cols-2 xl:grid-cols-2 lg:grid-cols-2 md:grid-cols-1 grid-cols-1 gap-3 mb-6">
            <div class="overflow-x-auto mt-3">
              <table class="table table-border w-full table-auto" cellpadding="5">
                <tr>
                  <td>Name</td>
                  <td>{{request.RequestName}}</td>
                </tr>
                <tr>
                  <td>College Name</td>
                  <td>{{request.InstituteName}}</td>
                </tr>
                <tr>
                  <td>Purpose</td>
                  <td>{{request.Purpose_str}}</td>
                </tr>
                <tr>
                  <td>Gender</td>
                  <td>{{request.Gender_str}}</td>
                </tr>
                <tr>
                  <td>Room Type</td>
                  <td>{{request.RoomType_str}}</td>
                </tr>
              </table>
            </div>
          </div>         

          <div class="grid 2xl:grid-cols-2 xl:grid-cols-2 lg:grid-cols-2 md:grid-cols-1 grid-cols-1 gap-3">

            <div>
              <label class="text-gray-800 text-sm font-medium inline-block mb-1">
                Room No <span class="StarMarking">*</span>
              </label>
              <select class="form-select" [(ngModel)]="checkInRequest.GuestRoomDetailID" formControlName="GuestRoomDetailID">
                <option value="0" selected="">--Choose Option--</option>
                <option *ngFor="let item of RoomNoList" [value]="item.GuestRoomDetailID">{{item.RoomNo}} (Remaining Bed-{{item.RemainingBed}})</option>
              </select>
              <div *ngIf="isCheckedIn && _CheckInFormGroup.controls.GuestRoomDetailID.errors" class="text-danger">
                <p *ngIf="!_CheckInFormGroup.controls.GuestRoomDetailID.errors.required"><i aria-hidden="true"></i>This field is required .!</p>
              </div>
            </div>
            
          </div>
        </div> <!-- Close this div here for card-body -->
        <div class="card-footer text-center">
          <button type="button" (click)="openOTPModal_CheckIn()" class="btn bg-success text-white btn-sm">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #modal_ReservedRoomCheckIn let-modal>
  <div class="modal-content">
    <div class="card">
      <div class="card-header flex justify-between items-center">
        <b class="text-1xl-5">Check-In for Reserved Room <small class="text-danger">(* fields are mandatory)</small></b>
        <button class="btn bg-info text-white" (click)="CloseModal_ReservedRoomCheckIn()" type="button"><i class="ti ti-x"></i></button>
      </div>
      
      <div class="card-body">
        <form [formGroup]="SSOIDFormGroup" class="mb-3" (ngSubmit)="PostUserExists()" *ngIf="SSOIDFormGroup">
          <div class="grid 2xl:grid-cols-3 xl:grid-cols-3 lg:grid-cols-3 md:grid-cols-3 grid-cols-1 gap-3">
            <div class="mb-3">
              <label for="SSOID" class="form-label">SSOID</label>
              <div class="input-group check-box-custom">
                <input formControlName="SSOID" class="form-input" placeholder="Enter SSOID"  aria-describedby="basic-addon3 basic-addon4" />
                <!-- <span *ngIf="SSOIDExists != null" class="input-group-text {{SSOIDExists?'text-success':'text-danger'}}"><i class="fa {{SSOIDExists?'fa-check':'fa-close'}}"></i></span> -->
              </div>

              <div *ngIf="isSubmit && _SSOIDFormGroup.SSOID.errors" class="form-text text-danger">
                <p *ngIf="_SSOIDFormGroup.SSOID.errors.required"><i aria-hidden="true"></i> This field is required .!</p>
              </div>
            </div>
            <div>
              <div class="text-left">
                <button type="submit" class="btn bg-info text-white mt-6 me-1">Verify</button>
              </div>
            </div>
          </div>
        </form>

        <form [formGroup]="IIPMasterFormGroup" class="form-horizontal" *ngIf="IsShowForm">

          <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
            <b class="text-1xl-5"><i class="ti ti-plus"></i> Add Guest Apply For Guest Room</b>
          </div>
          <div class="grid 2xl:grid-cols-4 xl:grid-cols-3 lg:grid-cols-2 md:grid-cols-2 grid-cols-1 gap-3">
            
            <div>
              <label class="text-gray-800 text-sm font-medium inline-block mb-1">
                Name<span class="StarMarking">*</span>
              </label>
              <input type="text" class="form-input" placeholder="Enter Display Name" name="DisplayName"
                    [(ngModel)]="requestReservedCheckIn.DisplayName" formControlName="DisplayName" [readonly]="sSOLoginDataModel.RoleID!=_EnumRole.GuestRoomWarden">
              <div *ngIf="isSubmitted && _IIPMasterFormGroup.DisplayName.errors" class="form-text text-danger">
                <p *ngIf="_IIPMasterFormGroup.DisplayName.errors.required"><i aria-hidden="true"></i> This field is required .!</p>
              </div>
            </div>

            <div>
              <label class="text-gray-800 text-sm font-medium inline-block mb-1">
                Mobile No<span class="StarMarking">*</span>

              </label>
              <input type="text" class="form-input" placeholder="Enter Mobile No" name="MobileNo"
                    [(ngModel)]="requestReservedCheckIn.MobileNo" formControlName="MobileNo">
              <div *ngIf="isSubmitted && _IIPMasterFormGroup.MobileNo.errors" class="form-text text-danger">
                <p *ngIf="_IIPMasterFormGroup.MobileNo.errors.required"><i aria-hidden="true"></i> This field is required .!</p>
              </div>
            </div>


            <div>
              <label class="text-gray-800 text-sm font-medium inline-block mb-1">
                Mail ID<span class="StarMarking">*</span>
              </label>
              <input type="text" class="form-input" placeholder="Enter Mail Personal" name="MailPersonal"
                    [(ngModel)]="requestReservedCheckIn.MailPersonal" formControlName="MailPersonal" >
              <div *ngIf="isSubmitted && _IIPMasterFormGroup.MailPersonal.errors" class="form-text text-danger">
                <p *ngIf="_IIPMasterFormGroup.MailPersonal.errors.required"><i aria-hidden="true"></i> This field is required .!</p>
              </div>
            </div>

            <div>
              <label for="Gender" class="text-gray-800 text-sm font-medium inline-block mb-2">
                Gender:<span class="StarMarking" style="display:none;">*</span>
              </label>
              <select class="form-select" id="GenderId" formControlName="GenderId" [(ngModel)]="requestReservedCheckIn.GenderId">
                <!--(change)="onGenderChange()"-->
                <option value="0" selected>--Select Gender--</option>
                <option *ngFor="let item of GenderList" value="{{item.ID}}">{{item.Name}}</option>
              </select>
              <div *ngIf="isSubmitted && _IIPMasterFormGroup.GenderId.errors" class="text-danger">
                <p *ngIf="!_IIPMasterFormGroup.GenderId.errors.required"><i aria-hidden="true"></i> This field is required.!</p>
              </div>
            </div>

            <div>
              <label class="text-gray-800 text-sm font-medium inline-block mb-1">
                Postal Address<!--<span class="StarMarking">*</span>-->
              </label>
              <input type="text" class="form-input" placeholder="Enter Postal Address" name="PostalAddress"
                    [(ngModel)]="requestReservedCheckIn.PostalAddress" formControlName="PostalAddress" >
              <!--<div *ngIf="isSubmitted && _IIPMasterFormGroup.PostalAddress.errors" class="form-text text-danger">
                <p *ngIf="_IIPMasterFormGroup.PostalAddress.errors.required"><i aria-hidden="true"></i> This field is required .!</p>
              </div>-->
            </div>


            <div>
              <label class="text-gray-800 text-sm font-medium inline-block mb-1">
                Postal Code<!--<span class="StarMarking">*</span>-->
              </label>
              <input type="text" class="form-input" placeholder="Enter Postal Code" name="PostalCode"
                    [(ngModel)]="requestReservedCheckIn.PostalCode" formControlName="PostalCode" >
              <!--<div *ngIf="isSubmitted && _IIPMasterFormGroup.PostalCode.errors" class="form-text text-danger">
                <p *ngIf="_IIPMasterFormGroup.PostalCode.errors.required"><i aria-hidden="true"></i> This field is required .!</p>
              </div>-->
            </div>

            <div>
              <label class="text-gray-800 text-sm font-medium inline-block mb-1">
                Employee ID
              </label>
              <input type="text" class="form-input" placeholder="Enter Employee IUD" name="EmpID"
                    [(ngModel)]="requestReservedCheckIn.EmpID" formControlName="EmpID">
            </div>

            <div>
              <label class="text-gray-800 text-sm font-medium inline-block mb-1"
                    for="fileEmployeePhoto">
                Employee ID Card Photo :
              </label>
              <div class="flex fileUploader">
                <input id="fileEmployeePhoto" class="block form-input w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                      type="file" (change)="onFilechange($event,'Photo')">
                <label for="fileEmployeePhoto">
                  <span>Choose File</span>
                  {{requestReservedCheckIn.Dis_EmpIDCardPhoto === '' ? 'No File Choosen' : requestReservedCheckIn.Dis_EmpIDCardPhoto}}
                </label>
                <div class="flex">
                  <a href="{{appsettingConfig.StaticFileRootPathURL + '/' + requestReservedCheckIn.EmpIDCardPhoto}}" *ngIf="this.requestReservedCheckIn.EmpIDCardPhoto !=''"
                    class="btn bg-primary text-white m-0" target="_blank"><i class="ti ti-eye"></i></a>
                </div>
              </div>
            </div>
            <div>
              <label class="text-gray-800 text-sm font-medium inline-block mb-1">
                Check-In Date/Time :<span class="StarMarking">*</span>
              </label>
              <div class="flex">
                <div style="width:calc(100% - 100px)">
                  <input formControlName="txtFromDate" class="form-input" placeholder="txtFromDate" type="date"
                        [min]="todayDate" [(ngModel)]="requestReservedCheckIn.FromDate">
                  <div *ngIf="isSubmitted && _IIPMasterFormGroup.txtFromDate.errors" class="text-danger">
                    <p *ngIf="_IIPMasterFormGroup.txtFromDate.errors.required"><i aria-hidden="true"></i> This field is required .!</p>
                  </div>
                </div>
                <div style="width:100px">
                  <input formControlName="txtFromTime" class="form-input" placeholder="txtFromTime" type="time"
                        [(ngModel)]="requestReservedCheckIn.FromTime">
                </div>
              </div>
            </div>

            <div>
              <label class="text-gray-800 text-sm font-medium inline-block mb-1">Purpose<span class="StarMarking">*</span></label>
              <select formControlName="Purpose" class="form-select" [(ngModel)]="requestReservedCheckIn.Purpose" (change)="onChangePurpose()">
                <option value="0">--Select--</option>
                <option value="1">Private</option>
                <option value="2">On Duty</option>
                <option value="3">Training</option>
              </select>
              <div *ngIf="isSubmitted && _IIPMasterFormGroup.Purpose.errors" class="text-danger">
                <p *ngIf="!_IIPMasterFormGroup.Purpose.errors.DropdownValidators"><i aria-hidden="true"></i>This field is required .!</p>
              </div>
            </div>

            <div>
              <label class="text-gray-800 text-sm font-medium inline-block mb-1">Room Fees(per day)<span class="StarMarking">*</span></label>
              <input formControlName="txtRoomFee" class="form-input" type="text" placeholder="Enter Room Fees"
                    [(ngModel)]="requestReservedCheckIn.RoomFee">
              <div *ngIf="isSubmitted && _IIPMasterFormGroup.txtRoomFee.errors" class="text-danger">
                <p *ngIf="_IIPMasterFormGroup.txtRoomFee.errors.required"><i aria-hidden="true"></i>This field is required .!</p>
              </div>
            </div>

            <div *ngIf="requestReservedCheckIn.Purpose != 0">
              <label class="text-gray-800 text-sm font-medium inline-block mb-1"
                    for="PurposeDocPhoto">
                {{requestReservedCheckIn.Purpose == 1 ? 'Private (Application)' : requestReservedCheckIn.Purpose == 2 ? 'On Duty Documents' : 'Training Documents'}} Upload:
              </label>
              <div class="flex fileUploader">
                <input id="PurposeDocPhoto" class="block form-input w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                      type="file" (change)="onFilechange($event,'PurposeDocPhoto')">
                <label for="PurposeDocPhoto">
                  <span>Choose File</span>
                  {{requestReservedCheckIn.Dis_PurposeDocPhoto === '' ? 'No File Choosen' : requestReservedCheckIn.Dis_PurposeDocPhoto}}
                </label>
                <div class="flex">
                  <a href="{{appsettingConfig.StaticFileRootPathURL + '/' + requestReservedCheckIn.PurposeDocPhoto}}" *ngIf="this.requestReservedCheckIn.PurposeDocPhoto !=''"
                    class="btn bg-primary text-white m-0" target="_blank"><i class="ti ti-eye"></i></a>
                </div>
              </div>
            </div>

            <div>
              <label class="text-gray-800 text-sm font-medium inline-block mb-1"
                    for="IDProofPhoto">
                Valid Photo ID / Address ID such as Aadhar / Passport / Licence:
              </label>
              <div class="flex fileUploader">
                <input id="IDProofPhoto" class="block form-input w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                      type="file" (change)="onFilechange($event,'IDProofPhoto')">
                <label for="IDProofPhoto">
                  <span>Choose File</span>
                  {{requestReservedCheckIn.Dis_IDProofPhoto === '' ? 'No File Choosen' : requestReservedCheckIn.Dis_IDProofPhoto}}
                </label>
                <div class="flex">
                  <a href="{{appsettingConfig.StaticFileRootPathURL + '/' + requestReservedCheckIn.IDProofPhoto}}" *ngIf="this.requestReservedCheckIn.IDProofPhoto !=''"
                    class="btn bg-primary text-white m-0" target="_blank"><i class="ti ti-eye"></i></a>
                </div>
              </div>
            </div>


          </div>

          <div class="flex justify-center">
            <button type="button" class="btn bg-info text-white mt-6" (click)="openOTPModal_Apply()">Submit</button>
            <button type="button" class="btn bg-danger text-white mt-6" (click)="ResetControls()">
              <i class="ti ti-refresh"></i> Reset
            </button>
          </div>

        </form>

      </div> 
    </div>
  </div>
</ng-template>


