<!--Page Title Start-->
<app-loader></app-loader>
<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">{{TE_MappingId>0?'Edit':'Add'}} BranchEquipments</h4>

    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700">Masters</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700" aria-current="page">BranchEquipments</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700" aria-current="page">
        {{TE_MappingId>0?'Edit':'Add'}}
        BranchEquipments
      </a>
    </div>
  </div>
  <a [routerLink]="['/add-request-dte-equipments']" class="inline-flex items-center btn bg-dark text-white btn-sm">
    <i class="ti ti-chevron-left"></i> Back
  </a>
</div>
<!--Page Title End-->

<div class="card">
  <div class="card-body p-5">
    <div class="flex justify-between items-center mb-4 p-3 py-2 bg-light">
      <b class="text-1xl-5"><i class="ti ti-plus"></i>{{TE_MappingId>0?'Edit':'Add'}} Branch Equipment</b>
    </div>
    <form [formGroup]="RequestFormGroup" (ngSubmit)="saveData()">
      <div class="grid 2xl:grid-cols-3 xl:grid-cols-3 lg:grid-cols-2 md:grid-cols-2 grid-cols-1 gap-3">
        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">
            College: <span class="StarMarking">*</span>
          </label>
          <div class="flex">
            <ng-select style="width:100%" formControlName="ddlInstituteID" [(ngModel)]="request.InstituteID" [items]="InstituteMasterList" bindLabel="InstituteName"
                       bindValue="InstituteID" placeholder="--Select--" [searchable]="true" [clearable]="false"
                       [searchFn]="customSearch1" [loading]="isLoading" [loadingText]="'Loading...'">
            </ng-select>
            <div *ngIf="isSubmitted && _RequestFormGroup.ddlInstituteID.errors" class="text-danger">
              <p *ngIf="!_RequestFormGroup.ddlInstituteID.errors.DropdownValidators">
                <i aria-hidden="true"></i>This field is required.
              </p>
            </div>
          </div>
        </div>


        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">
            Category Category: <span class="StarMarking">*</span>
          </label>
          <div class="flex">
            <ng-select style="width:100%" formControlName="ddlCategoryId" [(ngModel)]="request.CategoryId" [items]="CategoryddlList" bindLabel="Name"
                       bindValue="ItemCategoryID" placeholder="--Select--" [searchable]="true" [clearable]="false"
                       [searchFn]="customSearch" [loading]="isLoading" [loadingText]="'Loading...'" (change)="CategoryWiseEquiments()">
              <ng-option *ngFor="let item of CategoryddlList" [value]="item.ItemCategoryID">{{ item.Name }}</ng-option>
            </ng-select>

            <div *ngIf="isSubmitted && _RequestFormGroup.ddlCategoryId.errors" class="text-danger">
              <p *ngIf="!_RequestFormGroup.ddlCategoryId.errors.DropdownValidators">
                <i aria-hidden="true"></i>This field is required.
              </p>
            </div>
          </div>
        </div>



        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">
            Equipment: <span class="StarMarking">*</span>
          </label>
          <div class="flex">
            <ng-select style="width:100%" formControlName="ddlEquipmentsId" [(ngModel)]="request.EquipmentId" [items]="EquipmentddlList" bindLabel="Name"
                       bindValue="EquipmentsId" placeholder="--Select--" [searchable]="true" [clearable]="false" [searchFn]="customSearch"
                       [loading]="isLoading" [loadingText]="'Loading...'">
            </ng-select>

            <div *ngIf="isSubmitted && _RequestFormGroup.ddlEquipmentsId.errors" class="text-danger">
              <p *ngIf="!_RequestFormGroup.ddlEquipmentsId.errors.DropdownValidators">
                <i aria-hidden="true"></i>This field is required.!
              </p>
            </div>
          </div>
        </div>


        <div>
          <label for="IdentificationMark" class="text-gray-800 text-sm font-medium inline-block mb-2">
            IdentificationMark: <span class="StarMarking">*</span>
          </label>
          <input type="text" class="form-input" id="IdentificationMark" name="IdentificationMark" formControlName="IdentificationMark"
                 [(ngModel)]="request.IdentificationMark">
          <div *ngIf="isSubmitted && _RequestFormGroup.IdentificationMark.errors?.required" class="text-danger">
            <p>This field is required!</p>
          </div>
        </div>

        <div>
          <label for="CampanyName" class="text-gray-800 text-sm font-medium inline-block mb-2">
            CompanyName: <span class="StarMarking">*</span>
          </label>
          <input type="text" class="form-input" id="CampanyName" name="CampanyName" formControlName="CampanyName"
                 [(ngModel)]="request.CompanyName">
          <div *ngIf="isSubmitted && _RequestFormGroup.CampanyName.errors?.required" class="text-danger">
            <p>This field is required!</p>
          </div>
        </div>

        <div>
          <label for="VoucherNumber" class="text-gray-800 text-sm font-medium inline-block mb-2">
            VoucherNumber: <span class="StarMarking">*</span>
          </label>
          <input type="text" class="form-input" id="txtVoucherNumber" name="VoucherNumber" formControlName="txtVoucherNumber"
                 [(ngModel)]="request.VoucherNumber" maxlength="6" (keypress)="validateNumber($event)">
          <div *ngIf="isSubmitted && _RequestFormGroup.txtVoucherNumber.errors" class="text-danger">
            <p *ngIf="_RequestFormGroup.txtVoucherNumber.errors.required">
              <i aria-hidden="true"></i>
              This field is required .!
            </p>
            <!-- Check for pattern error -->
            <p *ngIf="_RequestFormGroup.txtVoucherNumber.errors.pattern">
              <i aria-hidden="true"></i>
              Only positive numbers are allowed in the VoucherNumber field!
            </p>
          </div>
        </div>

        <div>
          <label for="Quantity" class="text-gray-800 text-sm font-medium inline-block mb-2">
            Requested Quantity: <span class="StarMarking">*</span>
          </label>

          <input type="number"
                 id="txtQuantity"
                 class="form-input"
                 formControlName="txtQuantity"
                 [min]="1"
                 [max]="maxQty"
                 step="1"
                 readonly
                 disabled
                 oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0,4)" [(ngModel)]="request.Quantity" (input)="onQuantityInput($event)">

          <div *ngIf="isSubmitted && _RequestFormGroup.txtQuantity.errors" class="text-danger">
            <p *ngIf="_RequestFormGroup.txtQuantity.errors.required">
              <i aria-hidden="true"></i>
              This field is required .!
            </p>
            <!-- Check for pattern error -->
            <p *ngIf="_RequestFormGroup.txtQuantity.errors.pattern">
              <i aria-hidden="true"></i>
              Only positive numbers are allowed in the Quantity field!
            </p>
          </div>
        </div>

        <div>
          <label for="Quantity" class="text-gray-800 text-sm font-medium inline-block mb-2">
            Approved Quantity: <span class="StarMarking">*</span>
          </label>

          <input type="number"
                 id="ApprovedQuantity"
                 class="form-input"
                 formControlName="ApprovedQuantity"
                 [min]="1"
                 [max]="maxQty"
                 step="1"
                 oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0,4)" 
                [(ngModel)]="request.ApprovedQuantity" 
                (input)="onApprovedQuantityInput($event)">

          <div *ngIf="isSubmitted && _RequestFormGroup.ApprovedQuantity.errors" class="text-danger">
            <p *ngIf="_RequestFormGroup.ApprovedQuantity.errors.required">
              <i aria-hidden="true"></i>
              This field is required .!
            </p>
            <!-- Check for pattern error -->
            <p *ngIf="_RequestFormGroup.ApprovedQuantity.errors.pattern">
              <i aria-hidden="true"></i>
              Only positive numbers are allowed in the Quantity field!
            </p>
          </div>
        </div>


        <div>
          <label for="PricePerUnit" class="text-gray-800 text-sm font-medium inline-block mb-2">
            PricePerUnit: <span class="StarMarking">*</span>
          </label>
          <input type="text" class="form-input" id="txtPricePerUnit" name="PricePerUnit" formControlName="txtPricePerUnit"
                 [(ngModel)]="request.PricePerUnit" min="0" step="1" (ngModelChange)="calculateTotalPrice() " oninput="this.value = this.value.replace(/[^0-9]/g, '')">
          <div *ngIf="isSubmitted && _RequestFormGroup.txtPricePerUnit.errors" class="text-danger">
            <p *ngIf="_RequestFormGroup.txtPricePerUnit.errors.required">
              <i aria-hidden="true"></i>
              This field is required .!
            </p>
            <!-- Check for pattern error -->
            <p *ngIf="_RequestFormGroup.txtPricePerUnit.errors.pattern">
              <i aria-hidden="true"></i>
              Only positive numbers are allowed in the PricePerUnit field!
            </p>
          </div>
        </div>


        <div>
          <label for="TotalPrice" class="text-gray-800 text-sm font-medium inline-block mb-2">
            TotalPrice: <span class="StarMarking">*</span>
          </label>
          <input type="text" class="form-input" id="txtTotalPrice" name="TotalPrice" formControlName="txtTotalPrice"
                 [(ngModel)]="request.TotalPrice" readonly>
          <div *ngIf="isSubmitted && _RequestFormGroup.txtTotalPrice.errors" class="text-danger">
            <p *ngIf="_RequestFormGroup.txtTotalPrice.errors.required">
              <i aria-hidden="true"></i>
              This field is required .!
            </p>
            <!-- Check for pattern error -->
            <p *ngIf="_RequestFormGroup.txtTotalPrice.errors.pattern">
              <i aria-hidden="true"></i>
              Only numbers are allowed in the TotalPrice field!
            </p>
          </div>
        </div>
        <!-- <div>
          <label for="Document" class="text-gray-800 text-sm font-medium inline-block mb-2">
            Document:  
          </label>
          <a *ngIf="request.IndentDocument" href="{{ appsettingConfig.StaticFileRootPathURL + 'IssuesIndent/' + request.IndentDocument }}" class="btn bg-primary text-white " target="_blank">
            {{request.IndentDocument}}
          </a>
        </div> -->
      </div>

      <div class="grid xl:grid-cols-1 lg:grid-cols-1 md:grid-cols-1 gap-6">
        <div class="text-center">
          <button type="submit" class="btn bg-info text-white mt-6 me-1">Submit</button>
          <button type="button" id="btnReset" (click)="ResetControl()" class="btn bg-danger text-white">
            <i class="ti ti-refresh"></i> Reset
          </button>
        </div>
      </div>
    </form>
  </div>
</div>




