
<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">Add Fund</h4>
    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a class="text-sm font-medium text-slate-700" aria-current="page">IIP</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a class="text-sm font-medium text-slate-700" aria-current="page">Add Fund</a>
    </div>
  </div>
  <a [routerLink]="['/IDFFundDetailList']" class="inline-flex items-center btn bg-dark text-white btn-sm"><i class="ti ti-chevron-left"></i> Back</a>
</div>
{{formData | json}}
<div class="card">
  <div class="card-body p-5">
    <form #instituteForm="ngForm" (ngSubmit)="onSubmit(instituteForm)" novalidate>
      <div class="mb-8">
        <div class="flex justify-between items-center mb-4 p-3 py-2 bg-light">
          <b class="text-1xl-5"><i class="ti ti-plus"></i> Add Institutes</b>
        </div>

        <!-- Row 1 -->
        <div class="grid 2xl:grid-cols-3 xl:grid-cols-3 lg:grid-cols-2 md:grid-cols-2 grid-cols-1 gap-3">
          <!-- FinYearList Name -->
          <!-- Financial Year -->
          <div>
            <label>Financial Year<span class="StarMarking">*</span></label>
            <select [(ngModel)]="formData.FinancialYearID"
                    name="FinancialYearID"
                    required
                    class="form-select"
                    #FinancialYearID="ngModel">
              <option [ngValue]="0">--All--</option>
              @for (item of FinYearList; track item.FinancialYearID) {
              <option [ngValue]="item.FinancialYearID">{{item.FinancialYearName}}</option>
              }
            </select>

            <div class="text-red-500 text-sm"
                 *ngIf="(FinancialYearID.invalid || formData.FinancialYearID==0)&& (FinancialYearID.touched  || FinancialYearID.dirty || instituteForm.submitted)">
              <div>यह फ़ील्ड अनिवार्य है</div>
            </div>
          </div>

          <!-- Financial Quarter -->
          <div>
            <label>Financial Quarter<span class="StarMarking">*</span></label>
            <select [(ngModel)]="formData.FinYearQuaterID"
                    name="FinYearQuaterID"
                    required
                    class="form-select"
                    #FinYearQuaterID="ngModel">
              <option [ngValue]="0">--All--</option>
              @for (item of FinancialYear_QTR; track item.FinYearQuaterID) {
              <option [ngValue]="item.QuarterID">{{item.QuarterName}}</option>
              }
            </select>

            <div class="text-red-500 text-sm"
                 *ngIf="(FinYearQuaterID.invalid || formData.FinYearQuaterID==0) && (FinYearQuaterID.touched  ||  FinYearQuaterID.dirty || instituteForm.submitted)">
              <div>यह फ़ील्ड अनिवार्य है</div>
            </div>
          </div>




          <!-- Principal Name -->
          <div>
            <label>प्रिंसिपल आईटीआई का नाम<span class="StarMarking">*</span></label>
            <input [(ngModel)]="formData.PrincipalName" name="principalName"
                   class="form-input" placeholder="प्रिंसिपल आईटीआई का नाम"
                   type="text" required minlength="3" #principalName="ngModel">
            <div class="text-red-500 text-sm" *ngIf="principalName.invalid && (principalName.dirty || principalName.touched || principalName.instituteForm || instituteForm.submitted)">
              <div *ngIf="principalName.errors?.['required']">यह फ़ील्ड अनिवार्य है</div>
              <div *ngIf="principalName.errors?.['minlength']">कम से कम 3 अक्षर होने चाहिए</div>
            </div>
          </div>

          <!-- Opening Balance -->
          <div>
            <label>त्रैमास प्रारम्भ की प्रथम तारीख को उपलब्ध राशि<span class="StarMarking">*</span></label>
            <input [(ngModel)]="formData.OpeningBalance" name="openingBalance"
                   class="form-input" placeholder="राशि" type="number"
                   required min="0" #openingBalance="ngModel" (ngModelChange)="calculationdata()">
            <div class="text-red-500 text-sm" *ngIf="openingBalance.invalid && (openingBalance.dirty || openingBalance.touched || principalName.instituteForm || instituteForm.submitted)">
              <div *ngIf="openingBalance.errors?.['required']">यह फ़ील्ड अनिवार्य है</div>
              <div *ngIf="openingBalance.errors?.['min']">0 से अधिक होना चाहिए</div>
            </div>
          </div>

          <!-- Received Amount -->
          <div>
            <label>त्रैमास में प्राप्त की गई राशि<span class="StarMarking">*</span></label>
            <input [(ngModel)]="formData.ReceivedAmount" name="receivedAmount"
                   class="form-input" placeholder="राशि" type="number" (ngModelChange)="calculationdata()"
                   required min="0" #receivedAmount="ngModel">
            <div class="text-red-500 text-sm" *ngIf="receivedAmount.invalid && (receivedAmount.dirty || receivedAmount.touched ||  instituteForm.submitted || principalName.instituteForm || instituteForm.submitted)">
              <div *ngIf="receivedAmount.errors?.['required']">यह फ़ील्ड अनिवार्य है</div>
              <div *ngIf="receivedAmount.errors?.['min']">0 से अधिक होना चाहिए</div>
            </div>
          </div>
        </div>
        <!-- Other Deposits -->
        <div class="grid grid-cols-1 gap-3 mt-3">
          <div>
            <label>
              त्रैमास में आई. डी. एफ. नियम 3 के अतिरिक्त अन्य मद की जमा राशि<span class="StarMarking">*</span>
            </label>
          </div>
        </div>

        <table class="table-auto w-full border border-gray-300">
          <thead>
            <tr class="bg-gray-100">
              <th class="p-2 border">सीरीयल नम्बर</th>
              <th class="p-2 border">मद का नाम</th>
              <th class="p-2 border">प्राप्त की गई राशि</th>
              <th class="p-2 border">कार्यवाही</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of formData.OtherDepositList; let i = index">
              <!-- Head Name -->
              <td class="p-2 border">
                <span>{{i+1}}</span>
              </td>
              <td class="p-2 border">
                <input [(ngModel)]="formData.OtherDepositList[i].HeadName"
                       name="headname{{i}}"
                       class="form-input w-full"
                       placeholder="मद का नाम"
                       required #headName="ngModel">
                <div class="text-red-500 text-sm" *ngIf="headName.invalid && (headName.dirty || headName.touched || instituteForm.submitted)">
                  <div *ngIf="headName.errors?.['required']">यह फ़ील्ड अनिवार्य है</div>
                </div>
              </td>

              <!-- Received Amount -->
              <td class="p-2 border">
                <input [(ngModel)]="formData.OtherDepositList[i].ReceivedAmount"
                       name="otherReceivedAmount{{i}}" (ngModelChange)="calculationdata()"
                       class="form-input w-full"
                       placeholder="प्राप्त की गई राशि"
                       type="number"
                       required min="0" #otherReceivedAmount="ngModel">
                <div class="text-red-500 text-sm" *ngIf="otherReceivedAmount.invalid && (otherReceivedAmount.dirty || otherReceivedAmount.touched || instituteForm.submitted)">
                  <div *ngIf="otherReceivedAmount.errors?.['required']">यह फ़ील्ड अनिवार्य है</div>
                  <div *ngIf="otherReceivedAmount.errors?.['min']">0 से अधिक होना चाहिए</div>
                </div>
              </td>

              <!-- Action -->
              <td class="p-2 border text-center">
                <button type="button"
                        *ngIf="i != 0"
                        class="btn bg-danger text-white btn-sm"
                        (click)="removeDeposit(i)">
                  <span class="fa fa-remove"></span>&nbsp; Remove
                </button>

                <button *ngIf="i == 0" type="button" class="btn btn-sm bg-info text-white" (click)="addDeposit()"><span class="fa fa-plus"></span>Add More</button>

              </td>
            </tr>
          </tbody>

          <!-- Footer Row for Total -->
          <tfoot>
            <tr class="bg-gray-200 font-bold">
              <td></td>
              <td class="p-2 border text-right">कुल योग</td>
              <td class="p-2 border">
                {{ getTotalReceivedAmount() }}
              </td>

              <td class="p-2 border"></td>
            </tr>
          </tfoot>
        </table>


        <!-- Dynamic Rows -->
        <!--<div class="grid 2xl:grid-cols-3 xl:grid-cols-3 lg:grid-cols-2 md:grid-cols-2 grid-cols-1 gap-3"
             *ngFor="let item of formData.OtherDepositList; let i = index">

          <div class="mt-3">
            <input [(ngModel)]="formData.OtherDepositList[i].HeadName" name="headname{{i}}"
                   class="form-input" placeholder="मद का नाम"
                   required #headName="ngModel">
            <div class="text-red-500 text-sm" *ngIf="headName.invalid && (headName.dirty || headName.touched)">
              <div *ngIf="headName.errors?.['required']">यह फ़ील्ड अनिवार्य है</div>
            </div>
          </div>

          <div class="mt-3">
            <input [(ngModel)]="formData.OtherDepositList[i].ReceivedAmount" name="otherReceivedAmount{{i}}"
                   class="form-input" placeholder="प्राप्त की गई राशि" type="number"
                   required min="0" #otherReceivedAmount="ngModel">
            <div class="text-red-500 text-sm" *ngIf="otherReceivedAmount.invalid && (otherReceivedAmount.dirty || otherReceivedAmount.touched)">
              <div *ngIf="otherReceivedAmount.errors?.['required']">यह फ़ील्ड अनिवार्य है</div>
              <div *ngIf="otherReceivedAmount.errors?.['min']">0 से अधिक होना चाहिए</div>
            </div>
          </div>

          <div class="mt-3">
            <button type="button" *ngIf="i!=0" class="btn bg-danger text-white" (click)="removeDeposit(i)">Remove</button>
          </div>
        </div>-->
        <!-- Row 2 -->
        <div class="grid 2xl:grid-cols-3 xl:grid-cols-3 lg:grid-cols-2 md:grid-cols-2 grid-cols-1 gap-3 mt-4">
          <div>
            <label>त्रैमास में आई.डी.एफ. नियम 6 के तहत व्यय की गई राशि<span class="StarMarking">*</span></label>
            <input [(ngModel)]="formData.Expense" name="expense"
                   class="form-input" placeholder="राशि" type="number" (ngModelChange)="calculationdata()"
                   required min="0" #expense="ngModel">
            <div class="text-red-500 text-sm" *ngIf="expense.invalid && (expense.dirty || expense.touched)">
              <div *ngIf="expense.errors?.['required']">यह फ़ील्ड अनिवार्य है</div>
              <div *ngIf="expense.errors?.['min']">0 से अधिक होना चाहिए</div>
            </div>
          </div>

          <div>
            <label>त्रैमास की अन्तिम तारीख को शुद्ध राशि<span class="StarMarking">*</span></label>
            <input [(ngModel)]="formData.ClosingBalance" name="closingBalance"
                   class="form-input" placeholder="शुद्ध राशि" type="number" disabled="disabled"
                   required min="0" #closingBalance="ngModel">
            <div class="text-red-500 text-sm" *ngIf="closingBalance.invalid && (closingBalance.dirty || closingBalance.touched)">
              <div *ngIf="closingBalance.errors?.['required']">यह फ़ील्ड अनिवार्य है</div>
              <div *ngIf="closingBalance.errors?.['min']">0 से अधिक होना चाहिए</div>
            </div>
          </div>

          <div>
            <label>अन्य कोई विवरण</label>
            <input [(ngModel)]="formData.Remark" name="remark"
                   class="form-input" placeholder="अन्य कोई विवरण"
                   minlength="3" #remark="ngModel">
            <div class="text-red-500 text-sm" *ngIf="remark.invalid && (remark.dirty || remark.touched)">
              <div *ngIf="remark.errors?.['minlength']">कम से कम 3 अक्षर होने चाहिए</div>
            </div>
          </div>
        </div>

        <!-- Submit -->
        <div class="grid xl:grid-cols-1 lg:grid-cols-1 md:grid-cols-1 gap-6">
          <div class="text-center">
            <!--[disabled]="instituteForm.invalid"-->
            <button type="submit"
                    class="btn bg-info text-white mt-6">
              Submit
            </button>
            <button type="reset" class="btn bg-danger text-white mt-6">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
