
<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">Add/Edit Industry Institute Partnership Details</h4>

    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700">Master</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700" aria-current="page">Industry-Institute-Partnership Master</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a routerLink="/IndustryInstitutePartnershipList" class="text-sm font-medium text-slate-700" aria-current="page">Add/Edit Industry-Institute-Partnership Details</a>
    </div>
  </div>
  <a routerLink="/IndustryInstitutePartnershipList" class="inline-flex items-center btn bg-dark text-white btn-sm">
    <i class="ti ti-chevron-left"></i>
    Back
  </a>
</div>



<div class="card">
  <div class="card-body p-5">
    <div class="mb-8">
      <form [formGroup]="IIPMasterFormGroup" id="IIPMasterFormGroup" class="form-horizontal">
        <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
          <b class="text-1xl-5"><i class="ti ti-plus"></i> Add Industry-Institute-Partnership Details</b>
        </div>
        <div class="grid 2xl:grid-cols-3 xl:grid-cols-3 lg:grid-cols-2 md:grid-cols-2 grid-cols-1 gap-3">
          <!-- <div>
            <label class="text-gray-800 text-sm font-medium inline-block mb-1">
              Name <span class="StarMarking">*</span>
            </label>
            <input type="text" class="form-input" placeholder="Enter Name" id="Name" name="Name"
                   [(ngModel)]="request.Name" formControlName="Name">
            <div *ngIf="isSubmitted && _IIPMasterFormGroup.Name.errors" class="text-danger">
              <p *ngIf="_IIPMasterFormGroup.Name.errors.required">
                <i aria-hidden="true"></i> This field is
                required.!
              </p>
            </div>
          </div> -->

          <div>
            <label class="text-gray-800 text-sm font-medium inline-block mb-1">Company Name</label>
            <select class="form-select" id="PlacementCompanyID" [(ngModel)]="request.PlacementCompanyID" formControlName="PlacementCompanyID"
              (change)="GetComapnyDetailsByID()">
              <option value="0">--All--</option>
              <option *ngFor="let item of CompanyMasterList" value="{{item.ID}}">{{item.Name}}</option>
            </select>
            <div *ngIf="isSubmitted&&_IIPMasterFormGroup.PlacementCompanyID.errors" class="text-danger">
              <p *ngIf="!_IIPMasterFormGroup.PlacementCompanyID.errors.DropdownValidators">
                <i aria-hidden="true"></i>This field is required .!
              </p>
            </div>
          </div>

          <div>
            <label class="text-gray-800 text-sm font-medium inline-block mb-1">
              Website <span class="StarMarking">*</span>
            </label>
            <input type="email" class="form-input" placeholder="Enter Website" id="Website" name="Website"
                   [(ngModel)]="request.Website" formControlName="Website">
            <div *ngIf="isSubmitted && _IIPMasterFormGroup.Website.errors" class="text-danger">
              <p *ngIf="_IIPMasterFormGroup.Website.errors.required">
                <i aria-hidden="true"></i> This field is
                required.!
              </p>
            </div>
          </div>

          <div>
            <label class="text-gray-800 text-sm font-medium inline-block mb-1">
              State <span class="StarMarking">*</span>
            </label>
            <select formControlName="ddlState" class="form-select" id="ddlState" [(ngModel)]="request.StateID"
                    (change)="ddlState_Change()">
              <option value="0">--Select--</option>
              <option *ngFor="let item of StateMasterList" [value]="item.ID">{{item.Name}}</option>
            </select>
            <div *ngIf="isSubmitted&&_IIPMasterFormGroup.ddlState.errors" class="text-danger">
              <p *ngIf="!_IIPMasterFormGroup.ddlState.errors.DropdownValidators">
                <i aria-hidden="true"></i>This
                field is required .!
              </p>
            </div>
          </div>

          <div>
            <label class="text-gray-800 text-sm font-medium inline-block mb-1">
              District<span class="StarMarking">*</span>
            </label>
            <select formControlName="ddlDistrict" class="form-select" id="ddlDistrict" [(ngModel)]="request.DistrictID">
              <option value="0">--Select--</option>
              <option *ngFor="let item of DistrictMasterList" [value]="item.ID">{{item.Name}}</option>
            </select>
            <div *ngIf="isSubmitted&&_IIPMasterFormGroup.ddlDistrict.errors" class="text-danger">
              <p *ngIf="!_IIPMasterFormGroup.ddlDistrict.errors.DropdownValidators">
                <i aria-hidden="true"></i>This
                field is required .!
              </p>
            </div>
          </div>
          <div>
            <label class="text-gray-800 text-sm font-medium inline-block mb-1">
              Address <span class="StarMarking">*</span>
            </label>
            <input type="text" class="form-input" placeholder="Enter Company Address" id="Address" name="Address"
                   [(ngModel)]="request.Address" formControlName="Address">
            <div *ngIf="isSubmitted && _IIPMasterFormGroup.Address.errors" class="text-danger">
              <p *ngIf="_IIPMasterFormGroup.Address.errors.required">
                <i aria-hidden="true"></i> This field is
                required.!
              </p>
            </div>
          </div>
          <div>
            <label class="block mb-1 text-sm font-medium text-gray-900 dark:text-white"
                   for="fileStudentPhoto">Logo</label>
            <div class="flex fileUploader">
              <input class="block form-input w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                     id="fileStudentPhoto" type="file" (change)="onFilechange($event,'Photo')">
              <label for="fileStudentPhoto">
                <span>Choose File</span>
                {{request.Dis_Logo === '' ? 'No File Choosen' : request.Dis_Logo}}
              </label>
              <div class="flex">
                <a href="{{appsettingConfig.StaticFileRootPathURL + '/' + request.Logo}}"
                   *ngIf="this.request.Dis_Logo !=''"
                   class="btn bg-primary text-white m-0" target="_blank"><i class="ti ti-eye"></i></a>
              </div>
            </div>
          </div>


          <!-- <div>
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                   for="fileStudentCompany">Company Document</label>
            <div class="flex fileUploader">
              <input class="block form-input w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                     id="fileStudentCompany" type="file" (change)="onFilechangeCompany($event,'CompanyDocument')">
              <label for="fileStudentCompany">
                <span>Choose File</span>
                {{request.Dis_DocName === '' ? 'No File Choosen' : request.Dis_DocName}}
              </label>
              <div class="flex">
                <a href="{{appsettingConfig.StaticFileRootPathURL + '/' + request.CompanyDocument}}"
                   *ngIf="this.request.Dis_DocName !=''"
                   class="btn bg-primary text-white m-0" target="_blank"><i class="ti ti-eye"></i></a>
              </div>
            </div>
          </div> -->
        </div>
      </form>


      <form [formGroup]="HrMasterFormGroup" id="HrMasterFormGroup" class="form-horizontal mt-6">
        <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
          <b class="text-1xl-5"><i class="ti ti-plus"></i> Add Concern Person Details</b>
        </div>
        <div class="grid xl:grid-cols-4 lg:grid-cols-4 md:grid-cols-3 gap-6">

          <div>
            <label class="text-gray-800 text-sm font-medium inline-block mb-1">Name <span class="StarMarking">*</span></label>
            <input type="text" class="form-input" placeholder="Enter Name" id="Name" name="Name" [(ngModel)]="personRequest.Name" formControlName="Name">
            <div *ngIf="isHrFormSubmitted && _HrMasterFormGroup.Name.errors" class="text-danger">
              <p *ngIf="_HrMasterFormGroup.Name.errors.required"><i aria-hidden="true"></i> This field is required.!</p>
            </div>
          </div>

          <div>
            <label class="text-gray-800 text-sm font-medium inline-block mb-1">Email <span class="StarMarking">*</span></label>
            <input type="email" class="form-input" placeholder="Enter Email" id="EmailId" name="EmailId" [(ngModel)]="personRequest.EmailId" formControlName="EmailId">
            <div *ngIf="isHrFormSubmitted && _HrMasterFormGroup.EmailId.errors" class="text-danger">
              <p *ngIf="_HrMasterFormGroup.EmailId.errors.required"><i aria-hidden="true"></i> This field is required.!</p>
              <p *ngIf="_HrMasterFormGroup.EmailId.errors.pattern"><i aria-hidden="true"></i>Please enter a valid email address.</p>
            </div>
          </div>

          <div>
            <label class="text-gray-800 text-sm font-medium inline-block mb-1">Mobile Number <span class="StarMarking">*</span></label>
            <input autocomplete="off" class="form-input" placeholder="Enter Mobile No" id="MobileNo" name="MobileNo" [(ngModel)]="personRequest.MobileNo" formControlName="MobileNo" maxlength="10" (keypress)="validateNumber($event)">
            <div *ngIf="isHrFormSubmitted && _HrMasterFormGroup.MobileNo.errors" class="text-danger">
              <p *ngIf="_HrMasterFormGroup.MobileNo.errors.required"><i aria-hidden="true"></i> This field is required.!</p>
            </div>
          </div>

          <div>
            <div class="text-center">
              <button type="button" class="btn bg-info text-white mt-6" (click)="AddMoreMembers()">Add More</button>
              <button type="button" class="btn bg-danger text-white mt-6" (click)="resetHrDetails()">
                <i class="ti ti-refresh"></i> Reset
              </button>
            </div>
          </div>
        </div>
      </form>

      <div class="mt-6">
        <div class="flex justify-between items-center flex-wrap mb-3 p-3 py-2 bg-light">
          <b class="text-1xl-5">Added Members</b>
        </div>

        <div class="overflow-auto">
          <table class="w-full table-border" cellpadding="5">
            <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700">
              <tr>
                <th>Sr No</th>
                <th>Name</th>
                <th>Contact No</th>
                <th>Email</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of request.ConcernPersonDetails; let idx=index;" >
                <td class="text-center">{{idx+1}}</td>
                <td class="text-center">{{row.Name}}</td>
                <td class="text-center">{{row.MobileNo}}</td>
                <td class="text-center">{{row.EmailId}}</td>
                <td class="text-center">
                  <button class="btn bg-danger text-white" type="button" title="Delete" (click)="Delete_Hr(idx)">
                    <i class="ti ti-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="grid 2xl:grid-cols-1 xl:grid-cols-1 lg:grid-cols-1 md:grid-cols-1 grid-cols-1 gap-3">
      <div class="text-center">
        <button type="button" class="btn bg-info text-white mt-6" (click)="SaveData_IIP_Company()">Submit</button>
        <!-- <button type="button" class="btn bg-danger text-white mt-6" (click)="ResetControls()">
          <i class="ti ti-refresh"></i> Reset
        </button> -->
      </div>

    </div>
  </div>
</div>

