
<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">Add/Edit Industry Institute Partnership Details</h4>

    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700">Master</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700" aria-current="page">Industry-Institute-Partnership Master</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a routerLink="/IndustryInstitutePartnershipList" class="text-sm font-medium text-slate-700" aria-current="page">Add/Edit Industry-Institute-Partnership Details</a>
    </div>
  </div>
  <a routerLink="/IndustryInstitutePartnershipList" class="inline-flex items-center btn bg-dark text-white btn-sm">
    <i class="ti ti-chevron-left"></i>
    Back
  </a>
</div>


<form [formGroup]="IIPMasterFormGroup" id="IIPMasterFormGroup" class="form-horizontal">
  <div class="card">
    <div class="card-body p-5">
      <div class="mb-8">
        <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
          <b class="text-1xl-5"><i class="ti ti-plus"></i> Add Industry-Institute-Partnership Details</b>
        </div>
        <div class="grid 2xl:grid-cols-3 xl:grid-cols-3 lg:grid-cols-2 md:grid-cols-2 grid-cols-1 gap-3">
          <div>
            <label class="text-gray-800 text-sm font-medium inline-block mb-1">
              Name <span class="StarMarking">*</span>
            </label>
            <input type="text" class="form-input" placeholder="Enter Name" id="Name" name="Name"
                   [(ngModel)]="request.Name" formControlName="Name">
            <div *ngIf="isSubmitted && _IIPMasterFormGroup.Name.errors" class="text-danger">
              <p *ngIf="_IIPMasterFormGroup.Name.errors.required">
                <i aria-hidden="true"></i> This field is
                required.!
              </p>
            </div>
          </div>

          <div>
            <label class="text-gray-800 text-sm font-medium inline-block mb-1">
              Website <span class="StarMarking">*</span>
            </label>
            <input type="email" class="form-input" placeholder="Enter Website" id="Website" name="Website"
                   [(ngModel)]="request.Website" formControlName="Website">
            <div *ngIf="isSubmitted && _IIPMasterFormGroup.Website.errors" class="text-danger">
              <p *ngIf="_IIPMasterFormGroup.Website.errors.required">
                <i aria-hidden="true"></i> This field is
                required.!
              </p>
            </div>
          </div>



          <div>
            <label class="text-gray-800 text-sm font-medium inline-block mb-1">
              State <span class="StarMarking">*</span>
            </label>
            <select formControlName="ddlState" class="form-select" id="ddlState" [(ngModel)]="request.StateID"
                    (change)="ddlState_Change()">
              <option value="0">--Select--</option>
              <option *ngFor="let item of StateMasterList" [value]="item.ID">{{item.Name}}</option>
            </select>
            <div *ngIf="isSubmitted&&_IIPMasterFormGroup.ddlState.errors" class="text-danger">
              <p *ngIf="!_IIPMasterFormGroup.ddlState.errors.DropdownValidators">
                <i aria-hidden="true"></i>This
                field is required .!
              </p>
            </div>
          </div>

          <div>
            <label class="text-gray-800 text-sm font-medium inline-block mb-1">
              District<span class="StarMarking">*</span>
            </label>
            <select formControlName="ddlDistrict" class="form-select" id="ddlDistrict" [(ngModel)]="request.DistrictID">
              <option value="0">--Select--</option>
              <option *ngFor="let item of DistrictMasterList" [value]="item.ID">{{item.Name}}</option>
            </select>
            <div *ngIf="isSubmitted&&_IIPMasterFormGroup.ddlDistrict.errors" class="text-danger">
              <p *ngIf="!_IIPMasterFormGroup.ddlDistrict.errors.DropdownValidators">
                <i aria-hidden="true"></i>This
                field is required .!
              </p>
            </div>
          </div>
          <div>
            <label class="text-gray-800 text-sm font-medium inline-block mb-1">
              Address <span class="StarMarking">*</span>
            </label>
            <input type="text" class="form-input" placeholder="Enter Company Address" id="Address" name="Address"
                   [(ngModel)]="request.Address" formControlName="Address">
            <div *ngIf="isSubmitted && _IIPMasterFormGroup.Address.errors" class="text-danger">
              <p *ngIf="_IIPMasterFormGroup.Address.errors.required">
                <i aria-hidden="true"></i> This field is
                required.!
              </p>
            </div>
          </div>
          <div>
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                   for="fileStudentPhoto">Logo</label>
            <div class="flex fileUploader">
              <input class="block form-input w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                     id="fileStudentPhoto" type="file" (change)="onFilechange($event,'Photo')">
              <label for="fileStudentPhoto">
                <span>Choose File</span>
                {{request.Dis_CompanyName === '' ? 'No File Choosen' : request.Dis_CompanyName}}
              </label>
              <div class="flex">
                <a href="{{appsettingConfig.StaticFileRootPathURL + '/' + request.CompanyPhoto}}"
                   *ngIf="this.request.Dis_CompanyName !=''"
                   class="btn bg-primary text-white m-0" target="_blank"><i class="ti ti-eye"></i></a>
              </div>
            </div>
          </div>


          <div>
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                   for="fileStudentCompany">Company Document</label>
            <div class="flex fileUploader">
              <input class="block form-input w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                     id="fileStudentCompany" type="file" (change)="onFilechangeCompany($event,'CompanyDocument')">
              <label for="fileStudentCompany">
                <span>Choose File</span>
                {{request.Dis_DocName === '' ? 'No File Choosen' : request.Dis_DocName}}
              </label>
              <div class="flex">
                <a href="{{appsettingConfig.StaticFileRootPathURL + '/' + request.CompanyDocument}}"
                   *ngIf="this.request.Dis_DocName !=''"
                   class="btn bg-primary text-white m-0" target="_blank"><i class="ti ti-eye"></i></a>
              </div>
            </div>
          </div>



        </div>
        <div class="grid 2xl:grid-cols-1 xl:grid-cols-1 lg:grid-cols-1 md:grid-cols-1 grid-cols-1 gap-3">
          <div class="text-center">
            <button type="button" class="btn bg-info text-white mt-6" (click)="SaveData()">Submit</button>
            <button type="button" class="btn bg-danger text-white mt-6" (click)="ResetControls()">
              <i class="ti ti-refresh"></i> Reset
            </button>
          </div>

        </div>


      </div>
    </div>

  </div>
</form>
