<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">{{this.StreamType}} Student Joining Status Marks</h4>

    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a routerLink="/dashboard" class="text-sm font-medium text-slate-700">Dashboard</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a  class="text-sm font-medium text-slate-700" aria-current="page">Student Joining Status Marks</a>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-body p-5">
    <div class="mb-8">
      <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
        <b class="text-1xl-5"><i class="ti ti-search"></i> Enter Search Criteria</b>
      </div>
      <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">
        <div>
          <!--<label class="text-gray-800 text-sm font-medium inline-block mb-1">Enter Application No:</label>-->
          <input class="form-input"  [(ngModel)]="searchRequest.ApplicationNo" placeholder="Enter Application No" (input)="applyFilter($event.target.value)" />
        </div>
        <!--<div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Allotment Type: <span class="StarMarking">*</span></label>
          <select class="form-select" [(ngModel)]="searchRequest.AllotmentMasterId" (change)="AllotmentChange()">
            <option value="0">--Select--</option>
            <option value="2">First Allotment</option>          
            <option value="4">Second Allotment</option>
            <option value="6">Internal Sliding</option>
          </select>
        </div>-->
        <!--<div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">
            Status: <span class="StarMarking">*</span>
          </label>
          <select class="form-select" id="ddlClass" [(ngModel)]="searchRequest.AllotmentStatus">
            <option value="0">--Select--</option>
            <option value="1">Allotted</option>
            <option value="2">Choice Exhausted</option>
            <option value="3">Cancelled</option>
            <option value="4">Reported</option>
            <option value="5">Not Reported</option>
            <option value="6">Applied Upward</option>
            <option value="7">Rejected</option>
            <option value="8">Admitted</option>
            <option value="9">Withdrawal</option>
            <option value="10">Internal Sliding</option>
            <option value="11"> Reject With Deficiency</option>
            <option value="13">Dropout</option>
          </select>
        </div>-->
        <div>
          <button type="button" class="btn bg-info text-white" (click)="getStudentsJoiningStatusMarksList(1)">Search</button>
          <!--<button type="button" class="btn bg-danger text-white mt-6" (click)="onCancel()">Cancel</button>-->
        </div>

      </div>
    </div>
    <!--<div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
      <b class="text-1xl-5"><i class="ti ti-list"></i> Search Results</b>
      <div class="flex justify-end flex-wrap items-center">
        <a href="javascript:void(0);" class="btn bg-info btn-sm text-white" (click)="exportToExcel()"><i class="ti ti-download"></i> Download</a>
      </div>
    </div>-->
    <div class="overflow-x-auto mt-3" *ngIf="filteredData.length>0">
      <table class="table table-border w-full table-auto" cellpadding="5">
        <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">
          <tr>
            <th class="text-left">#</th>
            <th class="text-left">Application No</th>
            <th class="text-left">Student Name</th>
            <th class="text-left">CollegeName</th>
            <th class="text-left">Branch</th>
            <th class="text-left">Shift Name</th>
            <th class="text-left">Alloted Category</th>
            <th class="text-left">Alloted Priority</th>
            <th class="text-left">Status</th>
            <th class="text-left">Verify By</th>          
            <th class="text-left">Center Name</th>          
            <th style="width:125px;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of filteredData; let idx=index;">
            <td class="{{item.SeatNotAvailable}}">{{(pageSize * (pageNo - 1))+(idx+1)}}</td>
            <td>{{item.ApplicationNo}}</td>
            <td>{{item.Name}}</td>
            <td>{{item.Collegename}}</td>
            <td>{{item.StreamName}}</td>
            <td>{{item.ShiftName}}</td>
            <td> {{item.AllotedCategory}}</td>
            <td>{{item.AllotedPriority}}</td>
            <td class="text-success"
                matTooltip="{{ item.ReportingRemark ? item.ReportingRemark : 'No Remark Available' }}"
                matTooltipPosition="above"
                matTooltipClass="custom-tooltip">
              {{ item.JoiningStatus }}
            </td>
            <td>{{item.VerifyBy}}</td>
            <td>{{item.CenterName}}</td>
            <td>
              <div class="flex align-center justify-center actionBtns w-auto" style="width:auto !important">
                <a href="javascript:void(0);" title="Download Allotment Letter"><i class="ti ti-download" (click)="DownloadAllotmentLetter(item.AllotmentId)"></i></a>
                <a href="javascript:void(0);" title="Download Reporting Receipt"><i class="ti ti-download" (click)="DownloadRepoprtingReceipt(item.AllotmentId)"></i></a>
                <a href="javascript:void(0);" (click)="redirect(item.AllotmentId)" title="ALLOTMENT" *ngIf="DateConfigSetting[0][AllotmentKey]==1"><i class="ti ti-pencil"></i></a>
                <!--<a href="javascript:void(0);" title="Download Allotment Fee Receipt"><i class="ti ti-download" (click)="DownloadAllotmentLetterFeeRpt(item.AllotmentId)"></i></a>-->
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!--<div class="p-3 paginationBox flex items-center justify-end w-full">
      <span class="block">
        Record {{ (pageNo - 1) * pageSize +  1 }} - {{ (pageNo - 1) * pageSize +  StudentsJoiningStatusMarksList?.length }} of {{StudentsJoiningStatusMarksList[0]?.TotalRecords}}
      </span>
      <div class="paginationBoxItems flex items-center">
        <button (click)="getStudentsJoiningStatusMarksList(1)" [disabled]="pageNo==1">First</button>
        <button (click)="previousData()" [disabled]="pageNo==1">Previous</button>
        <input type="number" min="1" max="100" title="Enter page no." [(ngModel)]="pageNo"
               [disabled]="StudentsJoiningStatusMarksList[0]?.TotalRecords==0" (change)="getStudentsJoiningStatusMarksList(pageNo)" />
        <span class="text-nowrap">Page {{pageNo}} of {{TotalPages}}</span>
        <button (click)="nextData()">Next</button>
        <button (click)="getStudentsJoiningStatusMarksList(TotalPages)" [disabled]="pageNo==TotalPages || TotalPages==0">Last</button>
      </div>
    </div>-->

  </div>
</div>

<ng-template #modal_GenrateOTP let-modal class=" h-full fixed top-0 left-0 z-[80] transition-all duration-500 overflow-y-auto [--overlay-backdrop:static] hidden">
  <div class="modal-content">
    <div class="card">
      <div class="card-header flex justify-between  items-center">
        <b>
          <i class="fa fa-plus"></i>&nbsp; OTP Verification
        </b>
        <button class="btn bg-info text-white" (click)="CloseModal()"><i class="ti ti-x"></i></button>
      </div>
      <div class="card-body">

        <p class="text-center">
          <span class="mobile-text">Enter the OTP you recevied at  <b class="text-success">+91 {{MobileNo  | mobileMask}}</b></span>
        </p>
        <div class="mt-4">
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Enter OTP</label>
          <input type="text" (keypress)="numberOnly($event)" maxlength="6" class="form-input" [(ngModel)]="OTP" placeholder="Enter OTP">
        </div>
      </div>
      <div class="text-center flex items-center justify-center mt-3">
        <button (click)="VerifyOTP()" type="button" id="btnSave" class="btn bg-info text-white"><i class="ti ti-device-floppy"></i> Verify OTP</button>
        <p class="text-danger" *ngIf="!showResendButton">Resend OTP available in: {{ formatTime(timeLeft) }}</p>
        <button *ngIf="showResendButton" (click)="SendOTP(true)" type="button" class="btn bg-danger text-white"><i class="ti ti-refresh"></i> Resend OTP</button>
      </div>
      <br />
    </div>
  </div>
</ng-template>
