

<!-- Page Title Start -->
<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">{{this.PageTitle}} Details</h4>
    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a routerLink="/StudentDashboard" class="text-sm font-medium text-slate-700">Dashboard</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a routerLink="/StudentPaidFees" class="text-sm font-medium text-slate-700" aria-current="page">{{this.PageTitle}} Details</a>
    </div>
  </div>
</div>
<!-- Page Title End -->
<!-- end row -->
<div class="card">
  <div class="card-body p-5">
    <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
      <b class="text-1xl-5"><i class="ti ti-plus"></i> {{this.PageTitle}} List</b>
      <a routerLink="/StudentDashboard" class="btn bg-dark btn-sm text-white">Back</a>
    </div>
    <div class="overflow-x-auto mt-3 w-full">

      <table class="table table-border w-full table-auto" cellpadding="5">
        <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">
          <tr>
            <th class="text-left">Sr No</th>
            <th class="text-left">Prn No</th>
            <th class="text-left">Enrollment No</th>
            <th class="text-left">Fee For</th>
            <th class="text-left">Amount</th>
            <th class="text-left">Status</th>
            <th class="text-left">Status Message</th>
            <th class="text-left">Trans Date</th>
            <th class="text-Center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of StudenetTranList ; let idx=index;">
            <td>{{idx+1}}</td>
            <td>
              {{row.PRN}}
            </td>
            <td>
              {{row.EnrollmentNo==''?'N/A':row.EnrollmentNo}}
            </td>
            <td>{{row.FeeFor}}</td>
            <td>{{row.TransAmt | currency:'INR'}}</td>
            <td>{{row.TransctionStatus}}</td>
            <td>{{row.TransctionMSG}}</td>
            <td>{{row.TransctionDate}}</td>
            <td class="text-center">
              <div class="flex align-center justify-center actionBtns w-auto" style="width:auto !important">
                <a href="javascript:void(0);" (click)="FeeReceipt(row)" title="Download Reciept"><i class="ti ti-download"></i></a>
              </div>
            </td>
          </tr>
          <tr *ngIf="StudenetTranList?.length === 0">
            <td colspan="10">
              No records found
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- end row-->

  </div>
</div>


