<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">Add Relieving Request</h4>
    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a routerLink="/dashboard" class="text-sm font-medium text-slate-700">Dasboard</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a routerLink="/UserRequestList" class="text-sm font-medium text-slate-700" aria-current="page">User Relieving Request</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a routerLink="/AddUserRequest" class="text-sm font-medium text-slate-700" aria-current="page">Add Relieving Request</a>
    </div>
  </div>
</div>

<div class="grid xl:grid-cols-1 lg:grid-cols-1 md:grid-cols-1 gap-6 mb-6">
  <div class="card">
    <div class="card-body p-5">


      <div class="mb-8"
        *ngIf="sSOLoginDataModel.RoleID == _EnumRole.DTETraing || sSOLoginDataModel.RoleID == _EnumRole.DTE_TrainingT2_establishment">
        <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
          <b class="text-1xl-5"><i class="ti ti-plus"></i> Search Staff</b>
        </div>

        <form [formGroup]="SearchFormGroup">
          <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3 mb-6">
            <div>
              <label class="text-gray-800 text-sm font-medium inline-block mb-2">SSOID/EmployeeID</label>
              <input type="text" class="form-input" id="SSOID" name="SSOID" placeholder="Enter SSOID/Employee ID"
                formControlName="SSOID" 
                [(ngModel)]="searchReq.SSOID">
            </div>
          </div>
          <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3 mb-6">

            <div >
              <label class="text-gray-800 text-sm font-medium inline-block mb-1"> Office Level</label>
              <select class="form-select" [(ngModel)]="searchReq.LevelID" formControlName="LevelID" (change)="GetOfficeList_search()">
                <option value="0">--Select--</option>
                <option *ngFor="let item of LevelList" [value]="item.ID">{{item.Name}}</option>
              </select>
            </div>
            <div >
              <label class="text-gray-800 text-sm font-medium inline-block mb-1"> Office</label>
              <select class="form-select" [(ngModel)]="searchReq.OfficeID" formControlName="OfficeID" (change)="OfficeITIWiseCollege_search()">
                <option value="0">--Select--</option>
                <option *ngFor="let item of OfficeList_search" [value]="item.ID">{{item.Name}}</option>
              </select>
            </div>
          </div>

          <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3 mt-6">

            <div *ngIf="searchReq.LevelID==2 &&  (searchReq.OfficeID== 11 ||  searchReq.OfficeID== 15)">
              <label> Division</label>
              <select formControlName="DivisionID" class="form-select" id="divisionId" (change)="ddlDivision_Change_search()"
                      [(ngModel)]="searchReq.DivisionID">
                <option value="0">--Select--</option>
                <option *ngFor="let division of DivisionMasterList_search" [value]="division.ID">{{division.Name}}</option>
              </select>
            </div>

            <div *ngIf="searchReq.LevelID==2 && (searchReq.OfficeID== 15 || searchReq.OfficeID== 11)">
              <label class="text-gray-800 text-sm font-medium inline-block mb-1">
                District:
              </label>
              <select class="form-select" [(ngModel)]="searchReq.NodalDistrictID" formControlName="NodalDistrictID"
                (change)="getITICollege_search()">
                <option value="0">--Select--</option>
                <option *ngFor="let item of DistrictList_search" [value]="item.ID">{{item.Name}}</option>
              </select>
            </div>

            <div *ngIf="searchReq.LevelID==2 && searchReq.OfficeID== 11">
              <label class="text-gray-800 text-sm font-medium inline-block mb-1"> Institute</label>
              <select class="form-select" [(ngModel)]="searchReq.InstituteID" formControlName="InstituteID">
                <option value="0">Choose Option</option>
                <option *ngFor="let item of ListITICollegeByManagement_search" [value]="item.ID">{{item.Name}}</option>
              </select>
            </div>

          </div>
        </form>
        <div class="text-center">
          <!-- <button type="button" (click)="SaveData()" class="btn bg-info text-white mt-6">Submit</button> -->
          <button type="button" (click)="onSearch()" class="btn bg-info text-white mt-6">Search</button>
          <button type="button" (click)="onReset()" class="btn bg-danger text-white mt-6">Cancel</button>
        </div>

      </div>


      <div class="mb-8">
        <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
          <b class="text-1xl-5"><i class="ti ti-plus"></i> Add Relieving Request</b>
          <a href="javascript:void(0);" class="inline-flex items-center btn bg-dark text-white btn-sm" (click)="goBack()">
            <i class="ti ti-chevron-left"></i> Back
          </a>
        </div>

        <form [formGroup]="groupForm">
          <div class="grid 2xl:grid-cols-3 xl:grid-cols-3 lg:grid-cols-2 md:grid-cols-2 grid-cols-1 gap-3 mb-6">

            <div>
              <label class="text-gray-800 text-sm font-medium inline-block mb-1"> Staff: <span class="StarMarking">*</span></label>

              <ng-select [(ngModel)]="request.StaffID"
                       formControlName="StaffID"
                       [clearable]="false" [searchable]="true"
                       (ngModelChange)="GetStaffDetailsByStaffID($event)">
                <ng-option [value]="0" selected>--- Select ---</ng-option>
                <ng-container *ngFor="let item of StaffListDDL;">
                  <ng-option [value]="item.StaffID">{{item.Name}}</ng-option>
                </ng-container>
              </ng-select>
              
            </div>
          </div>

          <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-5">

            <div>
              <label class="text-gray-800 text-sm font-medium inline-block mb-1">
                Employee ID
              </label>
              <input type="text" class="form-input" id="txtEmployeeID" name="txtEmployeeID" 
                [ngModelOptions]="{standalone: true}"
                [(ngModel)]="formData.EmployeeID" 
                placeholder="Enter Employee ID" 
                readonly disabled/>

            </div>

            <div>
              <label class="text-gray-800 text-sm font-medium inline-block mb-1">
                Current Office
              </label>
              <input type="text" class="form-input" id="txtEmployeeID" name="txtEmployeeID" 
                [ngModelOptions]="{standalone: true}"
                [(ngModel)]="formData.OfficeName" 
                placeholder="Enter Office Name" 
                readonly disabled/>
            </div>


            <div>
              <label class="text-gray-800 text-sm font-medium inline-block mb-1">
                Current Designation
              </label>
              <input type="text" class="form-input" id="txtEmployeeID" name="txtEmployeeID" 
                [ngModelOptions]="{standalone: true}"
                [(ngModel)]="formData.Designation" 
                placeholder="Enter Designation" 
                readonly disabled/>
            </div>

            <div *ngIf="formData.OfficeID == 11">
              <label class="text-gray-800 text-sm font-medium inline-block mb-1">
                Current Institute
              </label>
              <input type="text" class="form-input" id="txtEmployeeID" name="txtEmployeeID" 
                [ngModelOptions]="{standalone: true}"
                [(ngModel)]="formData.InstituteName" 
                placeholder="Enter Institute Name" 
                readonly disabled/>
            </div>

            <div *ngIf="formData.IsZonalOffice == 1">
              <label class="text-gray-800 text-sm font-medium inline-block mb-1">
                Current Division
              </label>
              <input type="text" class="form-input" id="txtEmployeeID" name="txtEmployeeID" 
                [ngModelOptions]="{standalone: true}"
                [(ngModel)]="formData.Division" 
                placeholder="Enter Division" 
                readonly disabled/>
            </div>

          </div>


          <div class="grid 2xl:grid-cols-3 xl:grid-cols-3 lg:grid-cols-2 md:grid-cols-2 grid-cols-1 gap-3 mt-6">
            <div>
              <label class="text-gray-800 text-sm font-medium inline-block mb-1"> Request Type: <span class="StarMarking">*</span></label>
              <select class="form-select" id="ddlRequestType" [(ngModel)]="request.RequestType" formControlName="ddlRequestType" (change)="FunctionRequestType()">
                <option value="0">--Select--</option>
                <option value="1">Relieving</option>
              </select>
              <div *ngIf="isSubmitted && _groupForm.ddlRequestType.errors" class="text-danger">
                <p *ngIf="!_groupForm.ddlRequestType.errors.DropdownValidators">
                  <i aria-hidden="true"></i>This
                  field is required .!
                </p>
              </div>
            </div>

            <div>
              <label class="text-gray-800 text-sm font-medium inline-block mb-1"> Transfer Level <span class="StarMarking">*</span></label>
              <select class="form-select" [(ngModel)]="request.LevelID" formControlName="ddlLevelID" (change)="GetOfficeList()">
                <option value="0">--Select--</option>
                <option *ngFor="let item of LevelList" [value]="item.ID">{{item.Name}}</option>
              </select>
              <div *ngIf="isSubmitted&&_groupForm.ddlLevelID.errors" class="text-danger">
                <p *ngIf="!_groupForm.ddlLevelID.errors.DropdownValidators">
                  <i aria-hidden="true"></i>This
                  field is required .!
                </p>
              </div>
            </div>
            <div>
              <label class="text-gray-800 text-sm font-medium inline-block mb-1"> Transfer Office <span class="StarMarking">*</span></label>
              <select class="form-select" [(ngModel)]="request.OfficeID" formControlName="ddlOffice" (change)="OfficeITIWiseCollege()">
                <option value="0">--Select--</option>
                <option *ngFor="let item of OfficeList" [value]="item.ID">{{item.Name}}</option>
              </select>
              <div *ngIf="isSubmitted&&_groupForm.ddlOffice.errors" class="text-danger">
                <p *ngIf="!_groupForm.ddlOffice.errors.DropdownValidators">
                  <i aria-hidden="true"></i>This
                  field is required .!
                </p>
              </div>
            </div>

            <div *ngIf="request.LevelID==2 &&  (request.OfficeID== 11 ||  request.OfficeID== 15)">
              <label> Transfer Division<span class="StarMarking">*</span></label>
              <select formControlName="divisionID" class="form-select" id="divisionId" (change)="ddlDivision_Change()"
                      [(ngModel)]="request.DivisionID">
                <option value="0">--Select--</option>
                <option *ngFor="let division of DivisionMasterList" [value]="division.ID">{{division.Name}}</option>
              </select>
              <div *ngIf="isSubmitted&&_groupForm.divisionID.errors" class="text-danger">
                <p *ngIf="!_groupForm.divisionID.errors.DropdownValidators">
                  <i aria-hidden="true"></i>This
                  field is required .!
                </p>
              </div>
            </div>

            <div *ngIf="request.LevelID==2 && request.OfficeID== 11">
              <label class="text-gray-800 text-sm font-medium inline-block mb-1"> Institute <span class="StarMarking">*</span></label>
              <select class="form-select" [(ngModel)]="request.InstituteID" formControlName="ddlITICollegeTrade" (change)="GetPostList()">
                <option value="0">Choose Option</option>
                <option *ngFor="let item of ListITICollegeByManagement" [value]="item.ID">{{item.Name}}</option>
              </select>
              <div *ngIf="isSubmitted&&_groupForm.ddlITICollegeTrade.errors" class="text-danger">
                <p *ngIf="!_groupForm.ddlITICollegeTrade.errors.DropdownValidators">
                  <i aria-hidden="true"></i>This
                  field is required .!
                </p>
              </div>
            </div>

            <div *ngIf="request.LevelID==2 && request.OfficeID== 15">
              <label class="text-gray-800 text-sm font-medium inline-block mb-1">
                Transfer District:<span class="StarMarking">*</span>
              </label>
              <select class="form-select" [(ngModel)]="request.NodalDistrictID" formControlName="ddlDistrictID" (change)="GetPostList()">
                <option value="0">--Select--</option>
                <option *ngFor="let item of DistrictList" [value]="item.ID">{{item.Name}}</option>
              </select>
              <div *ngIf="isSubmitted&&_groupForm.ddlDistrictID.errors" class="text-danger">
                <p *ngIf="!_groupForm.ddlDistrictID.errors.DropdownValidators">
                  <i aria-hidden="true"></i>This
                  field is required .!
                </p>
              </div>
            </div>

            <div>
              <label class="text-gray-800 text-sm font-medium inline-block mb-1">Staff Type <span class="StarMarking">*</span></label>
              <select class="form-select" name="StaffType" id="ddlStaffType" formControlName="ddlStaffType"
                      [(ngModel)]="request.StaffTypeID">
                <option value="0">Choose Option</option>
                <option *ngFor="let item of StaffTypeList" [value]="item.ID">{{item.Name}}</option>
              </select>
              <div *ngIf="isSubmitted&&_groupForm.ddlStaffType.errors" class="text-danger">
                <p *ngIf="!_groupForm.ddlStaffType.errors.DropdownValidators">
                  <i aria-hidden="true"></i>This
                  field is required .!
                </p>
              </div>
            </div>

            <div>
              <label class="text-gray-800 text-sm font-medium inline-block mb-1"> Transfer Post <span class="StarMarking">*</span></label>
              <select class="form-select" [(ngModel)]="request.PostID" formControlName="ddlPost">
                <option value="0">--Select--</option>
                <option *ngFor="let item of PostList" [value]="item.ID">{{item.Name}}</option>
              </select>
              <div *ngIf="isSubmitted&&_groupForm.ddlPost.errors" class="text-danger">
                <p *ngIf="!_groupForm.ddlPost.errors.DropdownValidators">
                  <i aria-hidden="true"></i>This
                  field is required .!
                </p>
              </div>
            </div>

            <div>
              <label class="text-gray-800 text-sm font-medium inline-block mb-1"> Transfer Role <span class="StarMarking">*</span></label>
              <select class="form-select" [(ngModel)]="request.ReqRoleID" formControlName="ReqRoleID" (change)="onRoleChange()">
                <option value="0">--Select--</option>
                <option *ngFor="let item of RoleListDDL" [value]="item.RoleID">{{item.RoleNameEnglish}}</option>
              </select>
              <div *ngIf="isSubmitted&&_groupForm.ReqRoleID.errors" class="text-danger">
                <p *ngIf="!_groupForm.ReqRoleID.errors.DropdownValidators">
                  <i aria-hidden="true"></i>This
                  field is required .!
                </p>
              </div>
            </div>

            <!--<div>
              <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="AttachDocument_file">File</label>

              <div class="flex fileUploader">
                <input class="block form-input w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                       id="AttachDocument_file" type="file" formControlName="Upload" (change)="onFilechange($event,'Photo')">
                <label for="AttachDocument_file">
                  <span>Choose File</span>
                  {{request.AttachDocument_file === '' ? 'No File Choosen' : request.AttachDocument_file}}
                </label>
                <div class="flex">
                  <a href="{{appsettingConfig.StaticFileRootPathURL + '/PublicInfoDocument/' + request.AttachDocument_fileName}}"
                     *ngIf="this.request.AttachDocument_file !=''" class="btn bg-primary text-white m-0" target="_blank"><i class="ti ti-eye"></i></a>
                </div>
              </div>
            </div>

            <div>
              <label for="txtOrderNo" class="text-gray-800 text-sm font-medium inline-block mb-2">Order No<span class="StarMarking">*</span></label>
              <input type="text" class="form-input" id="txtOrderNo" name="txtOrderNo" formControlName="txtOrderNo" [(ngModel)]="request.OrderNo" placeholder="Enter Order No">
              <div *ngIf="isSubmitted&&_groupForm.txtOrderNo.errors" class="text-danger">
                <p *ngIf="_groupForm.txtOrderNo.errors.required"><i aria-hidden="true"></i> This field is required .!</p>
              </div>
            </div>

            <div>
              <label for="txtOrderDate" class="text-gray-800 text-sm font-medium inline-block mb-2">Order Date<span class="StarMarking">*</span></label>
              <input type="date" class="form-input" id="txtOrderDate" name="txtOrderDate"
                     formControlName="txtOrderDate"
                     [(ngModel)]="request.OrderDate"
                     [max]="TodayDate">
              <div *ngIf="isSubmitted&&_groupForm.txtOrderDate.errors" class="text-danger">
                <p *ngIf="_groupForm.txtOrderDate.errors.required"><i aria-hidden="true"></i> This field is required .!</p>
              </div>
            </div>-->
            <div>
              <!-- <label for="txtRequestDate" class="text-gray-800 text-sm font-medium inline-block mb-2">Request Date <span class="StarMarking">*</span></label> -->
              <label [attr.for]="'txtRequestDate'"
                     class="text-gray-800 text-sm font-medium inline-block mb-2">
                Relieving Date
                <span class="StarMarking">*</span>
              </label>
              <input type="date" class="form-input" id="txtRequestDate" name="txtRequestDate" formControlName="txtRequestDate" 
                [(ngModel)]="request.RequestDate" [min]="TodayDate">
              <div *ngIf="isSubmitted&&_groupForm.txtRequestDate.errors" class="text-danger">
                <p *ngIf="_groupForm.txtRequestDate.errors.required"><i aria-hidden="true"></i> This field is required .!</p>
              </div>
            </div>

            <div>
              <label class="text-gray-800 text-sm font-medium inline-block mb-1"> Relieving Time <span class="StarMarking">*</span></label>
              <select class="form-select" [(ngModel)]="request.RelievingTimeID" formControlName="RelievingTimeID">
                <option value="0">--Select--</option>
                <option value="1">First Half</option>
                <option value="2">Second Half</option>
              </select>
              <div *ngIf="isSubmitted&&_groupForm.RelievingTimeID.errors" class="text-danger">
                <p *ngIf="!_groupForm.RelievingTimeID.errors.DropdownValidators">
                  <i aria-hidden="true"></i>This
                  field is required .!
                </p>
              </div>
            </div>

            <!-- <div>
        <label
               [attr.for]="'LastworkingDate'"
               class="text-gray-800 text-sm font-medium inline-block mb-2">
          Last Working Date
          <span class="StarMarking">*</span>
        </label>
        <input type="date" class="form-input" id="LastworkingDate" name="LastworkingDate" formControlName="LastworkingDate"
          [(ngModel)]="request.LastworkingDate">
        <div *ngIf="isSubmitted&&_groupForm.LastworkingDate.errors" class="text-danger">
          <p *ngIf="_groupForm.LastworkingDate.errors.required"><i aria-hidden="true"></i> This field is required .!</p>
        </div>
      </div> -->

            <div>
              <label for="txtRequestRemarks" class="text-gray-800 text-sm font-medium inline-block mb-2">Request Remarks <span class="StarMarking">*</span></label>
              <!--<input type="text" class="form-input" id="txtRequestRemarks" name="txtRequestRemarks" formControlName="txtRequestRemarks" [(ngModel)]="request.RequestRemarks" placeholder="Enter Request Remarks">-->
              <textarea class="form-input w-full resize-none"
                        rows="4"
                        [(ngModel)]="request.RequestRemarks"
                        formControlName="txtRequestRemarks"
                        placeholder="Enter your remarks here..."></textarea>
              <div *ngIf="isSubmitted&&_groupForm.txtRequestRemarks.errors" class="text-danger">
                <p *ngIf="_groupForm.txtRequestRemarks.errors.required"><i aria-hidden="true"></i> This field is required .!</p>
              </div>
            </div>









          </div>
        </form>

        <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light mt-4">
          <b class="text-1xl-5"><i class="ti ti-plus"></i>Add Transfer Order Details</b>
        </div>
        <div class="grid xl:grid-cols-3 lg:grid-cols-3 md:grid-cols-2 sm:grid-col-1 gap-3 ">



          <div>
            <label for="ApplicationId" class="text-gray-800 text-sm font-medium inline-block mb-2">Date<span class="StarMarking">*</span></label>
            <input type="date" class="form-input" id="ApplicationId" [max]="TodayDate" [(ngModel)]="OrderDate" (change)="getExaminerData()">

          </div>


          <div>
            <label class="text-gray-800 text-sm font-medium inline-block mb-1">Order No: <span class="StarMarking">*</span></label>
            <select class="form-select" id="CollegeID" (change)="getExaminerData()" [(ngModel)]="OrderType">
              <option value="0">--Select--</option>
              <option *ngFor="let item of OrderList" [value]="item.ID">{{item.Name}}</option>
            </select>

          </div>





          <div *ngIf="(OrderType>0 || OrderDate!='') && filterplanorderList?.length==0" class="pt-30">

            <button (click)="AddPost()" type="button" class="btn bg-primary text-white">
              <i class="ti ti-plus"></i> Add

            </button>

          </div>







        </div>
        <div *ngIf="PostSanctionList.length>0" class="overflow-auto mt-4">
          <table class="w-full table-border" cellpadding="5">
            <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700">

              <tr class="align-left">
                <th class="text-left">Mark</th>
                <th class="text-left">S.No</th>
               
                <th class="text-left">Order No</th>
                <th class="text-left">Order Date</th>
                <th class="text-left">Order Copy</th>
                <!--<th *ngIf="sSOLoginDataModel.RoleID==_enumRole.ITIPlanningAdmin" class="text-left">Action</th>-->
              </tr>

            </thead>

            <tbody>
              <tr *ngFor="let row of PostSanctionList; let idx = index">
                <td align="left">
                  <input type="checkbox" name="MarkCheck" [(ngModel)]="row.Marked" />
                </td>
                <td class="text-left">{{idx+1}}</td>
             
                <td class="text-left">{{row.OrderNo}}</td>
                <td class="text-left">{{row.DisOrderDate}}</td>
                <td class="text-left">
                  <a class="btn bg-success text-white" type="button" title="View" target="_blank" href="{{appsettingConfig.StaticFileRootPathURL + '/' + row.OrderCopy}}">
                    <i class="ti ti-eye"></i>
                  </a>
                </td>

                <!--<td *ngIf="sSOLoginDataModel.RoleID==_enumRole.ITIPlanningAdmin">
            <button class="btn bg-danger text-white" type="button" title="Delete" (click)="deletePost(idx)">
              <i class="ti ti-trash"></i>
            </button>

          </td>-->
              </tr>
            </tbody>
          </table>
        </div>



        <div *ngIf="filterplanorderList?.length>0" class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light mt-4">
          <b class="text-1xl-5"><i class="ti ti-plus"></i>Transfer Order Details</b>
        </div>

        <div *ngIf="filterplanorderList?.length>0" class="overflow-auto mt-4">
          <table class="w-full table-border" cellpadding="5">
            <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700">

              <tr class="text-left">

                <th>S.No</th>
              
                <th>Order No</th>
                <th>Order Date</th>
                <th>Order Copy</th>
                <th class="text-left">Action</th>
              </tr>

            </thead>

            <tbody>
              <tr *ngFor="let row of filterplanorderList; let idx = index">

                <td class="text-left">{{idx+1}}</td>
          
                <td class="text-left">{{row.OrderNo}}</td>
                <td class="text-left">{{row.DisOrderDate}}</td>
                <td class="text-left">
                  <a class="btn bg-success text-white" type="button" title="View" target="_blank" href="{{appsettingConfig.StaticFileRootPathURL + '/' + row.OrderCopy}}">
                    <i class="ti ti-eye"></i>
                  </a>
                </td>

                <td>
                  <button class="btn bg-danger text-white" type="button" title="Delete" (click)="deletePost(idx)">
                    <i class="ti ti-trash"></i>
                  </button>

                </td>
              </tr>
            </tbody>
          </table>
        </div>



        <div class="text-center">
          <!-- <button type="button" (click)="SaveData()" class="btn bg-info text-white mt-6">Submit</button> -->
          <button type="button" (click)="SaveData()" class="btn bg-info text-white mt-6">Submit</button>
          <button type="button" (click)="ResetControl()" class="btn bg-danger text-white mt-6">Cancel</button>
        </div>

      </div>

    </div>
  </div>
</div>
