<div class="card tab-panels " id="Tabs2">
  <div class="p-5">
    <div class="card bg-light mb-8">
      <div class="card-body text-center">

        <p><b>Helpline Number:</b> 0151-2970273 [09:00 am to 04:00 pm]</p>
        <p><b>For queries contact email id:</b> dte.Lateral&#64;rajasthan.gov.in</p>

      </div>
    </div>
    <div class="grid xl:grid-cols-3 lg:grid-cols-3 md:grid-cols-1 gap-6 mb-6">
      <div class="card">
        <div class="card-header bg-light">
          <b><i class="ti ti-download"></i> Downloads</b>
        </div>
        <div class="card-body overflow250px">
          <ul class="scrollDocList">

            <li>
              <span><i class="ti ti-download"></i> Calender (Admission 2023-24)</span>

            </li>
            <li>
              <span><i class="ti ti-download"></i> SEAT MATRIX</span>

            </li>
            <li>
              <span><i class="ti ti-download"></i> User manual  स्टेप बाई स्टेप ऑनलाइन फॉर्म भरने का तरीका</span>

            </li>
            <li>
              <span><i class="ti ti-download"></i> Notification (Admission 2023-24)</span>

            </li>
            <li>
              <span><i class="ti ti-download"></i> Booklet (Admission 2023-24)</span>

            </li>
            <li>
              <span><i class="ti ti-download"></i> Annexures (Admission 2023-24)</span>

            </li>
            <li>
              <span><i class="ti ti-download"></i> Coordinator Order (Admission 2023-24)</span>

            </li>
            <li>
              <span><i class="ti ti-download"></i> आवेदन फॉर्म में डेफिशियेंसी (कमियों) की सूची (दिनांक 05 जुलाई 2023 तक)</span>

            </li>
            <li>
              <span><i class="ti ti-download"></i> Upward Movement Application List (Lateral 2023-24)</span>

            </li>
            <li>
              <span><i class="ti ti-download"></i> Direct Admission Calendar  </span>

            </li>
            <li>
              <span><i class="ti ti-download"></i> Lateral Entry (2nd Yr) Direct Admission Vacant Seat Matrix</span>


            </li>

          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-header bg-light">
          <b><i class="ti ti-brand-days-counter"></i> Highlights</b>
        </div>
        <div class="card-body overflow250px">
          <ul class="scrollDocList">

            <li>
              <span><i class="ti ti-brand-days-counter"></i> पोर्टल पर आवेदन पत्र Submit करने की प्रारंभ तिथि</span>
              <small>
                29/05/2023
              </small>

            </li>
            <li>
              <span><i class="ti ti-brand-days-counter"></i> पोर्टल पर आवेदन पत्र Submit करने की अंतिम तिथि</span>
              <small>
                03/07/2023
              </small>

            </li>
            <li>
              <span><i class="ti ti-brand-days-counter"></i> ई-मित्र पर आवेदन शुल्क जमा करने की प्रारंभ तिथि</span>
              <small>
                29/05/2023
              </small>
            </li>
            <li>
              <span><i class="ti ti-brand-days-counter"></i> ई-मित्र पर आवेदन शुल्क जमा करने की अंतिम तिथि</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-header bg-light">
          <b><i class="ti ti-notes"></i>  Notes</b>
        </div>
        <div class="card-body overflow250px">
          <ul class="scrollDocList">
            <marquee direction="up" height="200px" scrollamount="6">
              <li><span><a href="https://dte.rajasthan.gov.in/assets/docs/Admission/Lateral/direct%20admission%20calender.pdf"><i class="ti ti-notes"></i>  नवीनतम कैलंडर<strong>&nbsp;(Latest Calendar for Direct Admission)</strong></a></span></li>
              <li><span><a href="http://dteapp.hte.rajasthan.gov.in/dte_admission/admission/download/document/83"><i class="ti ti-notes"></i>  अप्वार्ड मूवमेंट आवेदन की लिस्ट (पार्श्व प्रवेश 2023-24)</a></span></li>
              <li><span><a href="https://dteapp.hte.rajasthan.gov.in/dte_admission/admission/download/document/69"><i class="ti ti-notes"></i>  आवेदन फॉर्म में डेफिशियेंसी (कमियों) की सूची (दिनांक 05 जुलाई 2023 तक)</a></span></li>
              <li><span><i class="ti ti-notes"></i> आवेदक विकल्प भरते समय अधिक से अधिक विकल्प भरें |</span></li>
              <li><span><i class="ti ti-notes"></i> आवेदक अपनी <strong>प्राथमिकता के कॉलेज एवं ब्रांच के क्रम में Option Form </strong>भरें |</span></li>
              <li><span><i class="ti ti-notes"></i> <strong>पार्श्वप्रवेश की तुरंत जानकारी अपने मोबाइल पर प्राप्त&nbsp;करने&nbsp;के लिए टेलीग्राम चैनल से जुड़े&nbsp;</strong>:&nbsp;<a href="https://telegram.me/dteLea2023">https://telegram.me/dteLea2023</a></span></li>



            </marquee>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
