<!-- Page Title Start -->
<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">Add Intakes Planning</h4>

    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a routerLink="/AdminDashboardITI" class="text-sm font-medium text-slate-700">Dasboard</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <!--<a href="/SeatIntakesList" class="text-sm font-medium text-slate-700" aria-current="page">Intakes</a>-->
      <a [routerLink]="['/SeatIntakePlanning']" class="text-sm font-medium text-slate-700" aria-current="page">Intakes Planning</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a routerLink="/AddSeatIntakes" class="text-sm font-medium text-slate-700" aria-current="page">Add Intakes Planning</a>
    </div>
  </div>
  <a routerLink="/SeatIntakePlanning" class="inline-flex items-center btn bg-dark text-white btn-sm"><i class="ti ti-chevron-left"></i> Back</a>
</div>
<!-- Page Title End -->

<div class="grid xl:grid-cols-1 lg:grid-cols-1 md:grid-cols-1 gap-6 mb-6">
  <div class="card">
    <div class="card-body p-5">
      <div class="mb-8">
        <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
          <b class="text-1xl-5"><i class="ti ti-plus"></i> Add Intakes Planning</b>
        </div>
        <form [formGroup]="SeatIntakeFormGroup">
          <div class="grid 2xl:grid-cols-3 xl:grid-cols-3 lg:grid-cols-2 md:grid-cols-2 grid-cols-1 gap-3">
            <div>
              <label class="text-gray-800 text-sm font-medium inline-block mb-1"> Institute: <span class="StarMarking">*</span></label>
              <!--<select class="form-select" formControlName="ddlCollege" [(ngModel)]="request.PlanningID" (change)="GetOrderDetailsList()">
      <option value="0">Choose Option</option>
      <option *ngFor="let item of ItiCollegesListAll" value="{{item.ID}}">{{item.Name}}</option>
    </select>-->
              <ng-select [items]="ItiCollegesListAll"
                         bindLabel="Name"
                         bindValue="ID"
                         placeholder="-----Search College-----"
                         formControlName="ddlCollege"
                         [(ngModel)]="request.PlanningID"
                         (change)="GetOrderDetailsList()"
                         [searchable]="true"
                         [clearable]="true">
                <!--<ng-option [value]="0">Choose College</ng-option>-->

              </ng-select>

              <div *ngIf="isSubmitted&&_SeatIntakeFormGroup.ddlCollege.errors" class="text-danger">
                <p *ngIf="!_SeatIntakeFormGroup.ddlCollege.errors.DropdownValidators">
                  <i aria-hidden="true"></i>This field is required .!
                </p>
              </div>
            </div>

            <!--<div>
    <label class="text-gray-800 text-sm font-medium inline-block mb-1">Trade level:<span class="StarMarking">*</span></label>
    <select class="form-select" formControlName="ddlTradeLevel" [(ngModel)]="request.TradeLevel" (change)="GetTradeAndColleges()">
      <option value=0>Choose Option</option>
      <option value=8>8th</option>
      <option value=10>10th</option>
      <option value="12">12th</option>
    </select>

  </div>-->


            <!-- shift comment -->
            <!-- <div>
    <label class="text-gray-800 text-sm font-medium inline-block mb-1">
      Shift:<span class="StarMarking">*</span>
    </label>
    <select type="text" class="form-input" placeholder="Select Shift" formControlName="txtShift" [(ngModel)]="request.Shift">
      <option value="">Choose Option</option>
      <option value="1">I Shift</option>
      <option value="2">II Shift</option>
      <option value="3">III Shift</option>
    </select>
    <div *ngIf="isSubmitted && _SeatIntakeFormGroup.txtShift.errors" class="text-danger">
      <p *ngIf="_SeatIntakeFormGroup.txtShift.errors.required">
        <i aria-hidden="true"></i> This field is
        required.!
      </p>
    </div>
  </div> -->

            <!--(change)="GetOrderDetailsList_ByDate(1)"-->
            <div>
              <label class="text-gray-800 text-sm font-medium inline-block mb-1">
                Administrative Sanction Date:
              </label>
              <input type="date" class="form-input" placeholder="Enter Unit No" max="currentDate"  
                (change)="OnOrderDateChange(1)" formControlName="AdminOrderDate" [(ngModel)]="request.AdminOrderDate">
              <!-- <div *ngIf="isSubmitted && _SeatIntakeFormGroup.AdminOrderDate.errors" class="text-danger">
      <p *ngIf="_SeatIntakeFormGroup.AdminOrderDate.errors.required">
        <i aria-hidden="true"></i> This field is
        required.!
      </p>
    </div> -->
            </div>


            <!-- academic order no: start -->
            <!--(change)="OnOrderChange(1)"-->
            <div>
              <label class="text-gray-800 text-sm font-medium inline-block mb-1">
                Administrative Order No :
              </label>
              <select class="form-select" formControlName="ddlAdminSanctionedID" [(ngModel)]="request.AdminSanctionedID">
                <option value="0">Choose Option</option>
                <option *ngFor="let item of filteredAcademicOrderNoList" value="{{item.ID}}">{{item.OrderNo}}</option>
              </select>
            </div>



            <!-- <div>
    <label class="text-gray-800 text-sm font-medium inline-block mb-1">
      Academic Order No: <span class="StarMarking">*</span>
    </label>

    <select class="form-select" formcontrolName="ddlAdminSanctionedID">
      <option value="0">Choose Option</option>
       <option *ngFor="let item of AcademicOrderNoList" value="{{item.ID}}">{{item.OrderNo}}</option>
    </select>
    <div *ngIf="isSubmitted&&_SeatIntakeFormGroup.ddlAdminSanctionedID.errors" class="text-danger">
      <p *ngIf="!_SeatIntakeFormGroup.ddlAdminSanctionedID.errors.DropdownValidators">
        <i aria-hidden="true"></i>This field is required .!
      </p>
    </div>
  </div> -->
            <!-- academic order no: end -->



            <div>
              <label class="text-gray-800 text-sm font-medium inline-block mb-1">
                Financial Sanction  Date:
              </label>
              <input type="date" class="form-input" placeholder="Enter Unit No" max="currentDate"  (change)="OnOrderDateChange(2)" formControlName="FinancialOrderDate" [(ngModel)]="request.FinancialOrderDate">
              <!-- <div *ngIf="isSubmitted && _SeatIntakeFormGroup.FinancialOrderDate.errors" class="text-danger">
      <p *ngIf="_SeatIntakeFormGroup.FinancialOrderDate.errors.required">
        <i aria-hidden="true"></i> This field is
        required.!
      </p>
    </div> -->
            </div>


            <!-- financial order no: start -->
            <!--(change)="OnOrderChange(2)"-->
            <div>
              <label class="text-gray-800 text-sm font-medium inline-block mb-1">
                Financial Order No:
              </label>
              <!-- [(ngModel)]="request.FinancialSanctionID" -->
              <select class="form-select" formControlName="ddlFinancialSanctionID" [(ngModel)]="request.FinancialSanctionID">
                <option value="0">Choose Option</option>
                <option *ngFor="let item of filteredFinancialOrderNoList" value="{{item.ID}}">{{item.OrderNo}}</option>
              </select>
              <!-- <div *ngIf="isSubmitted&&_SeatIntakeFormGroup.ddlFinancialSanctionID.errors" class="text-danger">
      <p *ngIf="!_SeatIntakeFormGroup.ddlFinancialSanctionID.errors.DropdownValidators">
        <i aria-hidden="true"></i>This field is required .!
      </p>
    </div> -->
            </div>

            <div>
              <label class="text-gray-800 text-sm font-medium inline-block mb-1">
                Trade:<span class="StarMarking">*</span>
              </label>
              <ng-select *ngIf="isedit" [items]="ItiTradeListAll"
                         bindLabel="TradeName"
                         bindValue="Id"
                         placeholder="----Search Trade---"
                         formControlName="ddlTradeID"
                         [(ngModel)]="request.TradeID"
                         [searchable]="true"
                         [clearable]="true">

              </ng-select>

              <ng-select *ngIf="!isedit"
                         formControlName="ddlTrade"
                         [items]="ItiTradeListAll"
                         bindLabel="TradeName"
                         bindValue="Id"
                         [multiple]="true"
                         [closeOnSelect]="false"
                         [searchable]="true"
                         placeholder="--Select Trade--">

                <ng-template ng-header-tmp>
                  <div class="px-2 py-2 border-bottom">
                    <input type="checkbox"
                           [checked]="isAllSelected()"
                           (change)="toggleSelectAll($event)"
                           class="me-2" />
                    <span>Select All</span>
                  </div>
                </ng-template>

                <ng-template ng-option-tmp let-item="item" let-item$="item$">
                  <input type="checkbox" [checked]="item$.selected" class="me-2" />
                  {{ item.TradeName }}
                </ng-template>

              </ng-select>


              <div *ngIf="isSubmitted&&_SeatIntakeFormGroup.ddlTrade.errors" class="text-danger">
                <p *ngIf="_SeatIntakeFormGroup.ddlTrade.errors.required">
                  <i aria-hidden="true"></i>This field is required .!
                </p>
              </div>
            </div>

            <div>
              <label class="text-gray-800 text-sm font-medium inline-block mb-1">
                Unit No: <span class="StarMarking">*</span>
              </label>
              <input type="number" class="form-input" placeholder="Enter Unit No" formControlName="txtUnitNo" [(ngModel)]="request.UnitNo" min="1">

              <div *ngIf="isSubmitted && _SeatIntakeFormGroup.txtUnitNo.errors" class="text-danger">
                <p *ngIf="_SeatIntakeFormGroup.txtUnitNo.errors.required">
                  <i aria-hidden="true"></i> This field is
                  required.!
                </p>
              </div>
            </div>

            <!-- financial order no: end -->
            <!--<div>
    <label class="text-gray-800 text-sm font-medium inline-block mb-1">
      Reservation Category (For Seat Distribution Only): <span class="StarMarking">*</span>
    </label>
    <select class="form-select" formControlName="ddlRemark" (change)="OnTradeSchemechange()" [(ngModel)]="request.RemarkID">
      <option value="0">Choose Option</option>
      <option *ngFor="let item of ITIRemarkList" value="{{item.ID}}">{{item.Name}}</option>
    </select>
    <div *ngIf="isSubmitted&&_SeatIntakeFormGroup.ddlRemark.errors" class="text-danger">
      <p *ngIf="!_SeatIntakeFormGroup.ddlRemark.errors.DropdownValidators">
        <i aria-hidden="true"></i>This field is required .!
      </p>
    </div>
  </div>-->

            <div>
              <label class="text-gray-800 text-sm font-medium inline-block mb-1">
                Trade Scheme: <span class="StarMarking">*</span>
              </label>
              <select class="form-select" formControlName="ddlTradeScheme" [(ngModel)]="request.TradeSchemeID">
                <option value="0">Choose Option</option>
                <option *ngFor="let item of ITITradeSchemeList" value="{{item.ID}}">{{item.Name}}</option>
              </select>
              <div *ngIf="isSubmitted&&_SeatIntakeFormGroup.ddlTradeScheme.errors" class="text-danger">
                <p *ngIf="!_SeatIntakeFormGroup.ddlTradeScheme.errors.DropdownValidators">
                  <i aria-hidden="true"></i>This field is required .!
                </p>
              </div>
            </div>

            <div>
              <label class="text-gray-800 text-sm font-medium inline-block mb-1">
                Status: <span class="StarMarking">*</span>
              </label>
              <select class="form-select" formControlName="ddlStatus" [(ngModel)]="request.Status">
                <option value="0">Choose Option</option>
                <option *ngFor="let item of StatusTypeList" value="{{item.ID}}">{{item.Name}}</option>
              </select>

              <!--<div *ngIf="isSubmitted && _SeatIntakeFormGroup.txtUnitNo.errors" class="text-danger">
      <p *ngIf="_SeatIntakeFormGroup.txtUnitNo.errors.required">
        <i aria-hidden="true"></i> This field is
        required.!
      </p>
    </div>-->
            </div>



            <!--<div>
    <label class="text-gray-800 text-sm font-medium inline-block mb-1">
      Sanctioned (For Office Use Only):<span class="StarMarking">*</span>
    </label>
    <select class="form-select" formControlName="ddlSanctioned" [(ngModel)]="request.SanctionedID">
      <option value="0">Choose Option</option>
      <option *ngFor="let item of SanctionedList" value="{{item.ID}}">{{item.Name}}</option>
    </select>
    <div *ngIf="isSubmitted&&_SeatIntakeFormGroup.ddlSanctioned.errors" class="text-danger">
      <p *ngIf="!_SeatIntakeFormGroup.ddlSanctioned.errors.DropdownValidators">
        <i aria-hidden="true"></i>This field is required .!
      </p>
    </div>
  </div>-->
            <!--<div>
  <label class="text-gray-800 text-sm font-medium inline-block mb-1">
    Student Admission in Last Acadmic Year:<span class="StarMarking">*</span>
  </label>-->
            <!--<select class="form-select" formControlName="ddlLastSession" [(ngModel)]="request.LastSession">
    <option value="0">Choose Option</option>
    <option *ngFor="let item of FinancialYearList" value="{{item.FinancialYearID}}">{{item.FinancialYearName}}</option>
  </select>-->
            <!--<select class="form-select" formControlName="ddlLastSession" [(ngModel)]="request.LastSession">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select>

    <div *ngIf="isSubmitted&&_SeatIntakeFormGroup.ddlLastSession.errors" class="text-danger">
      <p *ngIf="!_SeatIntakeFormGroup.ddlLastSession.errors.DropdownValidators">
        <i aria-hidden="true"></i>This field is required .!
      </p>
    </div>

  </div>-->
            <!--<div>
    <label class="text-gray-800 text-sm font-medium inline-block mb-1">
      Sanction No: <span class="StarMarking">*</span>
    </label>
    <input type="text" class="form-input" placeholder="Enter Unit No" formControlName="OrderNo" [(ngModel)]="request.OrderNo">
    <div *ngIf="isSubmitted && _SeatIntakeFormGroup.OrderNo.errors" class="text-danger">
      <p *ngIf="_SeatIntakeFormGroup.OrderNo.errors.required">
        <i aria-hidden="true"></i> This field is
        required.!
      </p>
    </div>
  </div>-->
            <!--<div>
    <label class="text-gray-800 text-sm font-medium inline-block mb-1">
      Sanction  Date: <span class="StarMarking">*</span>
    </label>
    <input type="date" class="form-input" placeholder="Enter Unit No" max="currentDate" formControlName="OrderDate" [(ngModel)]="request.OrderDate">
    <div *ngIf="isSubmitted && _SeatIntakeFormGroup.OrderDate.errors" class="text-danger">
      <p *ngIf="_SeatIntakeFormGroup.OrderDate.errors.required">
        <i aria-hidden="true"></i> This field is
        required.!
      </p>
    </div>
  </div>-->


          </div>

          <div class="text-center justify-center">
            <button type="button" class="btn bg-info text-white mt-6" (click)="onSubmit()">Submit</button>
            <button type="button" class="btn bg-danger text-white mt-6" (click)="onReset()">Reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- end row -->
