
<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">ITI Examiner List</h4>

    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700">Masters</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a routerLink="/ITIExaminerList" class="text-sm font-medium text-slate-700" aria-current="page">Iti Examiner List</a>

    </div>
  </div>
</div>

<!-- Page Title End -->
<div class="card">
  <div class="card-body p-5">
    <div class="mb-8">
      <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
        <b class="text-1xl-5"><i class="ti ti-search"></i> Enter Search Criteria</b>
        <div>
          <a routerLink="/ITIExaminer" class="btn bg-success btn-sm text-white me-2"><i class="ti ti-plus"></i>Add Examiner</a>
          <a href="javascript:void(0);" class="btn bg-info btn-sm text-white" (click)="exportToExcel()"><i class="ti ti-download"></i> Download Excel</a>
        </div>
      </div>
      <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">

        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Search By Code</label>
          <input type="text" class="form-input" placeholder="Search By Code" [(ngModel)]="searchRequest.ExaminerCode" />
        </div>

        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Search By Name</label>
          <input type="text" class="form-input" placeholder="Search By Name" [(ngModel)]="searchRequest.Name" />
        </div>

        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Search By Email</label>
          <input type="text" class="form-input" placeholder="Search By Email" [(ngModel)]="searchRequest.Email" />
        </div>

        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Search By SSOID</label>
          <input type="text" class="form-input" placeholder="Search By SSOID" [(ngModel)]="searchRequest.SSOID" />
        </div>


        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Search By District:</label>
          <select class="form-select" [(ngModel)]="searchRequest.DistrictID">
            <option value="0">Choose Option</option>
            <option *ngFor="let row of DistrictList" [value]="row.ID">{{row.Name}}</option>
          </select>
        </div>

        <div>
          <button type="button" class="btn bg-info text-white mt-6 me-1" (click)="GetItiExaminerMasterList()">Search</button>
          <button type="button" id="btnReset" (click)="ResetData()" class="btn bg-danger text-white">
            <i class="ti ti-refresh"></i> Reset
          </button>
        </div>

        <!--<div>
          <button type="button" class="btn bg-info text-white mt-6" (click)="GetAllData()">Search</button>
          <button type="button" class="btn bg-danger text-white mt-6" (click)="ResetData()">
            <i class="ti ti-refresh"></i>
            Reset
          </button>
        </div>-->

      </div>

      <div class="flex justify-between flex-wrap items-center mt-3 mb-3 p-3 py-2 bg-light">
        <b class="text-1xl-5"><i class="ti ti-list"></i> Search Results</b>
      </div>
      <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">
        <div class="">
          <select id="ddlConter" class="form-select  couterDropDown">
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="500">500</option>
            <option value="1000">1000</option>
          </select>
        </div>
        <div class="">
        </div>
        <div class="">
        </div>
        <div class="">
          <input class="form-input" placeholder="Search..." [(ngModel)]="Table_SearchText" />
        </div>
      </div>
      <div class="overflow-x-auto mt-3">
        <table class="table table-border w-full table-auto" cellpadding="5">
          <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">
            <tr>
              <th width="80px" align="left">Sr. No.</th>
              <th class="text-left">SSOID</th>
              <th class="text-left">Name</th>
              <th class="text-left">Email</th>
              <th class="text-left">District</th>

              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let row of ItiExaminerMasterList  | tableSearchFilter:Table_SearchText;let idx=index;">
              <td>{{idx+1}}</td>
              <td>{{row.SSOID}}</td>
              <td>{{row.Name}}</td>
              <td>{{row.Email}}</td>
              <td>{{row.DistrictName}}</td>

              <td>
                <div class="flex align-center justify-center actionBtns w-auto" style="width:auto !important">
                  <!--<a href="javascript:void(0)" title="Edit" (click)="onEdit(row.StaffID)"><i class="ti ti-pencil"></i></a>-->
                  <!--<a (click)="Onroute(row.ExaminerID,2)" title="Assign Practical Subject "><i class="ti ti-plus"></i></a>-->
                  <!--<a (click)="GetAllTheoryStudents(modal_ViewStudent,row.ExaminerID)" title="View">
                    <i class="ti ti-eye"></i>
                  </a>-->
                  <!--<a (click)="Onroute(row.ExaminerID,1)" title="Assign Theory Subject"><i class="ti ti-plus"></i></a>-->
                  <!--<a href="/ITIExaminer?StaffID={{row.ExaminerID}}" title="Edit"><i class="ti ti-pencil"></i></a>-->
                  <a [routerLink]="['/ITIExaminer']" [queryParams]="{ StaffID: row.ExaminerID }" title="Edit"><i class="ti ti-pencil"></i></a>
                  <a href="javascript:void(0)" title="Delete" (click)="btnDeleteOnClick(row.ExaminerID)"><i class="ti ti-trash"></i></a>
                  <!--<a href="javascript:void(0)" title="Revert Application" (click)="btnRevertOnClick(row.ExaminerID)"><i class="ti ti-arrow-back-up-double"></i></a>-->
                </div>
              </td>

            </tr>


          </tbody>
        </table>

      </div>






    </div>

  </div>
</div>


<ng-template #modal_ViewStudent let-modal class=" h-full fixed top-0 left-0 z-[80] transition-all duration-500 overflow-y-auto [--overlay-backdrop:static] hidden">

  <div class="card">
    <div class="card-header flex justify-between  items-center">
      <b><i class="fa fa-plus"></i>&nbsp; Student List</b>
      <!--<button class="btn bg-info text-white" (click)="CloseModalPopup()"><i class="ti ti-x"></i></button>-->
      <button class="btn bg-info text-white" (click)="ClosePopup()"><i class="ti ti-x"></i></button>
    </div>

    <div class="card">
      <div class="card-body p-5">
        <div class="mb-8">
          <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
            <b class="text-1xl-5"><i class="ti ti-plus"></i> Student List</b>
          </div>



        </div>


        <div class="overflow-x-auto mt-3">
          <table class="table table-border w-full table-auto" cellpadding="5">
            <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">

              <tr>
                <th width="80px" align="left">Sr. No.</th>
                <th class="text-left">Institute Name</th>
                <th class="text-left">CC Code</th>
                <th class="text-left">Student Name</th>
                <th class="text-left">Father Name</th>
                <th class="text-left">Roll No</th>
                <th class="text-left">Semester Name</th>
                <th class="text-left">Subject Name</th>
                <!--<th class="text-left"></th>-->
                <!--<th class="text-left">Invigilators</th>-->
                <!--<th class="text-left">Action</th>-->
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let row of StudentList let idx=index;">
                <td>{{idx+1}}</td>
                <td>{{row.InstituteName}}</td>
                <td align="left">{{row.CCCode }}</td>
                <td align="left">{{row.StudentName}}</td>
                <td align="left">{{row.FatherName}}</td>
                <td align="left">{{row.RollNo}}</td>
                <td align="left">{{row.SemesterName}}</td>
                <td align="left">{{row.SubjectName}}</td>



              </tr>
            </tbody>
          </table>
        </div>

      </div>

    </div>

  </div>
</ng-template>
<!--<app-add-iti-invigilator #ViewAppModal></app-add-iti-invigilator>-->
