<!-- Page Title Start -->

<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">Counselling Allotment List </h4>

    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700">Counselling Master</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700" aria-current="page">Counselling Allotment List </a>
    </div>
  </div>
</div>
<!-- Page Title End -->


<div class="card">
  <div class="card-body p-5">
    <div class="mb-8">
      <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
        <b class="text-1xl-5"><i class="ti ti-search"></i> Enter Search Criteria</b>
      </div>
      <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">
        <div>
            <label class="text-gray-800 text-sm font-medium inline-block mb-1">Designation :</label>
            <select class="form-select" id="DesignationID" name="DesignationID" [(ngModel)]="searchRequest.DesignationID" (change)="getTradeByDegree($event.target.value)" >
              <option value="0">Choose Option</option>
              <option *ngFor="let item of designations" [value]="item.id"  >{{item.name}}</option>
            </select>
        </div>
        <div>
            <label class="text-gray-800 text-sm font-medium inline-block mb-1">Trade :</label>
            <select class="form-select" id="TradeID" name="TradeID" [(ngModel)]="searchRequest.TradeID" >
              <option value="0">Choose Option</option>
              <option *ngFor="let item of TradeDDLList" [ngValue]="item.TradeId">{{item.TradeName}}</option>
            </select>
        </div>
       
        <div>
          <button type="button" class="btn bg-info text-white mt-6" (click)="GetCounsellingAllotmentList(1)">Search</button>
          <button type="button" class="btn bg-danger text-white mt-6" (click)="ClearSearchData()">
            <i class="ti ti-refresh"></i>
            Reset
          </button>
        </div>

      </div>


    </div>
    <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
      <b class="text-1xl-5"><i class="ti ti-list"></i> Search Results</b>
      <a href="javascript:void(0);" class="btn bg-info btn-sm text-white" style="margin-left:1060px !important;" (click)="exportDetailsToExcel()"><i class="ti ti-download"></i> Export All Details</a>
      <a href="javascript:void(0);" class="btn bg-info btn-sm text-white" (click)="exportToExcel()"><i class="ti ti-download"></i> Download</a>
    </div>
    <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">
      <div class="">
        <!-- [(ngModel)]="pageSize" -->
        <select id="ddlConter" class="form-select  couterDropDown" [(ngModel)]="pageSize" (change)="GetCounsellingAllotmentList(1)">
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="500">500</option>
          <option value="1000">1000</option>
        </select>
      </div>
      <div class=""></div>
      <div class=""></div>
      <!-- <div class="">
        <input class="form-input" placeholder="Search....." [(ngModel)]="Table_SearchText" />
      </div> -->
    </div>
    <!-- {{StudentList| json}} -->
    <div class="overflow-auto mt-3">
      <table class="table table-border w-full" cellpadding="5">
        <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">
          <tr>
            <th class="text-left">Sr. No.</th>
            <th class="text-left">Designation</th>
            <th class="text-left">Trade Name</th>
            <th class="text-left">Total Candidates</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of StudentList  | tableSearchFilter:Table_SearchText;let idx=index;  ">
            <td>{{idx+1}}</td>
            <td class="lg:whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">{{item.DesignationID}}</td>
            <td class="lg:whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">{{item.Trade}}</td>
            <td>
              <a class="btn bg-info btn-sm text-white"
                 [routerLink]="item.TotalCandidate > 0 ? ['/CounsellingSelectedOptionList'] : null"
                 [queryParams]="item.TotalCandidate > 0 ? { Id: item.tradeId, deg: item.degID } : null"
                 [ngStyle]="{ 'pointer-events': item.TotalCandidate === 0 ? 'none' : 'auto', 'opacity': item.TotalCandidate === 0 ? '0.6' : '1' }">
                {{ item.TotalCandidate }}
              </a>



            </td>
            
          </tr>
        </tbody>
      </table>
    </div>
  <!--pagination-->
    <div class="p-3 paginationBox flex items-center justify-end w-full">
      <span class="block">
        Record {{ (pageNo - 1) * pageSize +  1 }} - {{ (pageNo - 1) * pageSize +  StudentList?.length }} of {{StudentList[0]?.TotalRecords}}
      </span>
      <div class="paginationBoxItems flex items-center">
        <button (click)="GetCounsellingAllotmentList(1)" [disabled]="pageNo==1">First</button>
        <button (click)="previousData()" [disabled]="pageNo==1">Previous</button>
        <input type="number" min="1" max="100" title="Enter page no." [(ngModel)]="pageNo"
               [disabled]="StudentList[0]?.TotalRecords==0" (change)="GetCounsellingAllotmentList(pageNo)" />
        <span class="text-nowrap">Page {{pageNo}} of {{TotalPages}}</span>
        <button (click)="nextData()">Next</button>
        <button (click)="GetCounsellingAllotmentList(TotalPages)" [disabled]="pageNo==TotalPages || TotalPages==0">Last</button>
      </div>
    </div>

    <!--end pagination-->
  </div>
</div>
<!-- end row -->



