
<!--<head>
  <title>DTE</title>
  <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css">
  <link href="/assets/css/app.css" rel="stylesheet" type="text/css">
</head>


<div class="dteHeader p-6 mx-auto">
  <div class="grid xl:grid-cols-2 lg:grid-cols-2 md:grid-cols-1 gap-6  w-full">
    <div class="flex items-center">
      <img src="/assets/images/logo1.png" alt="logo" class="flex h-12" />

    </div>
    <div class="flex justify-end items-center gap-3">-->
      <!-- <form >
      <select class="form-select">

          <option value="1" >BTER</option>
          <option value="2">ITI</option>
      </select>
      </form> -->

      <!--<a href="https://home.rajasthan.gov.in/acb" target="_blank" class="me-3 ms-3">

      </a>
      <img src="/assets/images/DTE_Logo.jpg" style="height:45px;" />
      <img src="/assets/images/BTER_Logo.jpg" style="height:45px;" />-->
      <!-- <a href="/dtepublicinfo" class="btn bg-info text-white me-3"><i class="ti ti-home"></i> Home</a> -->
      <!--<a href="https://sso.rajasthan.gov.in/" target="_blank" class="btn bg-info text-white me-3"><i class="ti ti-login"></i> Login</a>
    </div>
  </div>
</div>
<div class="banner  w-full">
  <img src="/assets/images/bannerSmall.jpg" class="w-full" alt="OnlineAdmission" />
</div>
<div class="card">
  <div class="card-body p-5">
    <div class="flex flex-wrap text-dark">
      <div class=" contentArea w-full mt-4">-->
        <!--<app-emitra-dashboard></app-emitra-dashboard>-->
        <!-- <app-dtepublic-info-tabs></app-dtepublic-info-tabs> -->
        <!--<div class="text-center justify-center text-lg">
          <h2 class="">DEPARTMENT OF SKILL, EMPLOYMENT & ENTREPRENEURSHIP <br>DIRECTORATE OF TECHNICAL EDUCATION, RAJASTHAN</h2>
          <h1>राजकीय/निजी औधोगिक प्रशिक्षण संस्थानों में प्रवेश हेतु आवेदन पत्र सत्र : {{sessionData.FinancialYearName}}</h1>
        </div>
        <app-itipublic-info-tabs></app-itipublic-info-tabs>

      </div>
      <div class="dteFooter p-3 text-center  w-full">
        <p class="m-0 text-dark" style="margin:0px">Copyright © 2025-2026. All rights reserved.</p>
      </div>


    </div>
  </div>
</div>-->



<div class="container-fluid p-0 smallBanner">
  <img src="../../../assets/KD5/images/bannerSmall.jpg" style="width:100%" />
</div>
<!--<section class="py-5 Admission school-choice-section0 wow bounceIn fadeInRight bgShapN">-->
<section class="py-5 school-choice-section0 wow bounceIn fadeInRight">
  <div class="container-fluid">
    <!--<div class="container text-center">
      <h4>DIRECTORATE OF TECHNICAL EDUCATION, RAJASTHAN<br /> DIRECTORATE OF TECHNICAL EDUCATION, RAJASTHAN</h4>
      <br />
      राजकीय/निजी औधोगिक प्रशिक्षण संस्थानों में प्रवेश हेतु आवेदन पत्र सत्र :: 2025-26
    </div>-->

    <div class="container text-center"><h4>DEPARTMENT OF SKILL, EMPLOYMENT &amp; ENTREPRENEURSHIP <br> DIRECTORATE OF TECHNICAL EDUCATION, RAJASTHAN </h4>
    <h3> राजकीय/निजी औधोगिक प्रशिक्षण संस्थानों में प्रवेश हेतु आवेदन</h3>
    </div>

    <app-itipublic-info-tabs></app-itipublic-info-tabs>
  </div>
</section>


