<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">{{this.searchRequest.TradeLevel}}th IMC Allocation</h4>

    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a routerLink="/dashboard" class="text-sm font-medium text-slate-700">Dashboard</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a [routerLink]="getIMCLink()" class="text-sm font-medium text-slate-700" aria-current="page"> IMC Allocation</a>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body p-5">
    <div class="mb-8">
      <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light"  *ngIf="DateConfigSetting[0][AllotmentKey]==1">
        <b class="text-1xl-5"><i class="ti ti-search"></i> Enter Search Criteria</b>
        <a href="javascript:void(0);" (click)="AddNewAllotment(MyModel_AddNewAllotment)" class="btn bg-success btn-sm text-white"><i class="ti ti-plus"></i>Add New Allotment</a>
      </div>
      <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">
        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Search By Application No.:</label>
          <input type="number" class="form-input" placeholder="Search By Application No." [(ngModel)]="searchRequest.ApplicationID">
        </div>
        <div>
          <button type="button" class="btn bg-info text-white mt-6" (click)="getIMCAllotedList()">Search</button>
          <button type="button" class="btn bg-danger text-white mt-6" (click)="onResetCancel()">Cancel</button>
        </div>
      </div>
    </div>
    <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
      <b class="text-1xl-5"><i class="ti ti-list"></i> Search Results</b>
    </div>
    <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">
      <div class="">
        <select id="ddlConter" class="form-select  couterDropDown">
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="500">500</option>
          <option value="1000">1000</option>
        </select>
      </div>
      <div class="">
      </div>
      <div class="">
      </div>
      <div class="">
        <input class="form-input" placeholder="Search..." [(ngModel)]="Table_SearchText " />
      </div>
    </div>
    <div class="overflow-x-auto mt-3">
      <table class="table table-border w-full table-auto" cellpadding="5">
        <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">
          <tr>
            <th class="text-left">#</th>

            <th class="text-left">Application Number</th>
            <th class="text-left">Applicant Name</th>
            <th class="text-left">Applicant Category</th>
            <th class="text-left">Allotted Category</th>
            <th class="text-left">Trade Name</th>
            <th class="text-left">Trade Scheme</th>
            <th class="text-left">Shift Name</th>
            <th class="text-left">Unit Name</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of IMCAllotedList | tableSearchFilter:Table_SearchText;let idx=index;">
            <td>{{idx+1}}</td>

            <td>{{item.ApplicationNo}}</td>
            <td>{{item.StudentName}}</td>
            <td>{{item.CasteCategoryNameEnglish}}</td>
            <td>{{item.AllotedCategory}}</td>
            <td>{{item.TradeName}}</td>
            <td>{{item.TradeScheme}}</td>
            <td>{{item.Shift}}</td>
            <td>{{item.UnitNo}}</td>
            <td>
              <div class="flex align-center justify-center actionBtns w-auto" style="width:auto !important">               
                <!--<a [routerLink]="'/ITIIMCVerifyStudentPhone/' + item.ApplicationID" title="Edit"><i class="ti ti-pencil"></i></a>-->
                <!--<a href="javascript:void(0)" title="Download"><i class="ti ti-download"></i></a>-->
                <a href="javascript:void(0)" (click)="GetAllotmentReceipt(item.AllotmentId)" title="Download Reciept"><i class="ti ti-download"></i></a>
                <a  *ngIf="DateConfigSetting[0][AllotmentKey]==1" href="javascript:void(0);" (click)="RevertAllotment(item.ApplicationID, item.CollegeTradeID, item.AllotedCategory)" title="Revert Application"><i class="ti ti-arrow-back-up"></i></a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
<ng-template #MyModel_AddNewAllotment let-modal class="w-full h-full fixed top-0 left-0 z-[80] transition-all duration-500 overflow-y-auto [--overlay-backdrop:static] hidden">
  <div class="modal-content">
    <div class="card">
      <div class="card-header flex justify-between  items-center">
        <b><i class="fa fa-plus"></i>&nbsp; Add New Allotment </b>
        <button class="btn bg-info text-white" (click)="CloseAddNewAllotment()"><i class="ti ti-x"></i></button>
      </div>
      <div class="card-body">
        <div class="grid 2xl:grid-cols-1 xl:grid-cols-1 lg:grid-cols-1 md:grid-cols-1 grid-cols-1 gap-3">

          <div>
            <label class="text-gray-800 text-sm font-medium inline-block mb-1">Search By Application ID:</label>
            <input type="number" class="form-input" placeholder="Search By Application ID" [(ngModel)]="searchRequest.ApplicationID">
          </div>
          <div>
            <!--(click)="getTradetblListList()" (click)="onResetCancel()"-->
            <a class="btn bg-info text-white mt-6" (click)="CloseAddNewAllotment()" [routerLink]="'/ITIIMCVerifyStudentPhone/' + searchRequest.ApplicationID +'/' + searchRequest.TradeLevel">Search</a>

          </div>
        </div>

      </div>

    </div>
  </div>
  </ng-template>
