<div class="card">
  <div class="card-body p-5">
    <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
      <b class="text-1xl-5"><i class="ti ti-list"></i>Slot Utilization Report </b>

    </div>
    <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light"><b class="text-1xl-5"><i class="ti ti-search"></i> Enter Search Criteria</b></div>

    <form [formGroup]="TableForm"
          class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-4 mb-6">

      <!-- Day Dropdown -->
      <div>
        <label class="text-gray-800 text-sm font-medium inline-block mb-2">
          Day
        </label>

        <select class="form-select w-full"
                [(ngModel)]="filterModel.DayID"
                name="DayID"
                formControlName="DayID"
                (change)="onChangeDay($event)">

          <option [value]="0">-- Select Day --</option>

          <option *ngFor="let item of DayList"
                  [value]="item.DayID">
            {{ item.DayName }}
          </option>

        </select>
      </div>

      <!-- Start Date -->
      <div>
        <label class="text-gray-800 text-sm font-medium inline-block mb-2">
          Start Date
          <span class="text-red-500">*</span>
        </label>

        <input type="date"
               class="form-input w-full"
               [(ngModel)]="filterModel.AttendanceStartDate"
               formControlName="AttendanceStartDate"
               (change)="onStartDateChange($event)" />
      </div>

      <!-- End Date -->
      <div>
        <label class="text-gray-800 text-sm font-medium inline-block mb-2">
          End Date
          <span class="text-red-500">*</span>
        </label>

        <input type="date"
               class="form-input w-full"
               [(ngModel)]="filterModel.AttendanceEndDate"
               formControlName="AttendanceEndDate"
               [min]="minEndDate" />
      </div>

      <!-- Buttons -->
      <div class="flex items-end gap-2">

        <button type="button"
                (click)="GetAllRosterDisplay()"
                class="btn bg-info text-white px-5 py-2 rounded-md">

          Search

        </button>

        <button type="button"
                class="btn bg-danger text-white px-5 py-2 rounded-md"
                (click)="resetForm()">

          <i class="ti ti-refresh"></i>
          Reset

        </button>

      </div>

    </form>

    <div class="flex justify-between flex-wrap items-center mt-3 mb-3 p-3 py-2 bg-light">
      <b class="text-1xl-5"><i class="ti ti-list"></i> Search Results</b>
      <div class="flex justify-end flex-wrap items-center">

      </div>


    </div>
    <!--{{filterData|json}}-->
    <!--Table-->
    <div class="mat-elevation-z8 table-responsive">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" *ngIf="this.filterData.length > 0">
        <!--Dynamic columns-->
        <ng-container *ngFor="let column of columnSchema; trackBy: trackByFn" [matColumnDef]="column.key">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ column.label }}
          </th>
          <td mat-cell *matCellDef="let element">
            <ng-container [ngSwitch]="column.key">
              <!--Action Column-->


              <ng-container *ngSwitchCase="'AttendanceDate'">
                {{ element[column.key] | date }}
              </ng-container>
              <ng-container *ngSwitchDefault>
                {{ element[column.key] }}
              </ng-container>

            </ng-container>
          </td>
        </ng-container>
        <!--Table Rows-->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </div>

    <div class="alert alert-warning text-center" role="alert" *ngIf="totalRecords == 0">
      No Record Found
    </div>
    <!--Pagination Controls-->
    <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[10, 20, 50, 100, 500, 1000]"
                   [length]="totalRecords" (page)="onPaginationChange($event)">
    </mat-paginator>

  </div>

</div>


