<app-loader> </app-loader>
<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">ITI Time Table</h4>

    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <!--<a href="/dashboard" class="text-sm font-medium text-slate-700">Dashboard</a>-->
      <a [routerLink]="['/dashboard']" class="text-sm font-medium text-slate-700">Dashboard</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <!--<a href="/ItiTimeTable" class="text-sm font-medium text-slate-700" aria-current="page">ITI Time Table</a>-->
      <a [routerLink]="['/ItiTimeTable']" class="text-sm font-medium text-slate-700" aria-current="page">ITI Time Table</a>
    </div>
  </div>

</div>
<!-- Page Title End -->

<div class="card">
  <div class="card-body p-5">
    <div class="mb-8">
      <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
        <b class="text-1xl-5"><i class="ti ti-search"></i> Enter Search Criteria</b>
        <!--<a href="/AddITITimeTable" class="btn bg-success btn-sm text-white"><i class="ti ti-plus"></i>Add New</a>-->
        <a *ngIf="Status!=14"  [routerLink]="['/AddITITimeTable']" class="btn bg-success btn-sm text-white"><i class="ti ti-plus"></i>Add New</a>
      </div>
      <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">


        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">All Semester</label>
          <select class="form-select" id="TimetableYear" [(ngModel)]="searchRequest.SemesterID">
            <option value="0">Choose Option</option>
            <option *ngFor="let row of SemesterList" [value]="row.SemesterID">{{row.SemesterName}}</option>
              <!--<option [value]="1">1st Year</option>
              <option [value]="2">2nd Year</option>-->
          </select>
        </div>

        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">All Shift</label>
          <select class="form-select" id="TimetableTime" [(ngModel)]="searchRequest.ShiftID">
            <option value="0">Choose Option</option>
            <option *ngFor="let row of ExamShiftList" [value]="row.ShiftID">{{row.ExamShiftWithTime}}</option>

          </select>
        </div>

        <!--<div>
        <label class="text-gray-800 text-sm font-medium inline-block mb-1">Subjects</label>
        <select class="form-select" id="TimetableSujectId" [(ngModel)]="searchbySubject">
          <option value="">Choose Option</option>
          <option *ngFor="let row of SubjectList" [value]="row.SubjectName">{{row.SubjectName}}</option>


        </select>
      </div>-->

        <div>
          <button type="button" class="btn bg-info text-white mt-6 me-1" (click)="GetITITimeTableList()">Search</button>
          <button type="button" id="btnReset" (click)="ResetControl()" class="btn bg-danger text-white">
            <i class="ti ti-refresh"></i> Reset
          </button>
        </div>
      </div>
    </div>
    <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
      <b class="text-1xl-5"><i class="ti ti-list"></i> Search Results</b>

      <div class="inline-flex items-center text-white btn-sm" >
        <a *ngIf="ShowPublishButton()" class="btn bg-success btn-sm text-white" (click)="DownloadTimeTable1()"><i class="ti ti-checklist"></i>Generate Order Time Table</a>
        <a *ngIf="ShowPublishpublisButton()"
       class="btn bg-success btn-sm text-white"
       (click)="DownloadPDF1()">
      <i class="ti ti-checklist"></i> Publish Order Time Table
    </a>

        <div *ngIf="Status==14" class="mt-2">
          <button class="btn bg-success btn-sm text-white" (click)="DownloadTimeTable1()">
            Download in PDF
          </button>
          <!--<button class="btn bg-success btn-sm text-white" (click)="DownloadTimeTable1('word')">
            Download in Word
          </button>-->
        </div>
        <!--<a *ngIf="ShowPublishpublisButton()" class="btn bg-success btn-sm text-white" (click)="PublishOnAction(MyModel_Action)"><i class="ti ti-checklist"></i>Upload and Publish Time Table</a>-->
        <!--<a *ngIf="searchRequest.SemesterID!=0 && searchRequest.Status==_RollListStatus.Published &&  TimeTableList?.length>0 && this.PublishFileName!='' "
      class="btn bg-info btn-sm text-white" href="{{appsettingConfig.StaticFileRootPathURL + '/' + PublishFileName}}"><i-->
        <!--class="ti ti-download"></i>{{searchRequest.SemesterID==1 ?'DownloadSemester':'DownloadYearly'}}</a>-->
      </div>
    </div>


    <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">
      <div class="">
        <select id="ddlConter" class="form-select  couterDqropDown">
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="500">500</option>
          <option value="1000">1000</option>
        </select>
      </div>
      <div class=""></div>
      <div class=""></div>
      <div class="">
        <input class="form-input" placeholder="Search....." [(ngModel)]="Table_SearchText" />
      </div>
    </div>
    <div class="overflow-x-auto mt-3">
      <table class="table table-border w-full table-auto" cellpadding="5">
        <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">
          <tr>
            <th width="80px" align="left">Sr. No.</th>
            <th class="text-left">Session</th>
            <th class="text-left">Semester</th>
            <th class="text-left">Exam Date</th>
            <th class="text-left">Exam Shift</th>
            <th class="text-left">Trade</th>
            <th class="text-left">Subject</th>
            <th class="text-left" *ngIf="sSOLoginDataModel.RoleID == 7">Invigilator</th>
            <th class="text-left">Action</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let row of ITITimeTableList | tableSearchFilter:Table_SearchText; let idx=index;">
            <td>{{idx+1}}</td>
            <td>{{row.FinancialYear}}</td>
            <td align="left">{{row.SemesterName}}</td>
            <td align="left">{{row.Dis_Date|date:'dd-MM-yyyy'}}</td>
            <td align="left">{{row.ExamShiftWithTime}}</td>
            <td align="left">{{row.TradeName}}</td>
            <td align="left">{{row.SubjectName}}</td>
            <td align="left" *ngIf="sSOLoginDataModel.RoleID == 7">{{row.InvigilatorName}}</td>
            <td align="left">
              <div *ngIf="Status!=14" class="flex align-l justify-l actionBtns w-auto" style="width:auto !important">
                <!-- <a href="javascript:void(0)" title="{{sSOLoginDataModel.RoleID == 2? 'View': 'Update Invigilator'}}"
                 (click)="ViewandUpdate(MyModel_ViewDetails,row.TimeTableID)">
                              <i class="ti ti-eye"></i>
              </a> -->

                  
                <!--<a href="/AddITITimeTable?id={{row.TimeTableID}}" title="Edit"><i class="ti ti-pencil"></i></a>-->
                <a [routerLink]="['/AddITITimeTable']" [queryParams]="{ id: row.TimeTableID }" title="Edit"><i class="ti ti-pencil"></i></a>
                <a href="javascript:void(0)" title="Delete" (click)=" btnDelete_OnClick(row.TimeTableID)">
                  <i class="ti ti-trash"></i>
                </a>
              </div>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--<ng-template #MyModel_ViewDetails let-modal
             class="w-full h-full fixed top-0 left-0 z-[80] transition-all duration-500 overflow-y-auto [--overlay-backdrop:static] hidden">
  <div class="modal-content">
    <div class="card">
      <div class="card-header flex justify-between  items-center">
        <b><i class="fa fa-plus"></i>College Trades</b>
        <button class="btn bg-info text-white" (click)="CloseModalPopup()"><i class="ti ti-x"></i></button>
      </div>
      <div class="card-body">
        <div class="mb-8">

          <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3" *ngIf="sSOLoginDataModel.RoleID == 7">
            <form [formGroup]="InvigilatorFormGroup">
              <label class="text-gray-800 text-sm font-medium inline-block mb-1">Invigilator: <span class="StarMarking">*</span></label>
              <select class="form-select" formControlName="InvigilatorID" [(ngModel)]="requestInv.InvigilatorID">
                <option value="0">Choose Option</option>
                <option *ngFor="let item of InvigilatorDDL" [value]="item.UserID">{{item.Name}}</option>
              </select>
              <div *ngIf="isSubmitted && _InvigilatorFormGroup.InvigilatorID.errors" class="text-danger">
                <p *ngIf="!_InvigilatorFormGroup.InvigilatorID.errors.DropdownValidators">
                  <i aria-hidden="true"></i>This field is required .!
                </p>
              </div>
            </form>
          </div>

          <div class="overflow-x-auto mt-3">

            <table class="table table-border w-full table-auto" cellpadding="5">
              <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">
                <tr>
                  <th class="text-left">#</th>
                  <th class="text-left">TradeName Name</th>
                  <th class="text-left">Subject Name</th>
                 
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of TimeTableTradeSubList; let i = index">
                  <td align="left">{{ i + 1 }}</td>
                  <td align="left">{{row.TradeName}}</td>
                  <td align="left">{{row.SubjectName}}</td>
                  

                </tr>
              </tbody>


            </table>
          </div>
        </div>
        <div  *ngIf="sSOLoginDataModel.RoleID == 7">
         
          <button type="submit"
                  id="btnSave"
                  class="btn bg-info text-white mt-6"
                  (click)="SaveInvigilator()">
            Submit
          </button>
        </div>
      </div>
      <div class="grid 2xl:grid-cols-1 xl:grid-cols-1 lg:grid-cols-1 md:grid-cols-1 grid-cols-1 gap-3">
      </div>
    </div>
  </div>-->
<!--</ng-template>-->
<app-otpmodal #otpModal></app-otpmodal>
