<!-- Page Title Start -->

<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
    <div>
        <h4 class="text-slate-900 text-lg font-medium mb-2">BTER Merit</h4>

        <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
            <a routerLink="/dashboard" class="text-sm font-medium text-slate-700">Dashboard</a>
            <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
            <a routerLink="/btermerit" class="text-sm font-medium text-slate-700" aria-current="page">BTER Merit</a>
        </div>
    </div>
</div>
<!-- Page Title End -->

<div class="card">
    <div class="card-body p-5">
        <div class="mb-8">
            <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
                <b class="text-1xl-5"><i class="ti ti-search"></i> Enter Search Criteria</b>
                <!--<a href="/AddCompany" class="btn bg-success btn-sm text-white"><i class="ti ti-plus"></i>Add New</a>-->
            </div>
            <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">

                <div>
                    <label class="text-gray-800 text-sm font-medium inline-block mb-1">Search By Merit Master:</label>
                    <select class="form-select" [(ngModel)]="searchRequest.MeritMasterId">
                        <option value="0">Choose Option</option>
                        <option *ngFor="let row of MaritMasterList" [value]="row.ID">{{row.Name}}</option>
                    </select>
                </div>

                <div>
                    <label class="text-gray-800 text-sm font-medium inline-block mb-1">Search By Course Type:</label>
                    <select class="form-select" [(ngModel)]="searchRequest.CourseType">
                        <option value="0">Choose Option</option>
                        <option *ngFor="let item of CourseTypeList" [value]="item.StreamTypeID">{{item.StreamType}}</option>
                    </select>
                </div>

                <div>
                    <label class="text-gray-800 text-sm font-medium inline-block mb-1">Search By Category:</label>
                    <select class="form-select" [(ngModel)]="searchRequest.Category">
                        <option value="0">Choose Option</option>
                        <!-- <option *ngFor="let row of CategoryAlist" [value]="row.CasteCategoryID">{{row.CasteCategoryName}}</option> -->
                        <option value="GEN">GEN</option>
                        <option value="OBC">OBC</option>
                        <option value="MBC">MBC</option>
                        <option value="EWS">EWS</option>
                        <option value="SC">SC</option>
                        <option value="ST">ST</option>
                        <option value="Sahariya">Sahariya</option>
                        <option value="TSP">TSP</option>
                        <option value="EXS">EXS</option>
                        <option value="PH">PH</option>
                        <option value="KM">KM</option>
                        <option value="WD">WD</option>
                        <option value="Minority">Minority</option>
                    </select>
                </div>

                <div>
                    <label class="text-gray-800 text-sm font-medium inline-block mb-1">Search By Gender:</label>
                    <select class="form-select" [(ngModel)]="searchRequest.Gender">
                        <option value="0">Choose Option</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                        <!-- <option *ngFor="let row of GenderList" [value]="row.ID">{{row.Name}}</option> -->
                    </select>
                </div>

                <div>
                    <label class="text-gray-800 text-sm font-medium inline-block mb-1">Search Text</label>
                    <input type="text" class="form-input" placeholder="Search " [(ngModel)]="searchRequest.SearchText">
                </div>

            </div>
            <div>
                <button type="button" class="btn bg-info text-white mt-6" (click)="onSearch(1)">Search</button>
                <button type="button" class="btn bg-danger text-white mt-6" (click)="ResetSearch()">Reset</button>
                <button type="button" *ngIf="searchRequest.MeritMasterId != 0 && searchRequest.CourseType != 0 "
                    class="btn bg-secondary text-white mt-6" (click)="generateMerit()">
                    Generate Merit
                </button>

                <button type="button" *ngIf="searchRequest.MeritMasterId != 0 && searchRequest.CourseType != 0 && isSearchClicked"
                    class="btn bg-success text-white mt-6" (click)="publishMerit()">
                    Publish Merit
                </button>
            </div>
        </div>

        <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
            <b class="text-1xl-5"><i class="ti ti-list"></i> Search Results</b>
            <button type="button" class="btn bg-success text-white" (click)="exportExcelData()">Export Excel</button>
        </div>
        <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">
            <div class="">
                <select id="ddlConter" class="form-select  couterDropDown" [(ngModel)]="pageSize" (change)="onSearch(1)">
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                </select>
            </div>
            <div class=""></div>
            <div class=""></div>
            
        </div>

        <div class="overflow-auto mt-3">
            <table class="table table-border w-full" cellpadding="5">
                <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">
                    <tr>
                        <th class="text-left">Merit No</th>
                        <th class="text-left">Application ID</th>

                        <th class="text-left">Name</th>
                        <th class="text-left">Father Name</th>
                        <th class="text-left">Mother Name</th>
                        <th class="text-left">Email</th>

                        <th class="text-left">Class Percentage</th>
                        <th class="text-left">Category</th>
                        <th class="text-left">Gender</th>
                        <th class="text-left">DOB</th>
                        
                        <!-- <th class="text-left">Is PH</th>
                        <th class="text-left">Is Ex Servicemen</th>
                        <th class="text-left">Is WIDOW</th>
                        <th class="text-left">Is DIVORCEE</th>
                        <th class="text-left">Is DOMICILE</th>
                        <th class="text-left">Is Published</th>
                        <th class="text-left">Publish Date</th> -->

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of MeritData; let idx=index;  ">
                        <td class="lg:whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">{{row.MeritNo}}</td>
                        <td class="lg:whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">{{row.ApplicationID}}</td>
                        <td class="lg:whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">{{row.Name}}</td>
                        <td class="lg:whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">{{row.FatherName}}</td>
                        <td class="lg:whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">{{row.MotherName}}</td>
                        <td class="lg:whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">{{row.Email}}</td>

                        <td class="lg:whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">{{row.ClassPer}}</td>
                        <td class="lg:whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">{{row.CategoryName}}</td>
                        <td class="lg:whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">{{row.Gender}}</td>
                        <td class="lg:whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">{{row.DOB|date:'dd-MM-yyyy'}}</td>

                        <!-- <td class="lg:whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">{{row.IsPH == true ? 'Yes' : 'No'}}</td>
                        <td class="lg:whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">{{row.IsExServicemen == true ? 'Yes' : 'No'}}</td>
                        <td class="lg:whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">{{row.IsWIDOW == true ? 'Yes' : 'No'}}</td>
                        <td class="lg:whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">{{row.IsDIVORCEE == true ? 'Yes' : 'No'}}</td>
                        <td class="lg:whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">{{row.IsRajDOMICILE == true ? 'Yes' : 'No'}}</td>
                        <td class="lg:whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">{{row.IsPublished}}</td>
                        <td class="lg:whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">{{row.PublishDate|date:'dd-MM-yyyy'}}</td> -->

                    </tr>
                </tbody>
            </table>
        </div>

        <div class="p-3 paginationBox flex items-center justify-end w-full">
          <span class="block">
            Record {{ (pageNo - 1) * pageSize +  1 }} - {{ (pageNo - 1) * pageSize +  MeritData?.length }} of {{MeritData[0]?.TotalRecords}}
          </span>
          <div class="paginationBoxItems flex items-center">
            <button (click)="onSearch(1)" [disabled]="pageNo==1">First</button>
            <button (click)="previousData()" [disabled]="pageNo==1">Previous</button>
            <input type="number" min="1" max="100" title="Enter page no." [(ngModel)]="pageNo"
                   [disabled]="MeritData[0]?.TotalRecords==0" (change)="onSearch(pageNo)" />
          <span class="text-nowrap">Page {{pageNo}} of {{TotalPages}}</span>
            <button (click)="nextData()">Next</button>
            <button (click)="onSearch(TotalPages)" [disabled]="pageNo==TotalPages || TotalPages==0">Last</button>
          </div>
        </div>
    </div>
</div>
