.status-span {
  background-color: #2ecc714d;
  color: #06833b;
  padding: 3px 16px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 6px;
  display: inline-block;
  font-family: sans-serif;
  cursor: default;
}
