<div class="flex items-center justify-between flex-wrap gap-2 mb-6" >
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">DTE Office Vacancy List</h4>
    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700">Dashboard</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700">DTE Office Vacancy List</a>
    </div>
  </div>
</div>

<div class="card mt-3">
  <div class="card-body p-5">
    <div class="mb-8">
      <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
        <b class="text-1xl-5"><i class="ti ti-search"></i> Enter Search Criteria</b>
        <a [routerLink]="['/add-dte-office-vacancy']" class="btn bg-info btn-sm text-white"> Add New Post</a>
      </div>
      <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">
        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Name</label>
          <input type="text" class="form-input" placeholder="Name" id="Name" [(ngModel)]="SearchData.Name">
        </div>
        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Office <span class="StarMarking">*</span></label>
          <select class="form-select" [(ngModel)]="SearchData.OfficeID" >
            <option value="0">--Select--</option>
            <option *ngFor="let item of OfficeList" [value]="item.ID">{{item.Name}}</option>
          </select>
        </div>
        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Staff Type<span class="StarMarking">*</span></label>
          <select class="form-select" [(ngModel)]="SearchData.StaffTypeID" >
            <option value="0">Choose Option</option>
            <option *ngFor="let item of StaffTypeList" [value]="item.ID">{{item.Name}}</option>
          </select>
        </div>
        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Post <span class="StarMarking">*</span></label>
          <select class="form-select" [(ngModel)]="SearchData.DesignationID">
            <option value="0">--Select--</option>
            <option *ngFor="let item of PostList" [value]="item.ID">{{item.Name}}</option>
          </select>
        </div>
        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Institute:</label>
          <select class="form-select" [(ngModel)]="SearchData.InstituteID">
            <option value="0">--Select--</option>
            <option *ngFor="let item of InstituteMasterDDLList" [value]="item.InstituteID">{{item.InstituteName}}</option>
          </select>
        </div>
        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Branch</label>
          <select class="form-select" id="BranchID" [(ngModel)]="SearchData.BranchID">
            <option value="0">--Select--</option>
            <option *ngFor="let item of StreamMasterDDLList" [value]="item.StreamID">
              {{item.StreamName}}
            </option>
          </select>
        </div>
        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Budget Head</label>
          <select class="form-select" [(ngModel)]="SearchData.BugetHeadID">
            <option value="0">--Select--</option>
            <option *ngFor="let item of BugetHeadList" [value]="item.ID">{{item.Name}}</option>
          </select>
        </div>
        <div>
          <button type="button" class="btn bg-info text-white mt-6" (click)="OfficeVacancyDataList()">Search</button>
          <button type="button" class="btn bg-danger text-white mt-6" (click)="ClearSearchData()"><i class="ti ti-refresh"></i> Reset</button>
        </div>
      </div>

    </div>
    <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
      <b class="text-1xl-5"><i class="ti ti-list"></i>Office Vacancy For List</b>
      <a href="javascript:void(0);" (click)="exportToExcel()" class="btn bg-info btn-sm text-white">
        <i class="ti ti-excel"></i> Export Excel
      </a>
    </div>
    <div class="grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-1 gap-6">
      <div class="">
        <select id="ddlConter" class="form-select  couterDropDown" [(ngModel)]="pageInTableSize" (change)="loadInTable()">
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="500">500</option>
          <option value="1000">1000</option>
        </select>
      </div>
      <div class="">
      </div>
      <div class="">
      </div>
      <div class="">
        <!-- <input class="form-input" placeholder="Search..." [(ngModel)]="Table_SearchText " /> -->
      </div>
    </div>
    <div class="overflow-x-auto mt-4">
      <table class="table table-bordered" *ngIf="OfficeVacancyList.length > 0">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Office Name</th>
            <th>College</th>
            <th>Staff Type</th>
            <!-- <th>Institute Name</th> -->
            <th>Designation Name</th> 
            <th>Branch</th> 
            <th>Budget Name</th>
            <th>Sanctioned Post</th>
            <th>Working Post </th>
            <th>Vacant Post</th>
            <th>Order Details</th>
            <th>Comments</th>
            <th>Active/Inactive</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let leave of paginatedInTableData;  let idx = index">
            <td>{{(startInTableIndex+1)+idx}}</td>
            <td>{{ leave.OfficeName }}</td>
            <td>{{ leave.InstituteName }}</td>
            <td>{{ leave.StaffTypeName }}</td>
            <!-- <td>{{ leave.InstituteName }}</td> -->
            <td>{{ leave.DesignationName }}</td>
            <td>{{ leave.BranchName }}</td>
            <td>{{ leave.BudgetTypeName }}</td>
            <td>{{ leave.TotalSeatID }}</td>
            <td>{{ leave.PostedSeat }}</td>
            <td>{{ leave.RemainingSeatID }}</td>
            <td>
              <div style="display: flex; gap: 15px; align-items: center; flex-wrap: wrap;">
                <span style="white-space: nowrap;"><b>Order No:</b> {{leave.OrderNumber}}</span>
                <span style="white-space: nowrap;"><b>Order Date:</b> {{leave.OrderDate}}</span>
                <span style="white-space: nowrap;">
                  <b>Order Doc:</b> 
                  <a [href]="appsettingConfig.StaticFileRootPathURL + 'BTER_Establishment/VacancyOrderDocument/' + leave.orderDoc"
                    class="text-info" target="_blank"> Order</a>
                </span>
              </div>
            </td>
            <td>{{ leave.Comments }}</td>
            <td>
              <label class="switch">
                <input type="checkbox"
                       [checked]="leave.ActiveStatus"
                       (change)="OfficeVacancyActiveDeActive(leave.ID, $event.target.checked)" />
                <span class="slider round"></span>
              </label>
            </td>
            <td class="row-line-btn">
              <button class="btn bg-info text-white" 
                *ngIf="!IsView" 
                [routerLink]="['/add-dte-office-vacancy']"
                [queryParams]="{ id: leave.ID }">Update
              </button>
              <button *ngIf="leave.PostedSeat == 0" class="btn btn-danger btn-sm" (click)="removeVacancy(leave.ID)">
                Remove
              </button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

            <td>{{totalSanctionedPost}}</td>
            <td>{{totalWorkingPost}}</td>
            <td>{{totalVacantPost}}</td>

            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tfoot>
      </table>
    </div>
    <!--pagination-->
    <div class="p-3 paginationBox flex items-center justify-end w-full">
      <span class="block">Record {{startInTableIndex+1}} - {{endInTableIndex}} of {{totalInTableRecord}}</span>
      <div class="paginationBoxItems flex items-center">
        <button (click)="firstInTablePage()" [disabled]="currentInTablePage==1">First</button>
        <button (click)="previousInTablePage()" [disabled]="currentInTablePage==1">Previous</button>
        <input type="number" min="1" max="{{totalInTablePage}}" title="Enter page no." [(ngModel)]="currentInTablePage"
               [disabled]="totalInTablePage==0" (change)="randamInTablePage()" />
        <span class="text-nowrap">Page {{currentInTablePage}} of {{totalInTablePage}}</span>
        <button (click)="nextInTablePage()" [disabled]="currentInTablePage==totalInTablePage || totalInTablePage==0">Next</button>
        <button (click)="lastInTablePage()" [disabled]="currentInTablePage==totalInTablePage || totalInTablePage==0">Last</button>
      </div>
    </div>
    <!--end pagination-->
  </div>
</div>