<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">Transfer Module Process</h4>

    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700">Dashboard</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700" aria-current="page"> Retieving Process List</a>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-body p-5">

    <div class="grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-1 gap-6">

      <div>
        <label>Search By Status</label>
        <select class="form-select" id="SearchStatus" [(ngModel)]="SearchStatus" name="ddlSearchStatus" (change)="EM_TransferSystem_GetData_Search(SearchStatus)">
          <!--(click)="onChangeSearchStatus()" -->
          <option value="0">--select--</option>
          <option *ngFor="let item of TransferSystemStatusSearchList" [value]="item.ID">
            {{item.Name}}
          </option>
        </select>
      </div>

      <div>
        <label class="text-gray-800 text-sm font-medium inline-block mb-1">
          Staff Type Gazetted non Gazetted
        </label>
        <select class="form-select"
                [(ngModel)]="SearchEmployeeType">
          <option value="0">--select--</option>
          <option *ngFor="let item of GazettedList"
                  [ngValue]="item.ID">
            {{ item.Name }}
          </option>
        </select>
      </div>


      <div>
        <label class="text-gray-800 text-sm font-medium inline-block mb-1">
          Category
        </label>
        <select class="form-select" [(ngModel)]="SearchCategoryID">
          <option value="0">--select--</option>
          <option *ngFor="let item of GetTransfercateList" [value]="item.ID">{{item.Name}}</option>
        </select>
      </div>

      <div>
        <label class="text-gray-800 text-sm font-medium inline-block mb-1"> Institute</label>
        <select class="form-select" [(ngModel)]="SearchInstituteID" [disabled]="isInstituteDisabled">
          <option value="0">--select--</option>
          <option *ngFor="let item of ItiCollegesListAll" value="{{item.InstituteID}}">{{item.InstituteName}}</option>
        </select>
      </div>


      <div>
        <button type="submit"
                class="btn bg-info mt-5 text-white w-100"
                (click)="EM_TransferSystem_GetData_Search(this.SearchStatus)">
          Search
        </button>
      </div>
    </div>


    <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light mt-3">
      <b class="text-xl">
        <i class="ti ti-list"></i>
        ReLieving Process List
      </b>
      <a href="javascript:void(0);" (click)="exportToExcel()" class="btn bg-info btn-sm text-white">
        <i class="ti ti-download"></i> Download Execel
      </a>

    </div>



    <div class="grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-1 gap-6">


    </div>
    <!--{{EM_TransferProcessList|json}}-->
    <div class="overflow-auto mt-3">
      <table class="table table-border w-full" cellpadding="5">
        <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">
          <tr>
            <th width="80px" align="left">Sr. No.</th>
            <!--<th align="left">SSO ID</th>-->
            <th align="left">Name</th>
            <th align="left">Transfer Category</th>
            <th align="left">Reason Description</th>
            <th class="left">Application Date</th>
            <th align="left">from Office</th>
            <th align="left">To Office</th>
            <th align="left">Post</th>
            <th align="left">District</th>
            <th align="left">from Institute</th>
            <th align="left">To Institute</th>
            <th align="left">Status</th>
            <th align="left">Supporting Documents</th>
            <th align="left">Relieving  Date</th>
            <th align="center" width="200">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of EM_TransferProcessList | tableSearchFilter:Table_SearchText; let idx=index;">
            <td>{{idx+1}}</td>
            <!--<td></td>-->
            <td>{{row.NAME}}({{row.SSOID}})</td>
            <td>{{row.TransferCategory}}</td>
            <td>{{row.ReasonDescription}}</td>
            <td>{{row.CreatedDate}}</td>
            <td>{{row.OLD_OfficeName}}</td>
            <td>{{row.OfficeName}}</td>

            <td>{{row.DesignationName}}</td>
            <td>{{row.DistrictName}}</td>
            <td>{{row.OLD_InstituteName}}</td>
            <td>{{row.InstituteName}}</td>
            <td>{{row.RelievingStatusName}}</td>
            <td align="left">
              <div class="flex" *ngIf="row.OrderSupportingDocument; else noDoc1">
                <a [href]="appsettingConfig.StaticFileRootPathURL + 'BTER_Establishment/TransferRequestDocument/' + row.OrderSupportingDocument"
                   class="btn bg-primary text-white m-0"
                   target="_blank">
                  <i class="ti ti-eye"></i>
                </a>
              </div>
              <ng-template #noDoc1>-----</ng-template>
            </td>
            <td>
              {{row.RelievingDate}}
            </td>
            <td>
              <div class="flex align-center justify-center actionBtns w-auto" style="width:auto !important">
                <a href="javascript:void(0);" title="Relieving Letter" *ngIf="row.RelievingStatusID == 2"
                   (click)="RelievingLetter(row.TransferSystemID)">
                  <i class="ti ti-download"></i>
                </a>
                <a class="me-2" href="javascript:void(0);" title="Retieving Action" (click)="onRetievingAction(RetievingActionPopup, row.TransferSystemID,row.StaffID)" *ngIf="row.RelievingStatusID == 1"><i class="ti ti-pencil"></i></a>
                <a (click)="OpenStaffProfileViewModal(row.StaffID,row.StaffUserID)" title="View Profile"><i class="ti ti-eye"></i></a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<ng-template #RetievingActionPopup let-modal>
  <div class="modal-content">
    <div class="card">
      <div class="card-header flex justify-between items-center">
        <h2 class="mb-0">Staff Relieving Action</h2>
        <button class="btn bg-info text-white" (click)="CloseModal()" type="button"><i class="ti ti-x"></i></button>
      </div>

      <div class="card-body p-5">
        <div class="grid xl:grid-cols-3 lg:grid-cols-4 md:grid-cols-3 gap-6">
          <div>
            <label>Update Status <span class="StarMarking">*</span></label>
            <select class="form-select" id="updateStatus" [(ngModel)]="updateStatus" name="ddlupdateStatus" (change)="TransferSystemStatusChange()">
              <option value="0">--select--</option>
              <option *ngFor="let item of TransferSystemStatusUpdateList" [value]="item.ID">
                {{item.Name}}
              </option>
            </select>
          </div>

          <div class=" ">
            <label>Remark</label>
            <input class="form-input" type="text" id="Remark" [(ngModel)]="Remark">
          </div>

          <div>
            <label class="block  text-sm font-medium text-gray-900 dark:text-white"
                   for="SupportingDocuments ">
              Supporting Document:<span class="StarMarking">*</span>
            </label>
            <div class="flex fileUploader">
              <input class="block form-input w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                     id="SupportingDocuments" type="file" (change)="onFilechange($event, 'SupportingDocuments')">
              <label for="SupportingDocuments">
                <span>Choose File</span>
                {{RelievingDoc === '' ? 'No File Choosen' : RelievingDoc}}
              </label>
              <div class="flex">
                <a href="{{appsettingConfig.StaticFileRootPathURL + 'BTER_Establishment/TransferRequestDocument/' + RelievingDoc}}"
                   *ngIf="RelievingDoc !=''" class="btn bg-primary text-white m-0" target="_blank"><i class="ti ti-eye"></i></a>
              </div>
            </div>
          </div>
          <div *ngIf="isShowDate == true">
            <label>
              Relieving Date:<span class="StarMarking">*</span>
            </label>

            <input class="form-input"
                   type="date"
                   id="RelievingDate"
                   [(ngModel)]="RelievingDate"
                   [min]="todayDate">
          </div>

          <div *ngIf="isShowDate == true">
            <label class="text-gray-800 text-sm font-medium inline-block mb-1">
              Relieving Time <span class="StarMarking">*</span>
            </label>
            <select class="form-select" [(ngModel)]="RelievingTimeID">
              <option value="0">--Select--</option>
              <option value="1">First Half</option>
              <option value="2">Second Half</option>
            </select>
          </div>



          <div class="updt-btn-man">
            <button type="submit"
                    class="btn bg-info mt-5 text-white "
                    (click)="TransferSystemRetievingUpdateStatus(this.SearchStatus)">
              Update
            </button>
          </div>
        </div>
      </div>
      <div class="card-footer text-right">
        <button type="button" (click)="CloseModal()" class="btn bg-success text-white btn-sm">
          Close
        </button>
      </div>
    </div>
  </div>

</ng-template>

<app-view-staff-profile-modal #Modal_StaffDetailsViewModal></app-view-staff-profile-modal>





