
<div class="card tab-panel" id="PersonalDetail">
  <div class="card-body p-5">
    <form [formGroup]="PersonalDetailForm">
      <div class="grid xl:grid-cols-3 lg:grid-cols-3 md:grid-cols-1 gap-6 mb-6">

        <div class="border border-red-600/20 bg-red-600/10 text-sm text-red-600 rounded-md px-4 py-3 w-full col-span-full" role="alert" id="WihoutJanadharAlert">
          <b>नोट:</b> सभी विवरण आवेदक के दस्तावेज़ अनुसार भरे हुए हैं, इन्हे बदला नहीं जा सकता | (तारांकित (*) फील्ड भरना अनिवार्य हैं)
           <!-- कृपया सभी विवरण आवेदक के दस्तावेजों के अनुसार भरें, क्योंकि इन्हें बाद में बदला नहीं जा सकता | (तारांकित (*) फील्ड भरना अनिवार्य हैं) --> 
        </div>
        <div>
          <label for="ApplicationId" class="text-gray-800 text-sm font-medium inline-block mb-2">
            आवेदक का नाम (Applicant's Name):<span class="StarMarking" style="display:none;">*</span>
        </label>
          <input type="text" class="form-input" id="CandidateName" value="Test Kumar" formControlName="CandidateName"
             [(ngModel)]="request.CandidateName" placeholder="Enter Candidate Name">
          <div *ngIf="isSubmitted && _PersonalDetailForm.CandidateName.errors" class="text-danger">
            <p *ngIf="_PersonalDetailForm.CandidateName.errors.required"><i aria-hidden="true"></i> This field is required.!</p>
          </div>
        </div>
        
        <div>
          <label for="ApplicationId" class="text-gray-800 text-sm font-medium inline-block mb-2">
            ईमेल (Email Address):<span class="StarMarking" style="display:none;">*</span>
            </label>
          <input type="email" class="form-input" id="Email" value="TEST@gmail.com" placeholder="Enter Applicant Email" formControlName="Email"
             [(ngModel)]="request.Email">
          <div *ngIf="isSubmitted && _PersonalDetailForm.Email.errors" class="text-danger">
            <p *ngIf="_PersonalDetailForm.Email.errors.pattern">
              <i aria-hidden="true"></i> Please enter a valid email address.
            </p>
          </div>
        </div>
        <div>
          <label for="ApplicationId" class="text-gray-800 text-sm font-medium inline-block mb-2">
            पिता का नाम (Father's Name):<span class="StarMarking" style="display:none;">*</span>
        </label>
          <input type="text" class="form-input " id="FatherName" value="Test Father Name" placeholder="Enter Father Name"
             formControlName="FatherName" [(ngModel)]="request.FatherName">
          <div *ngIf="isSubmitted && _PersonalDetailForm.FatherName.errors" class="text-danger">
            <p *ngIf="_PersonalDetailForm.FatherName.errors.required"><i aria-hidden="true"></i> This field is required.!</p>
          </div>
        </div>

        <div style="display:none;">
          <label for="txtMotherEngname" class="text-gray-800 text-sm font-medium inline-block mb-2">
            माता का नाम (Mother's Name):<span class="StarMarking" style="display:none;">*</span>
        </label>
          <input type="text" class="form-input" id="MotherName"value="Test Mother Name" formControlName="MotherName"
             placeholder="Enter Mother Name" [(ngModel)]="request.MotherName">
          <div *ngIf="isSubmitted && _PersonalDetailForm.MotherName.errors" class="text-danger">
            <p *ngIf="_PersonalDetailForm.MotherName.errors.required"><i aria-hidden="true"></i> This field is required.!</p>
          </div>
        </div>
        
        <div>
          <label for="txtDOB" class="text-gray-800 text-sm font-medium inline-block mb-2">
            जन्म तिथि (Date of Birth):<span class="StarMarking" style="display:none;">*</span>
        </label>
          <input type="date" class="form-input" id="DOB"value="03/11/1995" formControlName="DOB" [(ngModel)]="request.DOB">
          <div *ngIf="isSubmitted && _PersonalDetailForm.DOB.errors" class="text-danger">
            <p *ngIf="_PersonalDetailForm.DOB.errors.required"><i aria-hidden="true"></i> This field is required.!</p>
          </div>
        </div>
        

        <div>
          <label for="Gender" class="text-gray-800 text-sm font-medium inline-block mb-2">
            लिंग (Gender):<span class="StarMarking" style="display:none;">*</span>
        </label>
          <select class="form-select" id="GenderId" formControlName="GenderId" [(ngModel)]="request.GenderId">
            <option value="" selected>--Select Gender--</option>
            <option *ngFor="let item of GenderList" value="{{item.ID}}">{{item.Name}}</option>
          </select>
          <div *ngIf="isSubmitted && _PersonalDetailForm.GenderId.errors" class="text-danger">
            <p *ngIf="!_PersonalDetailForm.GenderId.errors.required"><i aria-hidden="true"></i> This field is required.!</p>
          </div>
        </div>

        <div>
          <label for="MobileNumber" class="text-gray-800 text-sm font-medium inline-block mb-2">
            मोबाइल नंबर (Mobile Number):<span class="StarMarking" style="display:none;">*</span>
        </label>
          <input type="text" class="form-input" id="MobileNo" value="XXXXXX3866" formControlName="MobileNo"
             [(ngModel)]="request.MobileNo" maxlength="10">
          <div *ngIf="isSubmitted && _PersonalDetailForm.MobileNo.errors" class="text-danger">
            <p *ngIf="_PersonalDetailForm.MobileNo.errors.required"><i aria-hidden="true"></i> This field is required.!</p>
          </div>
        </div>

        <div style="display:none;">
          <label for="AadharNo" class="text-gray-800 text-sm font-medium inline-block mb-2">
            आधार संख्या (Aadhar Number):<span class="StarMarking" style="display:none;">*</span>
          </label>
          <input type="text" (keypress)="validateNumber($event)" class="form-input" id="AadharNo"
                 formControlName="AadharNo" [(ngModel)]="request.AadharNo" [attr.maxlength]="12"
                 [attr.minlength]="12" />
          <div *ngIf="isSubmitted && _PersonalDetailForm.AadharNo.errors" class="text-danger">
            <p *ngIf="_PersonalDetailForm.AadharNo.errors.required">
              <i aria-hidden="true"></i> This field is required.!
            </p>
            <p *ngIf="_PersonalDetailForm.AadharNo.errors.invalidLength">
              <i aria-hidden="true"></i> {{ errorMessage }}
            </p>
          </div>
        </div>

        <div>
          <label for="MaritalID" class="text-gray-800 text-sm font-medium inline-block mb-2">
            वैवाहिक स्थिति(Marital Status):<span class="StarMarking">*</span>
        </label>
          <select class="form-select" id="MaritalID" formControlName="MaritalID" [(ngModel)]="request.MaritalID" (change)="filterCategoryB($event.target.value)">
            <option value="0">Select (Marital Status)</option>
            <option *ngFor="let item of maritalList" value="{{item.ID}}">{{item.Name}}</option>
          </select>
          <div *ngIf="isSubmitted&&_PersonalDetailForm.MaritalID.errors" class="text-danger">
            <p *ngIf="!_PersonalDetailForm.MaritalID.errors.DropdownValidators">
              <i aria-hidden="true"></i>This field is required .!
            </p>
          </div>
        </div>
        <div>
          <label for="ReligionID" class="text-gray-800 text-sm font-medium inline-block mb-2">
            धर्म (Religion):<span class="StarMarking">*</span>
        </label>
          <select class="form-select" id="ReligionID" formControlName="ReligionID" [(ngModel)]="request.ReligionID">

            <option value="0">Select Religion</option>
            <option *ngFor="let item of ReligionList" value="{{item.ID}}">{{item.Name}}</option>
          </select>
          <div *ngIf="isSubmitted && _PersonalDetailForm.ReligionID.errors" class="text-danger">
            <p *ngIf="!_PersonalDetailForm.ReligionID.errors.DropdownValidators"><i aria-hidden="true"></i>This field is required.!</p>
          </div>
        </div>
        <div>
          <label for="NationalityID" class="text-gray-800 text-sm font-medium inline-block mb-2">
            राष्ट्रीयता (Nationality):<span class="StarMarking">*</span>
        </label>
          <select class="form-select" id="NationalityID" formControlName="NationalityID" [(ngModel)]="request.NationalityID">
            <option value="0">--select--</option>
            <option *ngFor="let item of NationalityList" value="{{item.ID}}">{{item.Name}}</option>
          </select>
          <div *ngIf="isSubmitted && _PersonalDetailForm.NationalityID.errors" class="text-danger">
            <p *ngIf="!_PersonalDetailForm.NationalityID.errors.DropdownValidators">
              <i aria-hidden="false"></i>This field is required.!
            </p>
          </div>
        </div>
        <!-- <div class="flex hidden">
          <label class="me-2 ">
            <input type="checkbox" value="8" id="Box8THForm" (click)="onClickCheckbox()"
                   [checked]="IsMinority" [(ngModel)]="request.IsMinority" formControlName="IsMinority" />
            IsMinority
          </label>
        </div> -->
        <div>
          <label for="AadharNo" class="text-gray-800 text-sm font-medium inline-block mb-2">
            रोल नंबर (Roll Number):<span class="StarMarking" style="display:none;">*</span>
          </label>
          <input type="text" class="form-input" id="AadharNo"
                 formControlName="RollNumber" [(ngModel)]="request.RollNumber" />
          <div *ngIf="isSubmitted && _PersonalDetailForm.RollNumber.errors" class="text-danger">
            <p *ngIf="_PersonalDetailForm.RollNumber.errors.required">
              <i aria-hidden="true"></i> This field is required.!
            </p>
          </div>
        </div>
        <div *ngIf="request.Designation != '0' && request.Designation != null && request.Designation != undefined">
          <label for="AadharNo" class="text-gray-800 text-sm font-medium inline-block mb-2">
            योग्यता श्रेणी (Qualification Category):<span class="StarMarking" style="display:none;">*</span>
          </label>
          <input type="text" class="form-input" id="Designation"
                 formControlName="Designation" [(ngModel)]="request.Designation" />
          <div *ngIf="isSubmitted && _PersonalDetailForm.Designation.errors" class="text-danger">
            <p *ngIf="_PersonalDetailForm.Designation.errors.required">
              <i aria-hidden="true"></i> This field is required.!
            </p>
          </div>
        </div>
        <!-- <div>
          <label for="AadharNo" class="text-gray-800 text-sm font-medium inline-block mb-2">
            व्यवसाय / विषय (Trade / Subject):<span class="StarMarking">*</span>
          </label>
          <input type="text" class="form-input" id="Trade"
                 formControlName="Trade" [(ngModel)]="request.Trade" />
          <div *ngIf="isSubmitted && _PersonalDetailForm.Trade.errors" class="text-danger">
            <p *ngIf="_PersonalDetailForm.Trade.errors.required">
              <i aria-hidden="true"></i> This field is required.!
            </p>
          </div>
        </div> -->
        <div>
          <label for="AadharNo" class="text-gray-800 text-sm font-medium inline-block mb-2">
            मेरिट नंबर (Merit Number):<span class="StarMarking" style="display:none;">*</span>
          </label>
          <input type="text" class="form-input" id="MeritNo"
                 formControlName="MeritNo" [(ngModel)]="request.MeritNo" />
          <div *ngIf="isSubmitted && _PersonalDetailForm.MeritNo.errors" class="text-danger">
            <p *ngIf="_PersonalDetailForm.MeritNo.errors.required">
              <i aria-hidden="true"></i> This field is required.!
            </p>
          </div>
        </div>

        <div>
          <label for="ddlDistrict" class="text-gray-800 text-sm font-medium inline-block mb-2">
            गृह जिला (Home District): <span class="StarMarking">*</span>
          </label>
          <select class="form-select" id="HomeDistrictID" name="HomeDistrictID" formControlName="HomeDistrictID"
                  [(ngModel)]="request.HomeDistrictID">
            <option value="0">Select District</option>
            <option *ngFor="let item of DistrictMasterList" [value]="item.ID">{{item.Name}}</option>
          </select>
          <div *ngIf="isSubmitted && _PersonalDetailForm.HomeDistrictID.errors" class="text-danger">
            <p *ngIf="!_PersonalDetailForm.HomeDistrictID.errors.DropdownValidators">
              <i aria-hidden="false"></i>This field is required.!
            </p>
          </div>
        </div>

      </div>

      <div class="flex justify-between items-center flex-wrap mb-3 p-3 py-2 bg-light">
        <b class="text-1xl-5">श्रेणी/Category</b>
      </div>
      <div class="grid xl:grid-cols-3 lg:grid-cols-3 md:grid-cols-1 gap-6 mb-6">
        <div>
          <label for="CategoryA_ID" class="text-gray-800 text-sm font-medium inline-block mb-2">
            श्रेणी ए(Category A)(Gen/SC/ST/OBC/MBC/EWS) :<span class="StarMarking" style="display:none;">*</span>
          </label>
          <select class="form-select" formControlName="CategoryA_ID" [(ngModel)]="request.CategoryA_ID">
            <option value="0">--Select--</option>
            <option *ngFor="let item of CategoryAlist" value="{{item.CasteCategoryID}}">{{item.CasteCategoryName}}</option>
          </select>
          <div *ngIf="isSubmitted && _PersonalDetailForm.CategoryA_ID.errors" class="text-danger">
            <p *ngIf="!_PersonalDetailForm.CategoryA_ID.errors.DropdownValidators">
              <i aria-hidden="false"></i>This field is required.!
            </p>
          </div>
        </div>
        <div *ngIf="request.GenderId == 98">
          <label for="CategoryB_ID" class="text-gray-800 text-sm font-medium inline-block mb-2">
            श्रेणी बी(Category B)(Widow/Divorcee/Single Women) :<span class="StarMarking">*</span>
          </label>
          <!-- <select class="form-select" formControlName="CategoryB_ID" [(ngModel)]="request.CategoryB_ID">
            <option value="0">--Select--</option>
            <option value="1">Widow</option>
            <option value="2">Divorcee</option>
            <option value="3">Single Women</option>
            <option value="4">None of above</option> 
          </select> -->
          <select class="form-select"
        formControlName="CategoryB_ID"
        [(ngModel)]="request.CategoryB_ID">
  <option value="0">--Select--</option>
  <option *ngFor="let item of filteredCategoryBOptions"
          [value]="item.id">
    {{ item.name }}
  </option>
</select>
          <div *ngIf="isSubmitted && _PersonalDetailForm.CategoryB_ID.errors" class="text-danger">
            <p *ngIf="!_PersonalDetailForm.CategoryB_ID.errors.DropdownValidators">
              <i aria-hidden="false"></i>This field is required.!
            </p>
          </div>
        </div>

        <div>
          <label for="CategoryA_ID" class="text-gray-800 text-sm font-medium inline-block mb-2">
            चयन श्रेणी(Selection Category)(Gen/SC/ST/OBC/MBC/EWS) :<span class="StarMarking" style="display:none;">*</span>
          </label>
          <select class="form-select" formControlName="SelectionCategoryID" [(ngModel)]="request.SelectionCategoryID">
            <option value="0">--Select--</option>
            <option *ngFor="let item of CategoryAlist" value="{{item.CasteCategoryID}}">{{item.CasteCategoryName}}</option>
          </select>
          <div *ngIf="isSubmitted && _PersonalDetailForm.SelectionCategoryID.errors" class="text-danger">
            <p *ngIf="!_PersonalDetailForm.SelectionCategoryID.errors.DropdownValidators">
              <i aria-hidden="false"></i>This field is required.!
            </p>
          </div>
        </div>

        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-2">Is Physical Handicapped: <span class="StarMarking">*</span></label>
          <div class="flex gap-4">
            <label class="flex items-center space-x-2">
              <input type="radio" name="IsPH" [value]="true" formControlName="IsPH"
                      [(ngModel)]="request.IsPH" />
              <span>Yes</span>
            </label>

            <label class="flex items-center space-x-2">
              <input type="radio" name="IsPH" [value]="false" formControlName="IsPH"
                      [(ngModel)]="request.IsPH" />
              <span>No</span>
            </label>
          </div>

          <div *ngIf="isSubmitted &&_PersonalDetailForm.IsPH.errors" class="text-danger">
            <p *ngIf="_PersonalDetailForm.IsPH.errors.required">
              <i aria-hidden="true"></i> This field is required.!
            </p>
          </div>
        </div>

        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-2">Is Ex-Servicemen<span class="StarMarking">*</span></label>
          <div class="flex gap-4">
            <label class="flex items-center space-x-2">
              <input type="radio" name="IsExServicemen" [value]="true" formControlName="IsExServicemen"
                      [(ngModel)]="request.IsExServicemen" />
              <span>Yes</span>
            </label>

            <label class="flex items-center space-x-2">
              <input type="radio" name="IsExServicemen" [value]="false" formControlName="IsExServicemen"
                      [(ngModel)]="request.IsExServicemen" />
              <span>No</span>
            </label>
          </div>

          <div *ngIf="isSubmitted &&_PersonalDetailForm.IsExServicemen.errors" class="text-danger">
            <p *ngIf="_PersonalDetailForm.IsExServicemen.errors.required">
              <i aria-hidden="true"></i> This field is required.!
            </p>
          </div>
        </div>

        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-2">Is Sports Person<span class="StarMarking">*</span></label>
          <div class="flex gap-4">
            <label class="flex items-center space-x-2">
              <input type="radio" name="IsSportsPerson" [value]="true" formControlName="IsSportsPerson"
                      [(ngModel)]="request.IsSportsPerson" />
              <span>Yes</span>
            </label>

            <label class="flex items-center space-x-2">
              <input type="radio" name="IsSportsPerson" [value]="false" formControlName="IsSportsPerson"
                      [(ngModel)]="request.IsSportsPerson" />
              <span>No</span>
            </label>
          </div>

          <div *ngIf="isSubmitted &&_PersonalDetailForm.IsSportsPerson.errors" class="text-danger">
            <p *ngIf="_PersonalDetailForm.IsSportsPerson.errors.required">
              <i aria-hidden="true"></i> This field is required.!
            </p>
          </div>
        </div>

        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-2">Is Shahid Dependent<span class="StarMarking">*</span></label>
          <div class="flex gap-4">
            <label class="flex items-center space-x-2">
              <input type="radio" name="IsShahidDependent" [value]="true" formControlName="IsShahidDependent"
                      [(ngModel)]="request.IsShahidDependent" />
              <span>Yes</span>
            </label>

            <label class="flex items-center space-x-2">
              <input type="radio" name="IsShahidDependent" [value]="false" formControlName="IsShahidDependent"
                      [(ngModel)]="request.IsShahidDependent" />
              <span>No</span>
            </label>
          </div>

          <div *ngIf="isSubmitted &&_PersonalDetailForm.IsShahidDependent.errors" class="text-danger">
            <p *ngIf="_PersonalDetailForm.IsShahidDependent.errors.required">
              <i aria-hidden="true"></i> This field is required.!
            </p>
          </div>
        </div>

        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-2">Is Any Incurable Diseases: (To Mother/Father/Spouse) <span class="StarMarking">*</span></label>
          <div class="flex gap-4">
            <label class="flex items-center space-x-2">
              <input type="radio" name="IsAnyIncurableDiseases" [value]="true" formControlName="IsAnyIncurableDiseases"
                      [(ngModel)]="request.IsAnyIncurableDiseases" />
              <span>Yes</span>
            </label>

            <label class="flex items-center space-x-2">
              <input type="radio" name="IsAnyIncurableDiseases" [value]="false" formControlName="IsAnyIncurableDiseases"
                      [(ngModel)]="request.IsAnyIncurableDiseases" />
              <span>No</span>
            </label>
          </div>

          <div *ngIf="isSubmitted &&_PersonalDetailForm.IsAnyIncurableDiseases.errors" class="text-danger">
            <p *ngIf="_PersonalDetailForm.IsAnyIncurableDiseases.errors.required">
              <i aria-hidden="true"></i> This field is required.!
            </p>
          </div>
        </div>

        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-2">Is TSP <span class="StarMarking">*</span></label>
          <div class="flex gap-4">
            <label class="flex items-center space-x-2">
              <input type="radio" name="IsTSP" [value]="true" formControlName="IsTSP"
                      [(ngModel)]="request.IsTSP" />
              <span>Yes</span>
            </label>

            <label class="flex items-center space-x-2">
              <input type="radio" name="IsTSP" [value]="false" formControlName="IsTSP"
                      [(ngModel)]="request.IsTSP" />
              <span>No</span>
            </label>
          </div>

          <div *ngIf="isSubmitted &&_PersonalDetailForm.IsTSP.errors" class="text-danger">
            <p *ngIf="_PersonalDetailForm.IsTSP.errors.required">
              <i aria-hidden="true"></i> This field is required.!
            </p>
          </div>
        </div>

        <div *ngIf="request.MaritalID == 62">
          <label class="text-gray-800 text-sm font-medium inline-block mb-2">Is Spouse in service: <span class="StarMarking">*</span></label>
          <div class="flex gap-4">
            <label class="flex items-center space-x-2">
              <input type="radio" name="IsSpouseInSameService" [value]="true" formControlName="IsSpouseInSameService"
                      [(ngModel)]="request.IsSpouseInSameService"  (change)="onSpouseServiceChange(true)" />
              <span>Yes</span>
            </label>

            <label class="flex items-center space-x-2">
              <input type="radio" name="IsSpouseInSameService" [value]="false" formControlName="IsSpouseInSameService"
                      [(ngModel)]="request.IsSpouseInSameService" (change)="onSpouseServiceChange(false)" />
              <span>No</span>
            </label>
          </div>

          <div *ngIf="isSubmitted &&_PersonalDetailForm.IsSpouseInSameService.errors" class="text-danger">
            <p *ngIf="_PersonalDetailForm.IsSpouseInSameService.errors.required">
              <i aria-hidden="true"></i> This field is required.!
            </p>
          </div>
        </div>
        <div *ngIf="request.MaritalID == 62 && request.IsSpouseInSameService==true">
            <label for="ddlDistrict" class="text-gray-800 text-sm font-medium inline-block mb-2">
              जीवनसाथी सेवा जिला (Spouse Service District): <span class="StarMarking">*</span>
          </label>
          <select class="form-select" id="SpouseDistrictID" name="SpouseDistrictID" formControlName="SpouseDistrictID"
                  [(ngModel)]="request.SpouseDistrictID">
            <option value="0">Select District</option>
            <option *ngFor="let item of SpouseDistrictMasterList" [value]="item.ID">{{item.Name}}</option>
          </select>
          <div *ngIf="isSubmitted && _PersonalDetailForm.SpouseDistrictID.errors" class="text-danger">
            <p *ngIf="!_PersonalDetailForm.SpouseDistrictID.errors.DropdownValidators">
              <i aria-hidden="false"></i>This field is required.!
            </p>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer text-center" *ngIf="request.IsFinalSubmit !== 2">
    <button type="button" class="btn bg-info text-white" (click)="Back()"><i class="ti ti-chevron-left"></i>Back</button>
    <button type="button" class="btn bg-primary text-white" (click)="SaveData()"><i class="ti ti-device-floppy"></i>Save & Next</button>
    <!-- <button type="button" class="btn bg-light text-dark" (click)="ResetData()"><i class="ti ti-refresh"></i>Reset</button> -->
  </div>
</div>

