
<!-- Page Title Start -->
<div class="flex items-center justify-between flex-wrap gap-2 mb-6">
  <div>
    <h4 class="text-slate-900 text-lg font-medium mb-2">Center Create</h4>

    <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700">Masters</a>
      <i class="material-symbols-rounded text-xl flex-shrink-0 text-slate-500">chevron_right</i>
      <a href="javascript:void(0);" class="text-sm font-medium text-slate-700" aria-current="page">Center Create</a>
    </div>
  </div>

</div>
<!-- Page Title End -->

<div class="card">
  <div class="card-body p-5">
    <div class="mb-8">
      <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
        <b class="text-1xl-5"><i class="ti ti-search"></i> Enter Search Criteria</b>
        <div> 
          <a routerLink="/addcenters" class="btn bg-success btn-sm text-white me-2"><i class="ti ti-plus"></i>Add New</a>
          <!--<a href="javascript:void(0);" class="btn bg-info btn-sm text-white"><i class="ti ti-download"></i> Download Center CCode</a>
        <a href="javascript:void(0);" class="btn bg-success btn-sm text-white">
          <i class="ti ti-list"></i>Selected Center
          List
        </a>-->
        </div>
      </div>
      <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">
        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">District</label>
          <select class="form-select" id="StreamStreamTypeId" [(ngModel)]="searchRequest.DistrictID"
                  (change)="onDistrictChange()">
            <option value="0">--All--</option>
            <option *ngFor="let item of DistrictMasterList" [value]="item.ID">{{item.Name}}</option>
          </select>
        </div>
        <div>
          <label class="text-gray-800 text-sm font-medium inline-block mb-1">Tehsil</label>
          <select class="form-select" id="StreamStreamTypeId" [(ngModel)]="searchRequest.TehsilID">
            <option value="0">--All--</option>
            <option *ngFor="let item of filteredTehsils" [value]="item.ID">{{item.Name}}</option>
          </select>
        </div> 

        <!--<div>
        <label class="text-gray-800 text-sm font-medium inline-block mb-1">College Type</label>
        <select class="form-select" id="StreamStreamTypeId" [(ngModel)]="searchRequest.InstitutionManagementTypeID">
          <option value="0">--All</option>
          <option *ngFor="let item of CategoryList" [value]="item.ID">{{item.Name}}</option>
        </select>
      </div>-->
        <div>
          <button type="button" class="btn bg-info text-white mt-6" (click)="GetAllData()">Search</button>
          <button type="button" class="btn bg-danger text-white mt-6" (click)="ClearSearchData()">
            <i class="ti ti-refresh"></i> Reset
          </button>
        </div>

      </div>


    </div>
    <!--grid-->
    <div class="flex justify-between flex-wrap items-center mb-3 p-3 py-2 bg-light">
      <b class="text-1xl-5"><i class="ti ti-list"></i> List For Select</b>
      <div class="flex justify-between items-center">
        <select id="ddlConter" class="form-select  couterDropDown me-2">
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="500">500</option>
          <option value="1000">1000</option>
        </select>
        <input class="form-input" placeholder="Search..." [(ngModel)]="Table_SearchText" />
      </div>
    </div>

    <div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">
      <div>
        <button class="btn bg-success text-white" (click)="OnSubmit()" type="button">Create Center</button>
        <button class="btn bg-danger text-white" (click)="onRemove()" type="button">Remove Center</button>
      </div>
      <div>
        <span class="mt-2 block" style="font-size:18px">Selected(s): <b>{{totalInTableSelected}}</b></span>
      </div>
    </div>

    <div class="overflow-x-auto mt-3">
      <table class="table table-border w-full table-auto" cellpadding="5">
        <thead class="bg-light/40 border-b border-gray-100 dark:bg-light/5 dark:border-b-gray-700 h-10">
          <tr>
            <th class="text-left">
              <input type="checkbox" class="checkboxSize" [(ngModel)]="AllInTableSelect" (change)="selectInTableAllCheckbox()" />
            </th>
            <th class="text-left">Sr No</th>
            <th class="text-left">College Name</th>
            <th class="text-left">Phone No.</th>
            <th class="text-left">Email Id</th>
            <th class="text-left">SSO Id</th>
            <th class="text-left">Capacity</th>

            <th class="text-left">CC Code</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>


          <tr *ngFor="let college of CenterAllotList | tableSearchFilter:Table_SearchText;let idx=index;">
            <td align="left">
              <input type="checkbox" name="MarkCheck" [(ngModel)]="college.Marked"
                     #checkboxInTableSeletedSingle (change)="selectInTableSingleCheckbox(checkboxInTableSeletedSingle.checked,college,idx)" />
            </td>
            <td>{{ idx + 1 }}</td>
            <td>{{ college.Institutename }}</td>
            <td>{{ college.MobileNumber }}</td>
            <td>{{ college.Email }}</td>
            <!--<td>-->
            <!--<input class="form-input SSOFields" placeholder="Enter SSO Id" [disabled]="!college.Marked"
      [(ngModel)]="college.SSOID" />
  </td>
  <td>
    <input class="form-input" placeholder="Enter College Code" [disabled]="!college.Marked"
      [(ngModel)]="college.InstituteCode" />
  </td>-->
            <td>{{college.SSOID}}</td>
            <td>
              <input class="form-input" placeholder="Enter Capacity" [disabled]="!college.Marked"
                     [(ngModel)]="college.Capacity" (keypress)="numberOnly($event)" />
              <div *ngIf="college.Marked && college.Capacity==null " class="text-danger">
                This field is required .!
              </div>
              <div *ngIf="college.Marked && college.Capacity==0 " class="text-danger">
                Capacity Cannot be Zero .!
              </div>
            </td>
            <td>{{college.CCCode}}</td>
            <td>
              <div *ngIf="college.CenterID>0" class="flex align-center justify-center actionBtns w-auto" style="width:auto !important">
                <a [routerLink]="'/updatecentermaster'" [queryParams]="{id:college.CenterID}" title="Edit">
                  <i class="ti ti-pencil"></i>
                </a>

              </div>

            </td>
          </tr>

        </tbody>
      </table>

    </div>
  </div>
</div>

<!-- end row -->
