<configuration>
   <system.webServer>
<httpProtocol>
      <customHeaders>
        <!-- Set X-Frame-Options to DENY or SAMEORIGIN -->
        <add name="X-Frame-Options" value="DENY" />
        
        <!-- Set Content-Security-Policy to prevent iframe embedding -->
        <add name="Content-Security-Policy" value="frame-ancestors 'none';" />
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <rules>
        <rule name="AngularJS Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>


